

<div class="account-tile" id="{{ account.CSSname }}-account-tile"
     ng-class="{'is-linked': isLinked}"
     ng-click="showAccountWindow()">

   <div class="account-name"><img ng-src="{{ account.logoPath }}"></div>
   <div class="linked-info">
      <span class="linking-in-progress working" ng-show="loading.is(account.accountHost)">
         <i class="icon-refresh icon-spin"></i>
         <span class="text">Linking account...</span>
      </span>

      <!-- link info for account we are also syncing -->
      <span class="linked" ng-show="isLinked && account.accountHost != 'google_scholar'" ng-class="{'just-added-products': justAddedProducts.length}">
         <span class="linked-status">
            <i class="icon-link left"></i>
            Linked and synced
         </span>
         <div class="products-just-added" ng-show="justAddedProducts.length">
            <span class="count" id="{{ account.CSSname }}-account-count">{{ justAddedProducts.length }}</span>
            <span class="descr">products just added</span>
         </div>
      </span>

      <!-- special version of link info for google scholar -->
      <span class="linked" ng-show="isLinked && account.accountHost=='google_scholar'" ng-class="{'just-added-products': justAddedProducts.length}">
         <span class="linked-status">
            <i class="icon-link left"></i>
            Linked
            <span class="excuses">
               click to sync manually
            </span>
         </span>
         <div class="products-just-added" ng-show="googleScholar.getTiids().length">
            <span class="count" id="{{ account.CSSname }}-account-count">{{ googleScholar.getTiids().length }}</span>
            <span class="descr">products just manually imported</span>
         </div>
      </span>


      <span class="unlinked" ng-show="!loading.is(account.accountHost) && !isLinked">
         <span class="linked-status">
            Unlinked
         </span>
      </span>

   </div>
</div>

<div class="overlay"
     ng-click="onCancel()"
     ng-if="accountWindowOpen"
     ng-animate="{enter: 'animated fadeIn', leave: 'animated fadeOut'}"></div>

<div class="account-window-wrapper"
     ng-if="accountWindowOpen"
     ng-animate="{enter: 'animated slideInRight', leave: 'animated slideOutRight'}">
   <div class="account-window">


      <div class="content">
         <h2 class="account-name" ng-show="!account.url"><img ng-src="{{ account.logoPath }}" /> </h2>
         <h2 class="account-name" ng-show="account.url">
            <a class="logo" href="{{ account.url }}" target="_blank"><img ng-src="{{ account.logoPath }}" /></a>
            <a class="visit" href="{{ account.url }}" target="_blank">Visit<i class="icon-chevron-right"></i></a>
         </h2>

         <div class="descr" ng-show="currentTab==0">{{ account.descr }}</div>

         <form name="{{ account.name }}accountForm"
               novalidate class="form"
               ng-submit="onLink()">


            <div class="form-group username">
               <label class="control-label">
                  {{ account.displayName }} {{ account.username.inputNeeded }}
                  <i class="icon-question-sign" ng-show="account.username.help" tooltip-html-unsafe="{{ account.username.help }}"></i>
               </label>
               <div class="account-input">
                  <input
                          class="form-control"
                          ng-model="account.username.value"
                          ng-disabled="isLinked"
                          type="text"
                          autofocus="autofocus"
                          placeholder="{{ account.username.placeholder }}">

               </div>
            </div>


            <div class="buttons-group save">
               <div class="buttons" ng-show="!loading.is('saveButton')">
                  <button ng-show="!isLinked" type="submit" class="btn btn-primary">
                     <i class="icon-link left"></i>
                     Link and sync your  {{ account.displayName }}
                  </button>
                  <a ng-show="isLinked" ng-click="unlink()" class="btn btn-danger">
                     <i class="icon-unlink left"></i>
                     Unlink your  {{ account.displayName }}
                  </a>

                  <a class="btn btn-default cancel" ng-click="onCancel()">Cancel</a>
               </div>
            </div>


         </form>

         <div class="extra" ng-show="account.extra" ng-bind-html-unsafe="account.extra"></div>

         <div class="google-scholar-stuff"
              ng-show="account.accountHost=='google_scholar' && isLinked">
            <p class="excuses">
               Unfortunately, Google Scholar prevents anyone from
               syncing articles, so we can't run automatic updates.
               However, you can still import Google Scholar articles manually.
            </p>
            <div class="button-container">
               <a id="show-google-scholar-import-modal-button"
                  class="show-modal btn btn-info"
                  ng-click="showImportModal()">
                  Manually import products
               </a>

            </div>

         </div>

      </div>
   </div>
</div>





