@import url("//fonts.googleapis.com/css?family=Lato:100,300,400,700,900");
@import url("//fonts.googleapis.com/css?family=Oswald:700");

@numberWidth: 500px;

body {
   background: #FF4E00;
   color: #fff;
   margin:0;
   padding:0;
   position:relative;
   &.active {
      background: #ff3000;
      #number{
         #number-value {
            opacity: 1;
         }
      }
   }
   a {
      color: #fff;
      font-weight: 900;
      text-decoration: none;
      &:hover {
         text-decoration: underline;
      }
   }
}
html{
   margin:0;
   padding:0;
}

div.header {
   font-family: Oswald, sans-serif;
   text-align: center;
   height: 600px;
   position:relative;
   margin-bottom: 230px;
   a.brand {
      padding-top: 50px;
      img {
         width: 500px;
      }
      width: 550px;
      display:inline-block;
      border-bottom: 5px solid #fff;
   }
   h1 {
      span.date {
         font-size: 300px;
         display:block;
         line-height: 1;
      }
      span.text {
         text-transform: uppercase;
         font-size: 80px;
      }
   }
   div.instr {
      font-size: 30px;
      font-family:Lato;
      font-weight: 100;
      position:absolute;
      bottom:20px;
      width:100%;
      text-align:center;
   }

}


div#number {
   margin:0;
   font-size: 125px;
   position: absolute;
   width: @numberWidth;
   text-align: right;
   top:0;
   left:0;
   font-family: Oswald, sans-serif;

   &.fixed {
      position:fixed;
      left:0;
   }
   #number-value {
      opacity: .5;
   }

}


div.content {
   margin:0;
   padding:0;
   position: relative;
   min-height: 1500px;

   ul#facts {
      padding:0;
      margin-left: @numberWidth + 40px;
      width: 500px;
      li.fact {
         list-style-type: none;
         h2 {
            font-family: Oswald;
            text-transform: uppercase;
            font-size: 70px;
            margin:0;
            padding:0;
            line-height: 1;
            margin-bottom: 20px;
         }
         section{
            font-family:Lato;
            font-weight: 100;
            font-size:30px;

            div.tweets {
               div.tweet {
                  font-size: 18px;
                  font-weight: 300;
                  margin: 30px 0 0 30px;
                  a {
                     font-weight: 300;
                  }
                  div.author {
                     a {font-weight: 900}
                     margin-left: 10px;
                  }
               }
            }

         }
      }
   }

}

div.footer {
   padding: 100px 0 400px 0;
   background: red;
   text-align: center;
   a.brand {
      img {
         width: 400px;
      }
   }
}
