@import 'variables';


div.collection-page {
   &.genre-page {
      li.product .genre-icon {
         display:none;  // we already know what genre it's in, we're on that page.
      }
   }



   &.fans-page {
      ul.fans-list {
         padding-top: 75px;
         margin-left: 5px;
         li.fan {
            @rightColWidth: 160px;

            @leftColWidth: 260px;
            @fanImgHeight: 70px;
            @namesSectionWidth: 180px;
            @spaceBetweenImgAndNames: @leftColWidth - (@fanImgHeight + @namesSectionWidth);

            clear:both;
            margin-bottom: 70px;
            .clearfix();
            div.fan-about {
               .clearfix();
               border-bottom: 1px solid #ddd;
               padding-bottom: 10px;
               position: relative;
               img {
                  height: @fanImgHeight;
                  .rounded(3px);
                  float:left;
                  margin-top: 4px;
               }

               div.main-content {
                  float:left;

                  a.names {
                     position: absolute;
                     top: 0;
                     bottom: 0;
                     left: @fanImgHeight;

                     width: @leftColWidth - @fanImgHeight;
                     padding-left: @spaceBetweenImgAndNames;
                     &:hover {
                        color: @linkColor;
                        div.screen-name {
                           color: @linkColor;
                        }
                        div.location {
                           color: @linkColor;
                        }
                        div.name {
                           text-decoration: underline;
                           a {
                           }
                        }
                     }
                     div.name {
                        font-size: 20px;
                        font-weight: bold;
                        color: @linkColor;
                        line-height: 1;
                     }
                     div.screen-name {
                        font-weight: 300;
                        color: #999;
                        line-height: 1;
                        font-size: 12px;
                     }
                     div.location {
                        position: absolute;
                        color: #999;
                        bottom:13px;
                        left: @spaceBetweenImgAndNames;
                        font-size: 14px;
                        line-height: 1;
                     }
                  }

                  div.description {
                     float: left;
                     margin-left: @namesSectionWidth + @spaceBetweenImgAndNames + 10px;
                     font-size: 17px;
                     width: 380px;
                     min-height: 10px;
                  }



               }


               div.stats {
                  float:right;
                  a.followers {
                     width: @rightColWidth;
                     float: left;
                     color: #333;
                     &:hover {
                        color: @linkColor;
                     }
                     .descr {
                        font-weight: 300;
                        font-size: 12px;
                        line-height: 1;
                        vertical-align: 5px;
                        margin-left: 3px;
                     }
                     .val {
                        display:block;
                        line-height: 1;
                        font-size: 30px;
                        font-weight: 300;
                     }
                  }
               }
            }

            ul.fan-tweets {
               margin: 10px 0 30px 0;
               li.tweet-container {
                  div.product-cited-by-tweet {
                     width: @leftColWidth;
                     float:left;
                     margin-right: @spaceBetweenImgAndNames;
                     a {
                        width: 100%;
                        position: relative;
                        display: inline-block;
                        color: #333;
                        font-size: 14px;
                        &:hover {
                           color: @linkColor;
                        }
                        span.genre-icon {
                           position: absolute;
                           top: 0;
                           bottom: 0;
                           padding-top: 5px;
                           width: 30px;
                           i.genre-icon {
                              font-size: 18px;
                           }
                        }
                        span.product-title {
                           margin-left: 30px;
                           display: inline-block;
                           // give this gutter a bit more space than the one in the tweeter section above
                           padding-right: 20px;
                        }

                     }
                  }

                  div.tweet {
                     clear:none;

                     div.tweet-content {
                        width: 380px;
                     }
                     div.after-tweet {
                        float: right;
                        width: @rightColWidth;
                     }
                  }
               }
            }
         }
      }
   }




   /*****************************************************

   genre header content (info about the products)

   *****************************************************/

   div.header {
      margin: 0 0 0 -@contentPaddingLeft;

      div.header-content {
         padding: 20px 10px 10px @contentPaddingLeft;
         border-bottom: 1px solid #eee;
         position:relative;
         .clearfix();
         .based-on {
            font-size: 16px;
            font-weight: 300;
            text-align:right;
            position:absolute;
            bottom:10px;
            right:0;
            text-transform: none;

         }
         &.country-header-content {
            h2 {
               text-transform:inherit;
               .intro-text {
                  font-size: 16px;
                  display:block;
                  font-weight: 300;
                  span.count {
                     font-weight: 900;
                  }
               }
               span.flag {
                  vertical-align: -2px;
               }
            }
         }

         .more-button {
            display:none;
            font-size: 14px;
            background: #fff;
            padding: 0 10px 2px;
            position:absolute;
            bottom: -12px;
            left: 50%;
            color: #777;
         }
         h2 {
            span.count {
               font-weight: normal;
            }
            font-size: 28px;
            line-height: 1.3;
            margin: 0 20px 0 0;
            text-transform: capitalize;
            color: #333;
            float:left;

         }
         div.genre-summary {
            div.genre-summary-top {
               margin-bottom: 20px;
               .clearfix {
                  clear:both;
               }
               div.cards-loading {
                  float:right;
                  margin: 17px 15px 0 0;
                  color: #999;
                  font-size: 14px;
                  font-weight: 300;
               }

               ul.genre-cards-best {
                  li.genre-card {
                     float:right;
                     margin: 0 20px 0 40px;
                     line-height: 1;

                     span.feature-controls {
                        margin-right: 3px;
                        a {
                           font-size: 16px;
                           &.unfeature-this {
                              color: @linkColor;
                           }
                           &.feature-this {
                              color: #999;
                              &:hover {
                                 color: #000;
                              }
                           }
                        }
                     }

                  div.tooltip {
                     div.tooltip-inner {
                        font-size: 14px;
                        text-align: left;
                        li {
                           font-size: 14px;
                           list-style-type: disc;
                           margin-left: 25px;
                           .twitter-handle {
                              font-weight: bold;
                           }
                           .followers {
                              font-size: 10px;
                           }
                        }                  
                     }                  
                  }

                  span.data {
                     cursor: default;
                     img.icon {
                        height: 18px;
                     }
                     span.img-and-value {
                        margin: 0 5px 0 0;
                        font-size: 22px;
                        font-weight: bold;
                        display:inline-block;
                        img {
                           height: 20px;
                           vertical-align: 0;
                        }
                     }
                     span.key {
                        display:inline-block;
                        margin-top: 4px;
                        font-size: 16px;
                        span.provider {
                           display:block;
                        }
                     }
                  }
               }
            }
         }
      }

   }


   }


   /*****************************************************

   genre header product controls

   *****************************************************/

   div.collection-controls {
      margin: 0 0 40px -@contentPaddingLeft;
      padding: 10px 10px 10px @contentPaddingLeft;
      position: relative;

      div.page-info { // currently only used for the Fans page
         margin-top: -5px;
         span.current-page {
            font-size: 20px;
         }
         span.total-pages {
            font-size: 14px;
            font-weight: 300;
         }
      }

      div.edit-controls {
         margin-left: 5px;
         button {
            padding: 5px 10px;
            opacity: .5;
         }
         span.global-selection-control {
            width: 25px;
            display: inline-block;
            i {
               font-size: 18px;
               color: #777;
               vertical-align: -2px;
            }
         }


         span.actions {
            &.has-selected-products-true {
               button {
                  opacity: 1;
               }
            }
            span.action {
               margin-left: 1px;
            }
            div.genre-select-group {
               ul.dropdown-menu {
                  li {
                     font-size: 16px;
                     &.instr {
                        padding: 10px 0 0 20px;
                     }
                     a {
                        color: #333;
                        i {
                           color: #555;
                        }
                     }

                  }

               }
            }
         } // end span.actions

         span.num-selected {
            font-size: 14px;
            margin-left: 10px;
            color: #555;
         }

      }

      div.display-controls {
         top: 0;
         right: 0;
         position: absolute;
         margin: 5px 15px;
         color: #555;
         font-size: 14px;

         div.show-tweets {
            display:inline-block;
            margin-right: 25px;
            label {
               cursor: pointer;
               font-weight: normal;
               i.fa-twitter {
                  color: @twitterColor;
                  font-size: 20px;
                  vertical-align: middle;
               }
               span.num-tweets {
                  font-weight: 300;
               }
            }

            .has-tweets {

            }
            .has-no-tweets {
               color: #ccc;
               label {
                  cursor: not-allowed;
                  font-weight: 300;
               }
               i.fa-twitter { color: #ddd;}
            }

            &.tweets-loading {
               color: #999;
               font-weight: 300;
            }
         }
      }
   }










   /*****************************************************

   products (most product styles are in product.less)

   *****************************************************/



   div.products {
      margin-top: 0;

      ul.products-list {
         .clearfix();
         margin-bottom: 70px;

         // hack to line this up with the page title h2; not sure why needed.
         margin-left: -5px;
         li.product {
            position:relative;

         }

      }
   }



}








