@import 'variables';


div.genre-page {
   div.header {
      padding: 20px 10px 10px @contentPaddingLeft;
      margin: 0 0 70px -@contentPaddingLeft;
      border-bottom: 1px solid #eee;
      position:relative;

      .more-button {
         display:none;
         font-size: 14px;
         background: #fff;
         padding: 0 10px 2px;
         position:absolute;
         bottom: -12px;
         left: 50%;
         color: #777;
      }
      h2 {
         span.count {
            font-weight: normal;
         }
         font-size: 28px;
         line-height: 1.3;
         margin: 0 20px 0 5px;
         text-transform: capitalize;
         color: #333;
         float:left;

      }
      div.genre-summary {
         div.genre-summary-top {
            margin-bottom: 20px;
            .clearfix {
               clear:both;
            }

            ul.genre-cards-best {
               li.genre-card {
                  float:right;
                  margin: 0 20px 0 40px;
                  line-height: 1;

                  span.feature-controls {
                     margin-right: 3px;
                     a {
                        font-size: 16px;
                        &.unfeature-this {
                           color: @linkColor;
                        }
                        &.feature-this {
                           color: #999;
                           &:hover {
                              color: #000;
                           }
                        }
                     }
                  }

                  span.data {
                     cursor: default;
                     img.icon {
                        height: 18px;
                     }
                     span.img-and-value {
                        margin: 0 5px 0 0;
                        font-size: 22px;
                        font-weight: bold;
                        display:inline-block;
                        img {
                           height: 20px;
                           vertical-align: 0;
                        }
                     }
                     span.key {
                        display:inline-block;
                        margin-top: 4px;
                        font-size: 16px;
                        span.provider {
                           display:block;
                        }
                     }
                  }
               }
            }
         }
      }

   }






   div.products {
      margin-top: 0;

      ul.products-list {
         .clearfix();
         margin-bottom: 70px;
         li.product {
            position:relative;

         }

      }
   }

}








