div.importers {
   position: absolute;
   top: 80px;
   left: 0;
   right: 0;
   bottom: 0;
   div.overlay {
      position: fixed;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      z-index: 1000;
      background: rgba(0, 0, 0, .5);
      opacity: 1;
      transition: opacity 0.5s;
      -webkit-transition: opacity 0.5s;
   }
   div.import-window {
      position: fixed;
      left: 38.19%;
      top: 0;
      bottom: 0;
      right: 0;
      min-height: 100%;
      right: 0;
      z-index: 1001;
      background: #fff;
      padding: 100px 50px;
      border-left:  1px solid #555;
      .drop-shadow(-5px, 0, 10px, .2);
   }


   div.importer-widget {
      float:left;
      width:  33.333%;
      padding:  30px;
      border-right: 1px solid #999;
      border-bottom: 1px solid #999;
      text-align: center;
      cursor: pointer;
      div.importer-name {
         img {
            height: 80px;
            background: #fff;
         }
      }

   }
}
