

/* info pages in general
*****************************************************************************
*****************************************************************************
*****************************************************************************/

div.infopage {

   h3 {
      margin-top: 90px;
      color: #0053b0;
      font-weight: 300;
      font-size: 24px;
      &.first {
         margin-top: 20px;
      }
   }
   p {
      line-height: 1.6;
   }
   margin-bottom: 200px;
}






/* landing page
*****************************************************************************
*****************************************************************************
*****************************************************************************/

body.page-name-landing {
   #sidebar {
      display:none;
   }
   #not-sidebar {
      width: 100%;
      margin: 0;
   }
}

div.infopage.landing {
   position: relative;
   margin-bottom: 100px;
   div.toolbar-container {
      position: absolute;
      top: 0;
      right:0;
      width: 100%;
      text-align:right;
      margin-top: 30px;
      z-index: 100;
      a.login {
         margin-right: 60px;
         color: #999;
         font-weight: 300;
         font-size: 16px;
         i {
            margin-left: 5px;
         }
      }
   }
   div.top-screen{
      border-bottom: 1px solid #ccc;
      position:relative;
      height: 820px;
      display:table;
      width: 100%;

      div.top-logo {
         display:none;
         position: absolute;
         top: 20px;
         left: 50%;
         img {
            width: 180px;
            margin-left: -90px;
         }
      }


      div#tagline {
         text-align: center;
         display: table-cell;
         vertical-align: middle;
         width: 100%;

         img.big-logo {
            height: 80px;
         }
         h1 {
            color: @linkColor;
            font-size: 60px;
            font-weight: 300;
            margin: 20px auto 40px;
         }
         div.main-testimonial {
            color: #555;
            font-size: 24px;
            line-height: 1.4;
            width: 520px;
            text-align: center;
            margin: 0 auto;
            div.quote-source {
               font-size: 14px;
            }
         }

         #call-to-action {
            margin: 40px auto 0;
            #signup-button {
            }
            #secondary-cta-button {
               margin-left: 30px;
               color: #777;
            }
         }
      }


      div.bottom-of-top-screen {
         position: absolute;
         right: 0;
         left: 0;
         bottom: 0;
         div.featured-and-supported {
            text-align: center;
            padding-bottom: 20px;
            h3 {
               margin:0 0 20px;
               font-size: 12px;
               color: #555;

            }
            img {
               height: 40px;
               margin: 0 10px;
               opacity: .5;
            }

            span.divider {
               display:inline-block;
               display:none;

               height: 50px;
               width: 1px;
               padding-right: 1px;
               background: #999;
               margin: 0 30px;
               vertical-align: -16px;
            }
         }

         div.ask-for-more {
            display:none;
            text-align: center;
            margin: 15px 0 10px;
            font-size: 14px;
            color: #999;
            font-weight: 300;
            i {
               font-size: 10px;
            }
         }

      }
   }
}


div#selling-points{
   .clearfix();
   margin-top: 150px;

   .selling-point {
      width: 700px;
      margin: 0 auto;
      clear:both;
      padding-bottom: 150px;
      div.img {
         width: 300px;
         text-align: center;
         i {
            font-size: 150px;
            &.icon-unlock-alt {color: #5cb85c;}
            &.icon-trophy {color: #f0ad4e;}
            &.icon-bullhorn {color: #428bca;}
            &.icon-lightbulb {color: #d9534f;}
         }
      }
      h3 {
         margin: 0 0 20px 0;
         font-size: 30px;
         color: #555;
         font-weight: normal;
      }
      div.copy {
         font-size: 16px;
         font-weight: 300;
      }

      &:nth-child(odd){
         div.img {float: right;}
      }

      &:nth-child(even){
         div.img {float: left;}
      }
   }


   ul {
      display:none;
      li {
         float:left;
         width: 30%;
         list-style-type: none;
         text-align: center;
         min-height: 270px;
         &.middle {
               margin-left:5%;
               margin-right:5%;
         }

         h3 {
            color:#666;
            font-weight: 900;
            font-size: 26px;
            i {
               font-size: 100px;
               display:block;
               margin-bottom: 20px;
            }
            span.text {
            }
         }
      }
   }
}


div.testimonials {
   border-top: 1px solid #ccc;
   padding-top: 50px;
   div.testimonial {
      @imgWidth: 40px;
      text-align: center;
      width: 800px;
      margin: 0 auto;
      font-weight: 300;
      img {
         margin: 5px;
         width: @imgWidth;
         .border-radius(@imgWidth/2, @imgWidth/2, @imgWidth/2, @imgWidth/2);
         border: 1px solid #eee;
      }
      q {
         font-size: 50px;
         color: #555;
         display:block;
      }
      cite {
         display:block;
         font-size: 14px;
         font-weight: 300;
      }
   }
}

div.bottom-cta {
   text-align: center;
   margin-top: 100px;
   a {
      margin: 0 5px;
   }
}

div.landing-page-footer {
   text-align: center;
   margin: 70px 0 150px;
   a {
      color: #999;
      display: inline-block;
      margin: 0 20px;
      font-size: 13px;
      font-weight: 300;
      &:hover {
         text-decoration: underline;
      }
   }

}




div#sources {
   width:100%;
   background:#fff;
   float:left;
   padding: 30px 0 40px;
   margin-top: 50px;
   border-top:  5px solid #f3f3f3;
   text-align: center;
   margin-bottom: -20px;
   h2 {
      color: #ccc;
      font-size: 16px;
      font-family: Lato, Helvetica, arial, sans-serif;
      font-weight: bold;
      margin: -59px auto 30px;
      background: #fff;
      display:block;
      width:  440px;
      padding: 0 20px;
   }
   ul#source-logos {
      li {
         margin:0 20px 20px 0;
         display:inline;
         line-height: 3.5;
         img {
            height: 22px;
            .grayscale(.5);

         }
      }
   }
}











/* "faq" page
*****************************************************************************
*****************************************************************************
*****************************************************************************/
#faq {

   table {
       border-collapse: collapse;
       padding:2px;
       border-color: #ccc;
      border:none;
      td {
          padding: 15px;
          border:1px solid #ccc;
          border-left:none;
          border-right:none;
      }
      th {
          border:none;
         font-weight: 900;
         padding: 0 15px;
      }
   }

   li {
      list-style-type: disc;
      margin-left:20px;
   }
}



/* "metric-about" page
*****************************************************************************
*****************************************************************************
*****************************************************************************/
#metrics-about {

   p.intro {
      margin-bottom: 50px;
   }

   ul#providers-metadata {
      span {
         margin-left: .5em;
      }

      li {
         margin-bottom: 50px;
         q.descr {
            font-size: 16px;
            color: #555;
         }
         a.provider-name {
            font-weight: bold;
         }
         img {
            margin-right: 5px;
         }
         ul {
            li.metric {
               list-style-type: none;
               margin-left: 10px;
               margin-bottom: 5px;
               span.metric-descr {
                  font-size: 80%;
               }
               span.csv-name {
                  font-family: monaco, consolas, monospace;
                  color: #999;
                  font-size: 80%;
               }
            }
         }
      }
   }
}










/* "about" page
*****************************************************************************
*****************************************************************************
*****************************************************************************/

div#about img {
    float:left;
    margin:5px 15px 10px 0;
    border:1px solid #555;
   height: 138px;
}
div#about {
   p {
       margin-top: 0;
       margin-top: 20px;
   }
   ul{
      padding-left:2em;
      margin-bottom:0;
      li { list-style-type: circle; }
   }
}
div#about h3 {
   clear: both;
    margin-top: 90px;
    margin-bottom: 10px;
   &.first {margin-top: 10px}
}
div#about div.team-member, div#about div.board-member {
    margin-bottom: 60px;
   img {
      margin-bottom: 50px;
   }
}
div#about div.team-member.subsequent {
    margin-top: 50px;
}
div#about div#contact p{
   padding:15px;
   margin: -15px 0 0 -15px;
}













/* "advisors" page
*****************************************************************************
*****************************************************************************
*****************************************************************************/

#advisors-infopage {
   img#stickers-pic {
      float:right;
      margin-top: 50px;
      margin-left: 50px;
   }
   ul{
      li {
         list-style-type:circle;
         margin-left: 20px;
         margin-top: 5px;

      }
   }
   div.call-to-action{
      text-align: center;
      h3 {
         font-size: 40px;
         margin-bottom: 20px;
      }
   }
}





/* "spread the word" page
*****************************************************************************
*****************************************************************************
*****************************************************************************/

#spread-the-word-infopage {
   div.intro {
      padding-right: 100px;
   }
   div.descr {
      width: 400px;
      float:left;
      margin-right: 40px;
      img {
         margin: 0 5px;
      }

   }
   div.content {
      margin-top: -30px;
      #poster-sample-image {
         border: 1px solid #333;
         height: 250px;
      }
      #stickers-pic {
         width: 350px;
      }

   }

}







