

/* info pages in general
*****************************************************************************
*****************************************************************************
*****************************************************************************/

div.infopage {
   padding-top: 50px;
   h2.infopage-heading {
      font-size:  50px;
   }
   h3 {
      margin-top: 90px;
      &.first {
         margin-top: 20px;
      }
   }
   p {
      line-height: 1.6;
   }

}






/* landing page
*****************************************************************************
*****************************************************************************
*****************************************************************************/

div.infopage.landing {
   background: @linkColor;

   div#tagline {
      padding: 1px;
      div.wrapper {
         width: 900px;
   //      padding: 100px 0 0;
         text-align: center;
         h1 {
            color: #fff;
            font-size: 80px;
            line-height: .8;
            letter-spacing: -2px;
            padding-bottom: 15px;
            font-family: 'rokkitt', 'georgia', serif;

            font-weight: 400;
         }
         p.subtagline {
            color: #fff;
            font-size: 20px;
            padding: 5px 0 10px;
            margin-bottom: 40px;
            font-weight: normal;
         }

         #call-to-action {
            margin-bottom: 50px;
            a.btn-large {
               padding: 13px 29px;
               font-size: 25px;
               .border-radius(10px, 10px, 10px, 10px);
               color:  #eee;
               font-family: 'rokkitt', 'georgia', serif;
               font-family: Lato, Helvetica, Arial, sans-serif;

               &.primary-action{
                  background: @accentColor;
                  font-weight: bold;
                  margin-right: 20px;
                  &:hover {
                     background: @accentColorHover;
                  }
               }

               &.secondary-action{
                  background: #555;
                  font-size: 18px;
                  vertical-align: bottom;
                  border:none;
                  font-weight: normal;
                  color:  #eee;
                  &:hover {
                     background: #444;
                  }
               }
            }
         }
      }
   }


}





/* the "selling points" section
*************************************************/
div#selling-points{
    background-color:#fff;
    min-height: 330px;
   padding-top: 50px;
    background-position: bottom;
    background-repeat: repeat-x;

   h3 {
      color:#666;
      font-family:rokkitt, georgia, serif;

      font-weight: normal;
      font-size: 26px;
      padding-bottom: 15px;
      line-height: 1;
      margin-top: 0px;
      border-bottom: none;
      i {
         float:left;
      }
      span.text {
         margin-left:18px;
         display:inline-block;
         width:  165px;

      }

      &#metrics-in-seconds {
//         background:url(../img/stopwatch-icon.png) no-repeat top left;
         span.text {
         }
      }
      &#embed-metrics-anywhere {
//         background:url(../img/suitcase-icon.png) no-repeat top left;
      }
      &#its-open {
//         background:url(../img/wrench-icon.png) no-repeat 0 10px;
      }
   }

   p {
       margin-top:0;
       color: #777;
       line-height: 1.8;
      font-size: 18px;
   }

   ul {
      li {
         float:left;
         width: 30%;
         list-style-type: none;
         min-height: 270px;
         &.middle {
               margin-left:5%;
               margin-right:5%;
         }
      }
   }
}




div#sources {
   width:100%;
   background:#fff;
   width: 100%;
   float:left;
   padding: 30px 0 40px;
   border-top:  5px solid #f3f3f3;
   text-align: center;
   margin-bottom: -20px;
   div.wrapper {
      padding-top: 15px;
      width: 971px;
      margin: 0 auto;
      background:  #fff;
      h2 {
         color: #ccc;
         font-size: 20px;
         font-family: Rokkitt, serif;
         font-weight: normal;
         margin: -59px auto 30px;
         background: #fff;
         display:block;
         width:  440px;
         padding: 0 20px;
      }
      ul#source-logos {
         li {
            margin:0 20px 20px 0;
            display:inline;
            line-height: 3.5;
            img {
               height: 22px;
               .grayscale(.5);

            }
         }
      }
   }
}











/* "faq" page
*****************************************************************************
*****************************************************************************
*****************************************************************************/
#faq {

   table {
       border-collapse: collapse;
       padding:2px;
       border-color: #ccc;
      border:none;
      td {
          padding: 15px;
          border:1px solid #ccc;
          border-left:none;
          border-right:none;
      }
      th {
          border:none;
         font-weight: 900;
         padding: 0 15px;
      }
   }

   li {
      list-style-type: disc;
      margin-left:20px;
   }


   ul#providers-metadata {
      span {
         margin-left: .5em;
      }

      li {
         margin-bottom: 30px;
         a.provider-name {
            font-weight: bold;
         }
         img {
            margin-right: 5px;
         }
         ul {
            li.metric {
               list-style-type: none;
               margin-bottom: 5px;
               span.metric-descr {
                  font-size: 80%;
               }
               span.csv-name {
                  font-family: monaco, consolas, monospace;
                  color: #999;
                  font-size: 80%;
               }
            }
         }
      }
   }
}










/* "about" page
*****************************************************************************
*****************************************************************************
*****************************************************************************/

div#about img {
    float:left;
    margin:5px 15px 10px 0;
    border:1px solid #555;
   height: 138px;
}
div#about {
   p {
       margin-top: 0;
       margin-top: 20px;
   }
   ul{
      padding-left:2em;
      margin-bottom:0;
      li { list-style-type: circle; }
   }
}
div#about h3 {
   clear: both;
    margin-top: 90px;
    margin-bottom: 10px;
   &.first {margin-top: 10px}
}
div#about div.team-member.second {
    margin-top: 50px;
}
div#about div#contact p{
   padding:15px;
   margin: -15px 0 0 -15px;
}












/* "about" page
*****************************************************************************
*****************************************************************************
*****************************************************************************/

#collections {
   padding-top: 0;
   h2 {
//      font-size: 50px;
//      font-weight: 900;
//      color: #ccc;
   }
}









/* "api" page
*****************************************************************************
*****************************************************************************
*****************************************************************************/

table {
    border-collapse: collapse;
    padding:2px;
    border-color: #ccc;
    width: 100%;
   margin:50px 0;
}
td {
    padding: 15px 8px;
    border:1px solid #ccc;
    border-left:none;
    border-right:none;
   pre.prettyprint {
      padding-bottom:0;
   }
   &.attr {
      min-width: 150px;
   }
   &.example {
      width: 100px;
      div.impactstory-embed div {
         font-size:12px;
         color: red;
         font-weight: bold;
         margin: 5px 0;
         clear:both;
      }
   }
}
th {
    border:none;
   background: #fff;
   color:#555;
   text-align:left;
   padding-left:5px;
}
h3.apicall:first-of-type {
    margin-top: 50px;
}

div.example {
   clear:both;
}




div#api{
    margin-top: 120px;
}
#toc {
    border: 1px solid #333333;
    float: right;
    margin: 16px 21px 12px;
    padding: 16px;
    text-align: left;
    -webkit-border-radius: 4px;    /* CSS3 rounded borders for Safari      */
    -moz-border-radius: 4px;       /* CSS3 rounded borders for Firefox   */
}

a.tocBackLink {
    text-align: right;
    font-size: 10px;
    font-weight: normal;
    margin-left: 10px;
}
pre {
   font-family:consolas, monospace;
   display: block;
   padding: 10px;
   margin: 0 0 9px;
   font-size: 14px;
   line-height: 1.5;
   word-break: break-all;
   word-wrap: break-word;
   white-space: pre;
   white-space: pre-wrap;
   background-color: #f5f5f5;
   border: 1px solid #ccc;
   border: 1px solid rgba(0, 0, 0, 0.15);
   -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
   border-radius: 4px;

   &.prettyprint { // needed to overwrite prettyprint.css's imposed settings.
      margin-bottom: 18px;
      border: 1px solid #ccc;
      padding:10px;
   }
}
.pre-scrollable {
   max-height: 340px;
   overflow-y: scroll;
}

h3.apicall {
    white-space: normal !important;
    font-family:consolas, monospace;
    margin-top: 150px;
    font-size:30px;
    color: #555;
    margin-bottom: 10px;
}
div#docs {
   h4 {
      font-size: 22px;
      margin-bottom: 5px;
   }
   h3 { margin-top: 90px;}

   h3.first {margin-top: 30px}

   li {
      margin-left: 1em;
   }
   ol {
      padding-left:0;
      margin-left:0;
   }
   ul li {
      list-style-type: disc;
   }
   div.impactstory-embed {
      float:left;
      margin:22px 15px 17px 5px;
   }
   ul#required-attributes {
      li{margin-bottom: 15px;}
   }

}


.description {
/*    margin-left: 50px;*/
}






