body {
   color:  #333;
   min-width:1159px;
   font-family: Lato, Helvetica, Arial, sans-serif;
   font-size: 18px;

   &.show-tab-on-right {
      .uv-tab.uv-slide-bottom {
         display:none !important;
      }
   }
   &.show-tab-on-bottom {
      .uv-tab.uv-slide-right {
         display:none !important;
      }
   }
   &.hide-tab {
      .uv-tab {
         display:none !important;
      }
   }

   // styles for when embedded
   &.embedded {
      border: 8px solid #777;
      overflow-y: scroll;
      // this is to correct for lack of header.
      padding-top: 100px;
      .uv-tab {
         display:none !important;
      }
      #page-footer { display: none;}
      #page-header { display: none;}
   }

   div#namechange {
      font-size: 18px;
      background: #444;
      color: #fff;
      min-width: 1100px;
      text-align: center;
      padding:10px 0;
      strong { color: @linkColor;}
      a.dismiss {
         float:right;
         padding-right: 20px;
         color: #fff;
         font-size: 14px;
         border-bottom: #000;
      }
   }
   p {
      font-size: 18px;
   }

   q:before {
      content: "\201C";
   }

   q:after {
      content: "\201D";
   }



}
ol {
   padding-left:2em;
   li {
      list-style-type: decimal;
      margin-bottom: .5em;
      font-size:  18px;
   }
}
ul {
   padding: 0;
   list-style-type: none;
   li {
      font-size: 18px;
   }
}

form {

   &.form-horizontal {
      .control-label {
         &.two-lines {
            margin-top: -.3em;
            padding-top: 0;
         }
      }
   }

   .form-control {
      &:focus {
         .drop-shadow(0, 0, 0, 0) !important;
      }
   }

   .form-group {
      label {
         font-size: 20px;
      }
   }
   div.input-group {
      i {opacity: .7;}
      &.has-focus { // gets added by the forms.hasFocus directive.
         .input-group-addon {
            background: @alert-success-border;
            border-color: @alert-success-border;
            transition:none; // hard to get them to sync up...
         }
         input {
            transition:none;
            border-color: @alert-success-border;
         }
      }
      .input-group-addon {
         border-width:  0;
      }

   }

   div.help-block {
      font-size: 16px;
      margin-top:0;
      margin-bottom:0;
      &.one-line {
         margin-top: 12px;
      }
      display: block;
      color: #999;
      float:left;
   }

   div.working {
      i {margin-right: 5px;}
      font-size: 20px;
      color: @gray-light;
      span.text {

      }
   }
   div.buttons-group.save {
      div.working {
         font-size: 24px;
         padding-left: 10px;
         color:  #999;
         height: 47px; // same as default button height.
      }
   }
   i.icon-check-empty {
      padding-right: 3px;
   }
}


legend {
   border-bottom: none;
}
body a:link {
    text-decoration: none;
    cursor: pointer;
}

.wrapper {
    margin: 0 auto;
    display: block;
    width: 1100px; // to line collection name with logo...hacky
}
.clearfix {
    clear:both;
}
h1, h2, h3, h4, h5, h6 {
   font-family: Lato, Helvetica, sans-serif;
   font-weight: 900;
   color: #777;
}

a {
    color: @linkColor;
    cursor: pointer;
   text-decoration:none;
   &:hover {
      color: darken(@linkColor, 10%);
      text-decoration: none;
   }
}

p, ul, ol {
    line-height: 1.5;
    font-size: 16px;
   li {
      line-height: 1.5;
   }
}

i {
   &.left {
      margin-right: .3em;
   }
   &.right {
      margin-left: .3em;
   }

}



div.main-view {
   min-height: 500px;
}



/* modals
*****************************************************************************
*****************************************************************************
*****************************************************************************/

div.modal-backdrop {
   opacity: .7;
}
div.modal {
   display:block;
   width: 600px;
   background: #fff;
   top:  50%;
   bottom: auto;
   left: 50%;
   margin: -250px 0 0 -300px;
   padding-bottom: 20px;


   div.modal-header {
      background: #fafafa;
      background: #fff;
      position: relative;
      h3, h4 {
         border-bottom: none;
         font-weight: bolder;
         text-align:center;
         color:  #555;
         margin: 8px;
      }
      a.dismiss {
         position: absolute;
         top: 22px;
         right: 30px;
         color: #ddd;
         font-size: 25px;
      }

   }
   div.modal-body {
      position: relative;
      padding: 20px 50px;

      textarea {
         width: 100%;
         font-size: 15px;
         color: #555;
         font-family: consolas, menlo, monaco, monospace;
         padding: 10px;
         border: 2px solid #999;
         .border-radius(3px, 3px, 3px, 3px);
         background: #fafafa;
      }

      div#user-message-modal {
         .alert {
            margin-bottom: 0;
            background: transparent;
            border:none;
            text-align: center;
         }
      }
   }

   .modal-footer {
      border:none;
      text-align:center;
      margin-top: 0;
      button {
         min-width: 150px;
      }
   }


   // stuff for particular modals:

   &.error {
      div.modal-header {
         background: #BD362F;
         color: #fff;
      }
      border: 2px solid #BD362F;
   }

   &#edit-not-logged-in {
      div.modal-body {
         span.desc{
            width: 24%;
            float:left;
         }
         span.news {
            float:left;
            width:76%;
         }
      }
   }

   &.creds {
      width:  400px;
      margin-left:-200px;
      .modal-body{
         padding-left: 30px;
         padding-right: 30px;
         .form-group {
            width:  100%;
            margin-top: 20px;
         }
         .inst {
            color: #999;
            font-size: 18px;
            line-height: 1.6;
         }
      }
      .modal-footer {
         border: none;
         padding: 0;
         text-align:  center;
         button.btn {
            width: 66%;
            height: 50px;
            margin: 20px auto 0;
            float:none;
            display:block;
         }
         div.working { // similar as possible to button above...
            margin: 20px auto 0;
            height: 50px;
            font-size: 20px;
            padding-top:10px;
            color: #999;
         }
         a {
            clear:both;
            text-align: center;
            margin-top: 10px;
            display:inline-block;
            color: #999;
            font-size: 14px;
         }
      }
   }

}


// manage the staging warning
div.staging-warning { display:none;}
body.staging {
   @stagingBarWidth: 30px;
   div.staging-warning {
      position: fixed;
      opacity: .9;
      display:block;
      position: fixed;
      top: 0;
      bottom:0;
      width: @stagingBarWidth;
      z-index: 100000;
      text-align: center;
      border-right: 3px dotted #333;
      div.content {
         position: absolute;
         background: #333;
         top: 0;
         bottom: 0;
         left: 0;
         width: @stagingBarWidth;
         span {
            .rotation(270deg);
            display: block;
            color: #fff;
            font-weight: bold;
            width:  200px;
            height: 200px;
            text-transform: uppercase;
            letter-spacing: 3px;
            margin:300px 0 0 4px;
            font-family: Lato, Helvetica;
            text-shadow: 1px 0 0 #000;
         }
      }
   }
}

div#user-message {
   position: fixed;
   width: 100%;
   z-index: 1000;
   button.close {
      position: absolute;
      top: 5px;
      right: 10px;
   }
   .alert {
      opacity: .95;
      text-align: center;
      padding-top: 7px;
      padding-bottom: 7px;
      margin-bottom: 0;
      font-size: 16px;
      a {
         font-weight: bold;
         text-decoration: none;
         font-size: 90%;
         &:hover {
            text-decoration: underline;
            color: @linkColor;
         }
      }
      span.count {
         font-weight: 900;
         margin: 0 2px;
      }
   }
}



/**
 * Extra large button extensions. Extends `.btn`.
 */
.btn-xlarge {
   padding: 12px 20px;
   font-size: 28px;
   line-height: normal;
   .border-radius(5px, 5px, 5px, 5px)
}

// 404 'page'.
div.no-page {
   margin-top: 120px;
   h2 {
      font-size: 100px;
      color:  #ddd;
      text-align: center;
   }
   p {
      margin-top: 30px;
      font-size: 22px;
      color:  #555;
      text-align: center;
      span.slug {
         font-weight: bold;
      }
   }
}






/* navbar
*****************************************************************************
*****************************************************************************
*****************************************************************************/


div.main-header {
   text-align: left;
   padding: 15px 0 20px;
   height: 140px;

   div.wrapper {
      position:relative;
      margin-top:0;
      margin-bottom:0;
      a.brand {
         margin-top: 10px;
         img {
            height: 50px;
         }
      }

      ul.main-nav {
         position: absolute;
         bottom:-7px;
         right: 10px;
         li.nav-item {
            display:block;
            float:left;
            font-size: 15px;
            span.context {
               font-size: 14px;
               display:inline-block;
               color:  #aaaaaa;
               margin-right: 5px;
               font-weight: 300;
            }
            span.or {
               font-size: 70%;
               margin:0 4px;
               border-left: 1px solid #ddd;
            }

            &.login-and-signup {
               a {
                  margin: 0 5px;

                  &.signup {
                     font-weight: 900;
                     &:hover {color: darken(@linkColor, 10%)}
                  }
                  &.login {
                     color: #777;
                     display:inline-block;
                     i {margin-left: 5px;}
                     &:hover {color: #333;}
                  }
               }
            }
            &.logged-in-user {
               a{
                  color: #999;
                  &:hover{color: #333;}
                  padding: 5px;
                  margin: 0 3px;
               }
            }
            &.controls {
               a {
                  color: #999;
                  padding: 5px;
                  &:hover {color: #333;}
                  &.new-metrics.has-new-metrics i {
                     color: @linkColor;
                  }
                  &.preferences {
                     padding: 2px 0;
                     margin: 0 2px;
                     font-size: 16px;
                  }
                  &.logout { font-size: 15px;}

               }
               span.new-metrics {
                  color: #999;
               }
            }
         }
      }
   }
}







/* footer
*****************************************************************************
*****************************************************************************
*****************************************************************************/

div#footer {
   font-size:100%;
   clear:both;
   color: #777;
   padding: 60px 0 80px;
   width: 100%;
   border-top: 1px solid #aaa;
   background: #ddd;
   float:left;
   margin-top: 100px;
   font-size: 16px;
   position:relative;


   p {
      margin:6px 0 0 0;
      line-height: 1.4;
   }

   a {
      color: #777;
      &:hover {color: darken(#777777, 20%);}
   }


   div.wrapper{
      margin-top: 30px;
      margin:0 auto;


      div.footer-col {
         float:left;
         width: 125px;
         padding-right: 0;
         margin-left: 32px;
         border-right: 1px solid #ccc;
         min-height: 150px;
         font-weight: 300;


         h3 {
            font-weight: 500;
            margin-top: 0;
            font-size: 16px;
            color: #777;
         }

         ul {
            li {
               line-height: 1.6;
            }
            a {
               font-size: 15px;
            }
         }

         &#footer-help {
            border-right: none;
         }


         &#footer-funders {
            width:  200px;
            border-right: none;
            padding-right: none;
            float:right;
            text-align: right;
            h3 {
               margin: 0 20px 15px 40px;
               text-align: left;
               font-size: 14px;
            }
            img {
               margin: 0 5px;
               height: 35px;
               opacity: .6;
            }
            #footer-nsf-link {
               img {height: 40px; margin-top: -2px;}
            }
            #footer-jisc-link {
            }
         }

      }
   }
}



div.popover {
   div.arrow {}
   h3.popover-title {
      span {
         &.scholars {
            color: @scholarsColor;
         }
         &.public {
            color: @publicColor;
         }
      }
   }
}



div.tooltip {
   font-size: 13px;
   line-height:1.5;
   font-weight: 300;
   div.tooltip-inner {
//      padding-top:8px;
//      padding-bottom:8px;
//      background: #ddd;
//      color: #555;
   }
   &.click-to-visit-profile {
      width: auto;
      .tooltip-inner {
         padding:  3px 8px;
         background:  #777;
      }
      .tooltip-arrow {
         border-left-color: #777;
      }
   }
}

code {
   color: #000;
}













//.vertical-centered-container {
//  position: fixed;
//	top:0;
//	left:0;
//	height:100%;
//	width:100%;
//	display:table;
//	pointer-events: none;
//    z-index:9999;
//}




