
// useful mixins, from https://github.com/dmitryf/elements
@import "elements.less";
@import "bootstrap/variables.less";
@linkColor: #FF4E00;
@accentColor: #0053b0;
@navbarHeight: 45px;



/* globals */
html {
    margin:0;
    padding:0;
    height: 100%;
}
body {
    font-family: "Helvetica", sans-serif;
    margin: 0;

    height: 100%;
    padding-bottom: 0;

   div#container {
      min-width: 1100px;
   }
   div#namechange {
      font-size: 16px;
      background: #444;
      color: #fff;
      min-width: 1100px;
      text-align: center;
      padding:10px 0;
      strong { color: @linkColor;}
      a.dismiss {
         float:right;
         padding-right: 20px;
         color: #fff;
         font-size: 14px;
         border-bottom: #000;
         &:hover{color: @linkColor; }
      }
   }

}
ul, li {
    padding: 0;
    margin: 0;
}
li {
   list-style-type: none;
}
ol {
   padding-left:2em;
   li {
      list-style-type: decimal;
      margin-bottom: .5em;
   }
}

legend {
   border-bottom: none;
}
body a:link {
    text-decoration: none;
    cursor: pointer;
}
body a:hover {
    text-decoration: underline;
   color:@linkColor;
}

.wrapper {
    margin: 0 auto;
    display: block;
    width: 1030px; // to line collection name with logo...hacky
}
.clearfix {
    clear:both;
}
h3 {
   margin: 20px 0 0 0;
   margin-top:20px;
   font-family: rokkitt, georgia, serif;
   font-size: 25px;
   color:  #555;
   line-height: 1;
   border-bottom:  1px solid #eee;
   &.first {margin-top: 0; padding-top: 0;}
}
h4 {
   color:  #777;
}
a {
    color: #ff4e00;
    cursor: pointer;
}

p, ul, ol {
    line-height: 1.5;
    font-size: 16px;
   li {
      line-height: 1.5;
   }
}

span.icon.help {
   padding:0 9px;
   background: url(../img/glyphicons-halflings-light.png);
   background-position: -96px 64px;

}
div.popover {
   p {font-size:14px; }
   a {
      color: #555;
      border-bottom: 1px dotted #555;
      &:hover{border-bottom:1px solid #555; text-decoration:none;}
   }
   h3 {font-family: helvetica, arial, sans-serif;}
}

div.modal {
   h3 {
      font-family: rokkitt, helvetica, arial, sans-serif;
      border-bottom: none;
   }

   &.error {
      div.modal-header {
         background: #BD362F;
         color: #fff;
      }
      border: 2px solid #BD362F;
   }

   &#edit-not-logged-in {
      div.modal-body {
         span.desc{
            width: 24%;
            float:left;
         }
         span.news {
            float:left;
            width:76%;
         }
      }
   }

}


// managing login and edit states
body.logged-in {
   .not-logged-in {display:none;}
}
body.not-logged-in {
   .logged-in {display:none;}
}

// manage the staging warning
div.staging-warning { display:none;}
body.staging {
   div.staging-warning {
      display:block;
      position: fixed;
      top: 0;
      height: 25px;
      width: 100%;
      padding-right: 0;
      padding-left:0;
      z-index: 100000;
      text-align: center;
      button {right: 17px;}
      strong {margin-left: 17px;}
   }
}

ul.flashes {
   top: @navbarHeight;
   position: absolute;
   width: 100%;
   li.alert {
      border-radius: 0;
      margin-bottom:0;
      border-width: 2px;
      border-left: none; border-right: none; border-top: none;
      text-align: center;
   }
}

// Hack so that we can modify legacy collections at the same time
// as user profiles.
body.report, body.user-profile {
   #page-header {
      padding-top:80px;
      h2 {
         font-size: 35px;
         text-align: left;
         background: transparent;
         border-bottom:  1px solid #ddd;
      }
   }
   div.main{
      margin: 0;
      padding: 0;
   }
}










/* navbar
*****************************************************************************
*****************************************************************************
*****************************************************************************/

div.navbar {
   width:100%;
   margin: 0 auto;
   font-family: rokkitt, cambria, serif;
   border-bottom:1px solid #999;
   .drop-shadow(0, 3px, 10px, 0.2);
   background:#fff;
   height: @navbarHeight - 1px;
   position: fixed;
   z-index: 1000;

   .navbar-inner{
      width: 1100px;
      padding-right:0;
      margin: 0 auto;
      border: none;
      box-shadow: none;
      min-height: 0;

      a.brand {
         margin: 7px 0 0 0;
         padding-top: 0;
      }

      .nav { position: static;}
   }

   a.brand img{
      height: 35px;
      margin-top: -2px;
   }

   ul.nav.pull-right {

      > li {
         margin-top: 0;
         &.divider-vertical {
            height: 30px;
            margin-top: 5px;
         }
         &.dropdown.open {
            a.dropdown-toggle {
               background: #eee !important;
               color: @linkColor !important;
            }
         }

         &.acct-mgt {
            &#logged-in {
               span.given-name {
                  font-weight: bold;
                  color: @linkColor;
               }
               span.hi {
                  font-family: "Helvetica", "Arial", sans-serif;
               }
            }
         }

         &.preferences {
            width:  20px;
            overflow: hidden;
            position: relative;
            a {
               padding-left:0;
               i {vertical-align: -2px; color: @linkColor;}
               span.text {
                  position:  absolute;
                  left: 20px;
                  color: @linkColor;
               }
            }
         }

         a {
            padding: 12px 15px 5px;
         }
         .control-group { margin: 0; }

         ul.dropdown-menu {
            font-family: helvetica, arial, sans-serif;
            font-size:14px;
            min-width: 120px;
         }
         div.dropdown-menu {
            padding:15px 20px 20px;
            li{ margin: 0; padding: 0;}
            background:#f5f5f5;
            &::after {
               border-bottom:6px solid #f5f5f5;
            }
            span.register {
              float:right;
              font-size: 18px;
              a {
                padding: 6px 15px;
                color: @blueDark;
              }
            }
            span.help-inline {
               height:22px;
               min-width: 40px;
               float: right;
               font-family: helvetica, aria, sans-serif;
               font-size:12px;

               img { height:22px; float:right; }
            }
         }
      }

      li#logged-in {
         div.dropdown-menu{
            min-width: 200px;
            padding:5px 0 10px 0;
         }
      }

   }
}



/* registration form stuff
*****************************************************************************
*****************************************************************************
*****************************************************************************/
div.control-group {

   // there are five states a control group can have:
   &.inactive {
      .ready {display:none;}
      .working {display:none;}
      .success {display:none;}
      .error {display:none;}
   }
   &.ready {
      .inactive {display:none;}
      .working {display:none;}
      .success {display:none;}
      .error {display:none;}
      label { color: #555;}
   }
   &.working {
      .inactive {display:none;}
      .ready {display:none;}
      .success {display:none;}
      .error {display:none;}
      label { color: @linkColor;}
      button {display: none;}
   }
   &.success {
      .inactive {display:none;}
      .ready {display:none;}
      .working {display:none;}
      .error {display:none;}
      label { color: @successText;}
   }
   &.error {
      .inactive {display:none;}
      .ready {display:none;}
      .working {display:none;}
      .success {display:none;}
      label { color: @errorText;}
   }

   label {
      clear:both;
      width: 250px;
      font-weight: bold;
   }
   img{
      height: 20px;
      margin: -3px 5px 0 0;
   }
}

div#login-register {
   background: #fcfcfc;
   border: 3px solid @linkColor;
   width: 580px;
   h3 {
      font-family: rokkitt, helvetica, sans-serif;
      color:@linkColor;
      margin:0 0 20px;
      span.or { // quick hack
         float:right;
         font-family: helvetica, arial, sans-serif;
         font-size: 12px;
         color: #555;
         margin-right:-26px;
         font-style: italic;
         font-weight: normal;
         background: #fcfcfc;
         padding:5px;
         margin-top: -6px;
      }
   }
   form {
      width: 250px;
      float:left;
      input{width:220px;}
      button{
         float:right;
         margin:5px 15px 15px 0;
      }
      &:first-child {
         margin-right:30px;
         padding-right: 15px;
         border-right: 1px solid #ddd;
      }
   }
}

.editableform-loading {
   background: url(../img/loading-bar.gif) no-repeat;
   background-position: center center;
}






/* page header
*****************************************************************************
*****************************************************************************
*****************************************************************************/
div#page-header {
    padding-top: 70px;
    /*    background-color: #ff4e00;*/
    /*    background: url(img/h2-bg.png) bottom  left repeat-x;*/
}
div#page-header h2 {
   font-family: rokkitt, georgia, sans-serif;
   font-weight: bold;
   font-size: 50px;
   text-align: center;
   margin: 40px 0 0 0;
   float:none;
   color:#444;
   background: url(../img/grad-border-bottom.png) no-repeat bottom;
}


div.main {
    background: #fff;
    padding-top: 30px;
    font-size: 18px;
    padding-bottom: 100px;
    color: #333;
    min-height: 350px;
//   border-top:  3px solid #eee;
   clear:both;

   div.wrapper {
//      border-top: 1px solid #999;
   }


}
div.main p {
}
div.main h3:first {
    margin-top: 0;

}










/* import products
*****************************************************************************
*****************************************************************************
*****************************************************************************/

div.import-products {
   color: #333;
   font-weight: bold;

   div.control-group.submit img {
      // this is separate because sometimes (in the report add-products
      // modal), the control-group isn't in a form.
      height:32px;
      padding-left: 5px;

   }

   form.importers {
      width: 270px;
      margin-right: 60px;
      float:left;
      h3 {
         margin-bottom: 20px;
      }
      span.limit {
         display:block;
         color: #888;
         font-weight: normal;
         font-size: 12px;
      }
      p#artcounter {
         margin-top: 20px;
      }
      #go-button {
         width: 255px;
         text-align: center;
      }

      &.register {
         div.control-group {
            margin-bottom: 0;
         }
      }

      div.control-group {
         margin-bottom: 30px;
         &.fileupload {
            div.uneditable-input {
               width: 100px;
            }
         }


         &.submit {
            margin-bottom: 0;

            label { color: #555;}
         }



         label.control-label {
            a.help {
               text-decoration: none;
               font-weight: normal;
               float:right;
               color: #888;
               &:hover {
                  text-decoration: underline;
                  color:@linkColor;
               }
            }
            &.ids {
               span.success {
                  float:right;
               }
            }

         }

         div.controls {
            input{
               font-size:16px;
               width:240px;
               &.name {
                  width:  111px;
                  margin-bottom: 45px;
               }
            }
            textarea {
               line-height: 1.6;
               &.default{
                  color: #999;
               }
               width: 240px;
            }
            span.go { // for the go-button "working" msg
               color:  @linkColor;
               font-size: 20px;
               img {
                  height: 40px;
               }
            }
         }
      }
   }
}




/* homepage
*****************************************************************************
*****************************************************************************
*****************************************************************************/
body.index  {
   background: url(../img/grey-noise.png);
   @indexBodyBackGroundColor: #bbb;

/* Safari 4-5, Chrome 1-9 */
/* Can't specify a percentage size? Laaaaaame. */
   background: -webkit-gradient(radial, center center, 0, center center, 460, from(#fff), to(@indexBodyBackGroundColor));

/* Safari 5.1+, Chrome 10+ */
   background: -webkit-radial-gradient(circle, #fff, @indexBodyBackGroundColor);

/* Firefox 3.6+ */
   background: -moz-radial-gradient(circle, #fff, @indexBodyBackGroundColor);

/* IE 10 */
   background: -ms-radial-gradient(circle, #fff, @indexBodyBackGroundColor);

   div#page-header {
      display:none;
   }
}

div#tagline {
   div.wrapper {
      width: 900px;
      padding: 80px 0 40px;
      text-align: center;
      h1 {
         color: #555;
         color: #dd4401;
         font-size: 72px;
         line-height: .8;
         text-shadow: 2px 2px 2px #ccc;
         font-family: 'rokkitt', 'georgia', serif;
         letter-spacing: -2px;
         background: url(../img/grad-border-bottom.png) no-repeat bottom;
         padding-bottom: 10px;
      }
      p.subtagline {
         color: #555;
         font-size: 20px;
         padding: 5px 0 10px;
      }

      #call-to-action {
         margin: 0 auto;
         width: 455px;
         margin-bottom: 50px;
         span.container {
            height: 114px;
            display: block;
            float: left;
            width: 330px;

            a#create-collection {
               margin: 3px 0 0 20px;
               font-size: 2.1em;
               font-family: rokkitt, Helvetica, Arial, sans-serif;
            }
         }
         p#example-collection {
            width: 100px;
            font-size: 14px;
            float: left;
            width: 100px;
            color: #777;
            margin: 2px 0 0 5px;
            padding: 4px 0 0 5px;
            border-left: 1px solid #aaa;
            a {
               font-size: 25px;
               margin-top: -5px;
               margin-left: 5px;
               color: #005fcc;
               font-family: 'rokkitt', 'georgia', serif;
               display: block;
               width: 175px;
               text-align: left;
               &:hover {
                  text-decoration: underline;
                  color: @linkColor;
               }
            }
         }
      }
   }
}

div#sources {
   width:100%;
   background:#fff;
   margin-top: 80px;
   width: 100%;
   border-top:3px solid @linkColor;
   div.wrapper {
      background: url(../img/sources-banner.png) no-repeat top left;
      height: 135px;
      margin-top:-63px;
      padding-top: 15px;
      width: 1200px;
      h2 {
         float:left;
         color: #999;
         font-family: 'rokkitt', 'georgia', serif;
         font-size: 20px;
         line-height: 1.1;
         width: 160px;
         border-right: 1px solid #ddd;
         margin: 0 20px 0 70px;
         padding: 10px;
      }
      ul#source-logos {
         li {
            float:left;
            margin:0 20px 20px 0;
            img {
               height: 22px;
            }
         }
      }
   }
}





/* the call-to-action button and environs */





/* the "selling points" section
*************************************************/
div#selling-points{
    background-color:#fff;
    min-height: 300px;
    border-bottom: 3px solid @linkColor;
    background-position: bottom;
    background-repeat: repeat-x;

   h3 {
      color:#555;
      font-family:rokkitt, georgia, serif;
      font-weight: normal;
      font-size: 26px;
      height: 61px;
      padding-top: 8px;
      padding-bottom:10px;
      line-height: 1;
      margin-top: 0px;
      padding-bottom: 10px;

      &#metrics-in-seconds {
         background:url(../img/stopwatch-icon.png) no-repeat top left;
         padding-left: 72px;
      }
      &#embed-metrics-anywhere {
         background:url(../img/suitcase-icon.png) no-repeat top left;
         padding-left: 79px;
      }
      &#its-open {
         background:url(../img/wrench-icon.png) no-repeat 0 10px;
         padding-left: 85px;
      }
   }

   p {
       margin-top:0;
       color: #777;
       line-height: 1.4;
   }

   ul {
      li {
         float:left;
         width: 30%;
         list-style-type: none;
         min-height: 270px;
         &.middle {
            &.middle {
               padding-left:5%;
               padding-right:5%;
            }

         }
      }
   }








}











/* "faq" page
*****************************************************************************
*****************************************************************************
*****************************************************************************/

table {
    border-collapse: collapse;
    padding:2px;
    border-color: #ccc;
    width: 700px;
}
td {
    padding: 3px 8px;
    border:1px solid #ccc;
    border-left:none;
    border-right:none;
}
th {
    background: #FF4E00;
    color:#fff;
    border:none;
}

#faq li {
   list-style-type: circle;
}

#faq div.wrapper{
}
#faq {
    background: #fff;
    padding-bottom: 50px;
    padding-top: 40px;
   h3 {
      margin-top: 70px;
      &.first {margin-top:0; padding-top:0;}
   }
}

ul#providers-metadata > li {
    margin-bottom: 15px;
}

ul#providers-metadata li ul li{
    list-style-type: none;
}

ul#providers-metadata li img {
    margin-bottom: -.2em;
}
ul#providers-metadata span.csv-name {
   font-family: monaco, consolas, monospace;
   color: #777;
   font-size:10px;
}

#toc {
    border: 1px solid #333333;
    line-height: 1.5;
    float: right;
    margin: 16px 21px 12px;
    padding: 16px;
    text-align: left;
    -webkit-border-radius: 4px;    /* CSS3 rounded borders for Safari      */
    -moz-border-radius: 4px;       /* CSS3 rounded borders for Firefox   */
}




/* "about" page
*****************************************************************************
*****************************************************************************
*****************************************************************************/

div#about img {
    float:left;
    margin:5px 15px 10px 0;
    border:1px solid #555;
   height: 138px;
}
div#about p {
    margin-top: 0;
    margin-bottom: .5em;
}
div#about h3 {
    margin-top: 50px;
    margin-bottom: 10px;
   &.first {margin-top: 10px}
}
div#about div.team-member.second {
    margin-top: 50px;
}
div#about ul{
   padding-left:2em;
   li { list-style-type: circle; }
}
div#about div#contact p{
   padding:15px;
   margin: -15px 0 0 -15px;
}


/* "api" page
*****************************************************************************
*****************************************************************************
*****************************************************************************/

table {
    border-collapse: collapse;
    padding:2px;
    border-color: #ccc;
    width: 100%;
   margin:50px 0;
}
td {
    padding: 15px 8px;
    border:1px solid #ccc;
    border-left:none;
    border-right:none;
   pre.prettyprint {
      padding-bottom:0;
   }
   &.attr {
      min-width: 150px;
   }
   &.example {
      width: 100px;
      div.impactstory-embed div {
         font-size:12px;
         color: red;
         font-weight: bold;
         margin: 5px 0;
         clear:both;
      }
   }
}
th {
    border:none;
   background: #fff;
   color:#555;
   text-align:left;
   padding-left:5px;
}
h3.apicall:first-of-type {
    margin-top: 50px;
}

div.example {
   clear:both;
}




div#api{
    margin-top: 120px;
}
#toc {
    border: 1px solid #333333;
    float: right;
    margin: 16px 21px 12px;
    padding: 16px;
    text-align: left;
    -webkit-border-radius: 4px;    /* CSS3 rounded borders for Safari      */
    -moz-border-radius: 4px;       /* CSS3 rounded borders for Firefox   */
}

a.tocBackLink {
    text-align: right;
    font-size: 10px;
    font-weight: normal;
    margin-left: 10px;
}
pre {
   font-family:consolas, monospace;
   display: block;
   padding: 10px;
   margin: 0 0 9px;
   font-size: 14px;
   line-height: 1.5;
   word-break: break-all;
   word-wrap: break-word;
   white-space: pre;
   white-space: pre-wrap;
   background-color: #f5f5f5;
   border: 1px solid #ccc;
   border: 1px solid rgba(0, 0, 0, 0.15);
   -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
   border-radius: 4px;

   &.prettyprint { // needed to overwrite prettyprint.css's imposed settings.
      margin-bottom: 18px;
      border: 1px solid #ccc;
      padding:10px;
   }
}
.pre-scrollable {
   max-height: 340px;
   overflow-y: scroll;
}

h3.apicall {
    white-space: normal !important;
    font-family:consolas, monospace;
    margin-top: 150px;
    font-size:30px;
    color: #555;
    margin-bottom: 10px;
}
div#docs {
   h4 {
      font-size: 22px;
      margin-bottom: 5px;
   }
   h3 { margin-top: 90px;}

   h3.first {margin-top: 30px}

   li {
      margin-left: 1em;
   }
   ol {
      padding-left:0;
      margin-left:0;
   }
   ul li {
      list-style-type: disc;
   }
   div.impactstory-embed {
      float:left;
      margin:22px 15px 17px 5px;
   }
   ul#required-attributes {
      li{margin-bottom: 15px;}
   }

}


.description {
/*    margin-left: 50px;*/
}









/* misc snippets
*****************************************************************************
*****************************************************************************
*****************************************************************************/

.ie {display:none;}

#ie-fail-warning {
   width:  800px;
   margin-top: 50px;
   margin-bottom: 200px;
   border:  5px solid #ccc;
   padding:  30px;

   img{
      float:left;
      margin: -10px 20px 0 0;
      height: 80px;
   }
   h2 {
      font-family: rokkitt, serif;
      font-size: 65px;
      padding-bottom: 10px;
   }
   p {
      font-size: 18px;
   }
}







/* footer
*****************************************************************************
*****************************************************************************
*****************************************************************************/

div#footer {
   font-size:100%;
   clear:both;
   color: #555;
   padding-top: 20px;
   width: 100%;
   border-top: 1px solid #aaa;
   background: url(../img/footer-bg.png) top repeat-x;
   float:left;

   p {
      margin:6px 0 0 0;
      line-height: 1;
      font-size: 14px;
      line-height: 1.3;
   }


   div.wrapper{
      margin-top: 30px;
      margin:0 auto;

      div.footer-col {
         float:left;
         width: 32%;
         margin-bottom:30px;

         h3 {
            font-size: 18px;
            font-weight: bold;
            font-family: rokkitt, helvetica, sans-serif;
            color: #333;
            width: 100px;
            margin: 0 auto;
         }

         ul {
            width: 100px;
            margin: 0 auto;
            li {
               line-height: 1.25;
            }
            a {
               color:  #777;
               font-size: 13px;
               &:hover {
                  color:  @linkColor;
               }
            }
         }

         &#footer-funders {
            #footer-sloan-link {
               img {
                  margin: 20px 0 0 0;
                  width: 275px;
                  float:right;
               }
            }
         }

         &#footer-about {
         }

         &#footer-follow {
            border-left: 1px dotted #bbb;
            border-right: 1px dotted #bbb;

            img {
               float: right;
               height: 28px;
            }
         }
      }
   }
}
#footer-powered-by {
   img {
      height: 30px;
      margin-bottom: 30px;
      float:right;
      margin-top: -30px;
   }
}





div.tooltip {
   font-size: 12px;
   width:140px;
   line-height:1.5;
   &.in {
      opacity: 1;
   }
   div.tooltip-inner {
      padding-top:8px;
      padding-bottom:8px;
   }
}

code {
   color: #000;
}






