body {
   color:  #333;

   &.show-tab-on-right {
      .uv-tab.uv-slide-bottom {
         display:none !important;
      }
   }
   &.show-tab-on-bottom {
      .uv-tab.uv-slide-right {
         display:none !important;
      }
   }

   div#namechange {
      font-size: 18px;
      background: #444;
      color: #fff;
      min-width: 1100px;
      text-align: center;
      padding:10px 0;
      strong { color: @linkColor;}
      a.dismiss {
         float:right;
         padding-right: 20px;
         color: #fff;
         font-size: 14px;
         border-bottom: #000;
      }
   }
   p {
      font-size: 18px;
   }

}
ol {
   padding-left:2em;
   li {
      list-style-type: decimal;
      margin-bottom: .5em;
      font-size:  18px;
   }
}
ul {
   padding: 0;
   list-style-type: none;
   li {
      font-size: 18px;
   }
}

form {

   .form-control {
      &:focus {
         .drop-shadow(0, 0, 0, 0) !important;
      }
   }

   .form-group {
      label {
         font-size: 20px;
      }
   }
   div.input-group {
      i {opacity: .7;}
      &.has-focus { // gets added by the forms.hasFocus directive.
         .input-group-addon {
            background: @alert-success-border;
            border-color: @alert-success-border;
            transition:none; // hard to get them to sync up...
         }
         input {
            transition:none;
            border-color: @alert-success-border;
         }
      }
      .input-group-addon {
         border-width:  0;
      }

   }

   div.help-block {
      font-size: 16px;
      margin-top: 12px;
      display: block;
      color: #999;
      float:left;
   }

   div.working {
      i {margin-right: 5px;}
   }
   div.buttons-group.save {
      div.working {
         font-size: 24px;
         padding-left: 10px;
         color:  #999;
      }
   }
   i.icon-check-empty {
      padding-right: 3px;
   }
}

.btn-primary {
   background: @accentColor;
}


legend {
   border-bottom: none;
}
body a:link {
    text-decoration: none;
    cursor: pointer;
}

.wrapper {
    margin: 0 auto;
    display: block;
    width: 1100px; // to line collection name with logo...hacky
}
.clearfix {
    clear:both;
}
h1, h2, h3, h4, h5, h6 {
   font-family: Lato, Helvetica, sans-serif;
   font-weight: 900;
   color: #777;
}

a {
    color: @linkColor;
    cursor: pointer;
   text-decoration:none;
   &:hover {
      color: darken(@linkColor, 10%);
      text-decoration: none;
   }
}

p, ul, ol {
    line-height: 1.5;
    font-size: 16px;
   li {
      line-height: 1.5;
   }
}

i {
   &.success {color: #468847;}
   &.error {color:  #b94a48;}
}


span.icon.help {
   padding:0 9px;
   background: url(../img/glyphicons-halflings-light.png);
   background-position: -96px 64px;

}



div.main-view {
   min-height: 500px;
}



/* modals
*****************************************************************************
*****************************************************************************
*****************************************************************************/

div.modal-backdrop {
   opacity: .7;
}
div.modal {
   display:block;
   width: 600px;
   background: #fff;
   top:  50%;
   bottom: auto;
   left: 50%;
   margin: -250px 0 0 -300px;

   &.creds {
      width:  400px;
      margin-left:-200px;
      .modal-body{
         padding-left: 30px;
         padding-right: 30px;
         .form-group {
            width:  100%;
            margin-top: 20px;
         }
         .inst {
            color: #999;
            font-size: 18px;
            line-height: 1.6;
         }
      }
      .modal-footer {
         border: none;
         padding: 0;
         text-align:  center;
         button.btn {
            width: 66%;
            height: 50px;
            margin: 20px auto 0;
            float:none;
            display:block;
         }
         div.working { // similar as possible to button above...
            margin: 20px auto 0;
            height: 50px;
            font-size: 20px;
            padding-top:10px;
            color: #999;
         }
         a {
            clear:both;
            text-align: center;
            margin-top: 10px;
            display:inline-block;
            color: #999;
            font-size: 14px;
         }
      }
   }

   div.modal-body {
      position: relative;
      ul.modal-notifications {
         text-align: center;
         li{
            .border-radius(0, 0, 0, 0);
            margin: 0 -10px;
            padding: 0;
            border: none;
            background: #fff;
            &.alert-danger {
               color: @alert-danger-bg;
            }
            &.alert-success {
               color: @alert-success-bg;
            }
         }
      }
   }
   div.modal-header {
      background: #fafafa;
      background: #fff;
      position: relative;
      h4 {
         border-bottom: none;
         font-weight: bolder;
         text-align:center;
         color:  #555;
      }
      a.dismiss {
         position: absolute;
         top: 22px;
         right: 30px;
         color: #ddd;
         font-size: 25px;
      }

   }

   &.error {
      div.modal-header {
         background: #BD362F;
         color: #fff;
      }
      border: 2px solid #BD362F;
   }

   &#edit-not-logged-in {
      div.modal-body {
         span.desc{
            width: 24%;
            float:left;
         }
         span.news {
            float:left;
            width:76%;
         }
      }
   }

}


// manage the staging warning
div.staging-warning { display:none;}
body.staging {
   @stagingBarWidth: 30px;
   div.staging-warning {
      position: fixed;
      opacity: .9;
      display:block;
      position: fixed;
      top: 0;
      bottom:0;
      width: @stagingBarWidth;
      z-index: 100000;
      text-align: center;
      border-right: 3px dotted #333;
      div.content {
         position: absolute;
         background: #333;
         top: 0;
         bottom: 0;
         left: 0;
         width: @stagingBarWidth;
         span {
            .rotation(270deg);
            display: block;
            color: #fff;
            font-weight: bold;
            width:  200px;
            height: 200px;
            text-transform: uppercase;
            letter-spacing: 3px;
            margin:300px 0 0 4px;
            font-family: Lato, Helvetica;
            text-shadow: 1px 0 0 #000;
         }
      }
   }
}

// really complicated to position. seems like it's in the right spot now,
// but i honestly have no idea why.
ul.notifications {
   width: 100%;
   margin-bottom: 0;
   li.alert {
      height: 60px;
      border-radius: 0;
      margin-bottom:-30px; // ?
      padding-top: 15px;
      border-width: 2px;
      border-left: none;
      border-right: none;
      border-top: 3px solid #fff;
      text-align: center;
   }
}


/**
 * Extra large button extensions. Extends `.btn`.
 */
.btn-xlarge {
   padding: 12px 20px;
   font-size: 28px;
   line-height: normal;
   .border-radius(5px, 5px, 5px, 5px)
}

// 404 'page'.
div.no-page {
   margin-top: 120px;
   h2 {
      font-size: 100px;
      color:  #ddd;
      text-align: center;
   }
   p {
      margin-top: 30px;
      font-size: 22px;
      color:  #555;
      text-align: center;
      span.slug {
         font-weight: bold;
      }
   }
}






/* navbar
*****************************************************************************
*****************************************************************************
*****************************************************************************/


div.main-header {
   padding: 15px 0 20px;
   height: 70px;
//   &.big {
//      height: 90px;
//      padding-top: 24px;
//      .wrapper{
//         a.brand{img{height: 45px}}
//         ul.main-nav{top: 10px;}
//      }
//   }
   div.wrapper {
      position:relative;
      a.brand {
         img {
            margin: 0 0 0 -10px;
            height: 40px;
         }
      }

      ul.main-nav {
         position: absolute;
         top:8px;
         right: 10px;
         li.nav-item {
            display:block;
            float:left;
            span.context {
               font-size: 14px;
               display:inline-block;
               color:  #aaaaaa;
               margin-right: 5px;
               font-weight: 300;
            }
            &.login-and-signup {
               span.or {
                  font-size: 70%;
                  color: #cccccc;
                  margin:0 10px;
                  border-left: 1px solid #aaa;
               }
               a {
                  font-size: 15px;
                  &.signup {
                     font-weight: bold;
                     &:hover {color: darken(@linkColor, 10%)}
                  }
                  &.login {
                     color: #777;
                     display:inline-block;
                     i {margin-left: 5px;}
                     &:hover {color: #333;}
                  }
               }
            }
            &.logged-in-user {
               a{
                  font-size: 16px;
                  &:hover{color:darken(@linkColor, 10%);}
                  padding: 10px 10px 10px 0;
               }
            }
            &.preferences.dropdown {

               position: relative;
               border-left: 1px solid #dddddd;
               &.open {
                  border:none;
                  padding-left: 1px;
                  a.dropdown-toggle {
                     i {color: #333;}
                     border-color: #cccccc;
                     position:relative;
                  }
               }
               a.dropdown-toggle {
                  border:1px solid #fff;
                  border-bottom:none;
                  i {
                     vertical-align: -1px;
                  }
                  background: #fff;
                  z-index: 1000;
                  .border-radius(3px, 0, 0, 3px);
                  padding:10px;
                  &:hover{color: darken(@linkColor, 10%)}
               }
               ul.dropdown-menu {
                  top: 31px;
                  border: 1px solid #cccccc;
                  right: 0;
                  left: auto;
                  .drop-shadow(0, 0, 0, 0);
                  z-index: 10;
                  .border-radius(0, 3px, 3px, 3px);
                  min-width: 150px;
                  padding: 10px 0;

                  li{
                     margin: 0;
                     padding: 0;
                     a {
                        padding-top: 5px;
                        padding-bottom: 5px;
                        color: #555;
                        font-size:  14px;
                        i {
                           margin-left: -5px;
                           margin-right: 11px;
                        }
                        &:hover {
                           background: @accentColor;
                           color: #fff;
                        }
                     }
                     &.divider {
                        border-bottom: 1px solid #fff;
                        background-color:#eee;
                     }
                  }
               }
            }
         }
      }
   }
}







/* footer
*****************************************************************************
*****************************************************************************
*****************************************************************************/

div#footer {
   font-size:100%;
   clear:both;
   color: #777;
   padding: 60px 0 80px;
   width: 100%;
   border-top: 1px solid #aaa;
   background: #ddd;
   float:left;
   margin-top: 100px;

   p {
      margin:6px 0 0 0;
      line-height: 1.4;
      font-size: 16px;
   }

   a {
      color: #777;
      &:hover {color: darken(#777777, 20%);}
   }


   div.wrapper{
      margin-top: 30px;
      margin:0 auto;


      div.footer-col {
         &#footer-branding {
            margin-top: -5px;
         }
         float:left;
         width: 125px;
         padding-right: 0;
         margin-left: 32px;
         border-right: 1px solid #ccc;
         min-height: 150px;


         h3 {
            font-size: 18px;
            font-weight: bolder;
            margin-top: 0;

            color: #777;
         }

         ul {
            li {
               line-height: 1.6;
            }
            a {
               font-size: 15px;
            }
         }

         &#footer-branding {
            width: 400px;
            margin-left:0;
            padding-right: 22px;
            a.brand {
               img {
                  width:  170px; // smaller than header logo
               }
            }

            p.license {
               font-size: 13px;
               color: #777;
               line-height: 1.5;
               width:  330px;

               margin-top: 25px;

               a {
                  text-decoration: underline;
               }
            }

         }

         &#footer-funders {
            width:  200px;
            border-right: none;
            padding-right: none;
            a#footer-nsf-link {

               img {
                  margin-top: 10px;
                  width: 150px;
               }
            }
         }

         &#footer-about {
         }

         &#footer-follow {
            img {
               float: right;
               height: 28px;
            }
         }
      }
   }
}
#footer-powered-by {
   img {
      height: 30px;
      margin-bottom: 30px;
      float:right;
      margin-top: -30px;
   }
}





div.tooltip {
   font-size: 12px;
   width:140px;
   line-height:1.5;
   &.in {
      opacity: 1;
   }
   div.tooltip-inner {
      padding-top:8px;
      padding-bottom:8px;
   }
   &.click-to-visit-profile {
      width: auto;
      .tooltip-inner {
         padding:  3px 8px;
         background:  #777;
      }
      .tooltip-arrow {
         border-left-color: #777;
      }
   }
}

code {
   color: #000;
}






