body.page-name-password-reset {
   #sidebar {
      display:none;
   }
   #not-sidebar {
      width: 100%;
      margin: 0;
   }
}

div.password-reset-header {
   h1{
      text-align: center;
      margin: 100px;
      img{
         height: 50px;
         margin-top: 5px;
      }
      span {
         font-size: 45px;
         margin-top: 30px;
         font-weight: 300;
         text-transform: uppercase;
         color: #555;
         display: block;
      }
   }
}

div.password-reset {
   form.password-reset {
      width:  500px;
      margin: 100px auto 0;
      div.new-password {
         position: relative;
         label {
            font-weight: normal;
            margin-bottom: 15px;
            color: #555;
         }
         input{
            font-size: 30px;
            width: 470px;
         }
         div.show-password {
            font-size:  30px;
            position: absolute;
            bottom: -7px;
            right: -60px;
            color:  #999;
//            margin-top:40px;
         }
      }
      div.submit {
         text-align: center;
      }
   }


}