.product {
   float:left;
   clear:both;
   padding:  25px 0 0;
   position:relative; // for positioning the item-controls
   width:100%;

   &:hover {
      div.product-controls{
         display: block;
      }
   }

   &.heading {
      margin-top: 130px;
      &.first {
         margin-top: 50px;
      }
      width: 95%;

   }

   &.twitter.real-product {
      div.real-product {
         .badges {
            margin-top: 40px;
         }
      }

      &:before {
         width: 72px;
         height: 25px;
         background: #fff;
         display: block;
         content: "";
         top: 49px;
         left: 566px;
         position: absolute;
      }
      h5 {display:none;}
      span.year {display:none;}
      iframe {
         border: none !important;
         border-bottom: 1px solid #ddd !important;
         .drop-shadow(0, 0, 0, 0) !important;
         .border-radius(0, 0, 0, 0) !important;
         width: 660px !important;
         padding:0 !important;
      }

   }






   div.product-controls {
      position: absolute;
      display:none;
      left: -100px;
      width: 100px;
      height: 40px;
      top: 12px;
      text-align:right;
      line-height: 1;
      font-size:14px;
   }

   div.category-heading {
      width: 100%;
      padding-bottom: 5px;
      border-bottom: 1px solid #eee;

      div.category-heading-main {
         position: relative;

         h2 {
            .clearfix();
            margin: 0 0 0 -23px;
            font-weight: 900;
            text-transform: capitalize;
            font-size: 30px;
            color:  #555;
            float:left;
            span.account{
               font-weight: 300;
               margin-left:.2em;
               text-transform: lowercase;
            }


            &:hover {
               a.genre-anchor {
                  color: @linkColor;
               }
            }
            a.genre-anchor {
               color: #cccccc;
               position:relative;
               i.icon-link {
                  font-size: 16px;
                  margin:0 2px 0 0;
               }
               span.text {
                  width:80px;
                  margin-left: -86px;
                  padding: 5px 2px 0;
                  display:none;
                  color: @linkColor;
                  font-size: 14px;
                  font-weight: normal;
                  text-transform: lowercase;
                  text-align: right;
               }
               &:hover {
                  span.text {
                     display: inline-block;
                  }
               }
            }
            .tooltip.left {
               width: 100px;
               .tooltip-arrow{
                  border-left-color: transparent;
               }
               .tooltip-inner {
                  color: @linkColor;
                  text-align:right;

               }
            }
            i {
               vertical-align: 2px;
               margin-right: 4px;
               font-size: 90%;
               text-align: right;
            }
         }

         div.category-metrics {
            margin-top: 10px;
            text-align: right;
            position:absolute;
            bottom:0;
            right:0;

            ul {
               li.category-metric {
                  display:inline-block;
                  margin-right: 20px;
                  .metric-descr {
                     font-size: 80%;
                     cursor: help;
                  }
               }
            }
         }
      }

      div.category-heading-tips {
         .alert {
            margin: 5px 0 0;
            padding: 15px 20px;
            font-size: 17px;
            text-align: center;
            font-weight: 300;
            a {
               font-weight: 900;
               margin:0 2px;
               &:hover {
                  text-decoration: underline;
                  color: #fff;
                  i {text-decoration:none;}
               }
               i {
                  margin-right: 2px;
               }
            }

         }
      }
   }







   .biblio{
      float:left;
      width: 700px;
      h5 {
         margin-top: 0;
         a {
            &.title-text {
               font-size:16px;
               color: #333;
               margin: 0 0 -3px 0;
               padding: 0 5px 10px 0;
               &:hover {
                  color:  @linkColor;
                  text-decoration: none;
               }
            }
            &.linkout {
               color:  #ddd;
               &:hover {
                  color:  @linkColor;
                  text-decoration: none;
               }
            }
         }
      }
      div.optional-biblio {
         clear:both;
         font-size:13px;
         color: #888;
         line-height: 1.3;
         span.repository {font-style:italic;}
      }
   }



   .badges {
      width: 360px;
      margin-left: 20px;
      float:left;
      ul.ti-badges {
         float:left;
         .award {
            margin:0 4px 4px 0;
            float:left;
            span.metrics {

               // NOT SHOWING THIS till we conjure better badges.
               display: none;
               float:left;
               img {
                  height: 16px;
                  margin-left:5px;
                  vertical-align: top;
                  .grayscale(.75);
               }
               border: 1px solid #333;
               border-left: none;
               height: 24px;
               padding:3px 10px 0 0;
               .border-radius(13px, 13px, 0, 0);

            }


         }
      }
   }


   .ti-badge {
      height: 24px;
      font-size: 12px;
      text-align: center;
      padding: 3px 9px;
      float:left;
      display:block;
      font-weight:normal;
      .border-radius(3px, 3px, 3px, 3px);
      font-family: helvetica, arial, sans-serif;
      span.audience {display:none;}
      background:  black;
      border: 1px solid black;
      &:hover{text-decoration: none;}
      &.scholars {background: @scholarsColor; border-color: @scholarsColor;}
      &.public {background: @publicColor; border-color: @publicColor;}
      &.big-badge {
         color:  #fff;
      }
      &.lil-badge {
         &.scholars {color: @scholarsColor;}
         &.public {color: @publicColor;}
         background: #fff;
      }
   }
   div.popover {
      font-family: helvetica, arial, sans-serif;
      max-width: 230px;
      h3 {font-size: 16px; font-family: helvetica, arial, sans-serif;}
      .popover-content {font-size: 14px;}
   }









}

