div.product-page {
   min-height: 500px;

   div.working {
      color: #ddd;
      font-size: 30px;
      font-family: Lato;
      font-weight: bolder;
      text-align: center;
      span.text {
         margin-left: 10px;
      }
      padding-top: 100px;
   }

   div.main-content {
      width: 700px;
      float: left;
      #biblio {

         // general stuff in biblio ************

         .editable-click {
            color: #333;
            border: none;
            &:hover {
               color: #428bca;
            }
         }

         form.editable-text {
            margin-top: -5px;
            margin-bottom: -5px;
         }

         .loading {
            color: #999;
            margin: 0 5px;
            i {
               margin-right: 3px;
            }
         }

         span.biblio-field-label {
            font-weight: bold;
            margin-right: 5px;
            font-size: 16px;
         }

         .tooltip-inner {
            background: #428bca;
         }
         .tooltip-arrow {
            border-right-color: #428bca;
            border-left-color: #428bca;
         }

         // specific biblio sections ***********

         h2.title {
            font-size: 28px;
            line-height: 1.3;
            margin: 0 0 5px;

            span.return-to-profile-link-container {
               .tooltip-inner {
                  background: #000;
               }
               .tooltip-arrow {
                  border-color: transparent;
                  border-top-color: #000;
               }
               a.return-to-profile {
                  color: #999;
                  margin-left: -45px;
                  padding-right: 15px;
                  width: 40px;
                  display: inline-block;
                  text-align: right;
                  &:hover {
                     color: @linkColor
                  }
               }
            }

            textarea {
               width: 630px;
               height: 60px;
               font-weight: normal;
            }

         }

         span.biblio-field.authors {
            font-size: 20px;
            input {
               width: 630px;
            }

         }

         div.biblio-line.date-and-source {
            font-size: 16px;
            .editable-click {
               color: #777;;
               &:hover {
                  color: #428bca;
               }
            }
            span.biblio-field.year {
               form {
                  input.editable-input {
                     width: 4em;
                  }
                  // years is short
                  margin-right: 10px;
               }

            }
            span.biblio-field.journal, span.repository {
               font-style: italic;
               input.editable-input {
                  width: 580px;
                  margin-left: 10px;
               }
            }
         }

         div.biblio-line.abstract {
            margin-top: 15px;
            span.value {
               font-size: 16px;
            }
            textarea {
               width: 630px;
               height: 200px;
               font-size: 16px;
            }

            .more-abstract {
               font-size: 14px;
               cursor: pointer;
               color: #555;
            }

         }

         div.biblio-line.keywords {
            font-size: 16px;
            margin-top: 10px;
            input.editable-input {
               width: 520px;
            }
            span.value {
               font-weight: bold;
            }
         }

      }

      // RESOURCE (link or embedded file)
      // ************************************************************************
      // ************************************************************************

      #resource {
         margin-top: 20px;
         width: 700px;

         .embed-github-readme {
            border: 1px solid #eee;
         }
         
         .upload-cta {
            text-align: center;
            margin-top: 50px;
            width: 100%;
            padding: 10px;
            border: 1px solid #eee;
            background: #fafafa;
            h4 {
               font-size: 26px;
            }
            h5 {
               font-size: 19px;
               font-weight: 300;
               padding: 0 50px;
               strong {
                  font-weight: normal;
               }
            }
            div.file-upload-container {
               width: 50%;
               text-align:center;
               margin: 20px auto 30px;
               div.file-upload-button {
                  display:inline-block;
               }
               input {
                  display:none;
               }
               span.or {
                  font-size: 14px;
                  margin: 0 5px 0 10px;
               }
               a.embed-from-url {
                  color: #428bca;
                  &:hover {
                     color: #428bca;
                     text-decoration: underline;
                  }
               }
            }
            div.notes {
               text-align:right;
               font-size: 12px;
               color: #777;
            }

         }

         #linkout {
            min-height: 70px;
            padding: 0 20px;
            .clearfix();
            border: 1px solid #eee;

            div.icon {
               float: left;
               font-size: 70px;
               padding: 20px;
               color: @linkColor;
            }
            .content {
               padding: 15px;
               h3 {
                  font-size: 25px;
                  font-weight: 300;
                  color: #777;
                  margin-bottom: 0;
                  a.product-host {
                     font-weight: bold;
                     color: #777;
                     &:hover {
                        color: @linkColor;
                     }
                  }
               }

               a.full-url {
                  font-wieght: 300;
                  font-size: 14px;
                  color: @gray-light;
                  &:hover {
                     color: @linkColor;
                  }
               }

               div.oa-version {
                  margin-top: 10px;
                  font-weight: 300;
                  a {
                     font-weight: normal;
                     &:hover {
                        text-decoration: underline;
                        color: @linkColor;
                     }
                  }
               }
            }
         }

      }

      // CITATION INFO
      // ************************************************************************
      // ************************************************************************

      #citation {
         margin-top: 35px;
         h4 {
            font-size: 20px;
         }
         .key {
            text-align: right;
            padding-right: 5px;
            color: #555;
            font-size: 12px;
            font-weight: bold;
         }
         div.text-citation {
            .key {
            }
            .value {
               font-family: Monaco, Consolas, monospace;
               font-size: 12px;
               color: #777;
               .host {
                  font-style: italic;
               }
            }

         }
         ul.aliases {
            margin-top: 10px;
            margin-bottom: 0;
            li {
               font-size: 12px;
               span.key {
                  color: #777;
               }
               a {
                  color: #777;
                  &:hover {
                     color: @linkColor;
                  }

               }
            }
         }
      }

   }

}

div.modal-body.free-fulltext-url {

   div.add-link {
      div.buttons-group {
         height: 40px;
         margin: 20px;
         text-align: center;
         .btn-default {
            display: none;
         }
         .btn-primary {
            width: 14em;
         }
      }
   }

   div.archive-this {
      margin-top: 50px;
      a.btn {
         display: block;
         text-align: center;
         width: 14em;
         margin: 20px auto 0;
         span {
            margin-right: 5px;
         }
      }
   }
}

