@import "variables";

div.product-page {

   min-height: 500px;
   margin-top: 20px;

   div.main-content {
      float: left;

      #main-biblio {

         h2.title {
            font-size: 28px;
            line-height: 1.3;
            margin: 0 0 5px;
            span.editable-click {
               color: @accentColor;
            }


            textarea {
               width: @productMainWidth - 70px;
               height: 60px;
               font-weight: normal;
            }

         }

         span.biblio-field.authors {
            font-size: 20px;
            input {
               width: @productMainWidth - 70px;
            }

         }

         div.biblio-line.date-and-source {
            font-size: 16px;
            .editable-click {
               color: #777;;
               &:hover {
                  color: #428bca;
               }
            }
            span.biblio-field.year {
               form {
                  input.editable-input {
                     width: 4em;
                  }
                  // years is short
                  margin-right: 10px;
               }

            }
            span.biblio-field.journal, span.repository {
               font-style: italic;
               input.editable-input {
                  width: @productMainWidth - 120px;
                  margin-left: 10px;
               }
            }
         }
      }


      .biblio { // for general editable stuff in biblio sections

         .editable-click {
            color: #333;
            border: none;
            &:hover {
               color: #428bca;
            }
         }

         form.editable-text {
            margin-top: -5px;
            margin-bottom: -5px;
         }

         .loading {
            color: #999;
            font-size: 16px;
            font-weight: normal;
            margin: 0 5px;
            i {
               margin-right: 3px;
            }
         }

         span.biblio-field-label {
            font-weight: bold;
            margin-right: 5px;
            font-size: 16px;
         }

         .tooltip-inner {
            background: #428bca;
         }
         .tooltip-arrow {
            border-right-color: #428bca;
            border-left-color: #428bca;
         }

         // specific biblio sections ***********
         div.biblio-line.abstract {
            font-size: 16px;
            margin-top: 15px;
            span.value {
            }
            textarea {
               width: @productMainWidth - 70px;
               height: 200px;
            }

            .more-abstract {
               font-size: 14px;
               cursor: pointer;
               color: #555;
            }

         }

         div.biblio-line.keywords {
            font-size: 16px;
            margin-top: 10px;
            input.editable-input {
               width: @productMainWidth - 180px;
            }
            span.value {
               font-weight: bold;
               &.editable-empty {
                  font-weight: normal;
               }

            }
         }

         div.share-buttons {
            .tooltip-inner {
               background:#000;
            }
            .tooltip-arrow {
               border-color: transparent;
               border-top-color: #000;
            }
            margin-top: 5px;
            a {
               img {
                  height: 16px;
               }
               &.btn {
                  font-size: 12px;
                  margin-right: 5px;
                  color: #999;
                  &:hover {color: #333;}
               }
            }
         }
      }






      // TABBED SECTION
      // ************************************************************************
      // ************************************************************************
      #product-tabs-section {
         div.tabs {
            margin: 70px 0 40px;
            .clearfix();
            div.tab {
               float:left;
               font-size: 16px;
               padding: 5px 15px;
               cursor: pointer;
               &.selected {
                  background: #999;
                  .rounded(25px);
                  color: #fff;
               }

            }
         }

         div.tabs-content {
            margin-bottom: 100px;
            .tab-summary {
               div.summary-metrics {
                  margin-top: 20px;
                  li.metric-detail {
                     display: inline-block;
                     margin-right: 20px;
                     img.icon {
                        height: 16px;
                     }
                     span.raw-value {
                        color: #333;
                        font-weight: bold;
                        font-size: 20px;
                        vertical-align: -2px;
                     }
                     span.new-metrics {
                        background: #5cb85c;
                        color: #fff;
                        font-size: 12px;
                        cursor: default;
                        margin-left: 5px;
                        padding: 0 5px;
                        .rounded(3px);
                     }
                  }
               }


               #citation {
                  margin: 35px 0 100px;
                  h4 {
                     font-size: 20px;
                  }
                  .key {
                     text-align: right;
                     padding-right: 5px;
                     color: #555;
                     font-size: 12px;
                     font-weight: bold;
                  }
                  div.text-citation {
                     .key {
                     }
                     .value {
                        font-family: Monaco, Consolas, monospace;
                        font-size: 12px;
                        color: #777;
                        .host {
                           font-style: italic;
                        }
                     }

                  }
                  ul.aliases {
                     margin-top: 10px;
                     margin-bottom: 0;
                     li {
                        font-size: 12px;
                        span.key {
                           color: #777;
                        }
                        a {
                           color: #777;
                           &:hover {
                              color: @linkColor;
                           }

                        }
                     }
                  }
               }
            }

            .tab-fulltext {
               .embed-picture {
                  width: 90%;
               }
               .embed-dryad {
                  min-height: 70px;
                  padding: 0 20px;
                  margin-top: 50px;
                  width: 90%;
                  border: 1px solid #eee;
               }
               .embed-dryad table {
                  padding-top: 20px;
               }
               .embed-github {
                  min-height: 70px;
                  margin-top: 50px;
                  width: 90%;
                  border: 1px solid #eee;
                  h3:first-child {
                     background: #eee;
                     font-family: Consolas, Monaco, monospace;
                     margin: 0;
                     font-size: 20px;
                     padding: 15px 15px 10px;
                  }
                  article {
                     padding: 15px;
                     h1, h2, h3, h4 { font-size: 20px;}
                  }

               }
               .upload-cta {
                  text-align: center;
                  margin: 50px;
                  padding: 10px;
                  border: 1px solid #ddd;
                  background: #eee;
                  h4 {
                     font-size: 26px;
                  }
                  h5 {
                     font-size: 19px;
                     font-weight: 300;
                     padding: 0 50px;
                     strong {
                        font-weight: normal;
                     }
                  }
                  div.file-upload-container {
                     text-align:center;
                     margin: 20px auto 30px;
                     div.file-upload-button {
                        display:inline-block;
                     }
                     input {
                        display:none;
                     }
                     span.or {
                        font-size: 14px;
                        margin: 0 5px 0 10px;
                     }
                     a.embed-from-url {
                        color: #428bca;
                        &:hover {
                           color: #428bca;
                           text-decoration: underline;
                        }
                     }
                  }
                  div.notes {
                     text-align:right;
                     font-size: 12px;
                     color: #777;
                  }
                  div.uploading-now {
                     margin: 50px auto;
                     font-size: 30px;
                     color: #777;
                     font-weight: bold;
                  }

               }

               div#linkout {
                  text-align: center;
                  background: #eee;
                  padding: 50px;
                  margin: 50px;
                  border: 1px solid #ddd;
               }
            }


            .tab-metrics {


               #metrics {
                  ul.metric-details-list {
                     li.metric-detail {
                        font-size:  15px;
                        margin: 0 0 30px 30px;
                        clear:both;
                        .clearfix;
                        .product-page-badge-container {
                           width: 250px;
                           margin-top: 8px;
                           display:inline-block;
                        }
                        span.metric-text {
                           margin-left: 10px;
                           padding-top: 5px;
                           font-size: 20px;
                           a.value-and-name {

                              color:  #333;
                              display: inline-block;
                              min-width: 330px;
                              &:hover {
                                 text-decoration: none;
                                 color:  @linkColor;
                                 i {color:  @linkColor;}
                              }
                              span.raw-value {
                                 margin-left:2px;
                                 display: inline-block;
                                 text-align: right;
                                 font-weight: bold;
                                 font-size:  30px;
                              }
                              span.environment {
                              }
                              span.interaction {
                              }
                              img {
                                 height: 16px;
                                 margin: 0 3px 0 0;
                                 vertical-align: 0;
                              }
                              i {color:  #ddd;}

                           }

                           span.new-metrics {
                              background: #5cb85c;
                              color: #fff;
                              font-size: 15px;
                              cursor: default;
                              margin-left: 5px;
                              padding: 0 5px;
                              .border-radius(3px, 3px, 3px, 3px);
                           }

                           .percentile {
                              font-size: 20px;
                              margin-left: 20px;
                              color: #555;
                              span.value {
                                 font-weight: bold;
                                 font-size: 25px;
                              }
                              span.descr {
                                 display: inline-block;
                                 width: 100px;
                                 line-height: 1;
                                 font-size: 12px;
                                 font-weight: normal;
                                 span.unit {
                                 }
                                 span.where {
                                 }
                                 i {
                                    opacity: .5;
                                    cursor: pointer;
                                    &:hover {opacity: .8;}
                                 }
                              }
                           }
                        }
                     }
                  }
               }
            }

            .tab-map {
               p {
                  text-align: center;

               }
            }

         }
      }
   }

}

div.modal-body.free-fulltext-url {

   div.add-link {
      div.buttons-group {
         height: 40px;
         margin: 20px;
         text-align: center;
         .btn-default {
            display: none;
         }
         .btn-primary {
            width: 14em;
         }
      }
   }

   div.archive-this {
      margin-top: 50px;
      a.btn {
         display: block;
         text-align: center;
         width: 14em;
         margin: 20px auto 0;
         span {
            margin-right: 5px;
         }
      }
   }
}

div.modal-body.change-product-genre {
   text-align: center;
   label{
      margin-right: 10px;
   }

}