@import 'variables';


.product {
   float:left;
   clear:both;
   padding:  25px 0 0;
   position:relative; // for positioning the item-controls
   width:100%;


   div.product-margin {
      float:left;
      text-align:right;
      line-height: 1;
      font-size:14px;
      margin: 1px 5px 0 0;
      a {
         color: #aaa;
         padding: 3px 5px;
      }
      span.feature-product-controls {
         a.feature-product {
            color: #777;
            &:hover {
               color: #000;
            }
         }
         a.unfeature-product {
            i.icon-star {display:inline; color: @linkColor;}
         }
      }
      span.select-product-controls{
         i {
            color: #999;
            width: 13px;
            display:inline-block;
            vertical-align: -1px;
            &.icon-check {
               color: #666;
            }
         }
      }
      i.genre-icon {
         display:inline-block;
         font-size: 18px;
         width: 20px;
         text-align: center;
      }
   }

   .product-container {
      // see below.
   }

   div.product-tweets {
      clear:both;
      margin: 0 0 40px 50px;
      padding-top: 15px;
      .clearfix();

      li.tweet {
         font-size: 14px;
         clear:both;
         .clearfix();
         margin-bottom: 20px;
         div.tweeter {
            img {
               height: 48px;
               .rounded(24px);
               float:left;
               margin-right: 10px;
               border: 1px solid #555;
            }
            div.tweeter-data {
               width: 160px;
               float: left;
               .tweeter-name {
                  display: inline;
               }
               .tweeter-followers {
                  display: block;
               }
            }

         }
         div.tweet-content {
            width: 460px;
            float: left;
            margin-right: 20px;
            a.entity {
               color: #333;
               &:hover {
                  color: @linkColor;
                  text-decoration: underline;
               }
               &.hashtag {
                  font-weight: bold;
               }

               &.at-name {
                  font-weight: bold;
               }

               &.linkout {
//                  border-bottom: 1px dotted #333;
                  &:hover {
//                     border-bottom-style: solid;
                  }
               }
            }
         }
         div.after-tweet {
            float:left;
            width: 100px;
            color: #777;
            a.tweet-date {
               display:inline-block;
               color: #777;
               &:hover {
                  color: @linkColor;
                  text-decoration: underline;
               }
            }
            div.tweet-controls {
               a {
                  color: #ddd;
                  padding: 2px 3px;
                  &:hover {
                     color: #777;
                  }
               }
            }
         }
      }
   }

   div.link-to-more-tweets {
      margin: 40px 0 20px 10px;
      a {

      }
   }

}

// this is actually inside .product, it's here because otherwise was unwieldy.
.product-container {

   .biblio{
      float:left;
      width: @contentWidth - @awardsWidth - 150px;
      h5 {
         margin: 0 0 5px;
         a {
            &.title-text {
               font-size:16px;
               font-weight: bold;
               color: #333;
               margin: 0 0 -3px 0;
               padding: 0 5px 0 0;
               &:hover {
                  color:  #000;
                  text-decoration: none;
               }
            }
         }
      }
      div.optional-biblio {
         clear:both;
         font-size:13px;
         color: #888;
         line-height: 1.3;
         span.repository {font-style:italic;}
         span.journal {font-style:italic;}
      }
      div.under-biblio {
         a.has-fulltext {
            color:  #555;
            white-space: nowrap;
            line-height: 1;
            .rounded(3px);
            font-size: 12px;
            i {
            }
            &:hover {
               text-decoration: underline;
            }
         }
      }

      div.mendeley-reader-breakdowns {
         // this is for us getting more data, not for users.
         display:none;

         font-size: 15px;
         line-height: 1.9;
         .metric-name {
            padding-right: 15px;
            font-weight: 300;
            display:inline-block;
            width: 150px;
            text-align: right;
         }
         .reader-type-name-and-value {
            margin-right: 10px;
            .reader-type-name{
               color: #555;
            }
         }
      }
   }




   .awards {

      // HACK ALERT: see the ti-badge.less file for some important parts
      // of this section; had to move them out of here and into their own
      // file because reasons.


      width: @awardsWidth;
      margin-left: 20px;
      float:left;
      ul.awards-list {
         float:left;
         .award {
            margin:0 4px 4px 0;
            line-height: 1.7;
            float:left;
         }
      }
   }



   div.popover {
      font-family: helvetica, arial, sans-serif;
      min-width: 200px;
      h3 {
         font-size: 18px;
         font-weight: bold;
         &.new-metrics-heading {
            font-weight: bold;
            margin-bottom: 10px;
            font-size: 14px;
            border-bottom: 1px solid #ddd;
         }
         &:first-letter {
            text-transform: uppercase;
         }
      }
      .popover-content {font-size: 14px;}

      ul.new-metrics {
         margin-bottom: 10px;
         margin-top: 10px;
         border-top: 1px solid #ddd;
         li {
            font-size: 12px;
            margin-top: 10px;
            clear:both;
            .clearfix;
            img.icon {
               width: 16px;
               margin-right: 10px;
               .border-radius(3px, 3px, 3px, 3px);
               float:left;
            }
            span.text {
               span.count {
                  font-weight: bold;
               }
               float:left;
               width: 80%;
               line-height: 1.1;


            }

         }
      }

   }









}



