div.profile-subpage {

   .profile-subpage-header {
      background: #555;
      color: #fff;
      .wrapper {
         position:relative;
         text-align: center;
         a.back-to-profile {
            position:absolute;
            bottom: 47px;
            left:0;
            color: @gray-light;
            font-weight: 300;
         }
         h1 {
            margin-top: 0;
            padding-top: 60px;
            color: #fff;
         }
         h2 {
            margin: 0;
            font-size: 20px;
            font-weight: 300;
            padding-bottom: 50px;
            color: #fff;
         }
      }
   }

   // the linked accounts subpage
   &.profile-linked-accounts {
      position: fixed;
      top:0;
      bottom:0;
      left:0;
      width: 100%;
      background: #ddd;
   }


   // the import single products page
   &.profile-single-products {
      div.profile-single-products-body {
         min-height: 600px;
         padding-top: 100px;
         div.wrapper{
            form {
               width: 50%;
               float:left;
               textarea {
                  height: 300px;
               }
            }
            .id-sources {
               ul {
                  li {
                     float:left;
                     img {
                        height: 50px;
                        margin: 5px;
                     }
                  }
               }
            }
         }
      }

   }



}

