div.tooltip.gravatar {
//      margin-top: -5px;
//      width:  110px;
}

div.loading {
   div.working {
      color: #ddd;
      font-size: 20px;
      font-family: Lato;
      font-weight: bolder;
      text-align: center;
      span.text { margin-left: 10px;}
   }
}


div.profile-header {
   margin-top: 100px;
   margin-bottom: 50px;
   .clearfix();
   div.wrapper {
      div.loading {
         div.working { padding-top: 50px; }
      }
      div.my-picture {
         float:left;
         background: #eee;
         height: 110px;
         width: 110px;
         background: #ddd;
      }
      div.my-vitals {
         width:  600px;
         margin-left: 40px;
         float:left;
         h2.editable-name {
            font-family: Lato, Helvetica, Arial, sans-serif;
            font-weight: bolder;
            font-size:  45px;
            color:  #555;
            margin: 0;
            padding-top: 30px;
            float:left;
         }

      }
   }
}


div.product-controls {
   margin-top:0;
   font-size:  16px;
   border-bottom:  5px solid #eee;
   .clearfix();
   div.view-controls {
      float:right;
      margin: 0 30px 0 0;
      ul.dropdown-menu {
         border: none;
         .drop-shadow(0, 0, 0, 0);
         .border-radius(0, 3px, 3px, 0);
         padding: 0;
         background: #eee;
         top: 22px;
         min-width:  120px;
         a {
            margin: 0;
            width: 100%;
            &:hover {color:  #fff;}
         }
         i {
            font-style: normal;
            margin-right: 5px;
         }
         i.json {
            font-weight: 900;
            font-size: 14px;
         }
      }
   }
   div.edit-controls {
      float:left;
      div.num-items {
         float:left;
         span.val-plus-text {font-size: 20px; margin: 0; font-weight: bold }
         a {
            font-size: 14px;
            margin-left: 5px;
            color: @linkColor;
            &:hover {text-decoration: underline;}
         }
      }
   }
   a {
      color: #777;
      margin-left: 15px;
      margin-top: 6px;
      display:inline-block;
      &:hover {
         color: @linkColor;
         text-decoration: none;
      }
      i {
         margin-right:5px;
      }
   }
}


div.products {
   margin-top: 0;
   div.loading {

   }
   ul.products-list {
      .clearfix();
      margin-bottom: 70px;
   }
   div.products-without-metrics {
      div.well {
         margin: 0 20px 70px;
         text-align: center;
         font-size: 16px;
         color:  #777;
         a {
            font-size: 80%;
            margin-left: 8px;
         }
      }
   }
}




li.product {
   float:left;
   clear:both;
   padding:  25px 0 0;
   position:relative; // for positioning the item-controls

   &:hover {
      div.product-controls{
         display: block;
      }
   }
   div.product-controls {
      position: absolute;
      display:none;
      left: -100px;
      width: 100px;
      height: 40px;
      top: 12px;
      text-align:right;
      line-height: 1;
      font-size:14px;
   }


   h2.product-heading {
      margin: 50px 0 -10px -39px;
      font-weight: 900;
      text-transform: capitalize;
      font-size: 30px;
      color: @linkColor;
      color:  #555;
      i {
         display:none;
         font-size: 20px;
         width:  30px;
         margin-right: 4px;
         vertical-align: 2px;
         text-align: right;
      }
      &.article{ i.article {display:inline-block;}}
      &.software{ i.software {display:inline-block;}}
      &.dataset{ i.dataset {display:inline-block;}}
   }

   .biblio{
      float:left;
      width: 700px;
      h5 {
         margin-top: 0;
         a {
            &.title-text {
               font-size:16px;
               color: #333;
               margin: 0 0 -3px 0;
               float: left;
               padding: 0 5px 10px 0;
               &:hover {
                  color:  @linkColor;
                  text-decoration: none;
               }
            }
            &.linkout {
               color:  #ddd;
               margin-left:5px;
               &:hover {
                  color:  @linkColor;
                  text-decoration: none;
               }
            }
         }
      }
      div.optional-biblio {
         clear:both;
         font-size:13px;
         color: #888;
         line-height: 1.3;
         span.repository {font-style:italic;}
      }
   }



   .badges {
      width: 360px;
      margin-left: 20px;
      float:left;
      ul.ti-badges {
         float:left;
         li.award {
            margin:0 7px 7px 0;
            float:left;
            span.metrics {
               display:block;
               float:left;
               img {
                  height: 16px;
                  margin-left:5px;
                  vertical-align: top;
                  .grayscale(.75);
               }
               border: 1px solid #333;
               border-left: none;
               height: 24px;
               padding:3px 10px 0 0;
               .border-radius(13px, 13px, 0, 0);

            }

            span.ti-badge {
               height: 24px;
               font-size: 12px;
               text-align: center;
               padding: 3px 9px;
               float:left;
               display:block;
               font-weight:normal;
               .border-radius(0, 0, 3px, 3px);
               cursor: pointer;
               font-family: helvetica, arial, sans-serif;
               span.audience {display:none;}
               background:  black;
               border: 1px solid black;
               &.scholars {background: @scholarsColor; border-color: @scholarsColor;}
               &.public {background: @publicColor; border-color: @publicColor;}
               &.big-badge {
                  color:  #fff;
               }
               &.lil-badge {
                  &.scholars {color: @scholarsColor;}
                  &.public {color: @publicColor;}
                  background: #fff;
               }
            }
            div.popover {
               font-family: helvetica, arial, sans-serif;
               max-width: 230px;
               h3 {font-size: 16px; font-family: helvetica, arial, sans-serif;}
               .popover-content {font-size: 14px;}
            }

         }
      }
   }

}
