div.loading {
   div.working {
      color: #999999;
      font-size: 20px;
      font-family: Lato;
      font-weight: bolder;
      text-align: center;
      span.text { margin-left: 10px;}
      margin-top: 50px;
   }
}




div.profile-subpage {
   div.profile-subpage-header {
      height:  70px;
      padding-top: 24px;
      background:  #555;
      background:  @linkColor;
      color:  #fff;
      div.wrapper {
         position: relatfive;
         a {
            top:  5px;
            color:  #fff;
            font-size: 15px;
            i {margin-right: 5px;}
            &:hover {
               text-decoration: none;
            }
            &.back-to-profile {
               position: absolute;
               left:  0px;
               float:left;
               font-weight: lighter;
               i { font-size: 80%;}
            }
         }
         h2 {
            text-align: center;
            font-size: 24px;
            padding:  0;
            width: 70%;
            margin: 0 auto;
            &.instr {
               color: #fff;
            }
         }
      }
   }
   &.profile-add-products {

      div.importers {
         top:  130px; // override the top margin used in the /signup flow
         margin-bottom: 0;
         padding-bottom: 0;
         background: #fff;
      }
   }

}

div.profile-header {
   margin-top: 50px;
   margin-bottom: 35px;
   height: 110px;
   .clearfix();
   div.wrapper {
      div.my-picture {
         float:left;
         background: #eee;
         height: 110px;
         width: 110px;
         background: #ddd;
      }
      div.my-vitals {
         width:  600px;
         margin-left: 40px;
         float:left;
         h2.editable-name {
            font-family: Lato, Helvetica, Arial, sans-serif;
            font-weight: bolder;
            font-size:  45px;
            color:  #555;
            margin: 0;
            padding-top: 0;
            float:left;
         }
         div.external-usernames {
            float:left;
            clear:left;
            li {
               float:left;
               margin: 0 10px 0 2px;
               a {
                  font-size: 14px;
                  color:  #555;
                  img {
                     height: 16px;
                     margin-top: -3px;
                  }

               }

            }
         }

      }
   }
}


div.product-controls {
   font-size:  16px;
   border-bottom:  5px solid #eee;
   color: #777;

   .clearfix();
   a {
      &:hover {color: #333;}
   }
   div.view-controls {
      float:right;
      margin: 0 30px 0 0;
      span.dropdown {
         ul.dropdown-menu {
            border: none;
            .drop-shadow(0, 0, 0, 0);
            .border-radius(0, 3px, 3px, 0);
            padding: 0;
            background: #eee;
            top: 22px;
            min-width:  120px;
            a {
               margin: 0;
               width: 100%;
               &:hover {
                  color: #fff;
               }
            }
            i {
               font-style: normal;
               margin-right: 5px;
            }
            i.json {
               font-weight: 900;
               font-size: 14px;
            }
         }

      }
   }
   div.edit-controls {
      float:left;
      div.num-items {
         float:left;
         span.val-plus-text {
            font-weight: 300;
            margin: 0;
            span.value {
               font-weight: bold;
               margin-right: 3px;
            }
         }
         a {
            font-size: 14px;
            margin-left: 5px;
            color: @linkColor;
            &:hover {text-decoration: underline;}
         }
      }
   }
   a {
      margin-left: 15px;
      color: #777;
      display:inline-block;
      i {
         margin-right:5px;
      }
   }
}


div.products {
   margin-top: 0;
   .wrapper {

      ul.products-list {
         .clearfix();
         margin-bottom: 70px;
      }
      div.products-without-metrics {
         div.well {
            margin: 0 20px 70px;
            text-align: center;
            font-size: 16px;
            color:  #777;
            a {
               font-size: 80%;
               margin-left: 8px;
            }
         }
      }

   }
}




