@metricsSectionWidth: 1030px;
@zoomCellWidth: (@metricsSectionWidth / 6);


#page-header img.loading {
   width: 32px;
   margin: -6px 0 0 -35px;
   height:auto;
   float:left;
   padding-top: 7px;
}
#report {
   min-height: 500px;
   min-width: 1212px; // hack so "click to create" shows up on narrow windows
   padding-bottom: 20px;
}
#report-meta {
   margin: -69px 0 0 0;
   float:right;
   div#num-items {
      color:#777;
      padding: 41px 7px 0 0;
      display: block;
      float: right;
      font-size: 14px;
      span.value {font-weight: bold; font-size: 16px;}
      a {
         color: #777;
         &:hover {color: @linkColor;}
      }
   }

   div#report-button {
      float:right;
      margin-top: 37px;
      div.update {
         float:right;
         margin:0 5px 0 0;
         .dropdown-menu {
            left: inherit;
            right:  0;
            min-width: inherit;
            width: 80px;
         }

      }
      button  {
         display: block;
         float:left;
      }
   }

}






p.something-missing {
    clear: left;
    padding: 50px 20px 20px 0;
    font-size: 75%;
    color: #999;
    background:#fff;
    text-align: center;
    margin:0;
   a {
      color:  #999;
      border-bottom: 1px dotted #999;
      &:hover {
         color:  @linkColor;
         border-bottom: 1px solid @linkColor;
         text-decoration: none;
      }
   }
}

.tweet-this iframe {
    width:97px;
}

.twitter-feed {
    clear:both;
    padding-top: 30px;
}
input.report {
    border-top: none;
    border-left: none;
    border-bottom: 1px solid #EEE;
    border-right: 1px solid #EEE;
    background-color: #FF4E00;
    color: #FFF;
    margin-top:3px;
    height:28px;
}











// li.item is in #metrics, but big enough it gets its own block.
li.product {
   float:left;
   clear:both;
   padding:  20px 0;
   position:relative; // for positioning the item-controls
   &.zoomed {
      div.biblio h5 span.title {color: @linkColor;}
   }

   &.no-data {
      div.zoom {
         border-top:none;
         padding-bottom: 0;
         margin-bottom: 0;
         span {
            display:none;
         }
         a.item-help {
            display:none;
         }
      }
   }

   &:hover {
      div.item-controls{
         a.item-delete-button { display: block;}
      }
   }
   div.item-controls {
      position: absolute;
      left: -100px;
      width: 100px;
      height: 40px;
      top: 7px;
      text-align:right;
      line-height: 1;
      font-size:14px;
      &:hover{
         a.item-delete-button {
            display:block;
            text-decoration: none;
            color: @linkColor;
            span.help-text {
               display: inline;
            }
         }
      }
      a.item-delete-button {
         display: none;
         height: 40px;
         padding: 0 7px 10px 0;
         color: #aaa;
         span.x {font-size: 22px;}
         span.help-text { display: none;}
      }
      a.item-expand-button{ // just for flashing on collection load
         display: none;
         width: 100px;
         padding: 5px 15px 10px 0;
         color: @linkColor;
         &:hover{text-decoration: none;}
      }

   }



   div.biblio{
      float:left;
      width: 728px;
      h5 {
         font-size:16px;
         margin: 0 0 -3px 0;
         float: left;
         padding: 10px 5px 10px 0;
         a {
            i {
               color:  #ddd;
               margin-right: 5px;
            }
            span.help-text{
               display:none;
               margin-top:-2px;
               color: @linkColor;
               font-size:12px;
               font-weight: normal;
               text-decoration: none;
            }
         }
         &:hover {
            a {
               span.help-text {display: inline; }
               i { color:  @linkColor}
            }
         }
      }

      span.year, span.authors, span.repo, span.descr {
         font-size:12px;
         color: #888;
         line-height: 1.3;
      }
      span.repo {font-style:italic;}
   }

   div.badges {
      width: 280px;
      margin-left: 20px;
      float:left;
      ul.ti-badges {
         float:left;
         li {
            float:left;
            margin:0 3px 5px 0;
            span.ti-badge {
               font-size: 12px;
               font-weight:normal;
               padding: 3px 6px;
               span.audience {display:none;}
               &.scholars {background: @scholarsColor; border:1px solid @scholarsColor;}
               &.public {background: @publicColor; border:1px solid @publicColor;}
               &.big-badge {
               }
               &.lil-badge {
                  &.scholars {color: @scholarsColor;}
                  &.public {color: @publicColor;}
                  background: #fff;
                  text-shadow: none;
               }
               &:hover {border:1px solid #000;}
            }
         }
      }
   }

   div.zoom {
      display:none;
      float:left;
      clear:left;
      width:725px;
      position: relative;
      margin: 5px 0 35px;
      padding-bottom: 15px;
      border-top: 1px solid #aaa;


      span.value{ font-weight: bold;}


      a.item-help {
         left:787px;
         top:5px;
         position: absolute;
         width:300px;
         font-size: 14px;
         color:#555;
      }

      div.audience {
         &.scholars {
            margin-right: 40px;
            span.bar {background: @scholarsColor;}
            h6 {color: @scholarsColor;}
         }
         &.public {
            span.bar {background: @publicColor;}
            h6 {color: @publicColor;}
         }
         width: 330px;
         float:left;
         margin-left:10px;


         h5 {
            margin-bottom: 0;
            margin-left:162px;
            color: #555;
            &:after {content: " audience"}
//            width: 350px;
//            margin-left: 160px;
         }

         ul.engagement-types {
            li.engagement-type {
               margin-bottom: 25px;
               float:left;
               h6  {
                  font-weight: normal;
                  font-size: 13px;
                  span.engagement-type { font-weight: bold;}
               }
               ul.metrics {
                  li {
                     float:left;
                     width: 100%;
                     margin: 0 0 5px 0;

                     div.line {
                        width: 150px;
                        height: 16px;
                        margin-top:-6px;
                        border-bottom: 1px solid #bbb;
                        float:left;

                        div.percentile-fail {
                           color: #999;
                           font-size:11px;
                           margin-top: 6px;
                           background: #fff;
                           span {
                              text-align: left;
                              padding:0 4px;
                           }
                        }

                        div.metric-perc-range {
                           position:relative;
                           cursor:default;
                           &.estimate {display:none;}

                           span.bar{
                              height:5px;
                              margin-top:12px;
                              display: block;
                           }

                           span.endpoint {
                              font-size: 10px;
                              display:block;
                              position:absolute;
                              top:2px;
                              color: #999;
                              &.start {left:0;}
                              &.start {left:0;}
                              &.end {right:0;}
                           }
                        }
                     }

                     div.meta {
                        width: 100px;
                        margin-right: 10px;
                        float:left;
                        display:block;
                        text-align: right;
                        font-size:11px;
                        color: #555;

                        .value-and-name  {
                           width: 130px;
                           display:inline-block;
                           width: 75px;
                           line-height: 1.3;
                           margin-right: 5px;
                           color: #999;
                        }
                        a.value-and-name {
                           &:hover {color: @linkColor;}
                        }
                        img {
                           float:right;
                        }
                     }
                  }
               }
            }
         }
      }
   }
}

div#context {
   p {
      font-size:15px;
   }
   ul {
      padding-left:20px;
      li {list-style-type: circle;}
   }
   .modal-body {
      padding:30px
   }
   .modal-header {
      padding: 12px 30px;
   }
}