div.settings {
   div.settings-header {
      margin: 100px 0 70px 20px;
      padding: 0 0 0 30px;
      border-bottom: 5px solid #fafafa;
      width: 600px;
      h1 {
         padding-top:7px;
      }
      p {
         font-size: 18px;
         color: #999;
      }
   }

   div.settings-nav {
      float:left;
      width: 200px;
      ul {
         li {
            a {
               text-transform: capitalize;
               padding: 10px;
               font-size: 18px;
               display: block;
               margin-top:5px;
               color: @accentColor;
               .border-radius(3px, 3px, 3px, 3px);
               &.selected {
                  background: @accentColor;
                  color:  #fff;
               }
               &:hover {
                  background: #f5f5f5;
                  text-decoration: none;
                  &.selected {background: @accentColor;}
               }
               i {
                  float:right;
                  margin-top: 4px;
               }

            }
         }
      }
   }

   div.settings-input {
      margin-left: 250px;
      form{
         padding: 0;
         margin:0;
         &.custom-url {
            padding-left: 50px;
         }
         .form-group {
            label {
               color: #555;
            }
            .working {
               i {margin-right: 5px;}
            }
            &.disabled {
               transition: 1s linear all;
               label {
                  color: #aaa;
               }
            }

            &.photo {
               margin-bottom: 100px;
               div.my-picture {
                  position: relative;
                  p {
                     position: absolute;
                     bottom: 0;
                     margin-bottom: 0;
                     left: 120px;
                     color: #777;
                  }
               }
            }
            &.current-password {
               div.controls.show-password {
                  div.checkmark-and-text {
                     margin: 19px 0 0 -18px;
                     color: #555;
                     cursor: pointer;
                     span.text {
                        font-size: 16px;
                        margin-left: 5px;
                     }
                     i {
                        font-size: 24px;
                        vertical-align: -1px;
                     }
                  }
               }
            }
            &.custom-url {

            }
            &.submit {
               margin-top: 40px;
            }
         }
      }
   }


}