div.signup-header {
   background: #fff;
   border-bottom: 4px solid @linkColor;
   position:  absolute;
   height: 80px;
   top: 0;
   width:  100%;
   background: @linkColor;
   h1 {
      position: absolute;
      left: 30px;
      top: 10px;
      margin: 0;

      span.text {
         color:  #fff;
         font-size: 19px;
         margin-left: 4px;
         text-transform: uppercase;
         vertical-align: 4px;
      }
      a.brand {
         float:left;
         img {
            width:  200px;
         }
      }

   }

   ol.signup-steps {
      padding: 0;
      margin: 23px auto;
      padding-left: 20px;
      width: 425px;

      li {
         display:inline-block;
         list-style-type: none;
         padding: 5px 20px;
         &.creating {display: none;}
         &.current {
            font-size: 20px;
            font-weight: bold;
            text-transform: uppercase;
            color:  #fff;
         }
         &.completed {
//            text-decoration: line-through;
//            opacity:.5;
            opacity: .4;
            color: #fff;
         }
      }
   }

}

form.signup {
   background: transparent;
   width:  700px;
   margin: 200px auto 0;
   div.intro {
      margin-bottom: 50px;
      color:  #999;
      line-height: 1.8;
      font-size: 22px;
   }

   div.form-group {
      input.form-control {
         font-size: 25px;
         line-height: 1;
         height: 55px;
         padding-top: 15px;
         width: 400px;
         margin: 0 auto;
      }
      a.btn {
         margin-top: 20px;
         width: 45%;
         &.next {
            float:right;
         }
      }
      &.custom-url {
         margin-top: 75px;
         .input-group {
            margin-right: 15px;
            width:  300px;
            margin: 0 auto;
            input.form-control{
               width: 300px;
            }
            .input-group-addon {
               padding-top: 15px;
            }
            input.form-control {
               padding-top: 10px;
            }
         }
         .help-info {
            margin-top: 20px;
            i {margin-right: 10px;}
            text-align: center;
            .help-block {
               font-size: 18px;
               clear:both;
               margin: 0 auto;
               float: none;
            }
         }
      }

   }
   button.next-button {
      @next-button-size: 100px;
      z-index: 500;
      position: fixed;
      height: @next-button-size;
      width: @next-button-size + 5px;
      .border-radius(0, 0, @next-button-size / 2, @next-button-size / 2);
      border: none;
      background: #eee;
      text-transform: uppercase;
      font-size: @next-button-size / 6;
      font-weight: bold;
      top: 50%;
      margin-top: @next-button-size / -2;
      right:  0;
      color: #fff;
      padding-top: 7px;
      padding-left: @next-button-size / 4;
      cursor: pointer;
      &.enabled {
         &:hover {
            width:  @next-button-size + 10px;
            text-decoration: none;
         }
         background:  @linkColor;
      }
   }
}