// this file is a hack, to contain all the ti-badge stuff. this stuff should be
//  in product.less, but for some reason it causes jason's IDE to eat all the
// cpu. so isolating it in this file for now.

.ti-badge {

   @scholarsColorDark:  darken(@scholarsColor, 10%);
   @publicColorDark:  darken(@publicColor, 10%);


   font-size: 12px;
   float:left;
   display:block;
   font-weight:normal;
   margin: 0 7px 7px 0;


   span.badge-part {
      &.scholars {border-color: @scholarsColor;}
      &.public {border-color: @publicColor;}
      padding: 3px 9px;
      border-width: 1px;
      border-style: solid;
      &.is-highly {
         color:  #fff;
         &.scholars {background: @scholarsColor;}
         &.public {background: @publicColor;}
      }
      &.is-not-highly {
         &.scholars {color: @scholarsColor;}
         &.public {color: @publicColor;}
         background: #fff;
      }

      &.text {
         .border-radius(0, 0, 3px, 3px);
         border-right-width: 0;
         &.new-metrics-false {
            .border-radius(3px, 3px, 3px, 3px);
            border-right-width: 1px;
         }
      }
      &.new-this-week {
         .border-radius(3px, 3px, 0, 0);
         .plus-sign {font-weight: normal;}
         &.new-metrics-false {display:none;}
         &.scholars {
            color: #fff;
            background: @scholarsColorDark;
            border-color: @scholarsColorDark;
         }
         &.public {
            color: #fff;
            background: @publicColorDark;
            border-color: @publicColorDark;
         }
      }
   }


   font-family: helvetica, arial, sans-serif;
   span.audience {display:none;}
   &:hover{text-decoration: none;}

}