body.user-profile {

}



body.user-preferences {
   div#page-header {
      h2.page-title {
         span.editable {
            font-weight: normal;
         }
      }
   }
   div.main {
      div.wrapper {
         div.pref-category {
            h3 {
               font-size: 18px;
               color: #555;
            }
            &.profile-url {
               span.url {
                  span {
                     margin: 0;
                     padding: 0;
                     &.base {
                        color: #999;
                        margin: 7px 0;
                     }
                     &.slug {
                        margin-left:-2px;
                     }
                  }
               }
            }
         }
      }
   }
}