@import "bootstrap/variables.less";
@linkColor: #FF4E00;

body.can-not-edit .editable-name {
   span.instr {display:none;}
}

body.can-edit {
   .editable-name {
      span.instr {
         background: url(../img/edit.png) no-repeat;
         padding-left: 10px;
         background-position: left 12px;
         cursor: default;
         span {
            display:none;
            font-family: Helvetica, Arial, sans-serif;
            color: #555;
            font-size: 12px;
            font-weight: normal;
            line-height: 1;
         }
      }
      span.editable {
         cursor: pointer;
         &:hover {color: @linkColor;}
      }
      &:hover {
         span.instr span {display:inline;}
      }
   }
}

.editable-click { // overwrite the x-editable plugin's defaults
   border: none;
}



body.user-profile {

}



body.user-preferences {
   div#page-header {
      h2.page-title {
         span.editable {
            font-weight: normal;
         }
      }
   }
   div.main {
      div.wrapper {
         div.pref-category {
            margin-top:50px;
            h3 {
               font-size: 18px;
               color: #555;
            }
            &.name {
               div.editable-name{
                  margin-left: 25px;
                  font-size:  20px;
                  span.instr {
                     background-position: left 6px;
                  }
               }
            }
            &.profile-url {
               span.url {
                  margin-left: 25px;
                  font-size: 20px;
                  span.url-component {
                     margin: 0;
                     padding: 0;
                     &.base {
                        color: #999;
                        margin: 7px 0 12px 0;
                        display:inline-block;
                     }
                     &.slug { // this mostly doesn't show, keeping it just in case...
                        margin-left:-2px;
                        cursor: pointer;
                        padding-right:16px;
                        background: url(../img/edit.png) no-repeat;
                        background-position: right 5px;
                        &:hover {
                           color: @linkColor;
                           background-position: right -63px;
                        }
                     }
                  }
               }
            }
            &.change-pw {
               margin-top:80px;
               form.form-horizontal {
                  div.control-group {
                     &.confirm-new-pw {
                        &.error {
                           span.help-inline { display: inline;}
                        }
                        span.pw-changed {
                           color: @successText;
                           display:none;
                           font-weight: bold;
                           margin-top: 5px;
                           font-size:  16px;
                        }
                     }
                     label {
                        color:  #777;
                        width:  80px;
                     }
                     span.working img {
                        height: 28px;
                        margin: 2px 0 0 7px;
                     }
                     div.controls{
                        margin-left: 100px;
                        span.help-inline {
                           font-size: 16px;
                           &.failure {
                              color: @errorText;
                           }
                        }
                     }
                  }
               }
            }
            form.editableform {
               div.control-group {
                  &.error {
                     div {
                        float:left;
                        &.editable-error-block {
                           margin: 0 0 0 10px;
                           font-size: 15px;
                           line-height: 1;
                        }
                     }
                  }
                  button.editable-cancel { display:none;}
               }
            }
         }
      }
   }
}