<ul class="ti-badges">




   <li ng-repeat="award in awards | orderBy:['!isHighly', 'displayOrder']" class="award">

      <a href="{{ getProductPageUrl() }}"
            class="ti-badge lil-badge {{award.audience}} {{award.engagementType}}"
            ng-show="!award.isHighly"
            data-original-title="{{award.engagementType}} by <span class='{{award.displayAudience}}'>{{award.displayAudience}}</span>"
            data-content="This item has {{award.topMetric.actualCount}} {{award.topMetric.environment}}
            {{award.topMetric.displayInteraction}}, suggesting it's been
            {{award.engagementType}} by {{award.displayAudience}}.
            Click to learn more.">
         <span class="engagement-type">{{award.engagementType}}</span>
         <span class="audience">by {{award.audience}}</span>
       </a>

      <a href="{{ getProductPageUrl() }}"
            class="ti-badge big-badge {{award.audience}} {{award.engagementType}}"
            ng-show="award.isHighly"
            data-original-title="Highly {{award.engagementType}} by <span class='{{award.displayAudience}}'>{{award.displayAudience}}</span>"
            data-content="This item has {{award.topMetric.actualCount}} {{award.topMetric.environment}}
            {{award.topMetric.displayInteraction}}. That's better than
            {{award.topMetric.percentiles.CI95_lower}}% of items
            {{award.topMetric.referenceSetStorageVerb}} {{award.topMetric.refSet}} in {{award.topMetric.referenceSetYear}},
            suggesting it's highly {{award.engagementType}} by {{award.displayAudience }}.
            Click to learn more.">

         <span class="modifier">highly</span>
         <span class="engagement-type">{{award.engagementType}}</span>
         <span class="audience">by {{award.audience}}</span>
      </a>

      <span class="metrics">
         <img ng-repeat="metric in award.metrics" ng-src="{{ metric.static_meta.icon }}">
      </span>

   </li>
</ul>