<h5 class="title" xmlns="http://www.w3.org/1999/html">
   <a class="title-text" href="{{ getProductPageUrl() }}">{{biblio.title}}</a>
   <a ng-if="biblio.url" class="linkout url title" target="_blank" href="{{ biblio.url }}">
      <i class="icon-external-link-sign"></i>
   </a>
</h5>
<div class="optional-biblio">
   <span ng-if="biblio.year" class="year">({{ biblio.year }})</span>
   <span ng-if="biblio.authors" class="authors">{{ biblio.authors }}.</span>
   <span ng-if="biblio.repository" class="repository">{{ biblio.repository }}.</span>
   <span ng-if="biblio.journal" class="repository">{{ biblio.journal }}</span>
   <span ng-if="biblio.description" class="repository">{{ biblio.description }}</span>




</div>
