<div class="main-header header" ng-class="{landing: page.isLandingPage(), profile: page.isProfile()}">
   <div class="wrapper">
      <a class="brand" href="/">
         <img ng-if="!page.isProfile()"  src="/static/img/impactstory-logo-no-type.png" alt="ImpactStory" />
         <img ng-if="page.isProfile()" src="/static/img/impactstory-logo-sideways.png" alt="ImpactStory" />
      </a>
      <login-toolbar></login-toolbar>
   </div>
</div>
<div ng-show="page.showNotificationsIn('header')" ng-include="'notifications.tpl.html'" class="container-fluid"></div>
