body.create-collection {
}
body.create-collection #header {
}
div#input {
/*    background: url(./img/lightpaperfibers.png);*/
    background: #fff;
    color: #333;
    font-weight: bold;
}
div#input textarea, div#input input{
    width: 450px;
    border: 2px solid #aaa;
    color: #333;
    font-size: 20px;
    float:left;
    margin-right: 10px;
    background-color: #fff;
}
div#input textarea#paste_input {
    height: 100px;
    font-size: 18px;
}
div#input textarea#crossref_input {
    height: 26px;
    font-size: 18px;
}
li#paste-crossref {
    padding-top: 5px;    
}
div#input textarea.no-input-yet, div#input input.no-input-yet {
    color: #aaa;
}

div#input textarea:focus, div#input input:focus{
/*    border-color: #ff4e00;*/
}
#input ul {
    padding-left:0;
}
#input ul li {
    list-style-type: none;
    clear:both;
}


div#input legend {
    width: 300px;
    color: #555;
    float:left;
    clear:left;
    font-size: 20px;
    text-align: right;
    padding: .2em 20px 0 0;
    line-height: 1.3;
}
div#input legend a {
    color: #ff4e00;
    text-decoration: none;
    border-bottom: 2px dotted #ff4e00;
}
div#input legend a:hover {
    border-bottom:2px solid #ff4e00;
}
div#input span.paren {
    display:block;
}

legend span.limit {
    display:block;
    color: #888;    
    font-size: 15px;
}

ul#pullers {
    float: left;
    padding-top: 30px;
    width: 100%;
}
img.loading {
    height: 30px;
    float:left;
}

div.progressbar {
    margin: 3px 0 0 5px;
    color: #ff4e00;
    float:left;
}

/* go-button section */
p#artcounter {
    font-size: 20px;
    margin:0 0 10px 325px;
    font-weight: normal;
}
p#artcounter span.count{
    color: #ff4e00;
    font-weight: bold;
}
div#create-button {
    padding-top: 50px;
    clear:both;
}
div#create-button img {
    height: auto;
    margin-top: 4px;
    float:left;
}
div#create-button legend, div#create-button input {
    font-size:30px;
    font-weight: bold;
}
div#create-button input {
    font-weight: normal;
    width: 336px;
    float:left;
    color: #555;
    margin-right: 10px;
}
div#create-button div.clearfix {
    clear:both;
}

span.added {
    display:block;
    font-size: 20px;
    font-weight: normal;
    color: #555;
    padding-top: .2em;
}
span.added span.count {
    font-weight: bold;
}
#go-button {
    float:left;
    width: 100px;
    background: #ff4e00;
    color: #fff;
    font-weight: bold;
    border:none;
    font-size: 30px;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    cursor: pointer;
}

span.sorry {
    display:block;
    color: #888;    
    font-size: 15px;
}

