#ti-data {
    font-family: "Helvetica", sans-serif;
    margin: 0;
    height: 100%;
    padding-bottom: 0;
}

#ti-data a {
    color: #FF4E00;
    cursor: pointer;
    text-decoration: none
}

#ti-data p, #ti-data ul {
    line-height: 1.4;
    font-size: 18px;
}

#ti-data div#metrics {
    min-height: 500px;
    margin-top:7px;
    padding-top:15px;
    background: none repeat scroll 0 0 #FFFFFF;
    float: left;
    width: 100%;
}

#ti-data div#metrics div.wrapper {
}

#ti-data ul.metrics li {
    list-style-type:none;
}

#ti-data ul.metrics {
    margin-left: 365px;
}

#ti-data ul.metrics li, #ti-data ul.metrics span.missing {
    float: left;
    height: 6em;
    margin-right: 12px;
}

#ti-data ul.metrics a {
    text-align:center;
}

#ti-data ul.metrics a:hover {
    text-decoration: none;
}

#ti-data ul.metrics li:hover span.metric-name {
    color:#FF4E00;
}

#ti-data ul.metrics span.last-update {
    display:none; /* figure out how to display this later */
}

#ti-data ul.metrics a:hover span.metric-value {
    background: #FF4E00;
    color:#fff;
}

#ti-data ul.metrics span.metric-value {
    font-weight: bold;
    list-style-type:none;
    padding:0 5px;
    margin-bottom: 2px;
    -webkit-border-radius: 3px;    /* CSS3 rounded borders for Safari                    */
    -moz-border-radius: 3px;       /* CSS3 rounded borders for Firefox                   */
    border-radius: 3px;
    display:block;
}

#ti-data .metric-name {
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -ms-filter: 'progid:DXImageTransform.Microsoft.BasicImage(rotation=3)';
    color: #aaa;
    display: block;
    font-size: 9px;
    width: 30px;
    margin: 7px auto 0;
}

#ti-data span.meta-doi {
    display: none;
}

#ti-data span.metric-name-img {
    margin: 4px 3px;
}

#ti-data span.metric-name-img img {
    margin: 0 auto;
    display:block;
}

#ti-data .metric-img-name {
    display:block;
}

#ti-data ul#items {

}

#ti-data li.item {
    border: 0 solid #CCCCCC;
    clear: left;
    list-style-type: none;
    margin: 0 auto 1em;
    width: 1100px;
    min-height: 4em;
}

#ti-data li.item h4 {
    font-weight: normal;
    margin:0;
    color: #AAA;
    font-size : 12px;
}

#ti-data li.item span.repo, #ti-data li.item span.genre {
    color: #aaa;
    font-size:12px;
    margin-left: 5px;
}

#ti-data li.item span.genre {
    margin-left:0;
}
