/* globals */
body {
    font-family: "Helvetica", sans-serif;
    margin: 0;
    background: #ff4e00;
}

body a:link {
    text-decoration: none;
    cursor: pointer;    
}
body a:hover {
    text-decoration: underline;
}

.wrapper {
    margin: 0 auto;
    display: block;
    width: 1000px;
}
h3 {
    margin: 0px;
    margin-top:20px;
}
a {
    color: #ff4e00;
    cursor: pointer;
}
body div#tooltip {
    position: absolute;
    z-index: 3000;
    border: 1px solid #777;
    background-color: #333;
    padding: 10px;
    color:#eee;
    opacity: 0.9;
    font-size: 10px;
    font-family: Helvetica, Arial, sans-serif;
    width: 200px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius-topleft: 0;
    -webkit-border-top-left-radius: 0;
    box-shadow: 2px 2px 3px #555;
}
body div#tooltip.viewport-right {
    -moz-border-radius-topleft: 10px;
    -webkit-border-top-left-radius: 10px;
    -moz-border-radius-topright: 0;
    -webkit-border-top-right-radius: 0;
}


div#tooltip p, div#tooltip div, div#tooltip h3 {
    margin:0;
    padding:0;
}









/* header
*****************************************************************************
*****************************************************************************
*****************************************************************************/

div#header div.wrapper{
    width:1000px;
    height: 65px;
    padding-top:10px;
    margin: 0 auto;
    box-shadow: 0px 3px 16px -3px #333;
    border-top:none;
    background-position: bottom;
    background-repeat: repeat-x;
    -moz-border-radius-bottomleft: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    -webkit-border-bottom-right-radius: 10px;
    background: #fff;
}

div#header  {
    height: 90px;
    background: #ff4e00;
}


h1 {
    margin:0;
    padding:0 0 0 20px;
    float:left;
    font-size:20px;
    
}
h1 a {
    background-image:url(./img/ti_logo2.png);
    background-repeat: no-repeat;
    text-indent: -9999px;
    display:block;
    width: 262px;
    height: 43px;
    margin: 4px 0 0;
}
h1 a:hover {
    color:#DD4814;
    text-decoration: none;
}
h1 span.loc {
    font-weight:normal;
    color:#888;
}


ul#nav a {
    color:#555;
    padding: 15px 0.5em;
    display:block;
    font-size:18px;
    background-repeat:repeat-x;
    background-position:center center;
    font-family: Rockwell, georgia, serif;
}
body ul#nav a:hover {
/*    background-image: url('./img/header-bg-down.png');*/
    text-decoration: none;
    color:#DD4814;

}
ul#nav {
    float:right;
    margin:10px 20px 0;
}
ul#nav li {
    float:left;
    list-style: none;
    padding: 0;
}
h2 {
    font-family: Rockwell, georgia, sans-serif;
    color: #fff;
    font-size: 40px;
    margin:0;
    padding-top: 20px;
    float:none;
    background: #ff4e00;
}

/* homepage
*****************************************************************************
*****************************************************************************
*****************************************************************************/


div#tagline {
    color:#fff;
    margin-top:30px;
}
div#tagline p{
    font-size: 18px;
}
div#tagline p a {
    color: #fff;
    text-decoration: none;
    border-bottom: 2px dotted #fff;
}
div#tagline p a:hover {
    border-bottom:2px solid #fff;
}

#tagline h2 {
    color: #fff;
    font-family: 'rockwell', 'georgia', serif;
    font-size: 40px;
    font-weight: bold;
    margin-bottom:0;
    line-height: .8;
}
#tagline div.text {
    width:600px;
    float:left;
}
#tagline img {
    height:400px;
    width:auto;
    margin-bottom: -27px;
}
a#create-collection {
    color: #fff;
    font-size: 25px;
    font-family:Rockwell, georgia, serif;
    background: #18698d;
    padding:.3em 1em;
    display: block;
    width:12em;
    -webkit-border-radius: 40px;    /* CSS3 rounded borders for Safari      */
    -moz-border-radius: 40px;       /* CSS3 rounded borders for Firefox   */
}

#call-to-action {
    margin-top: 35px;
}


#call-to-action ul.alternate-actions {
    margin: 5px 0 0 -14px;
}
#call-to-action ul.alternate-actions a:hover {
    /* do some stuff */
}
#call-to-action ul.alternate-actions a, 
#call-to-action ul.alternate-actions span {
    font-family:Rockwell, georgia, serif;
    color:#fff;
    font-size:20px;
}

div#selling-points{
    background:#333;
    padding: 30px 0;
    min-height: 250px;
    border-top: 1px solid #000;
}

div#selling-points p {
    margin-bottom:0;
    color: #bbb;
    line-height: 1.2;
}

#selling-points ul li {
    float:left;
    width: 30%;
    padding-right:1%;
    list-style-type: none;
}

#selling-points h3{
    color:#fff;
    font-family:Rockwell, georgia, serif;
    font-weight: normal;
    font-size: 23px;
}


/* "updating" page
*****************************************************************************
*****************************************************************************
*****************************************************************************/
div.loading {
    width: 600px;
    height: 150px;
    color: #fff;
    background: #b20000
}
div.loading h2 {
    font-family: 'Lobster Two', Helvetica, Arial, sans-serif;
    color: #fff;
    font-style: italic;
    font-size: 50px;
    text-align:center;
    margin: 0;
    font-weight:normal;
    padding: 20px 0 0;
}
div.loading p {
    font-size: 15px;
    font-weight: bold;
    font-family: "Helvetica Neue", "helvetica", 'arial', sans-serif;
    text-align: center;
}
div.loading img {
    margin: 0 10px -5px 0;
    height: 45px;
}









/* "about" page
*****************************************************************************
*****************************************************************************
*****************************************************************************/

table {
    border-collapse: collapse;
    padding:2px;
    border-color: #ccc;
    width: 700px;
}
td {
    padding: 3px 8px;
    border:1px solid #ccc;
    border-left:none;
    border-right:none;
}
th {
    background: #FF4E00;
    color:#fff;
    border:none;
}
#faq div.wrapper{
}
#faq {
    margin-top: 100px;
    background: #fff;
    border-top: 3px solid #FF4E00;
    padding-bottom: 50px;
}

ul#providers-metadata > li {
    margin-bottom: 15px;
}

ul#providers-metadata li ul li{
    list-style-type: none;
}

ul#providers-metadata li img {
    margin-bottom: -.2em;
}

div#about{
    margin-top: 120px;
}
#toc {
    border: 1px solid #333333;
    float: right;
    margin: 16px 21px 12px;
    padding: 16px;
    text-align: left;
    -webkit-border-radius: 4px;    /* CSS3 rounded borders for Safari      */
    -moz-border-radius: 4px;       /* CSS3 rounded borders for Firefox   */
}

a.tocBackLink {
    text-align: right;
    font-size: 10px;
    font-weight: normal;
    margin-left: 10px;
}
body#about h3 {
    margin-top: 40px;
}




/* footer
*****************************************************************************
*****************************************************************************
*****************************************************************************/

div#footer {
    font-size:100%;    
    clear:both;
    color: #555;
    padding-top: 50px;
}
body.homepage div#footer {
    background:#333;
    
}
div#footer div.wrapper{
    padding: 20px 30px 30px;
    margin-top: 50px;
    height: 50px;
    width: 1000px;
    -moz-border-radius-topleft: 10px;
    -webkit-border-top-left-radius: 10px;
    -moz-border-radius-topright: 10px;
    -webkit-border-top-right-radius: 10px;
    background: #fff;
    margin:0 auto;
    
}
div#footer p {
    margin:5px 0 0 0;
}
div#footer img {
    float:left;
    padding-right: 20px;
}
div#footer-text{
    padding-top:12px;
    
}



/** TinyBox (modal js dialog) styles
*******************************************************************************/
.tbox {position:absolute; display:none; padding:14px 17px; z-index:900}
.tbox h1 {margin:0; font-size: 25px; color: #FF4E00;}
.tinner {padding:15px 15px 30px 15px; -moz-border-radius:5px; border-radius:5px; background:#fff url(./img/ajax-loader.gif) no-repeat 50% 50%; border-right:1px solid #333; border-bottom:1px solid #333}
.tmask {position:absolute; display:none; top:0px; left:0px; height:100%; width:100%; background:#000; z-index:800}
.tclose {position:absolute; top:0px; right:0px; width:30px; height:30px; cursor:pointer; background:url(./img/tinybox-close.png) no-repeat}
.tclose:hover {background-position:0 -30px}

#error {background:#ff6969; color:#fff; text-shadow:1px 1px #cf5454; border-right:1px solid #000; border-bottom:1px solid #000; padding:0}
#error .tcontent {padding:10px 14px 11px; border:1px solid #ffb8b8; -moz-border-radius:5px; border-radius:5px}
#success {background:#2ea125; color:#fff; text-shadow:1px 1px #1b6116; border-right:1px solid #000; border-bottom:1px solid #000; padding:10; -moz-border-radius:0; border-radius:0}
#bluemask {background:#4195aa}
#frameless {padding:0}
#frameless .tclose {left:6px}
