CouchDB==0.8
Flask==0.9
Flask-Assets==0.8
Flask-Jasmine==1.3a
Flask-Login==0.1.2
Flask-SQLAlchemy==0.16
Flask-WTF==0.6
Jinja2==2.6
SQLAlchemy==0.8.0
WTForms==1.0.1
Werkzeug==0.8.3
analytics-python==0.4.2
certifi==0.0.8
chardet==1.0.1
docopt==0.4.0
gunicorn==0.14.3
iso8601==0.1.4
itsdangerous==0.21
libsaas==0.2
mandrill==1.0.37
newrelic==1.9.0.21
nose==1.3.0
oauthlib==0.1.3
psycopg2==2.4.6
pyasn1==0.1.3
python-dateutil==2.1
python-termstyle==0.1.10
pytz==2012c
rednose==0.3
requests==1.2.3
rsa==3.0.1
shortuuid==0.3
simplejson==2.5.2
six==1.3.0
webassets==0.8
wsgiref==0.1.2
yuicompressor==2.4.7
