CouchDB==0.8
Flask==0.9
Flask-Assets==0.8
Flask-Jasmine==1.3a
Flask-Login==0.1.2
Flask-SQLAlchemy==0.16
Flask-WTF==0.6
Jinja2==2.6
SQLAlchemy==0.8.0
WTForms==1.0.1
Werkzeug==0.8.3
certifi==0.0.8
chardet==1.0.1
distribute==0.6.27
gunicorn==0.14.3
iso8601==0.1.4
itsdangerous==0.21
libsaas==0.2
mandrill==1.0.37
newrelic==1.9.0.21
oauthlib==0.1.3
psycopg2==2.4.6
pyasn1==0.1.3
pytz==2012c
requests==0.13.0
rsa==3.0.1
shortuuid==0.3
simplejson==2.5.2
webassets==0.8
wsgiref==0.1.2
yuicompressor==2.4.7
