body {
  font-family: Helvetica, Arial, sans-serif;
  width: 600px;
  margin: 0 auto;
  color: #333;
}
.clearfix {
  clear: both;
}
div.report-header {
  padding-top: 50px;
}
div.report-header img.logo {
  text-align: center;
  margin: 0 auto;
  display: block;
  width: 300px;
}
div.report-header h1 {
  color: #555;
  text-align: center;
  margin-bottom: 0;
}
div.report-header h2 {
  border: 1px solid #555;
  background: #eee;
  margin: 10px 0 10px 0;
  text-align: left;
}
div.report-header h2 span.name {
  padding-top: 15px;
  display: block;
}
div.report-header h2 a.link-to-profile {
  font-size: 16px;
}
div.report-header h2 img {
  float: left;
  width: 75px;
  margin: 0 15px 0 0;
}
div.cards {
  padding-top: 20px;
  clear: both;
}
div.card {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #555;
}
