<div class="settings-header">
   <h1>Custom URL</h1>
   <p>Customize the URL people use to reach your profile</p>
</div>


<form novalidate name="userUrlForm" class="form-horizontal custom-url" ng-submit="onSave()" ng-controller="urlSettingsCtrl">
   <div class="form-group custom-url"
        ng-model="user.url_slug"
        ng-class="{ 'has-error':  userUrlForm.url_slug.$invalid && userUrlForm.url_slug.$dirty && !loading.is(),
                    'has-success': userUrlForm.url_slug.$valid && userUrlForm.url_slug.$dirty && !loading.is()">

      <div class="controls input-group col-lg-7">
         <span class="input-group-addon">http://impactstory.org/</span>
         <input ng-model="user.url_slug"
                name="url_slug"
                class="form-control"
                required
                data-require-unique
                ng-pattern="/^\w+$/"
                 />

      </div>

      <spinner msg="Checking"></spinner>

      <div class="help-block error"
            ng-show="userUrlForm.url_slug.$error.pattern
            && userUrlForm.url_slug.$dirty
            && !loading.is()">
         This URL has invalid characters.
      </div>

      <div class="help-block error"
            ng-show="userUrlForm.url_slug.$error.requireUnique
            && userUrlForm.url_slug.$dirty
            && !loading.is()">
         Someone else is using that URL.
      </div>
      <div class="help-block success"
            ng-show="userUrlForm.url_slug.$valid
            && userUrlForm.url_slug.$dirty
            && !loading.is()">
         Looks good!
      </div>
      <div class="help-block"
            ng-show="userUrlForm.url_slug.$pristine
            && !loading.is()">
         This is your current URL.
      </div>

   </div>

   <div class="form-group submit">
      <div class=" col-lg-10">
         <save-buttons valid="userUrlForm.$valid"></save-buttons>
      </div>
   </div>

</form>
