<div class="settings-header">
   <h1>Linked accounts</h1>
   <p>Pull in products and metrics from elsewhere</p>
</div>


<form novalidate name="userProfileForm"
      class="form-horizontal linked-accounts-settings"
      ng-submit="onSave()"
      ng-controller="linkedAccountsSettingsCtrl">

   <div class="form-group linked-account">
      <label class="control-label col-sm-3 two-lines">Wordpress.com API key</label>
      <div class="controls col-sm-7">
         <input ng-model="user.wordpress_api_key" name="wordpress_api_key" class="form-control">
         <p>If you've already imported a <a href="http://wordpress.com">Wordpress.com</a> blog, this key lets us display your readership counts.
            You can find your WordPress.com API key <a href='http://akismet.com/resend/' target='_blank'>here, via Akismet.</a>
      </div>
   </div>

   <!--
   <div class="form-group linked-account">
      <label class="control-label col-sm-3">Twitter</label>
      <div class="is-linked col-sm-9" ng-if="user.twitter_account_id">
         <span class="account-id">{{ user.twitter_account_id }}</span>
         <a class="remove-account"><i class="icon-trash">remove</i></a>
      </div>
   </div>
   -->

   <div class="form-group submit">
      <div class=" col-sm-offset-3 col-sm-7">
         <save-buttons valid="userProfileForm.$valid"></save-buttons>
      </div>
   </div>

</form>
