<div class="settings-header">
   <h1>Password</h1>
   <p>Change your account password.</p>
</div>


<form novalidate name="userPasswordForm" class="form-horizontal change-password" ng-submit="onSave()" ng-controller="passwordSettingsCtrl">

   <div class="form-group current-password" ng-class="{'has-error': wrongPassword}">
      <label class="control-label col-lg-4">Current password</label>
      <div class="controls col-lg-4">
         <input ng-model="user.currentPassword" name="currentPassword" type="password" class="form-control" required>
      </div>
   </div>

   <div class="form-group new-password" ng-class="{disabled: !user.currentPassword}">
      <label class="control-label col-lg-4">New password</label>
      <div class="controls col-lg-4">
         <input ng-model="user.newPassword"
                id="newPassword"
                name="newPassword"
                type="password"
                class="form-control"
                ng-disabled="!user.currentPassword"
                required>
      </div>
   </div>

   <div class="form-group confirm-new-password"
        ng-class="
        {disabled: !user.currentPassword,
        'has-error': userPasswordForm.confirmNewPassword.$dirty && userPasswordForm.confirmNewPassword.$error.pwmatch
        }">
      <label class="control-label col-lg-4">Confirm new password</label>
      <div class="controls col-lg-4">
         <input ng-model="user.confirmNewPassword"
                name="confirmNewPassword"
                type="password"
                class="form-control"
                pw-match="newPassword"
                ng-disabled="!user.currentPassword"
                required>
      </div>
      <span class="help-inline error text-danger">Passwords don't match.</span>
   </div>

   <div class="form-group submit">
      <div class=" col-lg-offset-4 col-lg-4">
         <div ng-include="'forms/save-and-cancel-buttons.tpl.html'"></div>
      </div>
   </div>

</form>
