<div class="settings-header">
   <h1>Profile</h1>
   <p>Modify what's displayed in your profile.</p>
</div>


<form novalidate name="userProfileForm" class="form-horizontal" ng-submit="onSave()" ng-controller="profileSettingsCtrl">

   <div class="form-group photo">
      <label class="control-label col-lg-3">Photo</label>
      <div class="controls col-lg-5">
         <div class="my-picture">
            <a href="http://www.gravatar.com" >
               <img class="gravatar" ng-src="http://www.gravatar.com/avatar/{{ user.email_hash }}?s=110&d=mm" data-toggle="tooltip" class="gravatar" rel="tooltip" title="Modify your icon at Gravatar.com" />
            </a>
            <p>You can change your profile image at <a href="http://www.gravatar.com">Gravatar.com</a></p>
         </div>
      </div>
   </div>

   <div class="form-group">
      <label class="control-label col-lg-3">First name</label>
      <div class="controls col-lg-5">
         <input ng-model="user.given_name" name="givenname" class="form-control">
      </div>

   </div>

   <div class="form-group">
      <label class="control-label col-lg-3">Surname</label>
      <div class="controls col-lg-5">
         <input ng-model="user.surname" name="surname" class="form-control">
      </div>
   </div>

   <div class="form-group submit">
      <div class=" col-lg-offset-3 col-lg-9">
         <save-buttons valid="userProfileForm.$valid"></save-buttons>
      </div>
   </div>

</form>
