<div class="settings-header">
   <h1>Subscription</h1>

   <p class="expl">Get weekly updates revealing your latest impacts.</p>
</div>

<div class="upgrade-form-container"  ng-controller="subscriptionSettingsCtrl">

   <div class="cancelled" ng-if="planStatus('cancelled')">
      <h1>OH NOES your account is cancelled!</h1>
   </div>

   <div class="current-plan-status paid" ng-if="planStatus('paid')">
      <span class="setup">
         Your Impactstory subscription has been active
         since {{ paidSince() }}.
      </span>
      <span class="thanks">Thanks for helping to keep Impactstory nonprofit and open source!</span>
   </div>

   <div class="current-plan-status trial" ng-if="planStatus('trial')">
      <span class="setup" ng-if="daysLeftInTrial()>0">Your Impactstory trial ends in {{ daysLeftInTrial() }} days</span>
      <span class="setup" ng-if="daysLeftInTrial()==0">Your Impactstory trial ends today!</span>

      <div class="email-example">
         <img src="http://i.imgur.com/S38ECK5.png" alt="Impactstory notification email"/>
      </div>
      <div class="pitch">
         <p>Your research is making impacts all the time.
         And with Impactstory, you're getting the latest news on those
         impacts&mdash;everything from citations to downloads to tweets
         and more&mdash;delivered straight to your inbox. </p>
         <p>By extending your free trial today, you won't miss a single
         notification&mdash;and   you'll be helping to keep
         Impactstory a sustainable, open-source nonprofit. And all for less than than the
         cost of a coffee once a month.</p>
      </div>

   </div>



   <form stripe-form="handleStripe"
         name="upgradeForm"
         novalidate
         ng-if="planStatus('trial')"
         class="form-horizontal upgrade-form">

      <div class="form-title trial">
         <h3>Continue your subscription for $5/mo</h3>
         <h4 ng-if="daysLeftInTrial()>0">(Don't worry, you'll still pay nothing till your trial ends in {{ daysLeftInTrial() }} days.)</h4>
      </div>



      <!-- name on card -->
      <div class="form-group">
         <label class="col-sm-3 control-label" for="card-holder-name">Name</label>
         <div class="col-sm-9">
            <input type="text"
                   class="form-control"
                   name="card-holder-name"
                   id="card-holder-name"
                   required
                   placeholder="Card Holder's Name">
         </div>
      </div>

      <!-- card number -->
      <div class="form-group">
        <label class="col-sm-3 control-label" for="card-number">Card Number</label>
        <div class="col-sm-9">
          <input type="text"
                 class="form-control"
                 name="card-number"
                 id="card-number"
                 required
                 ng-model="number"
                 payments-validate="card"
                 payments-format="card"
                 payments-type-model="type"
                 ng-class="type"
                 placeholder="Debit/Credit Card Number">
        </div>
      </div>


      <!-- expiration date -->
      <div class="form-group">
         <label class="col-sm-3 control-label" for="card-expiry">Expiration</label>
         <div class="col-sm-3">
            <input type="text"
                   class="form-control"
                   name="card-expiry"
                   id="card-expiry"
                   required
                   ng-model="expiry"
                   payments-validate="expiry"
                   payments-format="expiry"
                   placeholder="MM/YY">
         </div>
      </div>


      <!-- CVV -->
      <div class="form-group">
         <label class="col-sm-3 control-label" for="cvv">Security code</label>
        <div class="col-sm-3">
          <input type="text"
                 class="form-control"
                 name="cvv"
                 id="cvv"
                 ng-model="cvc"
                 required
                 payments-validate="cvc"
                 payments-format="cvc"
                 payments-type-model="type"
                 placeholder="CVV">
        </div>
        <div class="col-sm-2 cvv-graphic">
           <img src="static/img/cvv-graphic.png" alt="cvv graphic"/>
        </div>
      </div>




      <div class="form-group">
         <div class="col-sm-offset-3 col-sm-9">
               <button type="submit"
                       ng-show="!loading.is('subscribe')"
                       ng-disabled="upgradeForm.$invalid || upgradeForm.$pristine"
                       class="btn btn-success">
                  Upgrade me for $5/mo!
               </button>
               <div class="working" ng-show="loading.is('subscribe')">
                  <i class="icon-refresh icon-spin"></i>
                  <span class="text">Subscribing you to Impactstory&hellip;</span>
               </div>
         </div>
         <div class="col-sm-offset-3 col-sm-9 money-help">
            Trouble affording $5/mo? No worries, we've been through some lean times
            ourselves. <a href="mailto:team@impactstory.org">Drop us a line</a> and we'll work something out for you.
         </div>
      </div>
   </form>

   <div class="subscriber-buttons" ng-if="planStatus('paid')">
      <button ng-click="editCard()" class="btn btn-primary edit-credit-card">
         <i class="icon-credit-card left"></i>
         Change my credit card info
      </button>
      <button ng-click="cancelSubscription()" class="btn btn-danger">
         <i class="icon-warning-sign left"></i>
         Cancel Premium
      </button>
   </div>

</div>

