<div class="settings-header">
   <h1>Upgrade</h1>
   <p class="pitch">Premium accounts update metrics daily instead of weekly--so if you've got a big
   new hit on Twitter, you'll know right away. You also help us support
   Impactstory as an independent nonprofit.</p>
</div>

<div class="upgrade-form-container"  ng-controller="upgradeSettingsCtrl">


   <form stripe-form="handleStripe"
         name="upgradeForm"
         class="form-horizontal upgrade-form">

      <h3>Upgrade to premium for $5/mo</h3>


      <!-- name on card -->
      <div class="form-group">
         <label class="col-sm-3 control-label" for="card-holder-name">Name on Card</label>
         <div class="col-sm-9">
            <input type="text"
                   class="form-control"
                   name="card-holder-name"
                   id="card-holder-name"
                   placeholder="Card Holder's Name">
         </div>
      </div>

      <!-- card number -->
      <div class="form-group">
        <label class="col-sm-3 control-label" for="card-number">Card Number</label>
        <div class="col-sm-9">
          <input type="text"
                 class="form-control"
                 name="card-number"
                 id="card-number"
                 ng-model="number"
                 payments-validate="card"
                 payments-format="card"
                 payments-type-model="type"
                 ng-class="type"
                 placeholder="Debit/Credit Card Number">
        </div>
      </div>


      <!-- expiration date -->
      <div class="form-group">
         <label class="col-sm-3 control-label" for="card-expiry">Expiration</label>
         <div class="col-sm-3">
            <input type="text"
                   class="form-control"
                   name="card-expiry"
                   id="card-expiry"
                   ng-model="expiry"
                   payments-validate="expiry"
                   payments-format="expiry"
                   placeholder="MM/YY">
         </div>
      </div>


      <!-- CVV -->
      <div class="form-group">
         <label class="col-sm-3 control-label" for="cvv">Security code</label>
        <div class="col-sm-3">
          <input type="text"
                 class="form-control"
                 name="cvv"
                 id="cvv"
                 ng-model="cvc"
                 payments-validate="cvc"
                 payments-format="cvc"
                 payments-type-model="type"
                 placeholder="CVV">
        </div>
        <div class="col-sm-2 cvv-graphic">
           <img src="static/img/cvv-graphic.png" alt="cvv graphic"/>
        </div>
      </div>




      <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
          <button type="button"
                  ng-disabled="upgradeForm.$invalid"
                  class="btn btn-success">Upgrade me for $5/mo!</button>
        </div>
      </div>
   </form>

</div>

