<div class="settings-header">
   <h1>Upgrade</h1>

   <p class="expl">Get weekly updates revealing your latest impacts.</p>
</div>

<div class="upgrade-form-container"  ng-controller="upgradeSettingsCtrl">

   <div class="current-plan-status">
      <div class="premium" ng-show="!planStatus('free')">
         Your Impactstory Premium subscription is
         <div class="status subscribed" ng-if="planStatus('trial')">
            <span class="status-word">active</span>
            <span class="status-descr">since {{ paidSince() }}</span>

         </div>
         <div class="status subscribed" ng-if="planStatus('paid')">
            <span class="status-word">on free trial</span>
            <span class="status-descr">for {{ timeLeftInTrial() }} more days.</span>
         </div>
      </div>

      <div class="status free" ng-show="planStatus('free')">You don't have Premium yet.</div>


   </div>


   <form stripe-form="handleStripe"
         name="upgradeForm"
         novalidate
         ng-show="!planStatus('paid')"
         class="form-horizontal upgrade-form">

      <h3 ng-show="planStatus('free')">Upgrade to Premium for $5/mo</h3>
      <h3 ng-show="planStatus('trial')">Continue your Premium plan for $5/mo</h3>


      <!-- name on card -->
      <div class="form-group">
         <label class="col-sm-3 control-label" for="card-holder-name">Name</label>
         <div class="col-sm-9">
            <input type="text"
                   class="form-control"
                   name="card-holder-name"
                   id="card-holder-name"
                   required
                   placeholder="Card Holder's Name">
         </div>
      </div>

      <!-- card number -->
      <div class="form-group">
        <label class="col-sm-3 control-label" for="card-number">Card Number</label>
        <div class="col-sm-9">
          <input type="text"
                 class="form-control"
                 name="card-number"
                 id="card-number"
                 required
                 ng-model="number"
                 payments-validate="card"
                 payments-format="card"
                 payments-type-model="type"
                 ng-class="type"
                 placeholder="Debit/Credit Card Number">
        </div>
      </div>


      <!-- expiration date -->
      <div class="form-group">
         <label class="col-sm-3 control-label" for="card-expiry">Expiration</label>
         <div class="col-sm-3">
            <input type="text"
                   class="form-control"
                   name="card-expiry"
                   id="card-expiry"
                   required
                   ng-model="expiry"
                   payments-validate="expiry"
                   payments-format="expiry"
                   placeholder="MM/YY">
         </div>
      </div>


      <!-- CVV -->
      <div class="form-group">
         <label class="col-sm-3 control-label" for="cvv">Security code</label>
        <div class="col-sm-3">
          <input type="text"
                 class="form-control"
                 name="cvv"
                 id="cvv"
                 ng-model="cvc"
                 required
                 payments-validate="cvc"
                 payments-format="cvc"
                 payments-type-model="type"
                 placeholder="CVV">
        </div>
        <div class="col-sm-2 cvv-graphic">
           <img src="static/img/cvv-graphic.png" alt="cvv graphic"/>
        </div>
      </div>




      <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
          <button type="submit"
                  ng-disabled="upgradeForm.$invalid || upgradeForm.$pristine"
                  class="btn btn-success">Upgrade me for $5/mo!</button>
        </div>
      </div>
   </form>

   <div class="subscriber-buttons" ng-show="planStatus('paid')">
      <button ng-click="editCard()" class="btn btn-primary edit-credit-card">
         <i class="icon-credit-card left"></i>
         Change my credit card info
      </button>
      <button ng-click="cancelPremium()" class="btn btn-danger">
         <i class="icon-warning-sign left"></i>
         Cancel Premium
      </button>


   </div>


</div>

