<div class="password-reset">
   <div class="password-reset-header">
      <h1><a class="brand" href="/"><img src="/static/img/impactstory-logo-white.png" alt="ImpactStory" /></a>
         <span class="text">password reset</span>
      </h1>
   </div>

   <form novalidate
         name="passwordResetForm"
         class="form-horizontal password-reset"
         ng-submit="onSave()"
        >


      <div class="form-group new-password">
         <label class="control-label col-lg-3">New password</label>
         <div class="controls col-lg-4">
            <input ng-model="user.newPassword"
                   name="newPassword"
                   type="password"
                   ng-show="!showPassword"
                   class="form-control"
                   required>

            <input ng-model="user.newPassword"
                   name="newPassword"
                   type="text"
                   ng-show="showPassword"
                   class="form-control"
                   required>
         </div>
         <div class="controls col-lg-4 show-password">
            <pretty-checkbox value="showPassword" text="Show"></pretty-checkbox>
         </div>
      </div>


      <div class="form-group submit">
         <div class=" col-lg-offset-4 col-lg-4">
            <save-buttons></save-buttons>
         </div>
      </div>

   </form>
</div>