<div class="password-reset">
   <div class="password-reset-header">
      <h1><a class="brand" href="/">
         <img src="/static/img/impactstory-logo-white.png" alt="ImpactStory" /></a>
         <span class="text">password reset</span>
      </h1>
   </div>

   <form novalidate
         name="passwordResetForm"
         class="form-horizontal password-reset"
         ng-submit="onSave()"
         ng-controller="passwordResetFormCtrl"
        >

      <!--<div class="inst">
         Enter your new password:
      </div>-->

      <div class="form-group new-password">
         <label class="control-label sr-only">New password</label>
         <div class="controls ">
            <input ng-model="password"
                   name="newPassword"
                   type="password"
                   ng-show="!showPassword"
                   class="form-control input-lg"
                   placeholder="new password"
                   required>

            <input ng-model="password"
                   name="newPassword"
                   type="text"
                   ng-show="showPassword"
                   class="form-control input-lg"
                   placeholder="new password"
                   required>
         </div>
         <div class="controls show-password">
            <pretty-checkbox value="showPassword" text="Show"></pretty-checkbox>
         </div>
      </div>


      <div class="form-group submit">
         <div>
            <save-buttons></save-buttons>
         </div>
      </div>

   </form>
</div>