<div class="product-page profile-subpage">
   <div class="header profile-subpage-header product-page-header">
      <div class="wrapper">
         <a back-to-profile></a>
         <a class="delete-product"
            ng-click="deleteProduct()"
            ng-show="userOwnsThisProfile"
            tooltip="Remove this product from your profile."
            tooltip-placement="bottom">
            <span class="ready" ng-show="!loading.is()">
               <i class="icon-trash"></i>
               Remove product
            </span>
            <span class="working" ng-show="loading.is('deleteProduct')">
               <i class="icon-refresh icon-spin"></i>
               Removing...
            </span>
         </a>
      </div>
   </div>
   <div class="content wrapper">
      <div class="info">
         <div class="alert alert-info">
            <span class="text">
               <span class="icon-warning-sign"></span>
               This article has no free fulltext available.
               <a class="action btn btn-primary">Fix this</a>
            </span>
         </div>

      </div>
      <div class="working" ng-show="loading.is('profileProduct')">
         <i class="icon-refresh icon-spin"></i>
         <span class="text">Loading product...</span>
      </div>

      <div  class="product-container" ng-bind-html-unsafe="product.markup"></div>

      <a class="percentile-info" ng-click="openInfoModal()"
         ng-show="!loading.is('profileProduct') && product.has_percentiles">
         <icon class="icon-question-sign"></icon>
         Where do these percentiles come from?
      </a>

   </div>
</div>