<div id="ie-fail-warning" class="fail ie wrapper">
   <img src="{{ url_for('static', filename='img/frowny-ie.png') }}">
   <h2>Sorry!</h2>
   <p>ImpactStory doesn't yet support your web browser, Internet Explorer. We're working on this and expect to roll out support in the next few months. Until then, you may want to try a supported browser like <a href="http://www.mozilla.org/en-US/firefox/new/">Firefox</a>, <a href="http://www.apple.com/safari/">Safari</a>, or <a href="https://www.google.com/intl/en/chrome/browser/">Google Chrome</a>.</p>
</div>