<div class="main infopage" id="faq"><div class="wrapper">
   <h2 class="infopage-heading">FAQ</h2>





   <h3 id="whichmetrics">which metrics are measured?</h3>

   <p>Metrics are computed based on the following data sources (column names for CSV export are in parentheses):</p>

   <ul id="providers-metadata">
      <!-- the provider -->
      <li ng-repeat="provider in providers | orderBy: ['name']">
         <a href="{{ provider.url }}" class="provider-name">{{ provider.name }}:</a> <span class="descr">{{ provider.descr }}</span>

         <ul>
            <!-- a metric supplied by this provider -->
            <li ng-repeat="(metric_name, metric) in provider.metrics" class="metric">
               <img ng-src="/static/img/favicons/{{ provider.name }}_{{ metric_name }}.ico" width="16" height="16" />
               <strong>{{ metric.display_name }}</strong>
               <span class="metric-descr">{{ metric.description }}</span>
               <span class="csv-name">({{ provider.name }}:{{ metric_name }})</span>
            </li>
         </ul>
      </li>
   </ul>



   <h3 id="why-charge">Impactstory is a non-profit. Why are you charging for profiles?</h3>

   <p>Impactstory is the best place in the world to learn and share your scholarly impact. With our new subscription model, we&rsquo;re able to offer you a profile not built on selling your personal data, or cramming your page with ads, or our ability to hustle up more funding, or on a hope Elsevier acquires us someday.</p>

   <p>Impactstory profiles deliver real, practical value to real researchers every day. To continue doing so, we&rsquo;ve got to &ldquo;keep the lights on&rdquo; in a financially sustainable way.</p>


   <h3 id="can-i-keep-data">do I get to keep my data if I unsubscribe?</h3>

   <p>Yes. We&rsquo;re big believers in Open Data--it&rsquo;s one of the reasons we decided to make Impactstory non-profit! And unlike most commercial sites for academics, we allow users full control over their data, including the ability to export it in multiple formats. You can <a href="http://feedback.impactstory.org/knowledgebase/articles/398552-exporting-your-impactstory-profile-data">export your data</a>&nbsp;at any time prior to unsubscribing.</p>
   <p>The only catch? We are bound by the terms of service of our data providers. We lobby them hard for the most open terms possible, but some still forbid anyone to download their data.</p>


   <h3 id="fee-but-open">how can profiles still be Open if they cost money?</h3>

   <p>Good question! Much like other open science non-profits PLOS and Dryad support their missions and daily operations by recovering costs up front, we&rsquo;re asking our users to pay $10/month for an app that both helps them discover and share their scholarly impact and supports a larger mission of making altmetrics Open.</p>

   <p>On the other hand, there are services like Google Scholar that are free for authors to use, but are far from Open.They don&rsquo;t allow authors to download and reuse their own citation data; they won&rsquo;t open up their source code nor provide an API, so others can improve upon their service; and they lack transparency that allows their users to understand exactly how metrics are gathered.</p>

   <p>These &ldquo;free&rdquo; services are often backed by larger commercial operations or venture capital funding that are required to make money for shareholders. They do this by selling your data, or putting ads on your profile, or getting bought out by Elsevier. </p>

   <p>In contrast, we&rsquo;re a non-profit that&rsquo;s fiercely committed to independence, openness, and transparency. End users can access Impactstory profiles for free; anyone can fork our app and build a better one using our open source code; and trial users and subscribers alike can access and reuse the data behind their profiles, in JSON or CSV formats, as open as we can make it. That won&rsquo;t change. It&rsquo;s who we are. But we need to be financially sustainable to keep on doing it.</p>


   <h3 id="isitopen">is this data Open?</h3>

   <p>We’d like to make all of the data displayed by Impactstory available under CC0. Unfortunately, the terms-of-use of most of the data sources don’t allow that. We're trying to figure out how to handle this.
   <p>An option to restrict the displayed reports to Fully Open metrics — those suitable for commercial use — is on the To Do list.
   <p>The Impactstory software itself is fully open source under an MIT license. <a href="https://github.com/total-impact">GitHub</a>


</div><!-- end wrapper -->
</div><!-- end faq -->
</div>