<div id="gift-subscription-page">
   <div class="header">
      <h2>Buy multiple subscriptions</h2>
      <div class="more">
         Want to get Impactstory for your department, lab, or organization?
         Excellent choice.
      </div>

      <div class="main-content">

         <form stripe-form="handleStripe"
               name="giftSubscriptionForm"
               novalidate
               class="form-horizontal upgrade-form">

            <!-- name on card -->
            <div class="form-group">
               <label class="col-sm-3 control-label" for="card-holder-name">Name</label>
               <div class="col-sm-9">
                  <input type="text"
                         class="form-control"
                         required
                         name="card-holder-name"
                         id="card-holder-name"
                         placeholder="Card Holder's Name">
               </div>
            </div>

            <!-- card number -->
            <div class="form-group">
              <label class="col-sm-3 control-label" for="card-number">Card Number</label>
              <div class="col-sm-9">
                <input type="text"
                       class="form-control"
                       name="card-number"
                       id="card-number"
                       required
                       ng-model="number"
                       payments-validate="card"
                       payments-format="card"
                       payments-type-model="type"
                       ng-class="type"
                       placeholder="Credit Card Number">
              </div>
            </div>


            <!-- expiration date -->
            <div class="form-group">
               <label class="col-sm-3 control-label" for="card-expiry">Expiration</label>
               <div class="col-sm-3">
                  <input type="text"
                         class="form-control"
                         required
                         name="card-expiry"
                         id="card-expiry"
                         ng-model="expiry"
                         payments-validate="expiry"
                         payments-format="expiry"
                         placeholder="MM/YY">
               </div>
            </div>


            <!-- CVV -->
            <div class="form-group">
               <label class="col-sm-3 control-label" for="cvv">Security code</label>
              <div class="col-sm-3">
                <input type="text"
                       class="form-control"
                       required
                       name="cvv"
                       id="cvv"
                       ng-model="cvc"
                       payments-validate="cvc"
                       payments-format="cvc"
                       payments-type-model="type"
                       placeholder="CVV">
              </div>
              <div class="col-sm-2 cvv-graphic">
                 <img src="static/img/cvv-graphic.png" alt="cvv graphic"/>
              </div>
            </div>

            <!-- number of annual subscriptions to get -->
            <div class="form-group">
               <label class="col-sm-3 control-label" for="num-subscriptions">Number of subscriptions</label>
               <div class="col-sm-3">
                  <input type="text"
                         ng-model="formData.numSubscriptions"
                         class="form-control"
                         required
                         name="num-subscriptions"
                         id="num-subscriptions"
                         placeholder="10">
               </div>
               <label class="col-sm-3 control-label"
                      ng-show="cost()"
                      for="num-subscriptions">
                  for
                  <span class="value">
                     ${{ cost() }}
                  </span>
               </label>
            </div>




            <div class="form-group">
               <div class="col-sm-offset-3 col-sm-9">
                     <button type="submit"
                             ng-disabled="donateForm.$invalid"
                             ng-show="!loading.is('subscribe')"
                             class="btn btn-success">
                        Purchase
                     </button>
                     <div class="working" ng-show="loading.is('subscribe')">
                        <i class="icon-refresh icon-spin"></i>
                        <span class="text">Processing&hellip;</span>
                     </div>
               </div>
            </div>
         </form>

      </div>

   </div>
</div>