<div class="profile-sidebar"
     ng-show="profileAboutService.data.given_name"
     ng-controller="profileSidebarCtrl">

   <h1>
      <a href="/{{ profileAboutService.data.url_slug }}">
         <span class="given-name">{{ profileAboutService.data.given_name }}</span>
         <span class="surname">{{ profileAboutService.data.surname }}</span>
      </a>
   </h1>


   <div class="nav">
      <a href="/{{ profileAboutService.data.url_slug }}" ng-class="{active: page.isNamed('overview')}">
         <i class="icon-user left"></i>
         <span class="text">
            Overview
         </span>
         <div class="arrow"></div>
      </a>
      <div class="nav-group genres">
         <ul>
            <li ng-repeat="genre in profileService.data.genres | orderBy: 'name'">
               <a href="/{{ profileAboutService.data.url_slug }}/products/{{ genre.url_representation }}"
                  ng-class="{active: page.isNamed(genre.url_representation)}">
                  <i class="{{ genre.icon }} left"></i>
                  <span class="text">
                     {{ genre.plural_name }}
                  </span>
                  <span class="count value">
                     ({{ genre.num_products }})
                  </span>
               </a>
            </li>
         </ul>
      </div>
      <div class="nav-group accounts">
         <ul>
            <li ng-repeat="account in profileService.data.account_products | orderBy: 'followers'">
               <a href="/{{ profileAboutService.data.url_slug }}/accounts/{{ account.display_name.toLowerCase() }}"
                  ng-class="{active: page.isNamed(genre.url_representation)}">
                  <img ng-src="/static/img/favicons/{{ account.display_name.toLowerCase() }}.ico">
                  <span class="text">
                     {{ account.display_name }}
                  </span>
                  <span class="count value">
                     ({{ account.followers }})
                  </span>
               </a>
            </li>
         </ul>
      </div>
   </div>
   
   <div class="footer">
      <a href="/" class="logo">
         <img src="static/img/impactstory-logo-sideways.png" alt=""/>
      </a>
   </div>

</div>
