<div class="collection-controls">
   <div class="edit-controls" ng-if="security.isLoggedIn(page.getUrlSlug())">

      <!-- no products are selected. allow user to select all -->

      <span class="global-selection-control">
         <i class="icon-check-empty"
            tooltip="Select all"
            ng-show="SelectedProducts.count() == 0"
            ng-click="Collection.selectEverything()"></i>


      <!-- between zero and all products are selected. allow user to select all -->
      <i class="icon-check-minus"
         tooltip="Select all"
         ng-show="SelectedProducts.containsAny() && SelectedProducts.count() < Collection.len()"
         ng-click="Collection.selectEverything()"></i>

      <!-- everything is selected. allow user to unselect all -->
      <i class="icon-check"
         tooltip="Unselect all"
         ng-show="SelectedProducts.count() == Collection.len()"
         ng-click="SelectedProducts.removeAll()"></i>
       </span>

      <span class="actions has-selected-products-{{ !!SelectedProducts.count() }}">

         <span class="action">
            <button type="button"
                    ng-click="Collection.removeSelectedProducts()"
                    tooltip="Delete selected items."
                    class="btn btn-default btn-xs">
               <i class="icon-trash"></i>
            </button>

         </span>

         <span class="action">
            <span class="btn-group genre-select-group" dropdown>
               <button type="button"
                       dropdown-toggle
                       tooltip-html-unsafe="Recategorize selected&nbsp;items"
                       class="btn btn-default btn-xs dropdown-toggle">
                  <i class="icon-folder-close-alt"></i>
                  <span class="caret"></span>
               </button>
               <ul class="dropdown-menu">
                  <li class="instr">Move to:</li>
                  <li class="divider"></li>
                  <li ng-repeat="genreConfigForList in GenreConfigs.getForMove() | orderBy: ['name']">
                     <a ng-click="Collection.changeProductsGenre(genreConfigForList.name)">
                        <i class="{{ genreConfigForList.icon }} left"></i>
                        {{ genreConfigForList.plural_name }}
                     </a>
                  </li>
               </ul>
            </span>
         </span>
      </span>

      <span class="num-selected" ng-show="SelectedProducts.count() > 0">
         <span class="val">{{ SelectedProducts.count() }}</span>
         <span class="text">selected</span>
      </span>

   </div>

   <div class="display-controls">
      <div class="show-tweets tweets-loaded" ng-show="!loading.is('tweets')">
         <div class="has-tweets" ng-show="Collection.numTweets()">
            <label for="show-tweets-checkbox">
               <i class="fa fa-twitter"></i>
               <span class="text">
                  Show tweets
                  <span class="num-tweets">
                     ({{ Collection.numTweets() }})
                  </span>
               </span>
            </label>
            <input type="checkbox"
                   id="show-tweets-checkbox"
                   ng-model="Collection.ui.showTweets" />
         </div>
      </div>
       <div class="show-tweets tweets-loading" ng-show="loading.is('tweets')">
          <i class="fa fa-refresh icon-spin left"></i>
          checking for tweets&hellip;
       </div>

      <our-sort></our-sort>

   </div>
</div>

<div class="products">
   <ul class="products-list" ng-if="profileService.hasFullProducts()">
      <li class="product genre-{{ product.genre }}"
          ng-class="{first: $first}"
          ng-repeat="product in profileService.data.products | filter: Collection.filters.products | orderBy: OurSortService.current.key"
          id="{{ product.tiid }}"
          on-repeat-finished>


         <div class="product-margin" >

            <!-- users must be logged in -->
            <span class="product-controls" ng-show="security.isLoggedIn(page.getUrlSlug())">
               <span class="select-product-controls"> <!--needed to style tooltip -->

                  <i class="icon-check-empty"
                     ng-show="!SelectedProducts.contains(product.tiid)"
                     ng-click="SelectedProducts.add(product.tiid)"></i>

                  <i class="icon-check"
                     ng-show="SelectedProducts.contains(product.tiid)"
                     ng-click="SelectedProducts.remove(product.tiid)"></i>

               </span>
               <span class="feature-product-controls">
                  <a class="feature-product"
                     ng-click="KeyProducts.pin(product)"
                     ng-if="!KeyProducts.isPinned(product)"
                     tooltip="Pin this product to your front page">
                     <i class="fa fa-thumb-tack"></i>
                  </a>
                  <a class="unfeature-product"
                     ng-click="KeyProducts.unpin(product)"
                     ng-if="KeyProducts.isPinned(product)"
                     tooltip="Unpin this product">
                     <i class="fa fa-thumb-tack"></i>
                  </a>
               </span>
            </span>

            <i tooltip="{{ product.genre }}"
               class="genre-icon {{ GenreConfigs.get(product.genre, 'icon') }}"></i>
         </div>
         <div class="product-container" ng-bind-html="trustHtml(product.markup)"></div>
         <div class="product-tweets" ng-show="filteredTweets.length && Collection.ui.showTweets">

            <ul>
               <li class="tweet"
                   ng-include="'tweet/tweet.tpl.html'"
                   ng-repeat="tweet in filteredTweets = (product.tweets | orderBy: '-tweet_timestamp' | filter: Collection.filters.tweets | limitTo: 5)">
                </li>
            </ul>
            <div class="link-to-more-tweets" ng-show="product.tweets.length > filteredTweets.length">
               <a class="how-many-more btn btn-sm btn-default"
                  tooltip-placement="right"
                  tooltip="Click to see all {{ product.tweets.length }} tweets mentioning this research product."
                  href="/{{ page.getUrlSlug() }}/product/{{ product.tiid }}/tweets">
                  <i class="fa fa-plus"></i>
                  <span class="text">plus {{ product.tweets.length - filteredTweets.length }} more</span>
               </a>
            </div>
         </div>

      </li>
   </ul>
</div>