/*---------------------------------------------------
    LESS Elements 0.6
  ---------------------------------------------------
    A set of useful LESS mixins by Dmitry Fadeyev
    Special thanks for mixin suggestions to:
      Kris Van Herzeele,
      Benoit Adam,
      Portenart Emile-Victor,
      Ryan Faerman

    More info at: http://lesselements.com
-----------------------------------------------------*/
div#input {
  color: #333;
  font-weight: bold;
}
div#input form.importers {
  width: 270px;
  margin-right: 60px;
  float: left;
}
div#input form.importers h3 {
  margin-bottom: 20px;
}
div#input form.importers span.limit {
  display: block;
  color: #888;
  font-weight: normal;
  font-size: 12px;
}
div#input form.importers div.control-group {
  margin-bottom: 30px;
}
div#input form.importers div.control-group.email {
  margin-bottom: 0;
}
div#input form.importers div.control-group.fileupload div.uneditable-input {
  width: 100px;
}
div#input form.importers div.control-group.ready .working {
  display: none;
}
div#input form.importers div.control-group.ready .success {
  display: none;
}
div#input form.importers div.control-group.ready .failure {
  display: none;
}
div#input form.importers div.control-group.ready label {
  color: #555;
}
div#input form.importers div.control-group.working .ready {
  display: none;
}
div#input form.importers div.control-group.working .success {
  display: none;
}
div#input form.importers div.control-group.working .failure {
  display: none;
}
div#input form.importers div.control-group.working label {
  color: #ff4e00;
}
div#input form.importers div.control-group.success .ready {
  display: none;
}
div#input form.importers div.control-group.success .working {
  display: none;
}
div#input form.importers div.control-group.success .failure {
  display: none;
}
div#input form.importers div.control-group.success label {
  color: #468847;
}
div#input form.importers div.control-group.failure .ready {
  display: none;
}
div#input form.importers div.control-group.failure .working {
  display: none;
}
div#input form.importers div.control-group.failure .success {
  display: none;
}
div#input form.importers div.control-group.failure label {
  color: #b94a48;
}
div#input form.importers div.control-group label.control-label {
  clear: both;
  width: 250px;
  font-weight: bold;
}
div#input form.importers div.control-group label.control-label a.help {
  text-decoration: none;
  font-weight: normal;
  float: right;
  color: #888;
}
div#input form.importers div.control-group label.control-label a.help:hover {
  text-decoration: underline;
  color: #ff4e00;
}
div#input form.importers div.control-group label.control-label.ids span.success {
  float: right;
}
div#input form.importers div.control-group label.control-label img {
  height: 20px;
  margin: -3px 5px 0 0;
}
div#input form.importers div.control-group div.controls input {
  font-size: 16px;
  width: 240px;
}
div#input form.importers div.control-group div.controls textarea {
  line-height: 1.6;
  width: 240px;
}
div#input form.importers div.control-group div.controls textarea.default {
  color: #999;
}
img.loading {
  height: 30px;
  float: left;
}
div.progressbar {
  margin: 3px 0 0 5px;
  color: #ff4e00;
  float: left;
}
li#bibtex-import span.added {
  padding-top: 8px;
  font-size: 24px;
}
li#bibtex-import span.added span.items-added-msg span.from {
  font-size: 16px;
  display: block;
  margin-top: 5px;
  color: #888;
}
li#bibtex-import span.added span.items-added-msg span.from a.help-text {
  font-size: 14px;
  border-bottom: 1px dotted #888;
  color: #888;
}
li#bibtex-import span.added span.items-added-msg span.from a.help-text:hover {
  color: #ff4e00;
  text-decoration: none;
  border-bottom: 1px solid #ff4e00;
}
li#bibtex-import div.toggler_contents span.btn {
  margin-top: 10px;
}
li#bibtex-import div.toggler_contents div.uneditable-input {
  float: left;
  width: 450px;
}
li#bibtex-import div.toggler_contents span.btn-file {
  float: left;
}
li#bibtex-import div.toggler_contents img.loading {
  height: 35px;
  margin-top: 5px;
}
li#bibtex-import div.toggler_contents div.progressbar {
  font-size: 20px;
  margin-top: 15px;
}
