div#input {
  /*    background: url(./img/lightpaperfibers.png);*/

  background: #fff;
  color: #333;
  font-weight: bold;
}
div#input textarea,
div#input input {
  width: 450px;
  border: 2px solid #aaa;
  color: #333;
  font-size: 20px;
  float: left;
  margin-right: 10px;
  background-color: #fff;
}
div#input textarea#paste_input {
  height: 100px;
  font-size: 18px;
}
div#input textarea#crossref_input {
  height: 26px;
  font-size: 18px;
}
li#paste-crossref {
  padding-top: 5px;
}
div#input textarea.no-input-yet,
div#input input.no-input-yet {
  color: #aaa;
}
div#input textarea:focus,
div#input input:focus {
  /*    border-color: #ff4e00;*/

}
#input ul {
  padding-left: 0;
}
#input ul li {
  list-style-type: none;
  clear: both;
}
div#input legend {
  width: 250px;
  color: #555;
  float: left;
  clear: left;
  font-size: 20px;
  text-align: right;
  padding: .2em 20px 0 0;
  line-height: 1.3;
}
div#input legend a {
  color: #ff4e00;
  text-decoration: none;
  border-bottom: 2px dotted #ff4e00;
}
div#input legend a:hover {
  border-bottom: 2px solid #ff4e00;
}
div#input span.paren {
  display: block;
}
legend span.limit {
  display: block;
  color: #888;
  font-weight: normal;
  font-size: 15px;
}
ul#pullers {
  float: left;
  padding-top: 30px;
  width: 100%;
  margin-bottom: 50px;
}
img.loading {
  height: 30px;
  float: left;
}
div.progressbar {
  margin: 3px 0 0 5px;
  color: #ff4e00;
  float: left;
}
/* inline registration form
*****************************************************************************
*****************************************************************************
*****************************************************************************/
#inline-register {
  clear: both;
}
#inline-register fieldset {
  border: none;
  width: 450px;
  margin: 0;
  padding: 0;
}
#inline-register div.form-item {
  float: left;
  width: 49%;
}
#inline-register div.form-item:first-child {
  margin-right: 2%;
}
div#input #inline-register div.form-item legend {
  display: block;
  float: left;
  width: 100%;
  text-align: left;
  font-size: 14px;
  color: #555;
  margin: 4px 0 0 3px;
}
#inline-register div.form-item span.validation {
  margin-top: -15px;
  float: left;
  margin-left: 43px;
  font-size: 12px;
  font-weight: normal;
}
#inline-register div.form-item img.loading {
  height: 20px;
  display: inline;
  margin-top: -6px;
  margin-left: 0;
}
div#input #inline-register input {
  width: 100%;
}
/* go-button section
*****************************************************************************
*****************************************************************************
*****************************************************************************/
p#artcounter {
  font-size: 20px;
  margin: 17px 0 10px 270px;
  font-weight: normal;
  float: left;
  clear: left;
}
p#artcounter span.count {
  color: #ff4e00;
  font-weight: bold;
}
div#create-button {
  clear: both;
  margin-top: 25px;
}
div#create-button img.loading {
  height: 41px;
  margin: 4px 0 0 40px;
  float: left;
}
div#create-button legend,
div#create-button input {
  font-size: 30px;
  font-weight: bold;
}
div#create-button input {
  font-weight: normal;
  width: 450px;
  float: left;
  color: #555;
  margin-right: 10px;
}
div#create-button div.clearfix {
  clear: both;
}
span.added {
  display: block;
  font-size: 20px;
  font-weight: normal;
  color: #555;
  padding-top: .2em;
}
span.added span.count {
  font-weight: bold;
}
#go-button {
  display: block;
  width: 100px;
  background: #ff4e00;
  color: #fff;
  font-weight: bold;
  float: left;
  border: none;
  font-size: 30px;
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  cursor: pointer;
  margin: 10px 0 0 20px;
}
span.sorry {
  display: block;
  color: #888;
  font-size: 15px;
}
