/*---------------------------------------------------
    LESS Elements 0.6
  ---------------------------------------------------
    A set of useful LESS mixins by Dmitry Fadeyev
    Special thanks for mixin suggestions to:
      Kris Van Herzeele,
      Benoit Adam,
      Portenart Emile-Victor,
      Ryan Faerman

    More info at: http://lesselements.com
-----------------------------------------------------*/
body.create-collection div#page-header h2 {
  margin-top: 60px;
}
body.create-collection div.main {
  margin-top: 30px;
}
img.loading {
  height: 30px;
  float: left;
}
div.progressbar {
  margin: 3px 0 0 5px;
  color: #ff4e00;
  float: left;
}
li#bibtex-import span.added {
  padding-top: 8px;
  font-size: 24px;
}
li#bibtex-import span.added span.items-added-msg span.from {
  font-size: 16px;
  display: block;
  margin-top: 5px;
  color: #888;
}
li#bibtex-import span.added span.items-added-msg span.from a.help-text {
  font-size: 14px;
  border-bottom: 1px dotted #888;
  color: #888;
}
li#bibtex-import span.added span.items-added-msg span.from a.help-text:hover {
  color: #ff4e00;
  text-decoration: none;
  border-bottom: 1px solid #ff4e00;
}
li#bibtex-import div.toggler_contents span.btn {
  margin-top: 10px;
}
li#bibtex-import div.toggler_contents div.uneditable-input {
  float: left;
  width: 450px;
}
li#bibtex-import div.toggler_contents span.btn-file {
  float: left;
}
li#bibtex-import div.toggler_contents img.loading {
  height: 35px;
  margin-top: 5px;
}
li#bibtex-import div.toggler_contents div.progressbar {
  font-size: 20px;
  margin-top: 15px;
}
