.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
span.impactstory-embed ul {
  display: inline;
}
span.impactstory-embed ul li {
  display: inline;
}
span.impactstory-embed ul li .label {
  float: none;
  display: inline;
}
.impactstory-embed {
  font-family: Helvetica, arial, sans-serif;
  width: 151px;
}
.impactstory-embed span.loading {
  font-size: 12px;
  font-style: italic;
}
.impactstory-embed a {
  border: none;
  text-decoration: none;
}
.impactstory-embed a img {
  border: none;
  height: 25px;
  margin-left: 3px;
}
.impactstory-embed span.audience {
  display: none;
}
.impactstory-embed.verbose span.audience {
  display: inline;
}
.impactstory-embed.impactstory-grayscale span.audience {
  display: inline;
}
.impactstory-embed.impactstory-grayscale ul li .label.scholars {
  background: #777777;
  border-color: #777777;
}
.impactstory-embed.impactstory-grayscale ul li .label.scholars:hover {
  border-color: #377eb8;
  background: #377eb8;
}
.impactstory-embed.impactstory-grayscale ul li .label.scholars.lil-badge {
  color: #777777;
}
.impactstory-embed.impactstory-grayscale ul li .label.scholars.lil-badge:hover {
  color: #377eb8;
  background: #fff;
}
.impactstory-embed.impactstory-grayscale ul li .label.public {
  background: #777777;
  border-color: #777777;
}
.impactstory-embed.impactstory-grayscale ul li .label.public:hover {
  border-color: #4daf4a;
  background: #4daf4a;
}
.impactstory-embed.impactstory-grayscale ul li .label.public.lil-badge {
  color: #777777;
}
.impactstory-embed.impactstory-grayscale ul li .label.public.lil-badge:hover {
  color: #4daf4a;
  background: #fff;
}
.impactstory-embed.impactstory-small {
  width: 120px;
}
.impactstory-embed.impactstory-small img {
  height: 20px;
}
.impactstory-embed.impactstory-small ul li .label {
  font-size: 10px;
  padding: 1px 5px;
}
.impactstory-embed.impactstory-icon ul li .label {
  text-indent: -9999px;
  width: 21px;
  height: 21px;
  margin: 1px 2px 0 0;
  padding: 0;
  border: none !important;
}
.impactstory-embed.impactstory-icon ul li .label.scholars {
  background: url(http://impactstory.org/static/img/minibadges.png);
  background-position: 0 0;
}
.impactstory-embed.impactstory-icon ul li .label.scholars.lil-badge {
  background: url(http://impactstory.org/static/img/minibadges.png);
}
.impactstory-embed.impactstory-icon ul li .label.scholars.discussed.big-badge {
  background-position: 21px 0;
}
.impactstory-embed.impactstory-icon ul li .label.scholars.saved.big-badge {
  background-position: 175px 0;
}
.impactstory-embed.impactstory-icon ul li .label.scholars.cited.big-badge {
  background-position: 153px 0;
}
.impactstory-embed.impactstory-icon ul li .label.scholars.recommended.big-badge {
  background-position: 131px 0;
}
.impactstory-embed.impactstory-icon ul li .label.scholars.viewed.lil-badge {
  background-position: 109px 0;
}
.impactstory-embed.impactstory-icon ul li .label.scholars.discussed.lil-badge {
  background-position: 87px 0;
}
.impactstory-embed.impactstory-icon ul li .label.scholars.saved.lil-badge {
  background-position: 65px 0;
}
.impactstory-embed.impactstory-icon ul li .label.scholars.cited.lil-badge {
  background-position: 43px 0;
}
.impactstory-embed.impactstory-icon ul li .label.scholars.recommended.lil-badge {
  background-position: 21px 0;
}
.impactstory-embed.impactstory-icon ul li .label.public {
  background: url(http://impactstory.org/static/img/minibadges.png);
  background-position: 0 21px;
}
.impactstory-embed.impactstory-icon ul li .label.public.lil-badge {
  background: url(http://impactstory.org/static/img/minibadges.png);
}
.impactstory-embed.impactstory-icon ul li .label.public.discussed.big-badge {
  background-position: 21px 21px;
}
.impactstory-embed.impactstory-icon ul li .label.public.saved.big-badge {
  background-position: 175px 21px;
}
.impactstory-embed.impactstory-icon ul li .label.public.cited.big-badge {
  background-position: 153px 21px;
}
.impactstory-embed.impactstory-icon ul li .label.public.recommended.big-badge {
  background-position: 131px 21px;
}
.impactstory-embed.impactstory-icon ul li .label.public.viewed.lil-badge {
  background-position: 109px 21px;
}
.impactstory-embed.impactstory-icon ul li .label.public.discussed.lil-badge {
  background-position: 87px 21px;
}
.impactstory-embed.impactstory-icon ul li .label.public.saved.lil-badge {
  background-position: 65px 21px;
}
.impactstory-embed.impactstory-icon ul li .label.public.cited.lil-badge {
  background-position: 43px 21px;
}
.impactstory-embed.impactstory-icon ul li .label.public.recommended.lil-badge {
  background-position: 21px 21px;
}
.impactstory-embed ul {
  margin: 0;
  padding-left: 0;
}
.impactstory-embed ul li {
  list-style-type: none !important;
  float: none;
  margin: 0 !important;
  line-height: 1;
}
.impactstory-embed ul li a:hover {
  text-decoration: none;
}
.impactstory-embed ul li .label {
  float: left;
  font-size: 12px;
  margin: 1px 2px;
  font-weight: normal;
  padding: 3px 6px;
  color: #ffffff;
  vertical-align: baseline;
  white-space: nowrap;
  background-color: #999999;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-shadow: none;
}
.impactstory-embed ul li .label.scholars {
  border: 1px solid #377eb8;
  background: #377eb8;
}
.impactstory-embed ul li .label.scholars.lil-badge {
  background: #fff;
  color: #377eb8;
}
.impactstory-embed ul li .label.public {
  border: 1px solid #4daf4a;
  background: #4daf4a;
}
.impactstory-embed ul li .label.public.lil-badge {
  background: #fff;
  color: #4daf4a;
}
.impactstory-embed ul li .label:hover {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}
.popover.impactstory {
  position: absolute;
  font-family: Helvitica, Arial, sans-serif;
  top: 0;
  left: 0;
  z-index: 9999;
  display: none;
  width: 236px;
  padding: 1px;
  background-color: #ffffff;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.popover.impactstory.top {
  margin-bottom: 10px;
}
.popover.impactstory.right {
  margin-left: 10px;
}
.popover.impactstory.bottom {
  margin-top: 10px;
}
.popover.impactstory.left {
  margin-right: 10px;
}
.popover.impactstory .popover-title {
  margin: 0;
  padding: 8px 14px;
  font-size: 14px;
  font-weight: normal;
  line-height: 18px;
  background-color: #f7f7f7;
  border-bottom: 1px solid #ebebeb;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
}
.popover.impactstory .popover-content {
  padding: 9px 14px;
  font-size: 14px;
  line-height: 1.3;
}
.popover.impactstory .popover-content p,
.popover.impactstory .popover-content ul,
.popover.impactstory .popover-content ol {
  margin-bottom: 0;
}
.popover.impactstory .arrow,
.popover.impactstory .arrow:after {
  position: absolute;
  display: inline-block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
.popover.impactstory .arrow:after {
  content: "";
  z-index: -1;
}
.popover.impactstory.top .arrow {
  bottom: -10px;
  left: 50%;
  margin-left: -10px;
  border-width: 10px 10px 0;
  border-top-color: #ffffff;
}
.popover.impactstory.top .arrow:after {
  border-width: 11px 11px 0;
  border-top-color: rgba(0, 0, 0, 0.25);
  bottom: -1px;
  left: -11px;
}
.popover.impactstory.right .arrow {
  top: 50%;
  left: -10px;
  margin-top: -10px;
  border-width: 10px 10px 10px 0;
  border-right-color: #ffffff;
}
.popover.impactstory.right .arrow:after {
  border-width: 11px 11px 11px 0;
  border-right-color: rgba(0, 0, 0, 0.25);
  bottom: -11px;
  left: -1px;
}
.popover.impactstory.bottom .arrow {
  top: -10px;
  left: 50%;
  margin-left: -10px;
  border-width: 0 10px 10px;
  border-bottom-color: #ffffff;
}
.popover.impactstory.bottom .arrow:after {
  border-width: 0 11px 11px;
  border-bottom-color: rgba(0, 0, 0, 0.25);
  top: -1px;
  left: -11px;
}
.popover.impactstory.left .arrow {
  top: 50%;
  right: -10px;
  margin-top: -10px;
  border-width: 10px 0 10px 10px;
  border-left-color: #ffffff;
}
.popover.impactstory.left .arrow:after {
  border-width: 11px 0 11px 11px;
  border-left-color: rgba(0, 0, 0, 0.25);
  bottom: -11px;
  right: -1px;
}
