span.impactstory-embed ul {
  display: inline;
}
span.impactstory-embed ul li {
  display: inline;
}
span.impactstory-embed ul li .label {
  float: none;
  display: inline;
}
.impactstory-embed {
  font-family: Helvetica, arial, sans-serif;
  width: 151px;
}
.impactstory-embed span.loading {
  font-size: 12px;
  font-style: italic;
}
.impactstory-embed a {
  border: none;
  text-decoration: none;
}
.impactstory-embed a img {
  border: none;
  height: 25px;
  margin-left: 3px;
}
.impactstory-embed span.audience {
  display: none;
}
.impactstory-embed.verbose span.audience {
  display: inline;
}
.impactstory-embed.small {
  width: 120px;
}
.impactstory-embed.small img {
  height: 20px;
}
.impactstory-embed.small ul li .label {
  font-size: 10px;
  padding: 1px 3px;
}
.impactstory-embed.icon ul li .label {
  text-indent: -9999px;
  width: 21px;
  height: 21px;
  margin: 1px 2px 0 0;
  padding: 0;
  border: none !important;
}
.impactstory-embed.icon ul li .label.scholars {
  background: url(http://impactstory.org/static/img/minibadges.png);
  background-position: 0 0;
}
.impactstory-embed.icon ul li .label.scholars.lil-badge {
  background: url(http://impactstory.org/static/img/minibadges.png);
}
.impactstory-embed.icon ul li .label.scholars.discussed.big-badge {
  background-position: 21px 0;
}
.impactstory-embed.icon ul li .label.scholars.saved.big-badge {
  background-position: 175px 0;
}
.impactstory-embed.icon ul li .label.scholars.cited.big-badge {
  background-position: 153px 0;
}
.impactstory-embed.icon ul li .label.scholars.recommended.big-badge {
  background-position: 131px 0;
}
.impactstory-embed.icon ul li .label.scholars.viewed.lil-badge {
  background-position: 109px 0;
}
.impactstory-embed.icon ul li .label.scholars.discussed.lil-badge {
  background-position: 88px 0;
}
.impactstory-embed.icon ul li .label.scholars.saved.lil-badge {
  background-position: 65px 0;
}
.impactstory-embed.icon ul li .label.scholars.cited.lil-badge {
  background-position: 45px 0;
}
.impactstory-embed.icon ul li .label.scholars.recommended.lil-badge {
  background-position: 21px 0;
}
.impactstory-embed.icon ul li .label.public {
  background: url(http://impactstory.org/static/img/minibadges.png);
  background-position: 0 21px;
}
.impactstory-embed.icon ul li .label.public.lil-badge {
  background: url(http://impactstory.org/static/img/minibadges.png);
}
.impactstory-embed.icon ul li .label.public.discussed.big-badge {
  background-position: 21px 21px;
}
.impactstory-embed.icon ul li .label.public.saved.big-badge {
  background-position: 175px 21px;
}
.impactstory-embed.icon ul li .label.public.cited.big-badge {
  background-position: 153px 21px;
}
.impactstory-embed.icon ul li .label.public.recommended.big-badge {
  background-position: 131px 21px;
}
.impactstory-embed.icon ul li .label.public.viewed.lil-badge {
  background-position: 109px 21px;
}
.impactstory-embed.icon ul li .label.public.discussed.lil-badge {
  background-position: 88px 21px;
}
.impactstory-embed.icon ul li .label.public.saved.lil-badge {
  background-position: 65px 21px;
}
.impactstory-embed.icon ul li .label.public.cited.lil-badge {
  background-position: 45px 21px;
}
.impactstory-embed.icon ul li .label.public.recommended.lil-badge {
  background-position: 21px 21px;
}
.impactstory-embed ul {
  margin: 0;
  padding-left: 0;
}
.impactstory-embed ul li {
  list-style-type: none !important;
  float: none;
  margin: 0 !important;
  line-height: 1;
}
.impactstory-embed ul li a:hover {
  text-decoration: none;
}
.impactstory-embed ul li .label {
  float: left;
  font-size: 12px;
  margin: 1px 2px;
  font-weight: normal;
  padding: 3px 6px;
  color: #ffffff;
  vertical-align: baseline;
  white-space: nowrap;
  background-color: #999999;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-shadow: none;
}
.impactstory-embed ul li .label.scholars {
  border: 1px solid #377EB8;
  background: #377EB8;
}
.impactstory-embed ul li .label.scholars.lil-badge {
  background: #fff;
  color: #377EB8;
}
.impactstory-embed ul li .label.public {
  border: 1px solid #4DAF4A;
  background: #4DAF4A;
}
.impactstory-embed ul li .label.public.lil-badge {
  background: #fff;
  color: #4DAF4A;
}
.impactstory-embed ul li .label:hover {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}
div.tooltip.impactstory {
  position: absolute;
  font-family: helvetica, arial, sans-serif;
  font-weight: bold;
  z-index: 1030;
  display: block;
  visibility: visible;
  padding: 5px;
  font-size: 11px;
  opacity: 0;
  filter: alpha(opacity=0);
  font-size: 12px;
  width: 140px;
  line-height: 1.5;
}
div.tooltip.impactstory.in {
  opacity: 1;
}
div.tooltip.impactstory .tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
div.tooltip.impactstory div.tooltip-inner {
  padding-top: 8px;
  padding-bottom: 8px;
  max-width: 200px;
  padding: 3px 8px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  background-color: #000000;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
div.tooltip.impactstory.in {
  opacity: 0.8;
  filter: alpha(opacity=80);
}
div.tooltip.impactstory.top {
  margin-top: -3px;
}
div.tooltip.impactstory.top .tooltip-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 5px 5px 0;
  border-top-color: #000000;
}
div.tooltip.impactstory.right {
  margin-right: -3px;
}
div.tooltip.impactstory.bottom {
  margin-bottom: 3px;
}
div.tooltip.impactstory.left {
  margin-bottom: -3px;
}
.tooltip.right .tooltip-arrow {
  top: 50%;
  left: 0;
  margin-top: -5px;
  border-width: 5px 5px 5px 0;
  border-right-color: #000000;
}
.tooltip.left .tooltip-arrow {
  top: 50%;
  right: 0;
  margin-top: -5px;
  border-width: 5px 0 5px 5px;
  border-left-color: #000000;
}
.tooltip.bottom .tooltip-arrow {
  top: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #000000;
}
