div.impactstory-embed {
  font-family: Helvetica, arial, sans-serif;
}
div.impactstory-embed span.loading {
  font-size: 12px;
  font-style: italic;
}
div.impactstory-embed li {
  list-style-type: none !important;
  float: none;
  margin: 0 !important;
  line-height: 1;
}
div.impactstory-embed li a:hover {
  text-decoration: none;
}
div.impactstory-embed li .label {
  float: left;
  font-size: 12px;
  margin: 1px 2px;
  font-weight: normal;
  padding: 3px 6px;
  color: #ffffff;
  vertical-align: baseline;
  white-space: nowrap;
  background-color: #999999;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-shadow: none;
}
div.impactstory-embed li .label.small {
  font-size: 10px;
  padding: 1px 3px;
}
div.impactstory-embed li .label.scholars {
  border: 1px solid #377EB8;
  background: #377EB8;
}
div.impactstory-embed li .label.scholars.lil-badge {
  background: #fff;
  color: #377EB8;
}
div.impactstory-embed li .label.public {
  border: 1px solid #4DAF4A;
  background: #4DAF4A;
}
div.impactstory-embed li .label.public.lil-badge {
  background: #fff;
  color: #4DAF4A;
}
div.impactstory-embed li .label:hover {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}
div.tooltip.impactstory {
  position: absolute;
  font-family: helvetica, arial, sans-serif;
  font-weight: bold;
  z-index: 1030;
  display: block;
  visibility: visible;
  padding: 5px;
  font-size: 11px;
  opacity: 0;
  filter: alpha(opacity=0);
  font-size: 12px;
  width: 140px;
  line-height: 1.5;
}
div.tooltip.impactstory.in {
  opacity: 1;
}
div.tooltip.impactstory .tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
div.tooltip.impactstory div.tooltip-inner {
  padding-top: 8px;
  padding-bottom: 8px;
  max-width: 200px;
  padding: 3px 8px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  background-color: #000000;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
div.tooltip.impactstory.in {
  opacity: 0.8;
  filter: alpha(opacity=80);
}
div.tooltip.impactstory.top {
  margin-top: -3px;
}
div.tooltip.impactstory.top .tooltip-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 5px 5px 0;
  border-top-color: #000000;
}
div.tooltip.impactstory.right {
  margin-right: -3px;
}
div.tooltip.impactstory.bottom {
  margin-bottom: 3px;
}
div.tooltip.impactstory.left {
  margin-bottom: -3px;
}
.tooltip.right .tooltip-arrow {
  top: 50%;
  left: 0;
  margin-top: -5px;
  border-width: 5px 5px 5px 0;
  border-right-color: #000000;
}
.tooltip.left .tooltip-arrow {
  top: 50%;
  right: 0;
  margin-top: -5px;
  border-width: 5px 0 5px 5px;
  border-left-color: #000000;
}
.tooltip.bottom .tooltip-arrow {
  top: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #000000;
}
