/*---------------------------------------------------
    LESS Elements 0.6
  ---------------------------------------------------
    A set of useful LESS mixins by Dmitry Fadeyev
    Special thanks for mixin suggestions to:
      Kris Van Herzeele,
      Benoit Adam,
      Portenart Emile-Victor,
      Ryan Faerman

    More info at: http://lesselements.com
-----------------------------------------------------*/
/* globals */
html {
  margin: 0;
  padding: 0;
  height: 100%;
}
body {
  font-family: "Helvetica", sans-serif;
  margin: 0;
  background: url(../img/grey-noise.png);
  height: 100%;
  padding-bottom: 0;
}
body div#container {
  min-width: 1100px;
}
body div#namechange {
  font-size: 16px;
  background: #444;
  color: #fff;
  min-width: 1100px;
  text-align: center;
  padding: 10px 0;
}
body div#namechange strong {
  color: #ff4e00;
}
body div#namechange a.dismiss {
  float: right;
  padding-right: 20px;
  color: #fff;
  font-size: 14px;
  border-bottom: #000;
}
body div#namechange a.dismiss:hover {
  color: #ff4e00;
}
ul,
li {
  padding: 0;
  margin: 0;
}
li {
  list-style-type: none;
}
ol {
  padding-left: 2em;
}
ol li {
  list-style-type: decimal;
  margin-bottom: .5em;
}
pre {
  margin-left: 0;
  padding-left: 0;
  margin-top: 0;
}
legend {
  border-bottom: none;
}
body a:link {
  text-decoration: none;
  cursor: pointer;
}
body a:hover {
  text-decoration: underline;
  color: #ff4e00;
}
.btn-primary {
  font-family: rokkitt, cambria, serif;
}
.wrapper {
  margin: 0 auto;
  display: block;
  width: 1030px;
}
.clearfix {
  clear: both;
}
h3 {
  margin: 0px;
  margin-top: 20px;
}
a {
  color: #ff4e00;
  cursor: pointer;
}
p,
ul,
ol {
  line-height: 1.5;
  font-size: 16px;
}
span.icon.help {
  padding: 0 9px;
  background: url(../img/glyphicons-halflings-light.png);
  background-position: -96px 64px;
}
div.popover p {
  font-size: 14px;
}
div.popover a {
  color: #555;
  border-bottom: 1px dotted #555;
}
div.popover a:hover {
  border-bottom: 1px solid #555;
  text-decoration: none;
}
div.modal.error div.modal-header {
  background: #BD362F;
  color: #fff;
}
/* navbar
*****************************************************************************
*****************************************************************************
*****************************************************************************/
div.navbar {
  width: 1100px;
  margin: 0 auto;
  font-family: rokkitt, cambria, serif;
}
div.navbar .navbar-inner {
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  padding-right: 0;
  height: 65px;
  background: #fff;
  border: 1px solid #aaa;
  border-top: none;
}
div.navbar .navbar-inner a.brand {
  margin: 2px 0 0 -10px;
}
div.navbar .navbar-inner .nav {
  position: static;
}
div.navbar a.brand img {
  height: 35px;
  margin-top: 0;
}
div.navbar ul.nav.pull-right > li {
  margin-top: 10px;
}
div.navbar ul.nav.pull-right > li.divider-vertical {
  height: 35px;
  margin-top: 15px;
}
div.navbar ul.nav.pull-right > li.dropdown.open a.dropdown-toggle {
  background: #fff !important;
  color: #ff4e00 !important;
}
div.navbar ul.nav.pull-right > li.acct-mgt#logged-in {
  display: none;
}
div.navbar ul.nav.pull-right > li.acct-mgt#logged-in span.username {
  font-weight: bold;
}
div.navbar ul.nav.pull-right > li.acct-mgt#logged-in span.username:hover {
  color: #ff4e00;
}
div.navbar ul.nav.pull-right > li.acct-mgt#logged-in span#logout-link {
  font-size: 12px;
  font-family: Helvetica, arial;
}
div.navbar ul.nav.pull-right > li.acct-mgt#logged-in span#logout-link:hover {
  color: #ff4e00;
}
div.navbar ul.nav.pull-right > li .control-group {
  margin: 0;
}
div.navbar ul.nav.pull-right > li ul.dropdown-menu {
  font-family: helvetica, arial, sans-serif;
  font-size: 14px;
  min-width: 120px;
}
div.navbar ul.nav.pull-right > li div.dropdown-menu {
  padding: 15px 20px 20px;
  background: #f5f5f5;
}
div.navbar ul.nav.pull-right > li div.dropdown-menu li {
  margin: 0;
  padding: 0;
}
div.navbar ul.nav.pull-right > li div.dropdown-menu::after {
  border-bottom: 6px solid #f5f5f5;
}
div.navbar ul.nav.pull-right > li div.dropdown-menu .btn-primary {
  margin-top: 0;
  float: right;
  font-size: 20px;
}
div.navbar ul.nav.pull-right > li div.dropdown-menu span.help-inline {
  height: 22px;
  min-width: 40px;
  float: right;
  font-family: helvetica, aria, sans-serif;
  font-size: 12px;
}
div.navbar ul.nav.pull-right > li div.dropdown-menu span.help-inline img {
  height: 22px;
  float: right;
}
div.navbar ul.nav.pull-right li#logged-in div.dropdown-menu {
  min-width: 200px;
  padding: 5px 0 10px 0;
}
div.navbar ul.nav.pull-right li#logged-in div.dropdown-menu h3 {
  margin-top: 0;
  border-bottom: 1px solid #ccc;
  text-align: center;
}
div.navbar ul.nav.pull-right li#logged-in div.dropdown-menu p.none {
  text-align: left;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  padding: 20px;
  margin-bottom: 0;
}
div.navbar ul.nav.pull-right li#logged-in div.dropdown-menu p.none a {
  color: #ff4e00;
  display: inline;
  padding: 0;
}
div.navbar ul.nav.pull-right li#logged-in div.dropdown-menu img.loading {
  margin: 5px auto 0;
  float: none;
  display: block;
}
div.navbar ul.nav.pull-right a#uservoice {
  position: relative;
  display: block;
  margin-top: -26px;
  z-index: 3;
  padding-right: 0;
}
/* page header
*****************************************************************************
*****************************************************************************
*****************************************************************************/
div#page-header {
  padding-top: 30px;
  /*    background-color: #ff4e00;*/

  /*    background: url(img/h2-bg.png) bottom  left repeat-x;*/

}
div#page-header h2 {
  font-family: rokkitt, georgia, sans-serif;
  color: #fff;
  font-size: 30px;
  margin: 0;
  margin-bottom: -5px;
  float: none;
  color: #555;
}
div.main {
  background: #fff;
  padding-top: 30px;
  font-size: 18px;
  padding-bottom: 100px;
  color: #333;
  border-top: 1px solid #aaa;
  min-height: 350px;
}
div.main h3:first {
  margin-top: 0;
}
/* homepage
*****************************************************************************
*****************************************************************************
*****************************************************************************/
body.homepage div#page-header {
  display: none;
}
div#tagline {
  color: #ff4e00;
  height: 390px;
  position: relative;
}
div#tagline div.wrapper {
  position: relative;
}
div#tagline #img-bar {
  position: relative;
}
div#tagline .carousel {
  height: 355px;
  width: 500px;
  position: absolute;
  right: 0;
  top: 40px;
  z-index: 2;
  border: none;
}
div#tagline .carousel img {
  height: auto;
  max-width: 100%;
}
div#tagline .carousel div.carousel-caption {
  background: #fff;
  color: #333;
  display: none;
}
div#tagline .carousel a.carousel-control {
  height: 30px;
  width: 30px;
  line-height: 20px;
  top: 93%;
  border: none;
  color: #555;
  background: transparent;
}
div#tagline .carousel a.carousel-control:hover {
  color: #ff4e00;
}
div#tagline .carousel a.carousel-control.right {
  right: -20px;
}
div#tagline .carousel a.carousel-control.left {
  left: -20px;
}
div#tagline #text-bar {
  padding: 20px 0 0 0;
  position: absolute;
  width: 100%;
  top: 50px;
}
div#tagline #text-bar h2 {
  color: #444;
  font-family: 'rokkitt', 'georgia', serif;
  font-size: 46px;
  font-weight: bold;
  margin-bottom: 0;
  line-height: .8;
  background: transparent;
  width: 576px;
  margin: 0;
  padding: 0;
}
div#tagline #text-bar p.subtagline {
  font-size: 23px;
  color: #444;
  line-height: 1.2;
  width: 550px;
  font-family: rokkitt, georgia, sans-serif;
  margin-top: 14px;
}
div#tagline #text-bar p.subtagline a {
  text-decoration: underline;
  color: #ff4e00;
}
div#tagline #button-bar {
  width: 100%;
  position: absolute;
  top: 270px;
}
div#tagline #button-bar #call-to-action span.container {
  height: 114px;
  display: block;
  float: left;
  width: 330px;
}
div#tagline #button-bar a#create-collection {
  margin: 3px 0 0 20px;
  font-size: 2.1em;
}
div#tagline #button-bar p#example-collection {
  font-size: 14px;
  float: left;
  width: 100px;
  color: #777;
  margin: 2px 0 0 5px;
  padding: 4px 0 0 15px;
  border-left: 1px solid #aaa;
}
div#tagline #button-bar p#example-collection a {
  font-size: 25px;
  margin-top: -5px;
  color: #444;
  font-family: 'rokkitt', 'georgia', serif;
  display: block;
  width: 175px;
}
div#tagline #button-bar p#example-collection a:hover {
  text-decoration: underline;
  color: #ff4e00;
}
div#sources {
  padding: 30px 0 0 0 ;
  background: #fff;
  height: 127px;
  width: 100%;
  border-top: 1px solid #aaa;
}
div#sources div.wrapper h2 {
  float: left;
  color: #999;
  font-family: 'rokkitt', 'georgia', serif;
  font-size: 20px;
  line-height: 1.1;
  width: 160px;
  border-right: 1px solid #ddd;
  margin-right: 20px;
}
div#sources div.wrapper ul#source-logos li {
  float: left;
  margin: 0 20px 20px 0;
}
div#sources div.wrapper ul#source-logos li img {
  height: 22px;
}
/* the call-to-action button and environs */
/* the "selling points" section
*************************************************/
div#selling-points {
  background-color: #333;
  padding: 45px 0 0;
  margin-top: -34px;
  min-height: 300px;
  background-position: bottom;
  background-repeat: repeat-x;
}
div#selling-points p {
  margin-top: 0;
  color: #ddd;
  line-height: 1.4;
}
#selling-points ul li {
  float: left;
  width: 27%;
  padding-right: 3%;
  margin-right: 3%;
  border-right: 1px solid #555;
  list-style-type: none;
  min-height: 270px;
}
#selling-points ul li:last-child {
  border-right: none;
}
#selling-points h3 {
  color: #fff;
  font-family: rokkitt, georgia, serif;
  font-weight: normal;
  font-size: 26px;
  height: 61px;
  padding-top: 8px;
  padding-bottom: 0;
  line-height: 1;
  margin-top: 0px;
  text-shadow: 3px 3px 7px #111;
  padding-bottom: 10px;
}
h3#metrics-in-seconds {
  background: url(../img/stopwatch-icon.png) no-repeat top left;
  padding-left: 72px;
}
h3#embed-metrics-anywhere {
  background: url(../img/suitcase-icon.png) no-repeat top left;
  padding-left: 79px;
}
h3#its-on-us {
  background: url(../img/free-icon.png) no-repeat top left;
  padding-left: 122px;
  padding-top: 30px;
  margin-left: -30px;
  height: 47px;
  padding-bottom: 0;
}
/* "faq" page
*****************************************************************************
*****************************************************************************
*****************************************************************************/
table {
  border-collapse: collapse;
  padding: 2px;
  border-color: #ccc;
  width: 700px;
}
td {
  padding: 3px 8px;
  border: 1px solid #ccc;
  border-left: none;
  border-right: none;
}
th {
  background: #FF4E00;
  color: #fff;
  border: none;
}
#faq {
  background: #fff;
  padding-bottom: 50px;
  padding-top: 40px;
}
ul#providers-metadata > li {
  margin-bottom: 15px;
}
ul#providers-metadata li ul li {
  list-style-type: none;
}
ul#providers-metadata li img {
  margin-bottom: -0.2em;
}
ul#providers-metadata span.csv-name {
  font-family: monaco, consolas, monospace;
  color: #777;
  font-size: 10px;
}
#toc {
  border: 1px solid #333333;
  line-height: 1.5;
  float: right;
  margin: 16px 21px 12px;
  padding: 16px;
  text-align: left;
  -webkit-border-radius: 4px;
  /* CSS3 rounded borders for Safari      */

  -moz-border-radius: 4px;
  /* CSS3 rounded borders for Firefox   */

}
/* "about" page
*****************************************************************************
*****************************************************************************
*****************************************************************************/
div#about img {
  float: left;
  margin: 5px 15px 10px 0;
  border: 1px solid #555;
  height: 138px;
}
div#about p {
  margin-top: 0;
  margin-bottom: .5em;
}
div#about h3 {
  margin-top: 50px;
  font-family: rokkitt, Georgia, serif;
  color: #555;
  margin-bottom: 10px;
  font-size: 30px;
}
div#about div.team-member.second {
  margin-top: 50px;
}
div#about ul {
  padding-left: 2em;
}
div#about ul li {
  list-style-type: circle;
}
/* "api" page
*****************************************************************************
*****************************************************************************
*****************************************************************************/
table {
  border-collapse: collapse;
  padding: 2px;
  border-color: #ccc;
  width: 700px;
}
td {
  padding: 3px 8px;
  border: 1px solid #ccc;
  border-left: none;
  border-right: none;
}
th {
  background: #FF4E00;
  color: #fff;
  border: none;
}
h2#api {
  clear: both;
  /* clears the floated ti-data embedded stuff */

  padding-top: 70px;
}
h3.apicall:first-of-type {
  margin-top: 50px;
}
div#api {
  margin-top: 120px;
}
#toc {
  border: 1px solid #333333;
  float: right;
  margin: 16px 21px 12px;
  padding: 16px;
  text-align: left;
  -webkit-border-radius: 4px;
  /* CSS3 rounded borders for Safari      */

  -moz-border-radius: 4px;
  /* CSS3 rounded borders for Firefox   */

}
a.tocBackLink {
  text-align: right;
  font-size: 10px;
  font-weight: normal;
  margin-left: 10px;
}
pre {
  font-family: consolas, monospace;
  background: #333;
  color: #eee;
  padding: 1em;
  font-size: 16px;
  margin: 50px 0;
  width: 965px;
  overflow-x: scroll;
}
h3.apicall {
  white-space: normal !important;
  font-family: consolas, monospace;
  margin-top: 150px;
  font-size: 30px;
  color: #555;
  margin-bottom: 10px;
}
div#docs h4 {
  font-size: 22px;
  margin-bottom: 5px;
}
div#docs ul.metrics {
  margin-left: 0;
}
.description {
  /*    margin-left: 50px;*/

}
/* footer
*****************************************************************************
*****************************************************************************
*****************************************************************************/
body.homepage #footer {
  background: #333;
  border: none;
}
div#footer {
  font-size: 100%;
  clear: both;
  color: #555;
  padding-top: 50px;
  width: 100%;
  border-top: 1px solid #aaa;
}
div#footer div.wrapper {
  padding: 20px 30px 50px;
  margin-top: 50px;
  border: 1px solid #aaa;
  border-bottom: none;
  height: 50px;
  -moz-border-radius-topleft: 10px;
  -webkit-border-top-left-radius: 10px;
  -moz-border-radius-topright: 10px;
  -webkit-border-top-right-radius: 10px;
  background: #fff;
  margin: 0 auto;
}
div#footer p {
  margin: 6px 0 0 0;
  line-height: 1;
  font-size: 14px;
  line-height: 1.3;
}
div#footer img {
  float: left;
  padding-right: 20px;
  padding-left: 10px;
}
div#footer-text {
  padding-top: 12px;
}
div.tooltip {
  font-size: 12px;
  width: 140px;
  line-height: 1.5;
}
div.tooltip.in {
  opacity: 1;
}
div.tooltip div.tooltip-inner {
  padding-top: 8px;
  padding-bottom: 8px;
}
code {
  color: #000;
}
