/*---------------------------------------------------
    LESS Elements 0.6
  ---------------------------------------------------
    A set of useful LESS mixins by Dmitry Fadeyev
    Special thanks for mixin suggestions to:
      Kris Van Herzeele,
      Benoit Adam,
      Portenart Emile-Victor,
      Ryan Faerman

    More info at: http://lesselements.com
-----------------------------------------------------*/
/* globals */
html {
  margin: 0;
  padding: 0;
  height: 100%;
}
body {
  font-family: "Helvetica", sans-serif;
  margin: 0;
  background: url(../img/grey-noise.png);
  height: 100%;
  padding-bottom: 0;
}
body div#container {
  min-width: 1100px;
}
body div#namechange {
  font-size: 16px;
  background: #444;
  color: #fff;
  min-width: 1100px;
  text-align: center;
  padding: 10px 0;
}
body div#namechange strong {
  color: #ff4e00;
}
body div#namechange a.dismiss {
  float: right;
  padding-right: 20px;
  color: #fff;
  font-size: 14px;
  border-bottom: #000;
}
body div#namechange a.dismiss:hover {
  color: #ff4e00;
}
ul,
li {
  padding: 0;
  margin: 0;
}
li {
  list-style-type: none;
}
ol {
  padding-left: 2em;
}
ol li {
  list-style-type: decimal;
  margin-bottom: .5em;
}
legend {
  border-bottom: none;
}
body a:link {
  text-decoration: none;
  cursor: pointer;
}
body a:hover {
  text-decoration: underline;
  color: #ff4e00;
}
.wrapper {
  margin: 0 auto;
  display: block;
  width: 1030px;
}
.clearfix {
  clear: both;
}
h3 {
  margin: 0px;
  margin-top: 20px;
}
a {
  color: #ff4e00;
  cursor: pointer;
}
p,
ul,
ol {
  line-height: 1.5;
  font-size: 16px;
}
p li,
ul li,
ol li {
  line-height: 1.5;
}
span.icon.help {
  padding: 0 9px;
  background: url(../img/glyphicons-halflings-light.png);
  background-position: -96px 64px;
}
div.popover p {
  font-size: 14px;
}
div.popover a {
  color: #555;
  border-bottom: 1px dotted #555;
}
div.popover a:hover {
  border-bottom: 1px solid #555;
  text-decoration: none;
}
div.modal h3 {
  font-family: rokkitt, helvetica, arial, sans-serif;
}
div.modal.error {
  border: 2px solid #BD362F;
}
div.modal.error div.modal-header {
  background: #BD362F;
  color: #fff;
}
div.modal#edit-not-logged-in div.modal-body span.desc {
  width: 24%;
  float: left;
}
div.modal#edit-not-logged-in div.modal-body span.news {
  float: left;
  width: 76%;
}
/* navbar
*****************************************************************************
*****************************************************************************
*****************************************************************************/
div.navbar {
  width: 1100px;
  margin: 0 auto;
  font-family: rokkitt, cambria, serif;
}
div.navbar .navbar-inner {
  -webkit-border-top-right-radius: 0;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-topleft: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  padding-right: 0;
  height: 65px;
  background: #fff;
  border: 1px solid #aaa;
  border-top: none;
}
div.navbar .navbar-inner a.brand {
  margin: 2px 0 0 -10px;
}
div.navbar .navbar-inner .nav {
  position: static;
}
div.navbar a.brand img {
  height: 35px;
  margin-top: 0;
}
div.navbar ul.nav.pull-right > li {
  margin-top: 10px;
}
div.navbar ul.nav.pull-right > li.divider-vertical {
  height: 35px;
  margin-top: 15px;
}
div.navbar ul.nav.pull-right > li.dropdown.open a.dropdown-toggle {
  background: #fff !important;
  color: #ff4e00 !important;
}
div.navbar ul.nav.pull-right > li.acct-mgt#logged-in {
  display: none;
}
div.navbar ul.nav.pull-right > li.acct-mgt#logged-in span.username {
  font-weight: bold;
}
div.navbar ul.nav.pull-right > li.acct-mgt#logged-in span.username:hover {
  color: #ff4e00;
}
div.navbar ul.nav.pull-right > li.acct-mgt#logged-in span#logout-link {
  font-size: 12px;
  font-family: Helvetica, arial;
}
div.navbar ul.nav.pull-right > li.acct-mgt#logged-in span#logout-link:hover {
  color: #ff4e00;
}
div.navbar ul.nav.pull-right > li .control-group {
  margin: 0;
}
div.navbar ul.nav.pull-right > li ul.dropdown-menu {
  font-family: helvetica, arial, sans-serif;
  font-size: 14px;
  min-width: 120px;
}
div.navbar ul.nav.pull-right > li div.dropdown-menu {
  padding: 15px 20px 20px;
  background: #f5f5f5;
}
div.navbar ul.nav.pull-right > li div.dropdown-menu li {
  margin: 0;
  padding: 0;
}
div.navbar ul.nav.pull-right > li div.dropdown-menu::after {
  border-bottom: 6px solid #f5f5f5;
}
div.navbar ul.nav.pull-right > li div.dropdown-menu span.register {
  float: right;
  font-size: 18px;
}
div.navbar ul.nav.pull-right > li div.dropdown-menu span.register a {
  padding: 6px 15px;
  color: #0064cd;
}
div.navbar ul.nav.pull-right > li div.dropdown-menu span.help-inline {
  height: 22px;
  min-width: 40px;
  float: right;
  font-family: helvetica, aria, sans-serif;
  font-size: 12px;
}
div.navbar ul.nav.pull-right > li div.dropdown-menu span.help-inline img {
  height: 22px;
  float: right;
}
div.navbar ul.nav.pull-right li#logged-in div.dropdown-menu {
  min-width: 200px;
  padding: 5px 0 10px 0;
}
div.navbar ul.nav.pull-right li#logged-in div.dropdown-menu h3 {
  margin-top: 0;
  border-bottom: 1px solid #ccc;
  text-align: center;
}
div.navbar ul.nav.pull-right li#logged-in div.dropdown-menu p.none {
  text-align: left;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  padding: 20px;
  margin-bottom: 0;
}
div.navbar ul.nav.pull-right li#logged-in div.dropdown-menu p.none a {
  color: #ff4e00;
  display: inline;
  padding: 0;
}
div.navbar ul.nav.pull-right li#logged-in div.dropdown-menu img.loading {
  margin: 5px auto 0;
  float: none;
  display: block;
}
div.navbar ul.nav.pull-right a#uservoice {
  position: relative;
  display: block;
  margin-top: -26px;
  z-index: 3;
  padding-right: 0;
}
/* login stuff
*****************************************************************************
*****************************************************************************
*****************************************************************************/
div.control-group.inactive .ready {
  display: none;
}
div.control-group.inactive .working {
  display: none;
}
div.control-group.inactive .success {
  display: none;
}
div.control-group.inactive .failure {
  display: none;
}
div.control-group.ready .inactive {
  display: none;
}
div.control-group.ready .working {
  display: none;
}
div.control-group.ready .success {
  display: none;
}
div.control-group.ready .failure {
  display: none;
}
div.control-group.ready label {
  color: #555;
}
div.control-group.working .inactive {
  display: none;
}
div.control-group.working .ready {
  display: none;
}
div.control-group.working .success {
  display: none;
}
div.control-group.working .failure {
  display: none;
}
div.control-group.working label {
  color: #ff4e00;
}
div.control-group.working button {
  display: none;
}
div.control-group.success .inactive {
  display: none;
}
div.control-group.success .ready {
  display: none;
}
div.control-group.success .working {
  display: none;
}
div.control-group.success .failure {
  display: none;
}
div.control-group.success label {
  color: #468847;
}
div.control-group.failure .inactive {
  display: none;
}
div.control-group.failure .ready {
  display: none;
}
div.control-group.failure .working {
  display: none;
}
div.control-group.failure .success {
  display: none;
}
div.control-group.failure label {
  color: #b94a48;
}
div.control-group label {
  clear: both;
  width: 250px;
  font-weight: bold;
}
div.control-group img {
  height: 20px;
  margin: -3px 5px 0 0;
}
div#login-register {
  background: #fcfcfc;
  border: 3px solid #ff4e00;
  width: 580px;
}
div#login-register h3 {
  font-family: rokkitt, helvetica, sans-serif;
  color: #ff4e00;
  margin: 0 0 20px;
}
div#login-register h3 span.or {
  float: right;
  font-family: helvetica, arial, sans-serif;
  font-size: 12px;
  color: #555;
  margin-right: -26px;
  font-style: italic;
  font-weight: normal;
  background: #fcfcfc;
  padding: 5px;
  margin-top: -6px;
}
div#login-register form {
  width: 250px;
  float: left;
}
div#login-register form input {
  width: 220px;
}
div#login-register form button {
  float: right;
  margin: 5px 15px 15px 0;
}
div#login-register form:first-child {
  margin-right: 30px;
  padding-right: 15px;
  border-right: 1px solid #ddd;
}
/* page header
*****************************************************************************
*****************************************************************************
*****************************************************************************/
div#page-header {
  padding-top: 30px;
  /*    background-color: #ff4e00;*/

  /*    background: url(img/h2-bg.png) bottom  left repeat-x;*/

}
div#page-header h2 {
  font-family: rokkitt, georgia, sans-serif;
  color: #fff;
  font-size: 30px;
  margin: 0;
  margin-bottom: -5px;
  float: none;
  color: #555;
}
div.main {
  background: #fff;
  padding-top: 30px;
  font-size: 18px;
  padding-bottom: 100px;
  color: #333;
  border-top: 1px solid #aaa;
  min-height: 350px;
}
div.main h3:first {
  margin-top: 0;
}
/* import products
*****************************************************************************
*****************************************************************************
*****************************************************************************/
div.import-products {
  color: #333;
  font-weight: bold;
}
div.import-products div.control-group.submit img {
  height: 37px;
  padding-left: 5px;
}
div.import-products form.importers {
  width: 270px;
  margin-right: 60px;
  float: left;
}
div.import-products form.importers h3 {
  margin-bottom: 20px;
}
div.import-products form.importers span.limit {
  display: block;
  color: #888;
  font-weight: normal;
  font-size: 12px;
}
div.import-products form.importers p#artcounter {
  margin-top: 20px;
}
div.import-products form.importers div.control-group {
  margin-bottom: 30px;
}
div.import-products form.importers div.control-group.email {
  margin-bottom: 0;
}
div.import-products form.importers div.control-group.fileupload div.uneditable-input {
  width: 100px;
}
div.import-products form.importers div.control-group.submit {
  margin-bottom: 0;
}
div.import-products form.importers div.control-group.submit div.controls input {
  width: 200px;
  height: 27px;
  font-size: 17px;
}
div.import-products form.importers div.control-group.submit label {
  color: #555;
}
div.import-products form.importers div.control-group label.control-label a.help {
  text-decoration: none;
  font-weight: normal;
  float: right;
  color: #888;
}
div.import-products form.importers div.control-group label.control-label a.help:hover {
  text-decoration: underline;
  color: #ff4e00;
}
div.import-products form.importers div.control-group label.control-label.ids span.success {
  float: right;
}
div.import-products form.importers div.control-group div.controls input {
  font-size: 16px;
  width: 240px;
}
div.import-products form.importers div.control-group div.controls textarea {
  line-height: 1.6;
  width: 240px;
}
div.import-products form.importers div.control-group div.controls textarea.default {
  color: #999;
}
/* homepage
*****************************************************************************
*****************************************************************************
*****************************************************************************/
body.homepage div#page-header {
  display: none;
}
div#tagline {
  color: #ff4e00;
  height: 390px;
  position: relative;
}
div#tagline div.wrapper {
  position: relative;
}
div#tagline #img-bar {
  position: relative;
}
div#tagline .carousel {
  height: 355px;
  width: 500px;
  position: absolute;
  right: 0;
  top: 60px;
  z-index: 2;
  border: none;
}
div#tagline .carousel img {
  height: auto;
  max-width: 100%;
}
div#tagline .carousel div.carousel-caption {
  background: #fff;
  color: #333;
  display: none;
}
div#tagline .carousel a.carousel-control {
  height: 30px;
  width: 30px;
  line-height: 20px;
  top: 93%;
  border: none;
  color: #555;
  background: transparent;
}
div#tagline .carousel a.carousel-control:hover {
  color: #ff4e00;
}
div#tagline .carousel a.carousel-control.right {
  right: -20px;
}
div#tagline .carousel a.carousel-control.left {
  left: -20px;
}
div#tagline #text-bar {
  padding: 20px 0 0 0;
  position: absolute;
  width: 100%;
  top: 70px;
}
div#tagline #text-bar h2 {
  color: #444;
  font-family: 'rokkitt', 'georgia', serif;
  font-size: 46px;
  font-weight: bold;
  margin-bottom: 0;
  line-height: .8;
  background: transparent;
  width: 576px;
  margin: 0;
  padding: 0;
}
div#tagline #text-bar p.subtagline {
  color: #666;
  line-height: 1.2;
  width: 521px;
  font-family: rokkitt;
  margin-top: 14px;
  font-size: 20px;
}
div#tagline #text-bar p.subtagline a {
  text-decoration: underline;
  color: #ff4e00;
}
div#tagline #button-bar {
  width: 100%;
  position: absolute;
  top: 300px;
}
div#tagline #button-bar #call-to-action span.container {
  height: 114px;
  display: block;
  float: left;
  width: 330px;
}
div#tagline #button-bar a#create-collection {
  margin: 3px 0 0 20px;
  font-size: 2.1em;
  font-family: rokkitt, Helvetica, Arial, sans-serif;
}
div#tagline #button-bar p#example-collection {
  font-size: 14px;
  float: left;
  width: 100px;
  color: #777;
  margin: 2px 0 0 5px;
  padding: 4px 0 0 15px;
  border-left: 1px solid #aaa;
}
div#tagline #button-bar p#example-collection a {
  font-size: 25px;
  margin-top: -5px;
  color: #444;
  font-family: 'rokkitt', 'georgia', serif;
  display: block;
  width: 175px;
}
div#tagline #button-bar p#example-collection a:hover {
  text-decoration: underline;
  color: #ff4e00;
}
div#sources {
  background: #fff;
  margin-top: 80px;
  width: 100%;
  border-top: 3px solid #ff4e00;
}
div#sources div.wrapper {
  background: url(../img/sources-banner.png) no-repeat top left;
  height: 135px;
  margin-top: -63px;
  padding-top: 15px;
  width: 1200px;
}
div#sources div.wrapper h2 {
  float: left;
  color: #999;
  font-family: 'rokkitt', 'georgia', serif;
  font-size: 20px;
  line-height: 1.1;
  width: 160px;
  border-right: 1px solid #ddd;
  margin: 0 20px 0 70px;
  padding: 10px;
}
div#sources div.wrapper ul#source-logos li {
  float: left;
  margin: 0 20px 20px 0;
}
div#sources div.wrapper ul#source-logos li img {
  height: 22px;
}
/* the call-to-action button and environs */
/* the "selling points" section
*************************************************/
div#selling-points {
  background-color: #fff;
  min-height: 300px;
  border-bottom: 3px solid #ff4e00;
  background-position: bottom;
  background-repeat: repeat-x;
}
div#selling-points h3 {
  color: #555;
  font-family: rokkitt, georgia, serif;
  font-weight: normal;
  font-size: 26px;
  height: 61px;
  padding-top: 8px;
  line-height: 1;
  margin-top: 0px;
  padding-bottom: 10px;
}
div#selling-points h3#metrics-in-seconds {
  background: url(../img/stopwatch-icon.png) no-repeat top left;
  padding-left: 72px;
}
div#selling-points h3#embed-metrics-anywhere {
  background: url(../img/suitcase-icon.png) no-repeat top left;
  padding-left: 79px;
}
div#selling-points h3#its-open {
  background: url(../img/wrench-icon.png) no-repeat 0 10px;
  padding-left: 85px;
}
div#selling-points p {
  margin-top: 0;
  color: #777;
  line-height: 1.4;
}
div#selling-points ul li {
  float: left;
  width: 30%;
  list-style-type: none;
  min-height: 270px;
}
div#selling-points ul li.middle.middle {
  padding-left: 5%;
  padding-right: 5%;
}
/* "faq" page
*****************************************************************************
*****************************************************************************
*****************************************************************************/
table {
  border-collapse: collapse;
  padding: 2px;
  border-color: #ccc;
  width: 700px;
}
td {
  padding: 3px 8px;
  border: 1px solid #ccc;
  border-left: none;
  border-right: none;
}
th {
  background: #FF4E00;
  color: #fff;
  border: none;
}
#faq li {
  list-style-type: circle;
}
#faq {
  background: #fff;
  padding-bottom: 50px;
  padding-top: 40px;
}
ul#providers-metadata > li {
  margin-bottom: 15px;
}
ul#providers-metadata li ul li {
  list-style-type: none;
}
ul#providers-metadata li img {
  margin-bottom: -0.2em;
}
ul#providers-metadata span.csv-name {
  font-family: monaco, consolas, monospace;
  color: #777;
  font-size: 10px;
}
#toc {
  border: 1px solid #333333;
  line-height: 1.5;
  float: right;
  margin: 16px 21px 12px;
  padding: 16px;
  text-align: left;
  -webkit-border-radius: 4px;
  /* CSS3 rounded borders for Safari      */

  -moz-border-radius: 4px;
  /* CSS3 rounded borders for Firefox   */

}
/* "about" page
*****************************************************************************
*****************************************************************************
*****************************************************************************/
div#about img {
  float: left;
  margin: 5px 15px 10px 0;
  border: 1px solid #555;
  height: 138px;
}
div#about p {
  margin-top: 0;
  margin-bottom: .5em;
}
div#about h3 {
  margin-top: 50px;
  font-family: rokkitt, Georgia, serif;
  color: #555;
  margin-bottom: 10px;
  font-size: 30px;
}
div#about div.team-member.second {
  margin-top: 50px;
}
div#about ul {
  padding-left: 2em;
}
div#about ul li {
  list-style-type: circle;
}
div#about div#contact p {
  padding: 15px;
  margin: -15px 0 0 -15px;
}
/* "api" page
*****************************************************************************
*****************************************************************************
*****************************************************************************/
table {
  border-collapse: collapse;
  padding: 2px;
  border-color: #ccc;
  width: 100%;
  margin: 50px 0;
}
td {
  padding: 15px 8px;
  border: 1px solid #ccc;
  border-left: none;
  border-right: none;
}
td pre.prettyprint {
  padding-bottom: 0;
}
td.attr {
  min-width: 150px;
}
td.example {
  width: 100px;
}
td.example div.impactstory-embed div {
  font-size: 12px;
  color: red;
  font-weight: bold;
  margin: 5px 0;
  clear: both;
}
th {
  border: none;
  background: #fff;
  color: #555;
  text-align: left;
  padding-left: 5px;
}
h3.apicall:first-of-type {
  margin-top: 50px;
}
div.example {
  clear: both;
}
div#api {
  margin-top: 120px;
}
#toc {
  border: 1px solid #333333;
  float: right;
  margin: 16px 21px 12px;
  padding: 16px;
  text-align: left;
  -webkit-border-radius: 4px;
  /* CSS3 rounded borders for Safari      */

  -moz-border-radius: 4px;
  /* CSS3 rounded borders for Firefox   */

}
a.tocBackLink {
  text-align: right;
  font-size: 10px;
  font-weight: normal;
  margin-left: 10px;
}
pre {
  font-family: consolas, monospace;
  display: block;
  padding: 10px;
  margin: 0 0 9px;
  font-size: 14px;
  line-height: 1.5;
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre;
  white-space: pre-wrap;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
pre.prettyprint {
  margin-bottom: 18px;
  border: 1px solid #ccc;
  padding: 10px;
}
.pre-scrollable {
  max-height: 340px;
  overflow-y: scroll;
}
h3.apicall {
  white-space: normal !important;
  font-family: consolas, monospace;
  margin-top: 150px;
  font-size: 30px;
  color: #555;
  margin-bottom: 10px;
}
div#docs h4 {
  font-size: 22px;
  margin-bottom: 5px;
}
div#docs h3 {
  margin-top: 90px;
}
div#docs h2 {
  margin-top: 50px;
}
div#docs li {
  margin-left: 1em;
}
div#docs ol {
  padding-left: 0;
  margin-left: 0;
}
div#docs ul li {
  list-style-type: disc;
}
div#docs div.impactstory-embed {
  float: left;
  margin: 22px 15px 17px 5px;
}
div#docs ul#required-attributes li {
  margin-bottom: 15px;
}
.description {
  /*    margin-left: 50px;*/

}
/* misc snippets
*****************************************************************************
*****************************************************************************
*****************************************************************************/
.ie {
  display: none;
}
#ie-fail-warning {
  width: 800px;
  margin-top: 50px;
  margin-bottom: 200px;
  border: 5px solid #ccc;
  padding: 30px;
}
#ie-fail-warning img {
  float: left;
  margin: -10px 20px 0 0;
  height: 80px;
}
#ie-fail-warning h2 {
  font-family: rokkitt, serif;
  font-size: 65px;
  padding-bottom: 10px;
}
#ie-fail-warning p {
  font-size: 18px;
}
/* footer
*****************************************************************************
*****************************************************************************
*****************************************************************************/
div#footer {
  font-size: 100%;
  clear: both;
  color: #555;
  padding-top: 20px;
  width: 100%;
  border-top: 1px solid #aaa;
  background: url(../img/footer-bg.png) top repeat-x;
  float: left;
}
div#footer p {
  margin: 6px 0 0 0;
  line-height: 1;
  font-size: 14px;
  line-height: 1.3;
}
div#footer div.wrapper {
  margin-top: 30px;
  margin: 0 auto;
}
div#footer div.wrapper div.footer-col {
  float: left;
  width: 32%;
  margin-bottom: 30px;
}
div#footer div.wrapper div.footer-col h3 {
  font-size: 18px;
  font-weight: bold;
  font-family: rokkitt, helvetica, sans-serif;
  color: #333;
  width: 100px;
  margin: 0 auto;
}
div#footer div.wrapper div.footer-col ul {
  width: 100px;
  margin: 0 auto;
}
div#footer div.wrapper div.footer-col ul li {
  line-height: 1.25;
}
div#footer div.wrapper div.footer-col ul a {
  color: #777;
  font-size: 13px;
}
div#footer div.wrapper div.footer-col ul a:hover {
  color: #ff4e00;
}
div#footer div.wrapper div.footer-col#footer-funders #footer-sloan-link img {
  margin: 20px 0 0 0;
  width: 275px;
  float: right;
}
div#footer div.wrapper div.footer-col#footer-follow {
  border-left: 1px dotted #bbb;
  border-right: 1px dotted #bbb;
}
div#footer div.wrapper div.footer-col#footer-follow img {
  float: right;
  height: 28px;
}
#footer-powered-by img {
  height: 30px;
  margin-bottom: 30px;
  float: right;
  margin-top: -30px;
}
div.tooltip {
  font-size: 12px;
  width: 140px;
  line-height: 1.5;
}
div.tooltip.in {
  opacity: 1;
}
div.tooltip div.tooltip-inner {
  padding-top: 8px;
  padding-bottom: 8px;
}
code {
  color: #000;
}
