/* report
*****************************************************************************
*****************************************************************************
*****************************************************************************/
#page-header h2 span {
  font-size: 16px;
  margin-left: 10px;
  font-family: helvetica, arial, sans-serif;
}
#page-header img.loading {
  height: 32px;
  margin-top: -2px;
  margin-right: 5px;
}
#report {
  padding-bottom: 20px;
}
#report-meta {
  margin: -102px 90px 0 0;
  float: right;
}
#report-meta div#num-items {
  color: white;
  padding-top: 41px;
  display: block;
  float: right;
  padding-right: 11px;
  font-size: 14px;
}
#report-meta div#num-items span.value {
  font-weight: bold;
  font-size: 16px;
}
#report-meta div#num-items a {
  color: #fff;
}
#report-meta div#num-items a:hover {
  color: #fff;
}
#report-meta div#report-button {
  width: 155px;
  float: right;
  margin-top: 37px;
}
#report-meta div#report-button div.download {
  margin-left: 10px;
  float: left;
}
#report-meta div#report-button button {
  margin-bottom: 5px;
  display: block;
  float: left;
}
#report-meta #share {
  float: right;
  margin: 42px 0 0 0;
  width: 80px;
}
p.something-missing {
  clear: left;
  padding: 50px 20px 20px 0;
  font-size: 75%;
  color: #999;
  background: #fff;
  text-align: right;
  margin: 0;
}
.tweet-this iframe {
  width: 97px;
}
.twitter-feed {
  clear: both;
  padding-top: 30px;
}
input.report {
  border-top: none;
  border-left: none;
  border-bottom: 1px solid #EEE;
  border-right: 1px solid #EEE;
  background-color: #FF4E00;
  color: #FFF;
  margin-top: 3px;
  height: 28px;
}
/** report printout ******************************************************/
div#metrics {
  min-height: 500px;
  background: none repeat scroll 0 0 #FFFFFF;
  float: left;
  width: 100%;
  margin-top: 25px;
}
div#metrics div.wrapper {
  width: 1100px;
}
div#metrics h3 {
  font-family: rokkitt, georgia, serif;
  font-size: 35px;
  color: #ff4e00;
  clear: both;
  font-weight: bold;
}
div#metrics div.genre {
  display: none;
}
li.item {
  margin-bottom: 15px;
  float: left;
  clear: both;
}
li.item.zoomed div.biblio h5 span.title {
  color: #ff4e00;
}
li.item div.glyph {
  float: left;
  cursor: pointer;
}
li.item div.glyph ul.glyph {
  width: 50px;
}
li.item div.glyph ul.glyph li.scholars li {
  margin-bottom: 1px;
  bottom: 0;
}
li.item div.glyph ul.glyph li.scholars li span.value {
  background: #377eb8;
}
li.item div.glyph ul.glyph li.public span.value {
  background: #1a78e1;
  top: 0;
}
li.item div.glyph ul.glyph li ul li {
  height: 15px;
  position: relative;
  border-right: 1px solid #ffffff;
  width: 9px;
  float: left;
}
li.item div.glyph ul.glyph li ul li span.value {
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 0;
  text-indent: -9999px;
}
li.item a.item-delete-button {
  margin-left: -50px;
  width: 50px;
  height: 25px;
  color: #999;
  display: block;
  font-size: 12px;
  float: left;
  display: none;
}
li.item a.item-delete-button:hover {
  color: red;
}
li.item div.biblio {
  float: left;
}
li.item div.biblio h5 {
  font-size: 16px;
  margin: 0 0 -3px 0;
  cursor: pointer;
  padding-left: 20px;
  margin-left: -20px;
  background: url(../img/dots.png) left 40px no-repeat;
}
li.item div.biblio h5.public {
  background-position-y: -47px;
}
li.item div.biblio h5.scholars {
  background-position-y: -105px;
}
li.item div.biblio h5.scholars.public {
  background-position-y: 5px;
}
li.item div.biblio h5 span.ti-badge {
  line-height: 1.4;
  display: inline-block;
}
li.item div.biblio h5 span.ti-badge.scholars {
  background: #377eb8;
}
li.item div.biblio h5 span.ti-badge.public {
  background: #4daf4a;
}
li.item div.biblio h5 span.title:hover {
  color: #ff4e00;
  text-decoration: none;
}
li.item div.biblio h5 a {
  width: 12px;
  height: 12px;
  margin-right: 5px;
  background: url(../img/linkout-icon.png);
  background-repeat: no-repeat;
  background-position: right 1px;
  display: inline-block;
}
li.item div.biblio h5 a span.help-text {
  display: none;
  padding-left: 16px;
  float: left;
  margin-top: -2px;
  color: #ff4e00;
  font-size: 12px;
  font-weight: normal;
  text-decoration: none;
}
li.item div.biblio h5 a:hover {
  background-position: right -23px;
}
li.item div.biblio h5 a:hover span.help-text {
  display: inline-block;
}
li.item div.biblio span.year,
li.item div.biblio span.authors,
li.item div.biblio span.repo,
li.item div.biblio span.descr {
  font-size: 12px;
  color: #888;
  line-height: 1.3;
}
li.item div.biblio span.repo {
  font-style: italic;
}
li.item div.zoom {
  float: left;
  clear: left;
  margin: 5px 0 35px;
  padding-bottom: 15px;
  border-top: 1px solid #aaa;
  background: url(../img/shadow-horiz-divider.png) bottom center no-repeat;
}
li.item div.zoom span.value {
  font-weight: bold;
}
li.item div.zoom div.audience {
  width: 370px;
  float: left;
  margin-left: 10px;
}
li.item div.zoom div.audience.scholars {
  margin-right: 40px;
}
li.item div.zoom div.audience.scholars span.bar {
  background: #377eb8;
}
li.item div.zoom div.audience.scholars h6 {
  color: #377eb8;
}
li.item div.zoom div.audience.public span.bar {
  background: #4daf4a;
}
li.item div.zoom div.audience.public h6 {
  color: #4daf4a;
}
li.item div.zoom div.audience h5 {
  margin-bottom: 0;
  margin-left: 162px;
  color: #555;
}
li.item div.zoom div.audience h5:after {
  content: " audience";
}
li.item div.zoom div.audience ul.engagement-types li.engagement-type {
  margin-bottom: 25px;
  float: left;
}
li.item div.zoom div.audience ul.engagement-types li.engagement-type h6 {
  font-weight: normal;
  font-size: 13px;
}
li.item div.zoom div.audience ul.engagement-types li.engagement-type h6 span.engagement-type {
  font-weight: bold;
}
li.item div.zoom div.audience ul.engagement-types li.engagement-type ul.metrics li {
  float: left;
  width: 100%;
  margin: 0 0 5px 0;
}
li.item div.zoom div.audience ul.engagement-types li.engagement-type ul.metrics li div.line {
  width: 250px;
  height: 16px;
  margin-top: -6px;
  border-bottom: 1px solid #bbb;
  float: left;
}
li.item div.zoom div.audience ul.engagement-types li.engagement-type ul.metrics li div.line div.percentile-fail {
  color: #999;
  font-size: 11px;
  margin-top: 6px;
  background: #fff;
}
li.item div.zoom div.audience ul.engagement-types li.engagement-type ul.metrics li div.line div.percentile-fail span {
  text-align: left;
  padding: 0 4px;
}
li.item div.zoom div.audience ul.engagement-types li.engagement-type ul.metrics li div.line div.metric-perc-range {
  position: relative;
}
li.item div.zoom div.audience ul.engagement-types li.engagement-type ul.metrics li div.line div.metric-perc-range.estimate {
  display: none;
}
li.item div.zoom div.audience ul.engagement-types li.engagement-type ul.metrics li div.line div.metric-perc-range span.bar {
  height: 5px;
  margin-top: 12px;
  display: block;
}
li.item div.zoom div.audience ul.engagement-types li.engagement-type ul.metrics li div.line div.metric-perc-range span.endpoint {
  font-size: 10px;
  display: block;
  position: absolute;
  top: 2px;
  color: #999;
}
li.item div.zoom div.audience ul.engagement-types li.engagement-type ul.metrics li div.line div.metric-perc-range span.endpoint.start {
  left: 0;
}
li.item div.zoom div.audience ul.engagement-types li.engagement-type ul.metrics li div.line div.metric-perc-range span.endpoint.end {
  right: 0;
}
li.item div.zoom div.audience ul.engagement-types li.engagement-type ul.metrics li div.meta {
  width: 100px;
  margin-right: 10px;
  float: left;
  display: block;
  text-align: right;
  font-size: 11px;
  color: #555;
}
li.item div.zoom div.audience ul.engagement-types li.engagement-type ul.metrics li div.meta a.value-and-name {
  width: 130px;
  display: inline-block;
  width: 75px;
  line-height: 1.3;
  margin-right: 5px;
  color: #999;
}
li.item div.zoom div.audience ul.engagement-types li.engagement-type ul.metrics li div.meta a.value-and-name span.value {
  font-weight: normal;
}
li.item div.zoom div.audience ul.engagement-types li.engagement-type ul.metrics li div.meta a.value-and-name:hover {
  color: #ff4e00;
}
li.item div.zoom div.audience ul.engagement-types li.engagement-type ul.metrics li div.meta img {
  float: right;
}
