/*---------------------------------------------------
    LESS Elements 0.6
  ---------------------------------------------------
    A set of useful LESS mixins by Dmitry Fadeyev
    Special thanks for mixin suggestions to:
      Kris Van Herzeele,
      Benoit Adam,
      Portenart Emile-Victor,
      Ryan Faerman

    More info at: http://lesselements.com
-----------------------------------------------------*/
body.signup {
  background: #fafafa;
}
body.signup div.main-header {
  display: none;
}
body.signup div#footer {
  display: none;
}
body.signup div.signup-header {
  padding: 20px;
  background: #fff;
  border-bottom: 4px solid #ff4e00;
}
body.signup div.signup-header a.brand {
  width: 300px;
  display: block;
  margin: 10px auto 20px;
}
body.signup div.signup-header ol.signup-steps {
  text-align: center;
  padding: 0;
  margin: 0;
}
body.signup div.signup-header ol.signup-steps li {
  display: inline;
  list-style-type: none;
  margin: 0 20px 0 20px;
}
body.signup div.signup {
  background: transparent;
}
body.signup div.signup div.control-group.name {
  padding-top: 80px;
  width: 500px;
  margin: 0 auto;
  position: relative;
}
body.signup div.signup div.control-group.name input {
  width: 486px;
  font-size: 30px;
  line-height: 1;
  height: 40px;
  padding-top: 15px;
  margin: 20px 0 0 0;
}
body.signup div.signup div.control-group.name a.btn {
  margin-top: 20px;
  width: 45%;
}
body.signup div.signup div.control-group.name a.btn.next {
  float: right;
}
