body.can-not-edit .editable-name span.instr {
  display: none;
}
body.can-edit .editable-name span.instr {
  background: url(../img/edit.png) no-repeat;
  padding-left: 10px;
  background-position: left 12px;
  cursor: default;
}
body.can-edit .editable-name span.instr span {
  display: none;
  font-family: Helvetica, Arial, sans-serif;
  color: #555;
  font-size: 12px;
  font-weight: normal;
  line-height: 1;
}
body.can-edit .editable-name span.editable {
  cursor: pointer;
}
body.can-edit .editable-name span.editable:hover {
  color: #ff4e00;
}
body.can-edit .editable-name:hover span.instr span {
  display: inline;
}
body.login-base.needs-to-reset-pw div.alert.needs-to-reset-pw {
  display: block;
}
.editable-click {
  border: none;
}
body.user-profile div#page-header {
  display: none;
}
body.user-profile div.profile-header div.wrapper div.my-picture {
  float: left;
  background: #eee;
  margin-top: 120px;
  height: 110px;
  width: 110px;
  background: #ddd;
}
body.user-profile div.profile-header div.wrapper div.my-vitals {
  margin: 120px 0 0 30px;
  width: 600px;
  float: left;
}
body.user-profile div.profile-header div.wrapper div.my-vitals h2.editable-name {
  font-family: Rokkitt, georgia, sans-serif;
  font-size: 45px;
  margin: 0;
  padding-top: 60px;
  padding-top: 0;
  float: left;
}
body.user-profile div.profile-header div.wrapper div.my-vitals h2.editable-name span.instr {
  background-position: left 22px;
}
body.user-profile div.profile-header div.wrapper div.my-vitals div#num-items {
  float: left;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 0;
  clear: left;
}
body.user-profile div.profile-header div.wrapper div.my-vitals div#num-items span.value {
  font-size: 24px;
}
body.user-profile div.profile-header div.wrapper div.my-vitals div#num-items a {
  font-size: 14px;
  color: #999;
}
body.user-profile div.profile-header div.wrapper div.my-vitals div#num-items a:hover {
  color: #ff4e00;
}
body.user-profile div.profile-header div.wrapper div.my-vitals div#num-items span.working {
  color: #ff4e00;
}
body.user-profile div.profile-header div.wrapper div.my-vitals div#num-items span.working img {
  height: 26px;
  margin: -7px 5px 0 0;
}
body.user-profile div.profile-header div.clearfloat {
  clear: both;
}
body.user-profile #report-meta {
  float: left;
  padding-bottom: 15px;
  margin: -10px 0 0 0;
  width: 100%;
}
body.user-profile #report-meta button#import-products-button {
  float: left;
  width: 110px;
  margin-top: 37px;
}
body.user-profile #report-meta button#import-products-button i {
  padding-right: 4px;
}
body.user-profile #report-meta div#report-button {
  float: left;
  margin-left: 30px;
  margin-top: 36px;
}
body.user-profile #report-meta div#report-button i {
  padding-right: 4px;
}
body.user-profile #report-meta div#share a#b {
  opacity: .5 !important;
}
body.user-profile div#metrics {
  border-top: 4px solid #f5f5f5;
}
/* login and password-reset pages
*****************************************************************************
*****************************************************************************
*****************************************************************************/
body.login-base {
  background-color: #ffffff;
}
body.login-base.change-password div.main div.wrapper form label.control-label {
  width: 200px;
}
body.login-base.change-password div.main div.wrapper form div.controls {
  margin-left: 210px;
}
body.login-base.change-password div.main div.wrapper form div.controls span.help-inline.error {
  position: absolute;
  width: 100px;
  left: 470px;
  top: 53px;
}
body.login-base.reset-password div.alert {
  display: none;
}
body.login-base div.navbar {
  display: none;
}
body.login-base div#page-header {
  display: none;
}
body.login-base div#footer {
  display: none;
}
body.login-base #footer-powered-by img {
  display: none;
}
body.login-base h1 {
  margin: 60px auto 45px;
  width: 450px;
}
body.login-base h1 img {
  width: 450px;
}
body.login-base h2 {
  font-family: helvetica, arial, sans-serif;
  font-size: 26px;
  text-align: center;
  color: #888;
  width: 600px;
  margin: 0 auto;
}
body.login-base div.main {
  background: transparent;
}
body.login-base div.main div.wrapper form {
  border-radius: 3px;
  border: 1px solid #eee;
  margin-top: 0px;
  padding: 30px 0;
  margin: 0 auto;
  position: relative;
  width: 600px;
  background: #eee;
}
body.login-base div.main div.wrapper form div.alert {
  margin-top: -26px;
  border-radius: 0;
  background-repeat: repeat-x;
  margin-left: 4px;
  padding: 20px 30px;
  width: 530px;
}
body.login-base div.main div.wrapper form div.alert.False {
  display: none;
}
body.login-base div.main div.wrapper form div.alert a {
  color: #b94a48;
  font-weight: bold;
  text-decoration: underline;
}
body.login-base div.main div.wrapper form label {
  font-size: 20px;
  font-weight: normal;
  color: #aaa;
  padding-top: 9px;
}
body.login-base div.main div.wrapper form input {
  font-size: 20px;
  height: 30px;
  padding: 6px 6px 4px;
}
body.login-base div.main div.wrapper form div.submit-alternative {
  float: right;
  margin: 0 155px 0 0;
  font-size: 14px;
}
body.login-base div.main div.wrapper form div.submit-alternative.not-registered {
  margin-top: -2px;
}
body.login-base div.main div.wrapper form div.controls.button {
  float: left;
}
body.login-base div.main div.wrapper form div.controls.button span.help-block {
  font-size: 18px;
  width: 330px;
  margin: 0;
}
body.login-base div.main div.wrapper form div.controls.button span.help-block.working {
  color: #ff4e00;
}
body.login-base div.main div.wrapper form div.controls.button span.help-block.working img {
  height: 24px;
}
body.login-base div.main div.wrapper form div.controls.button span.help-block a {
  text-decoration: underline;
}
/* user preferences page
*****************************************************************************
*****************************************************************************
*****************************************************************************/
body.user-preferences div#page-header h2.page-title span.editable {
  font-weight: normal;
}
body.user-preferences div.main div.wrapper {
  width: 600px;
}
body.user-preferences div.main div.wrapper div.pref-category {
  position: relative;
  margin-top: 50px;
}
body.user-preferences div.main div.wrapper div.pref-category h3 {
  font-size: 24px;
  color: #555;
  margin-bottom: 15px;
}
body.user-preferences div.main div.wrapper div.pref-category.name div.editable-name {
  margin-left: 25px;
  font-size: 20px;
}
body.user-preferences div.main div.wrapper div.pref-category.name div.editable-name span.instr {
  background-position: left 6px;
}
body.user-preferences div.main div.wrapper div.pref-category.profile-url span.url {
  margin-left: 25px;
  font-size: 20px;
}
body.user-preferences div.main div.wrapper div.pref-category.profile-url span.url span.url-component {
  margin: 0;
  padding: 0;
}
body.user-preferences div.main div.wrapper div.pref-category.profile-url span.url span.url-component.base {
  color: #999;
  margin: 7px 0 12px 0;
  display: inline-block;
}
body.user-preferences div.main div.wrapper div.pref-category.profile-url span.url span.url-component.slug {
  margin-left: -2px;
  cursor: pointer;
  padding-right: 16px;
  background: url(../img/edit.png) no-repeat;
  background-position: right 5px;
}
body.user-preferences div.main div.wrapper div.pref-category.profile-url span.url span.url-component.slug:hover {
  color: #ff4e00;
  background-position: right -63px;
}
body.user-preferences div.main div.wrapper div.pref-category.change-pw {
  margin-top: 80px;
}
body.user-preferences div.main div.wrapper div.pref-category.change-pw form.form-horizontal {
  margin-bottom: 90px;
}
body.user-preferences div.main div.wrapper div.pref-category.change-pw form.form-horizontal div.control-group.confirm-new-pw.error span.help-inline {
  display: inline;
}
body.user-preferences div.main div.wrapper div.pref-category.change-pw form.form-horizontal div.control-group.confirm-new-pw span.pw-changed {
  color: #468847;
  display: none;
  font-weight: bold;
  margin-top: 5px;
  font-size: 16px;
}
body.user-preferences div.main div.wrapper div.pref-category.change-pw form.form-horizontal div.control-group label {
  color: #777;
  width: 80px;
}
body.user-preferences div.main div.wrapper div.pref-category.change-pw form.form-horizontal div.control-group span.working img {
  height: 28px;
  margin: 2px 0 0 7px;
}
body.user-preferences div.main div.wrapper div.pref-category.change-pw form.form-horizontal div.control-group div.controls {
  margin-left: 100px;
}
body.user-preferences div.main div.wrapper div.pref-category.change-pw form.form-horizontal div.control-group div.controls span.help-inline {
  font-size: 14px;
  width: 250px;
}
body.user-preferences div.main div.wrapper div.pref-category.change-pw form.form-horizontal div.control-group div.controls span.help-inline.error {
  color: #b94a48;
}
body.user-preferences div.main div.wrapper div.pref-category form.editableform div.control-group.error div {
  float: left;
}
body.user-preferences div.main div.wrapper div.pref-category form.editableform div.control-group.error div.editable-error-block {
  font-size: 18px;
  line-height: 1;
  position: absolute;
  top: 90px;
  left: 25px;
  max-width: 600px;
}
body.user-preferences div.main div.wrapper div.pref-category form.editableform div.control-group button.editable-cancel {
  display: none;
}
