body.can-not-edit .editable-name span.instr {
  display: none;
}
body.can-edit .editable-name span.instr {
  background: url(../img/edit.png) no-repeat;
  padding-left: 10px;
  background-position: left 12px;
  cursor: default;
}
body.can-edit .editable-name span.instr span {
  display: none;
  font-family: Helvetica, Arial, sans-serif;
  color: #555;
  font-size: 12px;
  font-weight: normal;
  line-height: 1;
}
body.can-edit .editable-name span.editable {
  cursor: pointer;
}
body.can-edit .editable-name span.editable:hover {
  color: #ff4e00;
}
body.can-edit .editable-name:hover span.instr span {
  display: inline;
}
.editable-click {
  border: none;
}
/* login and password-reset pages
*****************************************************************************
*****************************************************************************
*****************************************************************************/
body.login-base {
  background-color: #cccccc;
  /* Safari 4-5, Chrome 1-9 */

  /* Can't specify a percentage size? Laaaaaame. */

  background: -webkit-gradient(radial, center center, 0, center center, 460, from(#ffffff), to(#cccccc));
  /* Safari 5.1+, Chrome 10+ */

  background: -webkit-radial-gradient(circle, #ffffff, #cccccc);
  /* Firefox 3.6+ */

  background: -moz-radial-gradient(circle, #ffffff, #cccccc);
  /* IE 10 */

  background: -ms-radial-gradient(circle, #ffffff, #cccccc);
}
body.login-base div.navbar {
  display: none;
}
body.login-base div#page-header {
  display: none;
}
body.login-base div#footer {
  display: none;
}
body.login-base #footer-powered-by img {
  display: none;
}
body.login-base h1 {
  margin: 25px auto;
  width: 312px;
}
body.login-base h2 {
  font-family: rokkitt, serif;
  font-size: 26px;
  text-align: center;
  margin: 0;
  color: #888;
}
body.login-base div.main {
  background: transparent;
}
body.login-base div.main div.wrapper.login-base form {
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-top: 50px;
  padding: 30px;
  width: 600px;
  margin: 0 auto;
  box-shadow: 3px 3px 5px #e3e3e3;
}
body.login-base div.main div.wrapper.login-base form div.alert.False {
  display: none;
}
body.login-base div.main div.wrapper.login-base form div.alert a {
  color: #b94a48;
  font-weight: bold;
  text-decoration: underline;
}
body.login-base div.main div.wrapper.login-base form label {
  font-size: 24px;
  color: #555;
  padding-top: 9px;
}
body.login-base div.main div.wrapper.login-base form input {
  font-size: 20px;
  height: 24px;
  padding: 6px 6px 2px;
}
body.login-base div.main div.wrapper.login-base form div.submit-alternative {
  float: right;
  margin: 0 155px 0 0;
  font-size: 14px;
}
body.login-base div.main div.wrapper.login-base form div.submit-alternative.not-registered {
  margin-top: -2px;
}
body.login-base div.main div.wrapper.login-base form div.controls.button {
  float: left;
}
/* user preferences page
*****************************************************************************
*****************************************************************************
*****************************************************************************/
body.user-preferences div#page-header h2.page-title span.editable {
  font-weight: normal;
}
body.user-preferences div.main div.wrapper {
  width: 600px;
}
body.user-preferences div.main div.wrapper div.pref-category {
  margin-top: 50px;
}
body.user-preferences div.main div.wrapper div.pref-category h3 {
  font-size: 24px;
  color: #555;
  margin-bottom: 15px;
}
body.user-preferences div.main div.wrapper div.pref-category.name div.editable-name {
  margin-left: 25px;
  font-size: 20px;
}
body.user-preferences div.main div.wrapper div.pref-category.name div.editable-name span.instr {
  background-position: left 6px;
}
body.user-preferences div.main div.wrapper div.pref-category.profile-url span.url {
  margin-left: 25px;
  font-size: 20px;
}
body.user-preferences div.main div.wrapper div.pref-category.profile-url span.url span.url-component {
  margin: 0;
  padding: 0;
}
body.user-preferences div.main div.wrapper div.pref-category.profile-url span.url span.url-component.base {
  color: #999;
  margin: 7px 0 12px 0;
  display: inline-block;
}
body.user-preferences div.main div.wrapper div.pref-category.profile-url span.url span.url-component.slug {
  margin-left: -2px;
  cursor: pointer;
  padding-right: 16px;
  background: url(../img/edit.png) no-repeat;
  background-position: right 5px;
}
body.user-preferences div.main div.wrapper div.pref-category.profile-url span.url span.url-component.slug:hover {
  color: #ff4e00;
  background-position: right -63px;
}
body.user-preferences div.main div.wrapper div.pref-category.change-pw {
  margin-top: 80px;
}
body.user-preferences div.main div.wrapper div.pref-category.change-pw form.form-horizontal {
  margin-bottom: 90px;
}
body.user-preferences div.main div.wrapper div.pref-category.change-pw form.form-horizontal div.control-group.confirm-new-pw.error span.help-inline {
  display: inline;
}
body.user-preferences div.main div.wrapper div.pref-category.change-pw form.form-horizontal div.control-group.confirm-new-pw span.pw-changed {
  color: #468847;
  display: none;
  font-weight: bold;
  margin-top: 5px;
  font-size: 16px;
}
body.user-preferences div.main div.wrapper div.pref-category.change-pw form.form-horizontal div.control-group label {
  color: #777;
  width: 80px;
}
body.user-preferences div.main div.wrapper div.pref-category.change-pw form.form-horizontal div.control-group span.working img {
  height: 28px;
  margin: 2px 0 0 7px;
}
body.user-preferences div.main div.wrapper div.pref-category.change-pw form.form-horizontal div.control-group div.controls {
  margin-left: 100px;
}
body.user-preferences div.main div.wrapper div.pref-category.change-pw form.form-horizontal div.control-group div.controls span.help-inline {
  font-size: 16px;
}
body.user-preferences div.main div.wrapper div.pref-category.change-pw form.form-horizontal div.control-group div.controls span.help-inline.failure {
  color: #b94a48;
}
body.user-preferences div.main div.wrapper div.pref-category form.editableform div.control-group.error div {
  float: left;
}
body.user-preferences div.main div.wrapper div.pref-category form.editableform div.control-group.error div.editable-error-block {
  margin: 0 0 0 10px;
  font-size: 15px;
  line-height: 1;
}
body.user-preferences div.main div.wrapper div.pref-category form.editableform div.control-group button.editable-cancel {
  display: none;
}
