<div class="modal-header">
   <h4>Sign in</h4>
   <a class="dismiss" ng-click="cancel()">&times;</a>
</div>

<div class="modal-body">
   <div id="user-message-modal">
      <div ng-class="['alert', 'alert-'+userMessage.get().type]"
           ng-animate="{enter: 'animated fadeInDown', leave:'animated fadeOutUp'}"
           ng-if="userMessage.get().message">
             <span class="text" ng-bind-html-unsafe="userMessage.get().message"></span>
      </div>
   </div>

   <form name="loginForm" novalidate class="login-form form-inline" autocomplete="off">
      <div class="form-group" >
         <label class="sr-only">E-mail</label>
         <div class="controls input-group" has-focus ng-class="{'has-success': loginForm.login.$valid}">
            <span class="input-group-addon"><i class="icon-envelope-alt"></i></span>
            <input name="login" required autofocus
                   autocomplete="off"
                   class="form-control"
                   type="username"
                   ng-model="user.email"
                   placeholder="email" >
         </div>
      </div>
      <div class="form-group">
         <label class="sr-only">Password</label>
         <div class="controls input-group" has-focus ng-class="{'has-success': loginForm.pass.$valid}">
            <span class="input-group-addon"><i class="icon-key"></i></span>
            <input name="pass" required
                   autocomplete="off"
                   class="form-control"
                   type="password"
                   ng-model="user.password"
                   placeholder="password">
         </div>
      </div>
      <div class="modal-footer">
         <button class="btn btn-primary login"
            ng-disabled='loginForm.$invalid'
            ng-click="login()"
            ng-hide="loading.is('login')">Sign in</button>

         <div class="working" ng-show="loading.is('login')">
            <i class="icon-refresh icon-spin"></i>
            <span class="text">logging in...</span>
         </div>
         <a class="forgot-login-details" ng-click="showForgotPasswordModal()">
            <i class="icon-question-sign"></i>
            Forgot your login details?
         </a>
      </div>
   </form>
</div>

