<div class="modal-header">
   <h4>Sign in</h4>
   <a class="dismiss" ng-click="cancel()">&times;</a>
</div>

<div class="modal-body">
   <ul class="modal-notifications">
      <li ng-class="['alert', 'alert-'+notification.type]" ng-repeat="notification in notifications.getCurrent()">
         {{notification.message}}
      </li>
   </ul>

   <form name="form" novalidate class="login-form form-inline">
      <div class="form-group">
         <label class="sr-only">E-mail</label>
         <input name="login" class="form-control" type="email" ng-model="user.email" placeholder="email" required autofocus>
      </div>
      <div class="form-group">
         <label class="sr-only">Password</label>
         <input name="pass" class="form-control" type="password" ng-model="user.password" placeholder="password" required>
      </div>
      <div class="modal-footer">
         <button class="btn btn-primary login"
                 ng-click="login()"
                 ng-hide="loading.is('login')"
                 ng-disabled='form.$invalid'>Sign in</button>
         <div class="working" ng-show="loading.is('login')">
            <i class="icon-refresh icon-spin"></i>
            <span class="text">logging in...</span>
         </div>
         <a class="forgot-login-details" ng-click="showForgotPasswordModal()">
            <i class="icon-question-sign"></i>
            Forgot your login details?
         </a>
      </div>
   </form>
</div>

