<div class="modal-header">
   <h4>Sign in</h4>
   <a class="dismiss" ng-click="cancel()">&times;</a>
</div>

<div class="modal-body">
   <ul class="modal-notifications">
      <li ng-class="['alert', 'alert-'+notification.type]" ng-repeat="notification in notifications.getCurrent()">
         <span class="text" ng-bind-html-unsafe="notification.message"></span>
      </li>
   </ul>

   <form name="loginForm" novalidate class="login-form form-inline">
      <div class="form-group" >
         <label class="sr-only">E-mail</label>
         <div class="controls input-group" has-focus ng-class="{'has-success': loginForm.login.$valid}">
            <span class="input-group-addon"><i class="icon-envelope-alt"></i></span>
            <input name="login" class="form-control" type="username" ng-model="user.email" placeholder="email" required autofocus>
         </div>
      </div>
      <div class="form-group">
         <label class="sr-only">Password</label>
         <div class="controls input-group" has-focus ng-class="{'has-success': loginForm.pass.$valid}">
            <span class="input-group-addon"><i class="icon-key"></i></span>
            <input name="pass" class="form-control" type="password" ng-model="user.password" placeholder="password" required>
         </div>
      </div>
      <div class="modal-footer">
         <button class="btn btn-primary login"
                 ng-click="login()"
                 ng-hide="loading.is('login')"
                 ng-disabled='loginForm.$invalid'

                 >Sign in</button>
         <div class="working" ng-show="loading.is('login')">
            <i class="icon-refresh icon-spin"></i>
            <span class="text">logging in...</span>
         </div>
         <a class="forgot-login-details" ng-click="showForgotPasswordModal()">
            <i class="icon-question-sign"></i>
            Forgot your login details?
         </a>
      </div>
   </form>
</div>

