<ul class="main-nav">
   <li ng-show="currentUser" class="logged-in-user nav-item">
      <a class="current-user"
         href="/{{ currentUser.url_slug }}"
         tooltip="View your profile"
         tooltip-placement="bottom">
         {{currentUser.given_name}}
         {{currentUser.surname}}
      </a>
   </li>

   <li ng-show="currentUser" class="controls nav-item">

      <span class="or"></span>

      <!-- made security load too slow.

      <span class="new-metrics control no-new-metrics"
         tooltip="No new metrics."
         tooltip-placement="bottom"
         ng-show="!illuminateNotificationIcon()">
         <i class="icon-bell"></i>
      </span>
      <a class="new-metrics control has-new-metrics"
         tooltip="You've got new metrics!"
         tooltip-placement="bottom"
         ng-show="illuminateNotificationIcon()"
         ng-click="dismissProfileNewProductsNotification()"
         href="/{{ currentUser.url_slug }}?filter=has_new_metrics">
         <i class="icon-bell-alt"></i>
      </a>

      <span class="or"></span>
      -->

      <a class="preferences control"
         href="/settings/profile"
         tooltip="Change profile settings"
         tooltip-placement="bottom">
         <i class="icon-cog"></i>
      </a>

      <span class="or"></span>

      <a class="logout control"
         ng-click="logout()"
         tooltip="Log out"
         tooltip-placement="bottom">
         <i class="icon-signout"></i>
      </a>
   </li>

   <li ng-show="!currentUser" class="login-and-signup nav-item">
      <a ng-show="!page.isLandingPage()" class="signup" href="/signup">Sign up</a>
      <span ng-show="!page.isLandingPage()" class="or"></span>
      <a class="login" ng-click="login()">Log in<i class="icon-signin"></i></a>
   </li>
</ul>
