<ul class="main-nav">
   <li ng-show="currentUser" class="logged-in-user nav-item">
      <!--<span class="context">Welcome back, </span>-->
      <a class="current-user"
         href="/{{ currentUser.url_slug }}"
         tooltip="View your profile"
         tooltip-placement="bottom">
         {{currentUser.given_name}}
      </a>
   </li>

   <li ng-show="currentUser" class="preferences nav-item">
      <span ng-show="!page.isLandingPage()" class="or"></span>
      <a class="profile preference"
         href="/settings/profile"
         tooltip="Change profile settings"
         tooltip-placement="bottom">
         <i class="icon-cog"></i>
      </a>
      <span ng-show="!page.isLandingPage()" class="or"></span>
      <a class="logout preference"
         ng-click="logout()"
         tooltip="Log out"
         tooltip-placement="bottom">
         <i class="icon-off"></i>
      </a>
   </li>

   <li ng-show="!currentUser" class="login-and-signup nav-item">
      <span ng-show="page.isLandingPage()" class="context">Already have a profile?</span>
      <a ng-show="!page.isLandingPage()" class="signup" href="/signup/name">Sign up</a>
      <span ng-show="!page.isLandingPage()" class="or"></span>
      <a class="login" ng-click="login()">Log in<i class="icon-signin"></i></a>
   </li>
</ul>