<ul class="main-nav">
   <li ng-show="currentUser" class="logged-in-user nav-item">
      <span class="context">Welcome back, </span>
      <a class="current-user" href="/{{ currentUser.url_slug }}">{{currentUser.given_name}}</a>
   </li>

   <li ng-show="currentUser" class="divider-vertical nav-item"></li>

   <li ng-show="currentUser" class="logged-in preferences dropdown nav-item">
      <a href="#" class="preferences dropdown-toggle" data-toggle="dropdown" title="Change URL and other preferences">
         <i class="icon-cog"></i>
      </a>
      <ul class='preferences-actions dropdown-menu'>
         <li><a href="/settings/profile" class="profile"><i class="icon-cogs"></i>Preferences</a></li>
         <!--<li><a href="/api-docs" class="profile"><i class="icon-suitcase"></i>Embed</a></li>-->
         <li><a href="http://docs.impactstory.apiary.io/" class="profile"><i class="icon-suitcase"></i>Embed</a></li>
         <li class="divider"></li>
         <li><a class="logout" ng-click="logout()"><i class="icon-off"></i>Log out</a></li>
      </ul>
   </li>

   <li ng-show="!currentUser" class="login-and-signup nav-item">
      <span ng-show="page.isLandingPage()" class="context">Already have a profile?</span>
      <a ng-show="!page.isLandingPage()" class="signup" href="/signup/name">Sign up</a>
      <span ng-show="!page.isLandingPage()" class="or"></span>
      <a class="login" ng-click="login()">Log in<i class="icon-signin"></i></a>
   </li>
</ul>