<div class="modal-header">
   <h4>Reset password</h4>
   <a class="dismiss" ng-click="close()">&times;</a>
</div>

<div class="modal-body">
   <form name="form" ng-show="!emailSubmitted()" novalidate class="reset-password creds form-inline">
      <div class="inst">Enter your email and we'll send you instructions on how to reset your password.</div>
      <div class="form-group">
         <label class="sr-only">E-mail</label>
         <input name="login" class="form-control" type="email" ng-model="user.email" placeholder="email" required autofocus>
      </div>
      <div class="modal-footer">
         <button class="btn btn-primary login" ng-click="sendEmail()" ng-disabled='form.$invalid'>Reset password</button>
      </div>
   </form>
   <div ng-show="emailSubmitted()" class="email-submitted">
      <div class="inst">
         We've sent you password reset email. It should arrive in a few minutes
         (don't forget to check your spam folder).
      </div>
      <div class="modal-footer">
         <button class="btn btn-primary cancel" ng-click="close()">OK</button>
      </div>
   </div>
</div>

