<div class="account-nav">
   <div class="logged-in" ng-show="currentUser">
      <a class="current-user"
         href="/{{ currentUser.url_slug }}">
         <span class="tip">View your profile</span>
         <img class="gravatar" ng-src="//www.gravatar.com/avatar/{{ currentUser.email_hash }}?s=110&d=mm" class="gravatar"  />
      </a>

      <a class="logout control"
         ng-click="logout()">
         <span class="tip">Log out</span>
         <span class="icon-container">
            <i class="icon-signout"></i>
         </span>
      </a>

      <a class="preferences control"
         href="/settings/profile">
         <span class="tip">Change settings</span>
         <span class="icon-container">
            <i class="icon-cog"></i>
         </span>
      </a>


      <a class="add-products control"
         href="{{ currentUser.url_slug }}/accounts">
         <span class="tip">Import things</span>
         <span class="icon-container">
            <i class="icon-plus"></i>
         </span>
      </a>


      <div class="user-is-trialing" ng-show="!security.getCurrentUser('is_subscribed')">
         <a class="add-products control"
            href="settings/subscription">
            <span class="tip">Subscribe</span>
            <span class="icon-container">
               <i class="fa fa-usd"></i>
            </span>
         </a>

      </div>

   </div>

   <div ng-hide="currentUser" class="not-logged-in">
      <a class="login" ng-click="login()">
         <span class="tip">Log in</span>
         <span class="icon-container">
            <i class="icon-user"></i>
         </span>
      </a>
      <!--
      <a  class="signup" href="/signup">Sign up</a>
      -->
   </div>


</div>
