<ul class="account-nav">
   <li ng-show="currentUser" class="logged-in-user nav-item">
      <a class="current-user"
         href="/{{ currentUser.url_slug }}"
         tooltip-placement="left"
         tooltip="View your profile">
         <img class="gravatar" ng-src="//www.gravatar.com/avatar/{{ profile.about.email_hash }}?s=110&d=mm" data-toggle="tooltip" class="gravatar" rel="tooltip" title="Modify your icon at Gravatar.com" />
      </a>
   </li>
   <li ng-show="currentUser" class="controls nav-item">

      <a class="logout control"
         tooltip-placement="left"
         ng-click="logout()"
         tooltip="Log out">
         <i class="icon-signout"></i>
      </a>

      <a class="preferences control"
         href="/settings/profile"
         tooltip-placement="left"
         tooltip="Change profile settings">
         <i class="icon-cog"></i>
      </a>

      <a class="add-products control"
         href="{{ currentUser.url_slug }}/accounts"
         tooltip-placement="left"
         tooltip="Add accounts or products">
         <i class="icon-plus"></i>
      </a>

      <a class="help control"
         href="javascript:void(0)"
         data-uv-lightbox="classic_widget"
         data-uv-mode="full"
         data-uv-primary-color="#cc6d00"
         data-uv-link-color="#007dbf"
         data-uv-default-mode="support"
         data-uv-forum-id="166950"
         tooltip-placement="left"
         tooltip="Get help or report bug">
         <i class="icon-question"></i>
      </a>
   </li>

   <li ng-show="!currentUser" class="login-and-signup nav-item">
      <a ng-show="!page.isLandingPage()" class="signup" href="/signup">Sign up</a>
      <a class="login" ng-click="login()">Log in<i class="icon-signin"></i></a>
      <a class="help control"
         href="javascript:void(0)"
         data-uv-lightbox="classic_widget"
         data-uv-mode="full"
         data-uv-primary-color="#cc6d00"
         data-uv-link-color="#007dbf"
         data-uv-default-mode="support"
         data-uv-forum-id="166950"
         tooltip-placement="left"
         tooltip="Get help or report bug">
         <i class="icon-question"></i>
      </a>
   </li>
</ul>
