<div class="modal-header">
   <h4>Change product genre</h4>
   <a class="dismiss" ng-click="$close()">&times;</a>
</div>
<div class="modal-body change-product-genre">
   <label for="change-genre-input">
      Select a new genre:
   </label>
   <select ng-model="myGenre.input"
           id="change-genre-input"
           ng-options="config.name for config in genreConfigs">
   </select>
</div>
<div class="modal-footer">
   <span class="btn btn-primary"
      ng-click="foo()"
      ng-show="myGenre.input.name">
      <i class="{{ myGenre.input.icon }} left"></i>
      Change genre to '{{ myGenre.input.name }}'
   </span>

</div>
