<div class="modal-header">
   <button type="button" class="close" ng-click="$dismiss()">&times;</button>
   <h3>Edit product</h3>
</div>
<div class="modal-body edit-product">

   <h1>{{ fieldToEdit }}</h1>

   <form
           name="editProductForm"
           novalidate
           ng-submit="onSave()"
           ng-controller="editProductFormCtrl">

      <div class="form-group">
         <label>Title</label>
         <input
           class="form-control"
           type="text"
           required
           name="productTitle"
           ng-model="product.biblio.title">
      </div>

      <div class="from-group">
         <label>Authors</label>
         <input
           type="text"
           class="form-control"
           name="productAuthors"
           ng-model="product.biblio.authors">
      </div>

      <div class="form-group" ng-if="product.biblio.journal">
         <label>Journal</label>
         <input
           type="text"
           class="form-control"
           name="productJournal"
           ng-model="product.biblio.journal">
      </div>

      <div class="form-group">
         <label>Year</label>
         <input
           type="text"
           class="form-control"
           name="productYear"
           ng-model="product.biblio.year">
      </div>


      <save-buttons ng-show="editProductForm.$valid && editProductForm.$dirty"
                    valid="editProductForm.$valid"></save-buttons>

   </form>
</div>
