<div class="genre-page">
   <div class="loading" ng-show="isRendering()">
      <div class="working"><i class="icon-refresh icon-spin"></i><span class="text">Loading profile info...</span></div>
   </div>
   <div class="wrapper" ng-show="!isRendering()">
      <div class="header">
         <h2>
            <span class="count">
               {{ filteredProducts.length }}
            </span>
            <span class="text">
               {{ genre.plural_name }}
            </span>
         </h2>
         <div class="genre-summary">
            <div class="genre-summary-top">
               <ul class="genre-cards-best">
                  <li class="genre-card" ng-repeat="card in sliceSortedCards(genre.cards, 0, 3)">
                     <span class="img-and-value">
                        <img ng-src='/static/img/favicons/{{ card.provider }}_{{ card.interaction }}.ico' class='icon' >
                        <span class="value">{{ nFormat(card.current_value) }}</span>
                     </span>
                     <span class="key">
                        <!--
                        <span class="provider">{{ card.provider }}</span>
                        -->
                        <span class="interaction">{{ card.interaction }}</span>
                     </span>
                  </li>
               </ul>
               <div class="clearfix"></div>
            </div>
            <div class="genre-summary-more">

            </div>
         </div>
         <span class="more-button">
            <span class="more"><i class="icon-caret-down left"></i>more stats</span>
         </span>

      </div>
      <div class="products">
         <ul class="products-list">
            <li class="product genre-{{ product.genre }}"
                ng-class="{first: $first}"
                ng-repeat="product in filteredProducts = (products | orderBy:['-awardedness_score', '-metric_raw_sum', 'biblio.title']) | filter: productFilter"
                id="{{ product.tiid }}"
                on-repeat-finished>


               <!-- users must be logged in -->
               <div class="product-margin" ng-show="security.isLogsgedIn(url_slug)">
                     <span class="single-product-controls">
                        <a class="remove-product"
                           tooltip="Delete this product"
                           ng-click="removeProduct(product)">
                           <i class="icon-trash icon"></i>
                        </a>
                     </span>
               </div>
               <div class="product-container" ng-bind-html="trustHtml(product.markup)"></div>
            </li>
         </ul>
      </div>
   </div>
</div>