<!DOCTYPE html>
<html>
<head>
   <title>ImpactStory embed snippet test</title>
   <style type="text/css">
      div.impactstory-embed {margin:100px 30px; float:right; clear:both;}
   </style>
   <script type="text/javascript" src="{{ g.roots.webapp }}/embed/impactstory-coll.js"></script>
   <script type="text/javascript">
      function halp(dict, div$) {
         // this is useful for getting stuff to display or stay displayed.
//         div$.find(".ti-badge").popover("show")
      }
   </script>

</head>
<body>
<h1>Testing the ImpactStory embed code</h1>
<a href="javascript:if(!window.jQuery||confirm('Overwrite\x20current\x20version?\x20v'+jQuery.fn.jquery))(function(d,s){s=d.createElement('script');s.src='http://code.jquery.com/jquery.js';(d.head||d.documentElement).appendChild(s)})(document);
">jqueryify</a>
<p>Webapp root is <span class="val">{{ g.roots.webapp }}</span>.</p>
<p>API root is <span class="val">{{ g.roots.api }}</span>.</p>

<div class="impactstory-coll-embed" data-on-finish="halp" coll-id="kn5auf"><wrapper></wrapper></div>
</body>
</html>

