<!DOCTYPE html>
<html>
<head>
   <title>ImpactStory: 2013 by the numbers</title>
   <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
   <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>

   <script type="text/javascript" src="{{ url_for('static', filename='js/2013.js') }}"></script>

   <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

   <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='less/css/2013.css') }}" />


   <script type="text/javascript">
      window.analytics||(window.analytics=[]),window.analytics.methods=["identify","track","trackLink","trackForm","trackClick","trackSubmit","page","pageview","ab","alias","ready","group","on","once","off"],window.analytics.factory=function(t){return function(){var a=Array.prototype.slice.call(arguments);return a.unshift(t),window.analytics.push(a),window.analytics}};for(var i=0;i<window.analytics.methods.length;i++){var method=window.analytics.methods[i];window.analytics[method]=window.analytics.factory(method)}window.analytics.load=function(t){var a=document.createElement("script");a.type="text/javascript",a.async=!0,a.src=("https:"===document.location.protocol?"https://":"http://")+"d2dq2ahtl5zl1z.cloudfront.net/analytics.js/v1/"+t+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(a,n)},window.analytics.SNIPPET_VERSION="2.0.8",
      window.analytics.load("na1r5jvuym");
      window.analytics.page();
   </script>


</head>
<body>
<div class="header">
   <a class="brand" href="/">
      <img src="/static/img/impactstory-logo-white.png" alt="ImpactStory" />
   </a>
   <h1 class="title">
      <span class="date">2013</span>
      <span class="text">by the numbers</span>
   </h1>
   <div class="instr">
      scroll for more...
   </div>
</div>
<div id="number">
   <span id="number-value">1</span>
</div>

<div class="content">
   <ul id="facts">
      <li data-count="1" class="fact">
         <h2>White House visit <i class="fa fa-home"></i></h2>
         <section>We <a href="http://blog.impactstory.org/2013/06/28/white-house/">presented a poster</a> at the Open Science Champions of Change ceremony at the White House.</section>
      </li>

      <li data-count="2" class="fact">
         <h2>new<br>employees <i class="fa fa-user"></i></h2>
         <section>Both <a href="http://impactstory.org/about">Jason and Heather</a> became full-time employees of ImpactStory this year.
         </section>
      </li>

      <li data-count="7" class="fact">
         <h2>published<br>papers <i class="fa fa-file-text"></i></h2>
         <section>We authored or co-authored:
            <ul class="papers">
               <li><a href="http://researchremix.wordpress.com/2013/07/12/full-text-value-all-research-products/">two</a> <a href="http://www.nature.com/nature/journal/v495/n7442/full/495437a.html">articles</a> published in Nature, </li>
               <li><a href="http://asis.org/Bulletin/Apr-13/AprMay13_Piwowar.pdf">two</a> <a href="http://asis.org/Bulletin/Apr-13/AprMay13_Piwowar_Priem.pdf">articles</a> in the ASIS&T Bulletin, </li>
               <li><a href="https://peerj.com/articles/175/">one</a> in PeerJ,</li>
               <li><a href="http://crln.acrl.org/content/74/6/292.long">one</a> in the College & Research Libraries newsletter, and</li>
               <li><a href="http://arxiv.org/abs/1304.7300">one</a> conference paper at ISSI.</li>

            </ul>

         </section>
      </li>

      <li data-count="15" class="fact">
         <h2>ways to import products <i class="fa fa-cloud-upload"></i></h2>
         <section>We <a href="http://blog.impactstory.org/2013/11/24/new-impactstory-release-better-sign-up-easier-importing/">launched a new signup process</a> that makes it easy to import products from all kinds of sources, and we're <a href="http://blog.impactstory.org/2013/12/18/arxiv/">adding</a> <a href="http://blog.impactstory.org/2013/11/04/videos/">more</a> <a href="http://blog.impactstory.org/2013/12/02/link-your-figshare-and-impactstory-accounts/">all</a> <a href="http://blog.impactstory.org/2013/12/12/tweets/">the</a> <a href="http://blog.impactstory.org/2013/12/16/blogs/">time</a>.
         </section>
      </li>

      <li data-count="22" class="fact">
         <h2>visited cities <i class="fa fa-plane"></i></h2>
         <section>We made 41 trips to conferences, talks, and meetups, traveling to:
            <ul class="cities">
               <li>Amsterdam</li>
               <li>Arlington</li>
               <li>Austin</li>
               <li>Bethesda</li>
               <li>Boston</li>
               <li>Carrboro</li>
               <li>Chicago</li>
               <li>Columbus</li>
               <li>Denver</li>
               <li>Washington DC</li>
               <li>Fairfax</li>
            </ul>
            <ul class="cities">
               <li>Indianapolis</li>
               <li>Leiden</li>
               <li>Philadelphia</li>
               <li>Raleigh</li>
               <li>Salt Lake City</li>
               <li>San Diego</li>
               <li>San Francisco</li>
               <li>Seattle</li>
               <li>Singapore</li>
               <li>Tokyo</li>
               <li>Vancouver</li>
            </ul>
            <div class="clear"></div>
         </section>
      </li>

      <li data-count="89" class="fact">
         <h2>feedback forum suggestions <i class="fa fa-bullhorn"></i></h2>
         <section>Our users suggested great product enhancements-- and we implemented 28 of them this year.  Got a suggestion of your own? <a href=”http://feedback.impactstory.org/forums/166950-general”>Post or vote</a> on the forum!
         </section>
      </li>


      <li data-count="343" class="fact">
         <h2>days waiting for the IRS <i class="fa fa-calendar"></i></h2>
         <section>The IRS received our 501(c)3 application for non-profit tax-exempt status early in the year; hopefully we'll receive official approval soon...
         </section>
      </li>

      <li data-count="767" class="fact">
         <h2>hours spent collaborating via IM<br> and Skype <i class="fa fa-comments"></i></h2>
         <section>We worked <a href="http://www.distancefromto.net/between/Vancouver/Carrboro">2381 miles apart</a> for most of 2013 -- we're super excited to be co-located for 2014!
         </section>
      </li>

      <li data-count="1835" class="fact">
         <h2>code <br> commits <i class="fa fa-code"></i></h2>
         <section>We pushed oodles of new features and bug fixes to <a href="https://github.com/total-impact">the codebase</a>. </section>
      </li>

      <li data-count="2128" class="fact">
         <h2>mentions on Twitter<i class="fa fa-twitter"></i></h2>
         <section>We're thrilled with the positive comments we've gotten this year -- here's a sample:
            <div class="tweets">
               <div class="tweet">
                  <div class="text">The @ImpactStory page design and import process are so well done. Super impressed. <a href="http://impactstory.org/trvrb">http://impactstory.org/trvrb</a>
                  </div>
                  <div class="author"><a href="https://twitter.com/trvrb/status/412654968999407616">@trvrb</a></div>
               </div>

               <div class="tweet">
                  <div class="text">Honestly had no idea what my most popular tweet was (82 retweets!) until @ImpactStory showed it to me: <a href="http://impactstory.org/RossMounce#twitter-rmounce">http://impactstory.org/RossMounce#twitter-rmounce</a>
                  </div>
                  <div class="author"><a href="https://twitter.com/rmounce/status/411151027447300096">@rmounce</a></div>
               </div>

               <div class="tweet">
                  <div class="text">Absolutely loving the new @ImpactStory profiles! Show your impact from papers, Twitter, your blog, @figshare, @github <a href="http://impactstory.org/ethanwhite">impactstory.org/ethanwhite</a>
                  </div>
                  <div class="author"><a href="https://twitter.com/ethanwhite/status/412968547732582400">@ethanwhite</a></div>
               </div>

               <div class="tweet">
                  <div class="text">@ImpactStory is great as an incentive for researchers to make their code, datasets, slides, etc. openly available. <a href="http://impactstory.org">http://impactstory.org</a>
                  </div>
                  <div class="author"><a href="https://twitter.com/txkuhn/status/366493621966483456">@txkuhn</a></div>
               </div>

               <div class="tweet">
                  <div class="text">Steve Pettifer at #alpspauthor: "I've stopped using journal impact factors in my CV. I use ImpactStory and Altmetric scores instead."
                  </div>
                  <div class="author"><a href="https://twitter.com/timohannay/status/307104888209408001">@timohannay</a></div>
               </div>

               <div class="tweet">
                  <div class="text">All the cool new features at @ImpactStory are having a seriously negative effect on my productivity. Today arXiv IDs! <a href="http://blog.impactstory.org/2013/12/18/arxiv/">http://blog.impactstory.org/2013/12/18/arxiv/</a>
                  </div>
                  <div class="author"><a href="https://twitter.com/ethanwhite/status/413322286431629312">@ethanwhite</a></div>
               </div>

               <div class="tweet">
                  <div class="text">WIN !!! RT @ImpactStory New feature! Highlight your best tweets in your @ImpactStory profile <a href="http://wp.me/s2LlD9-tweets">wp.me/s2LlD9-tweets</a>
                  </div>
                  <div class="author"><a href="https://twitter.com/McDawg/status/411153741866205184">@McDawg</a></div>
               </div>
            </div>

         </section>
      </li>

      <li data-count="17792" class="fact">
         <h2>deleted lines of jquery<i class="fa fa-trash-o"></i></h2>
         <section>A major software overhaul <a href="https://github.com/total-impact/total-impact-webapp/commit/33d870607224aa611d5e804ce90e32b38b6affb5">simplified</a> our application infrastructure so that we can ship new features more quickly.
         </section>
      </li>

      <li data-count="18833" class="fact">
         <h2>profile views <i class="fa fa-eye"></i></h2>
         <section><a href="http://blog.impactstory.org/2013/06/17/impact-profiles/">ImpactStory Profiles</a> have been viewed 18,833 times since we launched them in June.
         </section>
      </li>

      <li data-count="297500" class="fact">
         <h2>dollars awarded by <br> the NSF <i class="fa fa-money"></i></h2>
         <section>The <a href="http://blog.impactstory.org/2013/09/27/impactstory-awarded-300k-nsf-grant/">National Science Foundation awarded ImpactStory</a> $297,500 to study how automatically-gathered impact metrics can improve the reuse of research software.
         </section>
      </li>

      <li data-count="500000" class="fact">
         <h2>dollars awarded by <br> the Sloan Foundation <i class="fa fa-money"></i></h2>
         <section>The <a href="http://blog.impactstory.org/2013/06/17/sloan/">Alfred P. Sloan Foundation awarded $500,000</a> to "support the scaling and further development to sustainability of ImpactStory."
         </section>
      </li>

      <li data-count="6800000" class="fact">
         <h2>scientists with an ImpactStory profile <i class="fa fa-flask"></i></h2>
         <section>Or in other words, <a href="http://www.richardprice.io/post/12855561694/the-number-of-academics-and-graduate-students-in-the">all of them</a>. That's our goal. And we'll be using all 31,536,000 seconds in 2014 to get there. Get ready :)
         </section>
      </li>
   </ul>

</div>
<div class="footer">
   <a class="brand" href="/">
      <img src="/static/img/impactstory-logo-white.png" alt="ImpactStory" />
   </a>
   <div class="links">
      <a class="call-to-action" href="http://impactstory.org/signup"><i class="fa fa-bar-chart-o"></i>Find your impact</a>
      <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://impactstory.org/2013" data-text="22 cities, $797,500 in grants, 343 days waiting for the IRS, and more! @ImpactStory's 2013 #byTheNumbers:" data-size="large" data-related="ImpactStory" data-count="none">Tweet</a>


   </div>
</div>

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
</body>
</html>