<!DOCTYPE html>
<html>
<head>
   <title>ImpactStory: 2013 by the numbers</title>
   <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
   <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>

   <script type="text/javascript" src="{{ url_for('static', filename='js/2013.js') }}"></script>
   <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='less/css/2013.css') }}" />


   <!-- @todo put google analytics here! -->

</head>
<body>
<div class="header">
   <a class="brand" href="/">
      <img src="/static/img/impactstory-logo-white.png" alt="ImpactStory" />
   </a>
   <h1 class="title">
      <span class="date">2013</span>
      <span class="text">by the numbers</span>
   </h1>
   <div class="instr">
      scroll for more...
   </div>
</div>
<div id="number">
   <span id="number-value">1</span>
</div>

<div class="content">
   <ul id="facts">
      <li data-count="1" class="fact">
         <h2>White House visit</h2>
         <section>We presented a poster at the Open Science Champions of Change ceremony at the White House.</section>
      </li>

      <li data-count="2" class="fact">
         <h2>new employees</h2>
         <section>Both Jason and Heather became full-time employees of ImpactStory this year.
         </section>
      </li>

      <li data-count="7" class="fact">
         <h2>published papers</h2>
         <section>We authored or co-authored: two articles published in Nature, two articles in the ASIS&T Bulletin, one in PeerJ, one in the College & Research Libraries newsletter, and one conference paper at ISSI.
         </section>
      </li>

      <li data-count="15" class="fact">
         <h2>ways to import products</h2>
         <section>We launched a new signup process that makes it easy to import products from all kinds of sources, and we’re adding more all the time.
         </section>
      </li>

      <li data-count="22" class="fact">
         <h2>visited cities</h2>
         <section>We made 41 trips to conferences, talks, and meetups, traveling to:  Amsterdam, Arlington (twice), Austin, Bethesda, Boston (four times), Carrboro, Chicago, Columbus (twice), Denver, DC (five times), Fairfax, Indianapolis, Leiden, Philadelphia, Raleigh (twice), Salt Lake City, San Diego, San Francisco (three times), Seattle (twice), Singapore, Tokyo, and Vancouver (six times).
         </section>
      </li>

      <li data-count="343" class="fact">
         <h2>days waiting for the IRS</h2>
         <section>The IRS received our 501(c)3 application for non-profit tax-exempt status early in the year; hopefully we’ll receive official approval soon...
         </section>
      </li>

      <li data-count="767" class="fact">
         <h2>hours spent collaborating via IM and Skype</h2>
         <section>We worked 2381 miles apart for most of 2013 -- we’re super excited to be co-located for 2014!
         </section>
      </li>

      <li data-count="1835" class="fact">
         <h2>code commits</h2>
         <section>We pushed lots of new features and bug fixes to our codebase. </section>
      </li>

      <li data-count="2128" class="fact">
         <h2>mentions on Twitter</h2>
         <section>We’re really happy about the positive comments we’ve gotten this year -- here’s a smattering.
         </section>
      </li>

      <li data-count="17792" class="fact">
         <h2>deleted lines of jquery</h2>
         <section>A major software overhaul simplified our application infrastructure so that we can ship new features more quickly.
         </section>
      </li>

      <li data-count="18833" class="fact">
         <h2>profile views</h2>
         <section>ImpactStory Profiles have been viewed 18,833 times since we launched them in June.
         </section>
      </li>

      <li data-count="297500" class="fact">
         <h2>dollars awarded by the NSF</h2>
         <section>The National Science Foundation awarded ImpactStory $297,500 to study how automatically-gathered impact metrics can improve the reuse of research software.
         </section>
      </li>

      <li data-count="500000" class="fact">
         <h2>dollars awarded by the Sloan Foundation</h2>
         <section>The Alfred P. Sloan Foundation awarded $500,000 to “support the scaling and further development to sustainability of ImpactStory”.
         </section>
      </li>

      <li data-count="6800000" class="fact">
         <h2>scientists with an ImpactStory profile</h2>
         <section>Put on your seatbelts, because we’re going to make use of each of the 31,536,000 seconds in 2014 to get closer to our goal of an ImpactStory profile for every scientist!
         </section>
      </li>
   </ul>

</div>
<div class="footer">


</div>

</body>
</html>