{% extends "base.html" %}

{% block content %}

<h2><span class="wrapper">about</span></h2>
<div id="faq"><div class="wrapper">
<div id="toc"></div>

<h3 id="team">team</h3>

<img src="/static/img/jason.jpg" height=100/>
Jason!

bio, blogs, etc

<br>
<img src="/static/img/heather.jpg" height=100/>
<p><b>Heather Piwowar</b> is a postdoc research associate with Duke University and the University of British Columbia, funded through the DataONE project at the Dryad Digital Repository at NESCent.  

<p>Heather is a leading researcher in the area of research data availability and data reuse. She wrote one of the first papers to measure the citation benefit <http://www.plosone.org/article/info:doi/10.1371/journal.pone.0000308>  of publicly available research data, studied patterns in public deposition of datasets <http://etd.library.pitt.edu/ETD/available/etd-04152010-115953/> , and is currently investigating patterns of data reuse <http://researchremix.wordpress.com/2010/10/04/sig-use-2010-proposal-award-for-tracking-data-reuse/>  and the impact of journal data sharing policies. <http://researchremix.wordpress.com/2010/10/12/journalpolicyproposal/>  

<p>Heather is an <a href="http://www.slideshare.net/hpiwowar">frequent speaker</a> on research data archiving, writes a well-respected <a href="http://researchremix.wordpress.com">research blog</a>, and is active on twitter (<a href="http://twitter.com/researchremix">@researchremix</a>).

<p>Heather has a bachelor’s and master’s degree from MIT in electrical engineering, 10 years of experience as a software engineer in small companies, and a Ph.D. in Biomedical Informatics from the University of Pittsburgh.  She lives in Vancouver, Canada.


<h3 id="history">history</h3>
Total-impact began at a hackathon at a Beyond Impact workshop in 2011. As the hackathon ended, a few of us migrated into a hotel hallway to continue working, eventually completing a 24-hour coding marathon to finish a prototype. After months of spare-time development and then funding, we’ve got the same excitement for total-impact today.

<p>In early 2012, total-impact was given £17,000 through the <a href="http://www.beyond-impact.org/">Beyond Impact project</a> from the <a href="http://www.soros.org/">Open Society Foundation</a>.  As of May 2012, total-impact is funded through a $125k grant from the <a href="http://sloan.org/">Alfred P. Sloan Foundation. </a>

<h3 id="why">philosphy</h3>
Because!  It is fun!
Open! yay!

<h3 id="faq">learn more</h3>
Lots more information at our <a href="/faq.html">FAQ</a>.


<p><b>contact us</b> 

    Send it to us at <a href="http://twitter.com/#!/totalImpactdev">@totalImpactdev</a> (or via email to total-impact@googlegroups.com). 

</div><!-- end wrapper -->
</div><!-- end faq -->
</div>


{% endblock %}
