{% extends "base.html" %}

{% block content %}

<h2><span class="wrapper">about</span></h2>
<div class="main" id="faq">
    <div class="wrapper">
        <div id="toc"></div>

        <h3 id="team">team</h3>

        <img src="/static/img/jason.jpg" height=100/>
        <p><strong>Jason Priem</strong> is a PhD student and <a href="http://gradschool.unc.edu/programs/royster/>Royster Fellow</a>, studying information science at the University of North Carolina-Chapel Hill. After <a href="https://twitter.com/jasonpriem/status/25844968813">coining the term "altmetrics,"</a> he remains a leader in the <a href="http://altmetrics.org/">movement</a>, organizing the annual altmetrics workshop, giving frequent <a href="http://jasonpriem.org/cv/#invited">invited talks</a>, and publishing <a href="http://jasonpriem.org/cv/#refereed">peer-reviewed altmetrics research.</a></p>

        <p>Jason has contributed to and created several successful open-source software projects, including <a href="http://www.zotero.org">Zotero</a> and <a href="http://feedvis.com">Feedvis</a>, and has experience and training in art, design, and information visualisation.  Sometimes he writes on a <a href="http://jasonpriem.org/blog">blog</a> and <a href="https://twitter.com/#!/jasonpriem">tweets</a>.</p>

        <br>
        <img src="/static/img/heather.jpg" height=100/>
        <p><strong>Heather Piwowar</strong> is a postdoc research associate with Duke University and the University of British Columbia, funded through the DataONE project at the Dryad Digital Repository at NESCent.  </p>

        <p>Heather is a leading researcher in the area of research data availability and data reuse. She wrote one of the first papers to measure the citation benefit <http://www.plosone.org/article/info:doi/10.1371/journal.pone.0000308>  of publicly available research data, studied patterns in public deposition of datasets <http://etd.library.pitt.edu/ETD/available/etd-04152010-115953/>, and is currently investigating patterns of data reuse <http://researchremix.wordpress.com/2010/10/04/sig-use-2010-proposal-award-for-tracking-data-reuse/>  and the impact of journal data sharing policies. <http://researchremix.wordpress.com/2010/10/12/journalpolicyproposal/>Heather is an <a href="http://www.slideshare.net/hpiwowar">frequent speaker</a> on research data archiving, writes a well-respected <a href="http://researchremix.wordpress.com">research blog</a>, and is active on twitter (<a href="http://twitter.com/researchremix">@researchremix</a>).</p>

        <p>Heather has a bachelor’s and master’s degree from MIT in electrical engineering, 10 years of experience as a software engineer in small companies, and a Ph.D. in Biomedical Informatics from the University of Pittsburgh.</p>


        <h3 id="history">history</h3>
        <p>Total-impact began at a hackathon at a Beyond Impact workshop in 2011. As the hackathon ended, a few of us migrated into a hotel hallway to continue working, eventually completing a 24-hour coding marathon to finish a prototype. After months of spare-time development and then funding, we’ve got the same excitement for total-impact today.</p>

        <p>In early 2012, total-impact was given £17,000 through the <a href="http://www.beyond-impact.org/">Beyond Impact project</a> from the <a href="http://www.soros.org/">Open Society Foundation</a>.  As of May 2012, total-impact is funded through a $125k grant from the <a href="http://sloan.org/">Alfred P. Sloan Foundation. </a></p>


        <h3 id="why">philosphy</h3>
        Total-impact is commited to: <ul>
            <li><a href="https://github.com/total-impact">open source</a></li>
            <li><a href="http://total-impact.tumblr.com/post/24638498595/keeping-metrics-free">free and open data</a>, to the extent permitted by data providers</li>
            <li><a href="http://total-impact.tumblr.com/">open communication</a></li>
        </ul>

        <h3>press</h3>
        Total-impact has already featured in several articles and reports (<a href="http://chronicle.com/article/As-Scholarship-Goes-Digital/130482/">The Chronicle of Higher Education</a>, <a href="http://www.surf.nl/nl/publicaties/Documents/Users%20narcissism%20and%20control.pdf">SURFfoundation report</a>) and discussed on <a href="http://www.delicious.com/tag/total-impact">many blog posts</a>.

        <h3>learn more</h3>
        Lots more information at our <a href="/faq">FAQ</a>.

        <h3>contact us</h3>
        Contact us at <a href="http://twitter.com/#!/totalImpactdev">@totalImpactdev</a> (or via email to totalimpactdev@gmail.com). 



    </div><!-- end wrapper -->
    </div>

    {% endblock %}
