{% extends "base.html" %}
{% set page_title = "Our Team" %}

{% block content %}

<script type="text/javascript">
   mixpanel.track("View:docs", {"Doc Type": "about"});
</script>

<div class="main" id="about">
    <div class="wrapper">

        <div class="team-member first">
            <img src="/static/img/heather.jpg" height=100/>
            <p><strong>Heather Piwowar</strong> is a postdoc research associate with Duke University and the University of British Columbia, funded through the DataONE project at the Dryad Digital Repository at NESCent.  </p>
            <p>Heather is a leading researcher in the area of research data availability and data reuse. She wrote one of the first papers to measure the <a href="http://www.plosone.org/article/info:doi/10.1371/journal.pone.0000308">citation benefit of publicly available research data</a>, studied  <a href="http://etd.library.pitt.edu/ETD/available/etd-04152010-115953/">patterns in public deposition of datasets</a> , and is currently investigating  <a href="http://researchremix.wordpress.com/2010/10/04/sig-use-2010-proposal-award-for-tracking-data-reuse/">patterns of data reuse</a>  and the impact of journal data sharing policies. <http://researchremix.wordpress.com/2010/10/12/journalpolicyproposal/>  </p>

            <p>Heather is an <a href="http://www.slideshare.net/hpiwowar">frequent speaker</a> on research data archiving, writes a well-respected <a href="http://researchremix.wordpress.com">research blog</a>, and is active on twitter (<a href="http://twitter.com/researchremix">@researchremix</a>). Heather has a bachelor’s and master’s degree from MIT in electrical engineering, 10 years of experience as a software engineer in small companies, and a Ph.D. in Biomedical Informatics from the University of Pittsburgh.</p>
        </div>

        <div class="team-member second">
            <img src="/static/img/jason.jpg" height=100/>
            <p><strong>Jason Priem</strong> is a PhD student and <a href="http://gradschool.unc.edu/programs/royster/">Royster Fellow</a>, studying information science at the University of North Carolina-Chapel Hill. Since <a href="https://twitter.com/jasonpriem/status/25844968813">coining the term "altmetrics,"</a> he's remained active in the field, organizing the annual <a href="http:altmetrics.org/altmetrics12">altmetrics workshops</a>, giving <a href="http://jasonpriem.org/cv/#invited">invited talks</a>, and publishing <a href="http://jasonpriem.org/cv/#refereed">peer-reviewed altmetrics research.</a></p>

            <p>Jason has contributed to and created several open-source software projects, including <a href="http://www.zotero.org">Zotero</a> and <a href="http://feedvis.com">Feedvis</a>, and has experience and training in art, design, and information visualisation.  Sometimes he writes on a <a href="http://jasonpriem.org/blog">blog</a> and <a href="https://twitter.com/#!/jasonpriem">tweets</a>.</p>
        </div>


        <h3 id="history">history</h3>
        <p>ImpactStory began life as total-impact, a hackathon project at the Beyond Impact workshop in 2011. As the hackathon ended, a few of us migrated into a hotel hallway to continue working, eventually completing a 24-hour coding marathon to finish a prototype. After months of spare-time development and then funding, we’ve got the same excitement for ImpactStory today.</p>

        <p>In early 2012, ImpactStory was given £17,000 through the <a href="http://www.beyond-impact.org/">Beyond Impact project</a> from the <a href="http://www.soros.org/">Open Society Foundation</a>.  As of May 2012, ImpactStory is funded through a $125k grant from the <a href="http://sloan.org/">Alfred P. Sloan Foundation. </a></p>

        <h3 id="why">philosophy</h3>
        <p>As a philanthropically-funded not-for-profit, we're in this because we believe open altmetrics are key for building the coming era of Web-native science. We're committed to:</p> <ul>
            <li><a href="https://github.com/total-impact">open source</a></li>
            <li><a href="http://blog.impactstory.org/2012/06/08/24638498595/">free and open data</a>, to the extent permitted by data providers</li>
            <li><a href="http://en.wikipedia.org/wiki/Radical_transparency">Radical transparency</a> and <a href="http://blog.impactstory.org">open communication</a></li>
        </ul>

       <div id="contact">
        <h3>Contact and FAQ</h3>
        <p>We'd love to hear your feedback, ideas, or just chat! Reach us at <a href="mailto:team@impactstory.org">team@impactstory.org</a>, on <a href="http://twitter.com/#!/ImpactStory">Twitter</a>, or via our <a id="uservoice" href="javascript:UserVoice.showPopupWidget();" title="Open feedback & support dialog (powered by UserVoice)">help forum.</a> Or if you've got questions, check out our <a href="/faq">FAQ</a>.</p>
         </div>


    </div><!-- end wrapper -->
</div>

{% endblock %}
