{% extends "base.html" %}

{% block content %}

<div class="main" id="docs">
    <div class="wrapper">

        <h2 id="embed">Recommended approach: embed code</h2>

            <p>The easiest way to include ImpactStory metrics on a webpage is via our embed code, shown below. There's just two steps:</p>
            <ol>
               <li>Paste paste javascript line at the top of your page.</li>
               <li>
                  Paste the <code>impactstory-embed</code> div where you want the badges to show.
                  Of course you'll need to replace our example <code>data-id</code>
                  with your own for each item, and declare the appropriate ID type in the <code>data-id-type</code>
                  field (see the FAQ for a list of <a href="/faq#toc_3_6">supported ID type prefixes</a>).
               </li>
            </ol>

            <p>

            </p>



            <div class="rawembedcode"><pre class="prettyprint">
{{'<script type="text/javascript" src="http://impactstory.org/embed/impactstory.js"></script>
<div class="impactstory-embed" data-id="19210768" data-id-type="pmid" ></div>'|escape()}}
            </pre></div>
            
           <script type="text/javascript" src="http://{{ webapp_root }}/embed/impactstory.js"></script>
           <div class="impactstory-embed" data-id="19210768" data-id-type="pmid" ></div>

            <p>To the left, you can see the result, embedded live on this page: metrics for a sample article,
               <a href="http://impactstory.org/item/pmid/19210768">"Mega-phylogeny approach for comparative
                  biology: an alternative to supertree and supermatrix approaches."</a>
               Hover over each badge to see a brief description; to dive in deeper, click and you'll reach the
               item page, which has more details, explanation, and context.
            </p>

        <p>
               If you've got any feedback, ideas, or questions,
               <a href="javascript:UserVoice.showPopupWidget();"
                  title="Open feedback & support dialog (powered by UserVoice)">let us know!</a>
               We're planning to roll out alternative sizes and styles of badges in the near future,
               and we'd love any comments.
            </p>

        <br>
        <h2 id="api">More versatile approach: REST api.</h2>
        <div class="alert">
           <button type="button" class="close" data-dismiss="alert">×</button>
           <strong>Deprecated:</strong> This alpha version of the API is being replaced by /v1, documented <a href="http://docs.impactstory.apiary.io/">here.</a>
        </div>

        <div id="toc"></div>


            <p>If the embed code described above doesn't meet your needs, you can use our api directly.  The ImpactStory webapp itself is built directly on top of this api. </p>

            <ul>
                <!--li>api root is at http://api.impactstory.org</li-->
                <li>api calls return JSON</li>
                <li>api calls return return 500 in case of internal error</li>
                <li>Cross-Origin Resource Sharing (CORS) is enabled</li>    
                <!--li>please pass in email=YOUREMAIL to all requests</li-->
                <li>after an item has been assigned a ImpactStory id (tiid), ImpactStory will periodically update its metric values.</li>
            </ul>

            <p>Here are the API methods:</p>


        <h3 class="apicall">GET /</h3>
        <div class="description">
            Welcome to the API.

            <h4>returns</h4>
            A welcome message.

            <h4>example</h4> 
            <div class="apicall"><pre class="prettyprint">
curl -i -X GET http://api.impactstory.org


{
    "contact": "team@impactstory.org",
    "hello": "world", 
    "message": "Congratulations! You have found the ImpactStory API.",
    "moreinfo": "http://total-impact.tumblr.com/",
    "version": "jean-claude"
}
                </pre></div>

        </div>

        <h3 class="apicall">POST /item/:namespace/:namespaceid</h3>
        <div class="description">
            Assign a ImpactStory ID (tiid) to an item if it doesn't have one yet.  Returns the assigned tiid.

            <h4>returns</h4>
            Return the tiid for the item (return code 201).

            <h4>example</h4> 

            <div class="apicall"><pre class="prettyprint">
curl -i -X POST -H "Content-Type: application/json" -d '{}' http://api.total-impact.org/item/doi/10.1371/journal.pcbi.1000361


"1b2f4fc2bea711e1bdf912313d1a5e63"
                </pre></div>
        </div>

        <h3 class="apicall">GET /tiid/:namespace/:namespaceid</h3>
        <div class="description">
            Get the ImpactStory ID (tiid) of an item.

            <h4>returns</h4>
            The tiid for an item if one has been previously assigned (return code 303), otherwise an error.

            <h4>errors</h4>
            <ul>
                <li>404 if no tiid found for that item</li>
            </ul>

            <h4>example</h4> 

            <div class="apicall"><pre class="prettyprint">
curl -i -X GET http://api.impactstory.org/tiid/doi/10.1371/journal.pcbi.1000361


"1b2f4fc2bea711e1bdf912313d1a5e63"
                </pre></div>
        </div>


        <h3 class="apicall">GET /item/:tiid</h3>
        <div class="description">
            Get the metrics for items, given its ImpactStory ID (tiid).

            <h4>returns</h4>
            An item object. Response code 210 if it is currently being updated, 200 otherwise.

            <h4>errors</h4>
            <ul>
                <li>404 if no tiid found for an item</li>
            </ul>

            <h4>example</h4> 

            <div class="apicall"><pre class="prettyprint">
curl -i -X GET http://api.total-impact.org/item/0df8aa0eb2c911e19e181231381b0f5a


{
    "_id": "1b2f4fc2bea711e1bdf912313d1a5e63",
    "_rev": "251-ddcc8266fa0c9a61035a270ce0c67c84",
    "aliases": {
        "created": "2012-06-25T09:21:12.272747",
        "doi": [
            "10.1371/journal.pcbi.1000361"
        ],
        "last_modified": "2012-07-29T02:00:34.889973",
        "title": [
            "Adventures in Semantic Publishing: Exemplar Semantic Enhancements of a Research Article"
        ],
        "url": [
            "http://www.ncbi.nlm.nih.gov/pubmed/19381256",
            "http://dx.plos.org/10.1371/journal.pcbi.1000361",
            "http://dx.doi.org/10.1371/journal.pcbi.1000361"
        ]
    },
    "biblio": {
        "authors": "Shotton, Portwin, Klyne, Miles",
        "genre": "article",
        "h1": "Adventures in Semantic Publishing: Exemplar Semantic Enhancements of a Research Article",
        "journal": "PLoS Comput Biol",
        "title": "Adventures in Semantic Publishing: Exemplar Semantic Enhancements of a Research Article",
        "year": 2009
    },
    "created": "2012-06-25T09:21:12.272733",
    "currently_updating": false,
    "last_modified": "2012-06-25T09:21:12.272733",
    "metrics": {
        "citeulike:bookmarks": {
            "provenance_url": "http://www.citeulike.org/doi/10.1371/journal.pcbi.1000361",
            "static_meta": {
                "description": "Number of users who have bookmarked this item.",
                "display_name": "bookmarks",
                "icon": "http://citeulike.org/favicon.ico",
                "provider": "CiteULike",
                "provider_url": "http://www.citeulike.org/"
            },
            "values": {
                "nih": [
                    91,
                    99
                ],
                "raw": 59
            }
        },
        "delicious:bookmarks": {
            "provenance_url": "http://www.delicious.com/url/5c760b706cde2538e558e8643da51ac4",
            "static_meta": {
                "description": "The number of bookmarks to this artifact (maximum=100).",
                "display_name": "bookmarks",
                "icon": "http://www.delicious.com/favicon.ico",
                "provider": "Delicious",
                "provider_url": "http://www.delicious.com/"
            },
            "values": {
                "raw": 1
            }
        },
...
}
                </pre></div>
        </div>




        <h3 class="apicall">POST /collection</h3>
        <div class="description">
            Create a collection given a list of ImpactStory IDs.

            <h4>input data</h4>
            {
            aliases:[ ["namespace1", "id1"], ["namespace1", "id2"], ...]
            title: "My Collection",
            owner:{}
            }

            <h4>returns</h4>
            The collection header information

            <h4>errors</h4>
            <ul>
                <li>404 if not found</li>
            </ul>

            <h4>example</h4> 

            <div class="apicall"><pre class="prettyprint">
curl -i -X POST -H "Content-Type: application/json;charset=utf-8" -d '{"items":["ec698118b33311e1bfcd12313d2a0ee9","0df8aa0eb2c911e19e181231381b0f5a"],"title":"My Collection"}' http://api.total-impact.org/collection

{
    "collection": {
        "_id": "yebmnf",
        "_rev": "1-3c06eefb6ede0fe29129307fd227bca9",
        "alias_tiids": {
            "doi:10.1371/journal.pcbi.1000361": "1b2f4fc2bea711e1bdf912313d1a5e63",
            "url:http://total-impact.org": "891z0a8meckia5v42ggzm8fy"
        },
        "created": "2012-09-06T13:09:05.714115",
        "ip_address": "96.49.208.194",
        "key_hash": "sha1$u2xjszDU$95cb28b326afe47726d51d3c59bc7469e0e4c814",
        "last_modified": "2012-09-06T13:09:05.714115",
        "owner": {},
        "title": "My Collection",
        "type": "collection"
    },
    "key": "ekjpt55agtzy10441yv7nh302"
}

                </pre></div>
        </div>

        <h3 class="apicall">GET /collection/:collectionId [?include_items=false] [.csv]</h3>
        <div class="description">
            Get the items and metadata associated with a given collection

            <h4>returns</h4>
            A collection object, which includes both collection metadata and the items in the collection
           (pass <code>include_items=false</code> to leave the items out).
            Format is json by default, but appending <code>.csv</code> returns a csv file, with one row per item.

            <h4>return codes</h4>
            <ul>
                <li>404 if not found</li>
               <li>200 if all the collections objects are found and are done updating.</li>
               <li>210 if all the collection's objects are found, but some are still updating.</li>
               <li>(not sure of code yet) if one of the items is not found.</li>
            </ul>

            <h4>example</h4> 

            <div class="apicall"><pre class="prettyprint">
curl -i -X GET http://api.total-impact.org/collection/8iwgwi


{
    "_id": "kn5auf",
    "_rev": "8-69fdd2a34464f0ca9d02748ef057b1e8",
    "created": "2012-06-25T09:21:12.673503",
    "items": [
        {
            "_id": "dr3nrhlex36g9xy4idyn7v3f",
            "_rev": "164-9631084108ed21dc56fa0e26b6a91fe6",
            "aliases": {
                "doi": [
                    "10.1371/journal.pbio.1000056"
                ],
                "pmid": [
                    "19278298"
                ],
                "title": [
                    "Amazonian Amphibian Diversity Is Primarily Derived from Late Miocene Andean Lineages"
                ],
                "url": [
                    "http://biology.plosjournals.org/perlserv/?request=get-document&doi=10.1371%2Fjournal.pbio.1000056",
                    "http://www.pubmedcentral.nih.gov/articlerender.fcgi?artid=2653552&tool=pmcentrez&rendertype=abstract",
                    "http://www.ncbi.nlm.nih.gov/pubmed/19278298"
                ]
            },
            "biblio": {
                "authors": "Santos, Coloma, Summers, Caldwell, Ree, Cannatella",
                "genre": "article",
                "journal": "Plos Biol",
                "title": "Amazonian Amphibian Diversity Is Primarily Derived from Late Miocene Andean Lineages",
                "year": 2009
            },
            "created": "2012-08-02T14:56:14.151655",
            "currently_updating": false,
            "last_modified": "2012-08-02T14:56:14.151655",
            "metrics": {
                "mendeley:career_stage": {
...

                </pre></div>
        </div>



        <h3 class="apicall">GET /provider</h3>
        Get all metadata for the providers.
        <div class="description">

            <h4>returns</h4>
            A dictionary of providers and their metadata.

            <h4>errors</h4>
            <ul>
                <li>404 if not found</li>
            </ul>

            <h4>example</h4> 

            <div class="apicall"><pre class="prettyprint">
curl -i -X GET http://api.impactstory.org/provider

{
    "bibtex": {
        "descr": "", 
        "provides_aliases": false, 
        "provides_metrics": false, 
        "url": ""
    }, 
    "citeulike": {
        "descr": "CiteULike is a free service to help you to store, organise and share the scholarly papers you are reading.", 
        "metrics": {
            "bookmarks": {
                "description": "Number of users who have bookmarked this item.", 
                "display_name": "bookmarks", 
                "icon": "http://citeulike.org/favicon.ico", 
                "provider": "CiteULike", 
                "provider_url": "http://www.citeulike.org/"
            }
        }, 
        "provides_aliases": false, 
        "provides_metrics": true, 
        "url": "http://www.citeulike.org/"
    }, 
    "crossref": {
        "descr": "An official Digital Object Identifier (DOI) Registration Agency of the International DOI Foundation.", 
        "provides_aliases": true, 
        "provides_metrics": false, 
        "url": "http://www.crossref.org/"
    }, 
    "delicious": {
        "descr": "Online social bookmarking service", 
        "metrics": {
            "bookmarks": {
                "description": "The number of bookmarks to this artifact (maximum=100).", 
                "display_name": "bookmarks", 
                "icon": "http://www.delicious.com/favicon.ico", 
                "provider": "Delicious", 
                "provider_url": "http://www.delicious.com/"
            }
        }, 
        "provides_aliases": false, 
        "provides_metrics": true, 
        "url": "http://www.delicious.com"
    }, 
    "dryad": {
        "descr": "An international repository of data underlying peer-reviewed articles in the basic and applied biology.", 
        "metrics": {
            "most_downloaded_file": {
                "description": "Dryad most downloaded file: number of downloads of the most commonly downloaded data package component", 
                "display_name": "most downloaded file", 
                "icon": "http:\\/\\/datadryad.org\\/favicon.ico", 
                "provider": "Dryad", 
                "provider_url": "http:\\/\\/www.datadryad.org\\/"
            }, 
            "package_views": {
                "description": "Dryad package views: number of views of the main package page", 
                "display_name": "package views", 
                "icon": "http:\\/\\/datadryad.org\\/favicon.ico", 
                "provider": "Dryad", 
                "provider_url": "http:\\/\\/www.datadryad.org\\/"
            }, 
            "total_downloads": {
                "description": "Dryad total downloads: combined number of downloads of the data package and data files", 
                "display_name": "total downloads", 
                "icon": "http:\\/\\/datadryad.org\\/favicon.ico", 
                "provider": "Dryad", 
                "provider_url": "http:\\/\\/www.datadryad.org\\/"
            }
        }, 
        "provides_aliases": true, 
        "provides_metrics": true, 
        "url": "http://www.datadryad.org"
    }, 
    ... 
    "wikipedia": {
        "descr": "The free encyclopedia that anyone can edit.", 
        "metrics": {
            "mentions": {
                "description": "The number of Wikipedia articles that mentioned this object.", 
                "display_name": "mentions", 
                "icon": "http://wikipedia.org/favicon.ico", 
                "provider": "Wikipedia", 
                "provider_url": "http://www.wikipedia.org/"
            }
        }, 
        "provides_aliases": false, 
        "provides_metrics": true, 
        "url": "http://www.wikipedia.org/"
    }
}
                </pre></div>
        </div>
    </div>
</div>

{% endblock %}
