{% extends "base.html" %}

{% block content %}

<div class="main" id="docs">
    <div class="wrapper">

        <h2 id="embed">Recommended approach: embed code</h2>

            <p>The easiest way to include ImpactStory metrics on a webpage is via our embed code, shown below. There's just two steps:</p>
            <ol>
               <li>Paste this script at the top of your page:
               <div class="rawembedcode"><pre class="prettyprint">
{{'<script type="text/javascript" src="http://impactstory.org/embed/impactstory.js"></script>'|escape()}}
            </pre></div>
                  </li>
               <li>
                  Paste this div where you want the badges to show.
                  <div class="rawembedcode"><pre class="prettyprint">
{{'<div class="impactstory-embed" data-id="19210768" data-id-type="pmid" data-api-key="API-DOCS"></div>'|escape()}}
            </pre></div>
               </li>
            </ol>

       <h3>Example</h3>
       <script type="text/javascript" src="http://{{ webapp_root }}/embed/impactstory.js"></script>
       <div class="example">
          <div class="impactstory-embed" data-id="19210768" data-id-type="pmid" data-api-key="API-DOCS" ></div>
          <p>To the left, you can see the result, embedded live on this page: metrics for a sample article,
             <a href="http://impactstory.org/item/pmid/19210768">"Mega-phylogeny approach for comparative
                biology: an alternative to supertree and supermatrix approaches."</a>
             Hover over each badge to see a brief description; to dive in deeper, click and you'll reach the
             item page, which has more details, explanation, and context.
          </p>
       </div>

       <h3>Required attributes</h3>
       <p>As you can see from the sample, the div has three required attributes:</p>






       <h3>Optional attributes</h3>
       <p>You can also customize the display of badges using one of several of optional <code>data-</code> attributes:</p>

            <table>
               <tr><th>Attribute</th><th>Does</th><th>Looks like</th></tr>
               <tr>
                  <td class="attr">
                     <code>data-badge-size</code>
                  </td>
                  <td>
                     <p>Set to <code>"small"</code> to display smaller badges.</p>
                  </td>
                  <td class="example">
                     <div class="impactstory-embed" data-id="19210768" data-id-type="pmid" data-badge-size="small" data-api-key="API-DOCS"></div>
                  </td>
               </tr>
               <tr>
                  <td class="attr">
                     <code>data-on-finish</code>
                  </td>
                  <script type="text/javascript">
                     countHighlys = function(dict, div$) {
                        div$.append(
                           "<div>"
                                   + dict.awards.big.length
                                   + "&nbsp;highlys!</div>"
                        )
                     }
                  </script>
                  <td>
                     <p>The name of a javascript callback to run, defined in the global (window) namespace.
                        The function will be fed two arguments: a <code>dict</code> object that includes all underlaying data used
                        in assigning the badges, and a <code>div$</code> jQuery object representing this div.
                        For instance, if you define this script:
                        <pre class="prettyprint">
countHighlys = function(dict, div$) {
   div$.append(
      "&lt;div&gt;" +dict.awards.big.length+ "&nbsp;highlys!&lt;/div&gt;"
   )
}
                        </pre> and then include <code>data-on-finish="countHighlys"</code> in your ImpactStory div,
                        the <code>countHighlys</code> function runs when the badges are done loading.</p>
                  </td>
                  <td class="example">
                     <div class="impactstory-embed" data-id="19210768" data-id-type="pmid" data-api-key="API-DOCS" data-badge-size="small" data-on-finish="countHighlys"></div>
                  </td>
               </tr>
            </table>

            <!-- still working on this one...
            <div class="example">
            <div class="impactstory-embed" data-id="10.1002/mrc.2260" data-id-type="doi" data-api-key="API-DOCS" data-badge-size="small"></div>
            <p>You can also embed multiple widgets for multiple items on the same page, like a CV
               or table of contents; to the left you can see the metrics for
               Multistep correlations via covariance processing of COSY/GCOSY spectra: opportunities and artifacts.</p>
            </div>
            -->

        <div class="example"> <!--it's not an example, but sort of follows the same flow... -->

            <p>
               If you've got any feedback, ideas, or questions,
               <a href="javascript:UserVoice.showPopupWidget();"
                  title="Open feedback & support dialog (powered by UserVoice)">let us know!</a>
               We're planning to roll out alternative sizes and styles of badges in the near future,
               and we'd love any comments.
            </p>
        </div>

        <h2 id="api">More versatile approach: REST api.</h2>

        <p>
            If the embed code described above doesn't meet your needs, you can use our API directly.  The ImpactStory webapp itself is built directly on top of this API. 
        </p><p>
            <a target="_blank" href="http://docs.impactstory.apiary.io/">Documentation</a> for current version of the REST API (/v1).
        </p>
    </div>
</div>

{% endblock %}
