{% extends "base.html" %}

{% block content %}

<div class="main" id="docs">
    <div class="wrapper">

        <div id="toc"></div>

        <h2 id="embed">recommended approach: embed code</h2>

            <p>The easiest way to include total-impact metrics in a webpage is through  embed code.  To use the total-impact embed code in your webapge, simply include the code below in a webpage, exactly as given, subtituting the placeholder "doi:10.1371/journal.pcbi.1000355" string with your doi or other valid "namespace:id" string. </p>

            <p>We plan to refine and simplify this embed code in response to feedback: please let us know what you think, and join the <a href="https://groups.google.com/forum/?fromgroups#!forum/total-impact">total-impact newsgroup</a> if you'd like to be informed of changes.</p>

            <p>To use, embed this code on the page that has the item you want to track (currently only works for one item per page). The item's id (url, doi, etc.) goes in the <code>#ti-id</code> span; results will be put in the <code>#ti-data</code> div.</p>

            <div class="rawembedcode"><pre>
{{
'<script type="text/javascript" src="http://total-impact.org/static/js/total-impact-item.js"></script>
<span id="ti-id">doi:10.1371/journal.pcbi.1000355</span>
<div id="ti-data"><!--total-impact put data here--></div>'|escape()
}}
            </pre></div>
            
            <p>Here's the code above, embedded live on this page:</p>

            <script type="text/javascript" src="http://total-impact.org/static/js/total-impact-item.js"></script>
            <span id="ti-id">doi:10.1371/journal.pcbi.1000355</span>
            <div id="ti-data"></div>

        <br>
        <h2 id="api">more versatile approach: REST api.</h2>

            <p>If the embed code described above doesn't meet your needs, you can use our api directly.  The total-impact webapp itself is built directly on top of this api. </p>

            <ul>
                <!--li>api root is at http://api.total-impact.org</li-->
                <li>api calls return JSON</li>
                <li>api calls return return 500 in case of internal error</li>
                <li>Cross-Origin Resource Sharing (CORS) is enabled</li>    
                <!--li>please pass in email=YOUREMAIL to all requests</li-->
                <li>after an item has been assigned a total-impact id (tiid), total-impact will periodically update its metric values.</li>
            </ul>

            <p>Here are the API methods:</p>


        <h3 class="apicall">GET /</h3>
        <div class="description">
            Welcome to the API.

            <h4>returns</h4>
            A welcome message.

            <h4>example</h4> 
            <div class="apicall"><pre>
curl -i -X GET http://api.total-impact.org


{
    "contact": "team@total-impact.org", 
    "hello": "world", 
    "message": "Congratulations! You have found the total-Impact API.", 
    "moreinfo": "http://total-impact.tumblr.com/", 
    "version": "jean-claude"
}
                </pre></div>

        </div>

        <h3 class="apicall">POST /tiid/:namespace/:namespaceid</h3>
        <div class="description">
            Assign a total-impact ID (tiid) to an item if it doesn't have one yet.  Returns the assigned tiid.

            <h4>returns</h4>
            Return the tiid for the item (return code 201).

            <h4>example</h4> 

            <div class="apicall"><pre>
curl -i -X POST -H "Content-Type: application/json" -d '{}' http://api.total-impact.org/tiid/doi/10.1371/journal.pcbi.1000361


"0df8aa0eb2c911e19e181231381b0f5a"
                </pre></div>
        </div>

        <h3 class="apicall">GET /tiid/:namespace/:namespaceid</h3>
        <div class="description">
            Get the total-impact ID (tiid) of an item. 

            <h4>returns</h4>
            The tiid for an item if one has been previously assigned (return code 303), otherwise an error.

            <h4>errors</h4>
            <ul>
                <li>404 if no tiid found for that item</li>
            </ul>

            <h4>example</h4> 

            <div class="apicall"><pre>
curl -i -X GET http://api.total-impact.org/tiid/doi/10.1371/journal.pcbi.1000361


"0df8aa0eb2c911e19e181231381b0f5a"
                </pre></div>
        </div>


        <h3 class="apicall">GET /item/:tiid</h3>
        <div class="description">
            Get the metrics for items, given its total-impact ID (tiid).

            <h4>returns</h4>
            An item object. Response code 210 if it is currently being updated, 200 otherwise.

            <h4>errors</h4>
            <ul>
                <li>404 if no tiid found for an item</li>
            </ul>

            <h4>example</h4> 

            <div class="apicall"><pre>
curl -i -X GET http://api.total-impact.org/item/0df8aa0eb2c911e19e181231381b0f5a


{
    "aliases": {
        "created": "2012-06-10T06:53:59.039734", 
        "doi": [
            "10.1371/journal.pcbi.1000361"
        ], 
        "last_modified": "2012-06-15T09:51:44.322086", 
        "title": [
            "Adventures in Semantic Publishing: Exemplar Semantic Enhancements of a Research Article"
        ], 
        "url": [
            "http://dx.doi.org/10.1371/journal.pcbi.1000361", 
            "http://dx.plos.org/10.1371/journal.pcbi.1000361"
        ]
    }, 
    "biblio": {
        "authors": "Shotton, Portwin, Klyne, Miles", 
        "genre": "article", 
        "h1": "Adventures in Semantic Publishing: Exemplar Semantic Enhancements of a\n               Research Article", 
        "journal": "PLoS Computational Biology", 
        "title": "Adventures in Semantic Publishing: Exemplar Semantic Enhancements of a Research Article", 
        "year": 2009
    }, 
    "created": "2012-06-10T06:53:59.039711", 
    "id": "0df8aa0eb2c911e19e181231381b0f5a", 
    "last_modified": "2012-06-10T06:53:59.039711", 
    "metrics": {
        "citeulike:bookmarks": {
            "provenance_url": "http://www.citeulike.org/doi/10.1371/journal.pcbi.1000361", 
            "static_meta": {
                "description": "Number of users who have bookmarked this item.", 
                "display_name": "bookmarks", 
                "icon": "http://citeulike.org/favicon.ico", 
                "provider": "CiteULike", 
                "provider_url": "http://www.citeulike.org/"
            }, 
            "values": {
                "2012-06-15T06:32:33.837934": 60
            }
        }, 
        "mendeley:groups": {
            "provenance_url": "http://api.mendeley.com/research/snps-prescriptions-predict-drug-response/", 
            "static_meta": {
                "description": "The number of groups who have added the article to their libraries", 
                "display_name": "groups", 
                "icon": "http://www.mendeley.com/favicon.ico", 
                "provider": "Mendeley", 
                "provider_url": "http://www.mendeley.com/"
            }, 
            "values": {
                "2012-06-15T06:32:33.761749": 5
            }
        }, 
        "mendeley:readers": {
            "provenance_url": "http://api.mendeley.com/research/snps-prescriptions-predict-drug-response/", 
            "static_meta": {
                "description": "The number of readers who have added the article to their libraries", 
                "display_name": "readers", 
                "icon": "http://www.mendeley.com/favicon.ico", 
                "provider": "Mendeley", 
                "provider_url": "http://www.mendeley.com/"
            }, 
            "values": {
                "2012-06-15T06:32:33.897130": 52
            }
        }, 
        "plosalm:html_views": {
            "provenance_url": "http://www.plosreports.org/services/rest?method=usage.stats&doi=10.1371/journal.pcbi.1000361", 
            "static_meta": {
                "description": "the number of views of the PLoS HTML article", 
                "display_name": "html views", 
                "icon": "http://a0.twimg.com/profile_images/67542107/Globe_normal.jpg", 
                "provider": "PLoS", 
                "provider_url": "http://www.plos.org/"
            }, 
            "values": {
                "2012-06-15T06:32:54.924743": 11558
            }
        }, 
...
        "wikipedia:mentions": {
            "provenance_url": "http://en.wikipedia.org/wiki/Special:Search?search='10.1371/journal.pcbi.1000361'&go=Go", 
            "static_meta": {
                "description": "The number of Wikipedia articles that mentioned this object.", 
                "display_name": "mentions", 
                "icon": "http://wikipedia.org/favicon.ico", 
                "provider": "Wikipedia", 
                "provider_url": "http://www.wikipedia.org/"
            }, 
            "values": {
                "2012-06-15T06:32:33.183823": 1
            }
        }
    }, 
    "type": "item"
}
                </pre></div>
        </div>




        <h3 class="apicall">POST /collection</h3>
        <div class="description">
            Create a collection given a list of total-impact IDs.

            <h4>input data</h4>
            {
            items:[ [tiid1,tii2,...],
            title: "My Collection"
            }

            <h4>returns</h4>
            The collection id

            <h4>errors</h4>
            <ul>
                <li>404 if not found</li>
            </ul>

            <h4>example</h4> 

            <div class="apicall"><pre>
curl -i -X POST -H "Content-Type: application/json;charset=utf-8" -d '{"items":["ec698118b33311e1bfcd12313d2a0ee9","0df8aa0eb2c911e19e181231381b0f5a"],"title":"My Collection"}' http://api.total-impact.org/collection

{
    "created": "2012-06-17T01:05:23.444710", 
    "id": "8lr01n", 
    "item_tiids": [
        "ec698118b33311e1bfcd12313d2a0ee9", 
        "0df8aa0eb2c911e19e181231381b0f5a"
    ], 
    "last_modified": "2012-06-17T01:05:23.444710", 
    "title": "My Collection", 
    "type": "collection"
}
                </pre></div>
        </div>

        <h3 class="apicall">GET /collection/:collectionId [?include_items=false] [.csv]</h3>
        <div class="description">
            Get the items and metadata associated with a given collection

            <h4>returns</h4>
            A collection object, which includes both collection metadata and a list of items in the collection
           (pass <code>include_items=false</code> to leave the items out).
            Format is json by default, but appending <code>.csv</code> returns a csv file, with one row per item.

            <h4>return codes</h4>
            <ul>
                <li>404 if not found</li>
               <li>200 if all the collections objects are found and are done updating.</li>
               <li>210 if all the collection's objects are found, but some are still updating.</li>
               <li>(not sure of code yet) if one of the items is not found.</li>
            </ul>

            <h4>example</h4> 

            <div class="apicall"><pre>
curl -i -X GET http://api.total-impact.org/collection/8iwgwi


{
    "created": "2012-06-17T00:22:43.484154", 
    "id": "24c2d58eb81411e180fe1231381b0711", 
    "items": [
        {tiid: "aiekcjvls86s3lkf29slk", "created": "2012-06-17T00:22:33.", ...},
        {tiid: "abbkikjfj49ijfllkjoas", "created": "2012-06-17T00:22:32.", ...}
    ],
    "last_modified": "2012-06-17T00:22:43.484154", 
    "title": "My Collection", 
    "type": "collection"
}
                </pre></div>
        </div>



        <h3 class="apicall">GET /provider</h3>
        Get all metadata for the providers.
        <div class="description">

            <h4>returns</h4>
            A dictionary of providers and their metadata.

            <h4>errors</h4>
            <ul>
                <li>404 if not found</li>
            </ul>

            <h4>example</h4> 

            <div class="apicall"><pre>
curl -i -X GET http://api.total-impact.org/provider

{
    "bibtex": {
        "descr": "", 
        "provides_aliases": false, 
        "provides_metrics": false, 
        "url": ""
    }, 
    "citeulike": {
        "descr": "CiteULike is a free service to help you to store, organise and share the scholarly papers you are reading.", 
        "metrics": {
            "bookmarks": {
                "description": "Number of users who have bookmarked this item.", 
                "display_name": "bookmarks", 
                "icon": "http://citeulike.org/favicon.ico", 
                "provider": "CiteULike", 
                "provider_url": "http://www.citeulike.org/"
            }
        }, 
        "provides_aliases": false, 
        "provides_metrics": true, 
        "url": "http://www.citeulike.org/"
    }, 
    "crossref": {
        "descr": "An official Digital Object Identifier (DOI) Registration Agency of the International DOI Foundation.", 
        "provides_aliases": true, 
        "provides_metrics": false, 
        "url": "http://www.crossref.org/"
    }, 
    "delicious": {
        "descr": "Online social bookmarking service", 
        "metrics": {
            "bookmarks": {
                "description": "The number of bookmarks to this artifact (maximum=100).", 
                "display_name": "bookmarks", 
                "icon": "http://www.delicious.com/favicon.ico", 
                "provider": "Delicious", 
                "provider_url": "http://www.delicious.com/"
            }
        }, 
        "provides_aliases": false, 
        "provides_metrics": true, 
        "url": "http://www.delicious.com"
    }, 
    "dryad": {
        "descr": "An international repository of data underlying peer-reviewed articles in the basic and applied biology.", 
        "metrics": {
            "most_downloaded_file": {
                "description": "Dryad most downloaded file: number of downloads of the most commonly downloaded data package component", 
                "display_name": "most downloaded file", 
                "icon": "http:\\/\\/datadryad.org\\/favicon.ico", 
                "provider": "Dryad", 
                "provider_url": "http:\\/\\/www.datadryad.org\\/"
            }, 
            "package_views": {
                "description": "Dryad package views: number of views of the main package page", 
                "display_name": "package views", 
                "icon": "http:\\/\\/datadryad.org\\/favicon.ico", 
                "provider": "Dryad", 
                "provider_url": "http:\\/\\/www.datadryad.org\\/"
            }, 
            "total_downloads": {
                "description": "Dryad total downloads: combined number of downloads of the data package and data files", 
                "display_name": "total downloads", 
                "icon": "http:\\/\\/datadryad.org\\/favicon.ico", 
                "provider": "Dryad", 
                "provider_url": "http:\\/\\/www.datadryad.org\\/"
            }
        }, 
        "provides_aliases": true, 
        "provides_metrics": true, 
        "url": "http://www.datadryad.org"
    }, 
    ... 
    "wikipedia": {
        "descr": "The free encyclopedia that anyone can edit.", 
        "metrics": {
            "mentions": {
                "description": "The number of Wikipedia articles that mentioned this object.", 
                "display_name": "mentions", 
                "icon": "http://wikipedia.org/favicon.ico", 
                "provider": "Wikipedia", 
                "provider_url": "http://www.wikipedia.org/"
            }
        }, 
        "provides_aliases": false, 
        "provides_metrics": true, 
        "url": "http://www.wikipedia.org/"
    }
}
                </pre></div>
        </div>
    </div>
</div>

{% endblock %}
