<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="utf-8">
   <title>ImpactStory: {{ page_title }}</title>
   <meta name="description" content="ImpactStory">
   <meta name="author" content="ImpactStory">
   <meta name="google-site-verification" content="ItyBFNIMWtJdRaONjqSQHM8ro_fRjTl9HO3Fq9IsZpM" />   

   <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
   <!--[if lt IE 9]>
   <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
   <![endif]-->

   <link href='http://fonts.googleapis.com/css?family=Rokkitt:400,700' rel='stylesheet' type='text/css' />
   <!--<link href='http://fonts.googleapis.com/css?family=Podkova:400,700' rel='stylesheet' type='text/css'>-->
   <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.css" />
   <link rel="stylesheet" type="text/css" href="/static/css/jasny-bootstrap.css" />
   <link rel="stylesheet" type="text/css" href="/static/css/main.css" />
   <link rel="stylesheet" type="text/css" href="/static/css/main.css" />
   <link rel="stylesheet" type="text/css" href="/static/css/create-collection.css" />
   <link rel="stylesheet" type="text/css" href="/static/css/report.css" />
   <link rel="icon" type="image/ico" href="/static/img/favicon.ico" />

   <script type="text/javascript">var api_root='{{ api_root }}'</script>
   <script type="text/javascript">var api_key='{{ api_key }}'</script>   
   <script type="text/javascript">var request_url='{{ request_url }}'</script>   
   <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
   <script type="text/javascript" src="/static/js/bootstrap.js"></script>
   <script type="text/javascript" src="/static/js/bootstrapx-clickover.js"></script>
   <script type="text/javascript" src="/static/js/json2.min.js"></script>
   <script type="text/javascript" src="/static/js/hmac-sha1.js"></script>
   <script type="text/javascript" src="/static/js/jquery.headerlinks.js"></script>
   <script type="text/javascript" src="/static/js/jquery.color.js"></script>
   <script type="text/javascript" src="/static/js/jquery.cookie.js"></script>
   <script type="text/javascript" src="/static/js/icanhaz.min.js"></script>
   <script type="text/javascript" src="/static/js/browser-fixes.js"></script>
   <script type="text/javascript" src="/static/js/ti-item.js"></script>
   <script type="text/javascript" src="/static/js/ti-user.js"></script>
   <script type="text/javascript" src="/static/js/ti-coll.js"></script>
   <script type="text/javascript" src="/static/js/ti-ui.js"></script>
   <script type="text/javascript">
      // google analytics code

      var _gaq = _gaq || [];
      // acct id hardcoded for now, should pull out into config
      _gaq.push(['_setAccount', 'UA-23384030-1']);
      _gaq.push(['_trackPageview']);

      (function() {
         var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
         ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
         var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

   </script>

</head>

<body class="{{ body_class|default('default') }}">
<div id="container">
   <div class="navbar">
      <div class="navbar-inner">
         <a class="brand" href="/"><img src="/static/img/impactstory-logo.png" alt="ImpactStory logo" /></a>
         <ul class="nav pull-right">
            <li><a href="/create">create</a></li>

            <li class="dropdown">
               <a href="#"  class="dropdown-toggle" data-toggle="dropdown">about</a>
               <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                  <li><a href="/about">team</a></li>
                  <li><a href="/faq">faq</a></li>
                  <li><a href="/api-docs">api</a></li>
               </ul>
            </li>

            <li class="dropdown">
               <a href="#"  class="dropdown-toggle" data-toggle="dropdown">follow</a>
               <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                  <li><a href="http://blog.impactstory.it">blog</a></li>
                  <li><a href="http://twitter.com/#!/ImpactStory">twitter</a></li>
               </ul>
            </li>
            <li class="divider-vertical"></li>
            <li class="acct-mgt dropdown" id="register-link" data-dropdown='dropdown'>
               <a href="#"  class="dropdown-toggle" data-toggle="dropdown">register</a>
               <div  class="dropdown-menu">
                  <form class="register">
                     <div class="control-group">
                        <span class="help-inline"></span>
                        <input type="text" name="email" class="username register" id="register-email" placeholder="email" />
                     </div>
                     <input class="pw" type="password" name="pw" id="register-pw" placeholder="password"/>
                     <input type="submit" name="submit" class="btn btn-primary" id="register-submit" value="register"/>
                  </form>
               </div>
            </li>
            <li class="acct-mgt dropdown" id="login-link">
               <a href="#"  class="dropdown-toggle" data-toggle="dropdown">log in</a>
               <div  class="dropdown-menu">
                  <form class="login">
                     <input type="text" name="email" class="username login" id="login-email" placeholder="email" />
                     <input type="password" class="pw" name="pw" id="login-pw" placeholder="password"/>
                     <input type="submit" name="submit" class="btn btn-primary" id="login-submit" value="log in"/>
                  </form>
               </div>
            </li>
            <li class="acct-mgt dropdown" id="logged-in" >
               <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <span class="hi">hi,</span>
                  <span class="username"></span>
                  <span id="logout-link">(logout)</span>
               </a>
               <div class="dropdown-menu"></div>
            </li>
            <li> <a id="uservoice" href="javascript:UserVoice.showPopupWidget();" title="Open feedback & support dialog (powered by UserVoice)"><img src="{{ url_for('static', filename='img/beta-ribbon.png') }}" /></a></li>
         </ul>
      </div>
   </div>
   <div id="page-header">
      <div class="wrapper">
         <h2>{{ page_title }}</h2>
      </div>
   </div>


   {% block content %}{% endblock %}

   <div id="footer">
      <div class="wrapper">
         <a href="http://sloan.org/"><img src="{{ url_for('static', filename='img/sloan-logo.jpg') }}" width="200"/></a>
         <div id="footer-text">
            <p>ImpactStory is supported by the <a href="http://sloan.org/">Alfred P. Sloan Foundation</a> and <a href="about#history">others. </a></p>
            <p>Follow our <a href="http://blog.impactstory.it">blog</a>, <a href="https://twitter.com/#!/ImpactStory">tweets</a>, and <a href="https://github.com/total-impact">source code</a>.
         </div>
      </div>
   </div> <!-- end footer -->
</div>


{% raw %}
<div id="templates">
   <!-- These templates are for rendering items with javascript using
  Mustache -->

   <script id="title" class="partial" type="text/html">
      <h5 class="{{activeAudiences}}">
         <span class="title">{{title}}</span>
         {{#url}}
         <a class="url title" href="{{ url }}"><span class="help-text">linkout</span></a>
         {{/url}}
      </h5>
   </script>

   <script id="biblio_dataset" type="text/html">
      {{>title}}
      {{#year}}
      <span class="year">({{ year }})</span>
      {{/year}}
      <span class="repo">{{ repository }}</span>
   </script>
   <script id="biblio_article" type="text/html">
      {{>title}}
      {{#year}}
      <span class="year">({{ year }})</span>
      {{/year}}
      <span class="authors">{{ authors }}</span>
      <span class="repo">{{ journal }}</span>
   </script>
   <script id="biblio_webpage" type="text/html">
      {{>title}}
   </script>
   <script id="biblio_slides" type="text/html">
      {{>title}}
      <span class="repo">Slideshare</span>
   </script>
   <script id="biblio_software" type="text/html">
      {{>title}}
      <span class="year">({{ year }})</span>
      <span class="descr">{{ description }}</span>
      <span class="repo">GitHub</span>
   </script>
   <script id="biblio_unknown" type="text/html">
      {{>title}}
   </script>

   <script id="displayItem" type="text/html">
      <li class="item" id="{{ _id }}">
         <div class="item-header">
            <div class="item-controls">
               <span href="#" class="item-delete-button">delete</span>
               <span href="#" class="item-expand-button">click to expand</span>
            </div>
            <div class="biblio"></div>
            <div class="badges"></div>
         </div>
         <div class="zoom"><a href="#" class="item-help"><span class="icon help"></span>What do these numbers mean?</a></div>
      </li>
   </script>

   <script id="badgesTemplate" type="text/html">
      <ul class="ti-badges">

         {{#big}}
         <li><span href="#" class="label ti-badge big-badge {{audience}}" rel="tooltip" title='75th percentile (n&ge;{{minForAward}}) in {{engagementTypeNoun}} by {{audience}}'>
            <span class="modifier">highly</span>
            <span class="engagement-type">{{engagementType}}</span>
         </spam></li>
         {{/big}}

         {{#any}}
         <li><span href="#" class="label ti-badge lil-badge {{audience}}" rel="tooltip"  title='Has been {{engagementType}} by {{audience}}'>
            <span class="engagement-type">{{engagementType}}</span>
         </span></li>
         {{/any}}
      </ul>
   </script>

   <script id="zoomTable" type="text/html">
      {{#audiences}}
      <div class="audience {{ audience }}">
         <!--<h5 >{{ audience }}</h5>-->
         <ul class="engagement-types">{{#cells}}
            <li class="engagement-type {{engagementType}}">
               <h6>
                  <span class="descr">
                     <span class="engagement-type">{{engagementType}}</span> by
                     <span class="audience">{{ audience }}</span>
                  </span>
               </h6>
               <ul class="metrics">{{#metrics}}
                  <li>
                     <div class="meta">
                        <img src="{{ static_meta.icon }}" width="16" height="16" border="0" rel="tooltip" title="<strong>{{static_meta.provider}} {{static_meta.display_name}}</strong>: {{static_meta.description}}">
                        {{#provenance_url}}
                        <a class="value-and-name" target="_blank" href="{{provenance_url}}">
                           <span class="metric-value value">{{ values.raw }}</span>
                           <span class="metric-name">{{ static_meta.display_name }}</span>
                        </a>
                        {{/provenance_url}}

                        <!-- sometimes, like with facebook, there's no url. then show a span, not a link -->
                        {{^provenance_url}}
                        <span class="value-and-name">
                           <span class="metric-value value">{{ values.raw }}</span>
                           <span class="metric-name">{{ static_meta.display_name }}</span>
                        </span>
                        {{/provenance_url}}
                     </div>

                     <div class="line">
                        <!-- if we've got ranges, show 'em, along sizeable div to show range -->
                        {{#percentiles}}
                        <div class="metric-perc-range ci">
                           <span class="start endpoint"><span class="value">{{CI95_lower}}</span></span>
                           <span class="bar"></span>
                           <span class="end endpoint"><span class="value">{{CI95_upper}}</span></span>
                        </div>
                        <div class="metric-perc-range estimate">
                           <span class="start endpoint"><span class="value">{{estimate_lower}}</span></span>
                           <span class="bar"></span>
                           <span class="end endpoint"><span class="value">{{estimate_upper}}</span></span>
                        </div>
                        {{/percentiles}}

                        <!-- if no ranges, show an NA -->
                        {{^percentiles}}
                        <div class="percentile-fail">
                              <span class="no-perc">no percentile data.</span>
                        </div>
                        {{/percentiles}}
                     </div>
                  </li>
                  {{/metrics}}</ul>
               </li>
         {{/cells}}</ul>
      </div>
      {{/audiences}}
   </script>




   <script id="genreTemplate" type="text/html">
      <div class="genre {{name}}">
         <h3><span>{{name}}</span></h3>
         <ul class="items active">
         </ul>
         <h4 class="plus-more">
            <span class="icon"></span><span class="value"></span> items with no metrics
            <span class="show-hide">(show)</span>
         </h4>
         <ul class="items inactive">
         </ul>
      </div>
   </script>

   <script id="bibtexUploadDoneMsg" type="text/html">
      <span class='items-added-msg'>articles added
         <span class='from'>{{numFailedItems}} couldn't be added because of
            <a class="help-text" rel="clickover"
               data-original-title="Missing DOIs?"
               data-content="DOIs are unique IDs for articles. Sometimes, Google Scholar can't find them; other times (especially for conference papers), they don't exist at all. Either way, we can't import. Hang in there, though: we're rolling out new import methods soon!">
               missing DOIs.
            </a>
         </span>
      </span>
   </script>



</div>
{% endraw %}
<script type="text/javascript">
   var uvOptions = {};
   (function() {
      var uv = document.createElement('script'); uv.type = 'text/javascript'; uv.async = true;
      uv.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'widget.uservoice.com/NGq30CjdUftugLRbNlRNw.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(uv, s);
   })();
</script>
</body>
</html>
