<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
   <meta charset="utf-8">
   <title>ImpactStory: {{ page_title }}</title>
   <meta name="description" content="ImpactStory">
   <meta name="author" content="ImpactStory">

   <meta name="google-site-verification" content="JWD8WcfINuKxjh31KejAnijd9Cx34IYEH1-bDMXVzjE" />
   <meta name="google-site-verification" content="ItyBFNIMWtJdRaONjqSQHM8ro_fRjTl9HO3Fq9IsZpM" />

   <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
   <!--[if lt IE 9]>
   <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
   <![endif]-->

   <link href='http://fonts.googleapis.com/css?family=Rokkitt:400,700' rel='stylesheet' type='text/css' />
   <link rel="icon" type="image/ico" href="/static/img/favicon.ico" />
   {% assets "css_all" %}
   <link type="text/css" rel="stylesheet" href="{{ ASSET_URL }}" />
   {% endassets %}

   <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
   <script type="text/javascript">
      var api_root='http://' + '{{ g.roots.api }}'
      var api_root_pretty='http://' + '{{ g.roots.api_pretty }}'
      var webapp_root='http://' + '{{ g.roots.webapp }}'
      var webapp_root_pretty='http://' + '{{ g.roots.webapp_pretty }}'
      var api_key='{{ g.api_key }}'
      var request_url='{{ request_url }}'
   </script>

   {% assets "js_all" %}
   <script type="text/javascript" src="{{ ASSET_URL }}"></script>
   {% endassets %}

   <script type="text/javascript">
      mixpanel.init("{{ g.mixpanel_token }}");
      mixpanel.people.set_once({"First Seen": new Date()});      
   </script>

   {% if g.user.id %}
      {% set login_status = "logged-in" %}
      <script type="text/javascript">
         var impactStoryUserId = '{{ g.user.id }}'
         mixpanel.name_tag('{{ g.user.email }}');
      </script>
   {% else %}
      {% set login_status = "not-logged-in" %}
   {% endif %}

</head>


<body class="{{ self | extract_filename }} {{ login_status }} {{ edit_status }}
      {{ extra_body_classes }}">

<div class="staging-warning alert-error alert">
   <strong>This isn't the page you're looking for:</strong>
   impactstory.it is our staging server; you want
   <a href="http://impactstory.org">impactstory.org</a>.<button type="button" class="close" data-dismiss="alert">&times;</button>
</div>

<div id="container">
   <div class="navbar">
      <div class="navbar-inner">
         <a class="brand" href="/"><img src="/static/img/impactstory-logo.png" alt="ImpactStory" /></a>
         <ul class="nav pull-right">

            <li class="create-button not-logged-in"><a href="/create">create</a></li>
            <li><a href="/api-docs">embed</a></li>
            <li class="dropdown">
               <a href="#"  class="dropdown-toggle" data-toggle="dropdown">follow</a>
               <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                  <li><a href="http://blog.impactstory.org">blog</a></li>
                  <li><a href="http://twitter.com/#!/ImpactStory">twitter</a></li>
               </ul>
            </li>

            <li class="dropdown">
               <a href="#"  class="dropdown-toggle" data-toggle="dropdown">about</a>
               <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                  <li><a href="/about">team</a></li>
                  <li><a href="/faq">faq</a></li>
                  <li><a href="/about#contact">contact</a></li>
                  <li><a href="/faq#tos">terms of use</a></li>
               </ul>
            </li>
            <li class="divider-vertical"></li>

            <li class="acct-mgt dropdown logged-in">
               <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <span class="hi">hi, </span>
                  <span class="given-name">{{g.user.given_name}}!</span>
               </a>
               <ul class='user-actions dropdown-menu'>
                  <li><a href="/{{ g.user.url_slug }}" class="profile">My profile</a></li>
                  <li><a href="{{ url_for('logout') }}" class="logout">Log out</a></li>
               </ul>
            </li>
            <li class="acct-mgt dropdown not-logged-in" id="login-link">
               <a href="/login"  class="login-register-link">Log in</a>
            </li>

            <li class="divider-vertical logged-in"></li>

            <li class="logged-in preferences">
               <a href="/{{ g.user.url_slug }}/preferences" class="preferences" data-toggle="tooltip" title="Change URL and other preferences">
                  <i class="icon-cog"></i>
               </a>
            </li>
         </ul>
      </div>
   </div>


   {% with messages = get_flashed_messages(with_categories=true) %}
   {% if messages %}
   <ul class="flashes">
      {% for category, message in messages %}
      <li class="alert {{ category }} alert-success fade in">
         <button type="button" class="close" data-dismiss="alert">&times;</button>
         {{ message }}
      </li>
      {% endfor %}
   </ul>
   {% endif %}
   {% endwith %}

   <div id="page-header">
      <div class="wrapper">
         {# unpleasant hacks to let user-report page be editable... #}
         {% if (self | extract_filename) == "user-profile" %}
         <h2 class='page-title editable-name'>
            <span class="given-name editable" data-name="given_name">{{ profile.given_name }}</span>
            <span class="surname editable" data-name="surname">{{ profile.surname }}</span>
            <span class="instr">&nbsp;<span>click name to edit</span></span>
         </h2>

         {# it's easy if we don't have to edit the h2: #}
         {% else %}
         <h2 class='page-title'>{{ page_title }}</h2>
         {% endif %}
      </div>
   </div>


   {% block content %}{% endblock %}

   <div id="footer">
      <div class="wrapper">
         <div id="footer-branding" class="footer-col">
            <a class="brand" href="/"><img src="/static/img/impactstory-logo.png" alt="ImpactStory" /></a>

            <p>We're your impact profile on the web, revealing diverse impacts of your articles, datasets, software, and more.</p>
            <p class="license">
               <!--<a rel="license" href="http://creativecommons.org/licenses/by/2.0/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by/2.0/80x15.png" /></a>-->
               <span class="text">Except where otherwise noted, content on this site is licensed under the
                  <a rel="license" href="http://creativecommons.org/licenses/by/2.0/">CC-BY license</a>.
               </span>
            </p>



         </div>
         <div id="footer-about" class="footer-col">
            <h3>About</h3>
            <ul>
               <li><a href="/about">Our team</a></li>
               <li><a href="/faq">FAQ</a></li>
               <li><a href="/about#contact">Contact us</a></li>
               <li><a href="/faq#tos">Terms of use</a></li>
            </ul>
         </div>

         <div id="footer-follow" class="footer-col">
            <h3>Follow</h3>
            <ul>
               <li><a href="http://twitter.com/#!/ImpactStory">Twitter</a></li>
               <li><a href="http://blog.impactstory.org">Blog</a></li>
               <li><a href="https://groups.google.com/forum/?fromgroups#!forum/total-impact">Newsgroup</a></li>
               <li><a href="https://github.com/total-impact">GitHub</a></li>

            </ul>
         </div>

         <div id="footer-funders" class="footer-col">
            <h3>Supported by</h3>
            <a href="http://sloan.org/" id="footer-sloan-link">
               <img src="{{ url_for('static', filename='img/sloan-logo.png') }}"  width="200"/>
            </a>
         </div>


      </div>
   </div> <!-- end footer -->
   <div id="footer-powered-by">
      <p><a href="https://mixpanel.com/f/partner">
         <img src="//cdn.mxpnl.com/site_media/images/partner/badge_light.png" alt="Mobile Analytics" />
      </a></p>
   </div>
</div>


<!------------------------------------------------------------------------------
Modals
HTML for modal windows that bootstrap will pop up
------------------------------------------------------------------------------->




<!------------------------------------------------------------------------------
Javascript templates
These are for rendering items with javascript using Mustache
------------------------------------------------------------------------------->
{% raw %}
<div id="templates">
   <script id="title" class="partial" type="text/html">
      <h5 class="{{activeAudiences}}">
         <span class="title">{{title}}</span>
         {{#url}}
         <a class="linkout url title" href="{{ url }}"><span class="help-text">linkout</span></a>
         {{/url}}
      </h5>
   </script>

   <script id="biblio_dataset" type="text/html">
      {{>title}}
      {{#year}}
      <span class="year">({{ year }})</span>
      {{/year}}
      <span class="authors">{{ authors }}</span>
      <span class="authors">{{ authors_literal }}</span>
      <span class="repo">{{ repository }}</span>
   </script>
   <script id="biblio_article" type="text/html">
      {{>title}}
      {{#year}}
      <span class="year">({{ year }})</span>
      {{/year}}
      <span class="authors">{{ authors }}</span>
      <span class="authors">{{ authors_literal }}</span>
      <span class="repo">{{ journal }}</span>
   </script>
   <script id="biblio_webpage" type="text/html">
      {{>title}}
   </script>
   <script id="biblio_slides" type="text/html">
      {{>title}}
      <span class="repo">Slideshare</span>
   </script>
   <script id="biblio_software" type="text/html">
      {{>title}}
      <span class="year">({{ year }})</span>
      <span class="descr">{{ description }}</span>
      <span class="repo">GitHub</span>
   </script>
   <script id="biblio_unknown" type="text/html">
      {{>title}}
   </script>

   <script id="displayItem" type="text/html">
      <li class="item" id="{{ _id }}">
         <div class="item-controls">
            <a href="#" class="item-delete-button"><span class="help-text">remove</span> <span class="x">&times;</span></a>
            <a href="#" class="item-expand-button">click to expand</a>
         </div>
         <div class="item-header">
            <div class="biblio"></div>
            <div class="badges"></div>
         </div>
         <div class="zoom"><a href="#" class="item-help"><span class="icon help"></span>What do these numbers mean?</a></div>
      </li>
   </script>

   <!-- TODO: include from js-template-badges.html -->
   <script id="badges" type="text/html">
      {% endraw %}
      {% include "js-template-badges.html" %}
      {% raw %}
   </script>

   <script id="zoomTable" type="text/html">
      {{#audiences}}
      <div class="audience {{ audience }}">
         <!--<h5 >{{ audience }}</h5>-->
         <ul class="engagement-types">{{#cells}}
            <li class="engagement-type {{engagementType}}">
               <h6>
                  <span class="descr">
                     <span class="engagement-type">{{engagementType}}</span> by
                     <span class="audience">{{ audience }}</span>
                  </span>
               </h6>
               <ul class="metrics">{{#metrics}}
                  <li>
                     <div class="meta">
                        <img src="{{ static_meta.icon }}" width="16" height="16" border="0" rel="tooltip" title="<strong>{{static_meta.provider}} {{static_meta.display_name}}</strong>: {{static_meta.description}}">
                        {{#provenance_url}}
                        <a class="value-and-name" target="_blank" href="{{provenance_url}}">
                           <span class="metric-value value">{{ values.raw }}</span>
                           <span class="metric-name">{{ static_meta.display_name }}</span>
                        </a>
                        {{/provenance_url}}

                        <!-- sometimes, like with facebook, there's no url. then show a span, not a link -->
                        {{^provenance_url}}
                        <span class="value-and-name">
                           <span class="metric-value value">{{ values.raw }}</span>
                           <span class="metric-name">{{ static_meta.display_name }}</span>
                        </span>
                        {{/provenance_url}}
                     </div>

                     <div class="line">
                        <!-- if we've got ranges, show 'em, along sizeable div to show range -->
                        {{#percentiles}}
                        <div class="metric-perc-range ci" rel="tooltip" title='Percentile range for this metric relative to a random set of items published the same year'>
                           <span class="start endpoint"><span class="value">{{CI95_lower}}</span></span>
                           <span class="bar"></span>
                           <span class="end endpoint"><span class="value">{{CI95_upper}}</span></span>
                        </div>
                        {{/percentiles}}

                        <!-- if no ranges, show an NA -->
                        {{^percentiles}}
                        <div class="percentile-fail">
                           <span class="no-perc">no percentile data.</span>
                        </div>
                        {{/percentiles}}
                     </div>
                  </li>
                  {{/metrics}}</ul>
            </li>
            {{/cells}}</ul>
      </div>
      {{/audiences}}
   </script>




   <script id="genreTemplate" type="text/html">
      <div class="genre {{name}}">
         <h3><span>{{name}}</span></h3>
         <ul class="items active">
         </ul>
         <h4 class="plus-more">
            <span class="icon"></span><span class="value"></span> items with no metrics found
            <span class="show-hide">(show)</span>
         </h4>
         <ul class="items inactive">
         </ul>
      </div>
   </script>

   <script id="bibtexUploadDoneMsg" type="text/html">
      <span class='items-added-msg'>articles added
         <span class='from'>{{numFailedItems}} couldn't be added because of
            <a class="help-text" rel="clickover"
               data-original-title="Missing DOIs?"
               data-content="DOIs are unique IDs for articles. Sometimes we can't find them; other times (especially for conference papers), they don't exist at all. Either way, we can't import. Hang in there, though: we're rolling out new import methods soon!">
               missing DOIs.
            </a>
         </span>
      </span>
   </script>



</div>
{% endraw %}
<!-- UserVoice JavaScript SDK (only needed once on a page) -->
<script>(function(){var uv=document.createElement('script');uv.type='text/javascript';uv.async=true;uv.src='//widget.uservoice.com/OQC1qQJBAPv28X1VBsYbw.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(uv,s)})()</script>

<!-- A tab to launch the Classic Widget -->
<script>
   UserVoice = window.UserVoice || [];
   UserVoice.push(['showTab', 'classic_widget', {
      mode: 'full',
      primary_color: '#cc6d00',
      link_color: '#007dbf',
      default_mode: 'feedback',
      forum_id: 166950,
      tab_label: 'Feedback & Support',
      tab_color: '#ff4d00',
      tab_position: 'middle-right',
      tab_inverted: false
   }]);
</script>
</body>
</html>
