
{% set this_metric = metrics_info[metric_name] %}





{#  PROFILE getting a First Metric milestone #}
{#  ########################################### #}
{% if granularity == "profile" and threshold_awarded == 1 %}
<div class="card milestone first-metric profile">
   <div class="header">
      <h3>
            Welcome to the {{ this_metric.provider }} {{ this_metric.display_name }} club!
      </h3>
      <h4>
         on <a href="https://impactstory.org/{{ user.url_slug }}">https://impactstory.org/{{ user.url_slug }}</a>
      </h4>
   </div>
   <div class="body">
      <p>
         Congratulations, you just got your first {{ this_metric.provider }} {{ this_metric.display_name }}!
      </p>
   </div>
   <div class="footer">
      <strong>profile</strong> milestone
   </div>
</div>





{#  PROFILE getting a milestone OTHER than First Metric #}
{#  ################################################### #}
{% elif granularity == "profile" and threshold_awarded > 1 %}
<div class="card milestone profile">
   <div class="header">
      <h3>
         <span class="value">{{ threshold_awarded }}+</span> profile {{ this_metric.provider }} {{ this_metric.display_name }}
      </h3>
      <h4>
         on <a href="https://impactstory.org/{{ user.url_slug }}">https://impactstory.org/{{ user.url_slug }}</a>
      </h4>
   </div>

   <div class="body">
      <p>
         You've now got a total of {{ current_value }} {{ this_metric.provider }}
         {{ this_metric.display_name }} on your profile, thanks to {{ diff_value }}
         new {{ this_metric.display_name }} this week!
      </p>
      <p>
         Congrats on passing the {{ threshold_awarded }} mark!
      </p>
   </div>
   <div class="footer">
      <strong>profile</strong> milestone
   </div>
</div>





{#  PRODUCT getting its First Metric milestone #}
{#  ########################################### #}
{% elif granularity == "product" and threshold_awarded == 1 %}
<div class="card milestone first-metric product">
   <div class="header">
      <h3>
         <span class="value">First</span> {{ this_metric.provider }} {{ this_metric.display_name }}
      </h3>
      <h4>
         on <em>{{ product.biblio.title }}</em>
      </h4>
   </div>

   <div class="body">
      <p>
         This {{ product.biblio.genre }} attracted {{ diff_value }} new
         {{ this_metric.provider }} {{ this_metric.display_name }}
         this week, bringing it up to {{ current_value }} total.
      </p>

      {% if percentile_current_value %}
      <p>
            That's good--only {{ 101 - percentile_current_value }}% of {{ product.biblio.year }} {{ product.biblio.genre }}
            have that many!
      </p>
      {% endif %}

      <p>
         It marks your {{ nth_profile_product_this_good }} unique product to get a
         {{ this_metric.display_name }} on {{ this_metric.provider }}. Nice work!
      </p>

   </div>

   <div class="footer">
      <strong>{{ product.biblio.genre }}</strong> milestone
   </div>
</div>






{#  PRODUCT hitting a milestone other than First Metric #}
{#  ##################################################### #}
{% elif granularity == "product" and threshold_awarded > 1 %}
<div class="card milestone product">
   <div class="header">
      <h3>
         <span class="value">{{ threshold_awarded }}+</span> {{ this_metric.provider }} {{ this_metric.display_name }}
      </h3>
      <h4>
         on <em><a href="https://impactstory.org/{{ user.url_slug }}/product/{{ product._id }}">{{ product.biblio.title }}</a></em>
      </h4>
   </div>
   <div class="body">
      <p>
         This {{ product.biblio.genre }} attracted {{ diff_value }} new
         {{ this_metric.provider }} {{ this_metric.display_name }}
         this week, bringing it up to {{ current_value }} total.
      </p>

      {% if percentile_current_value %}
      <p>
         That's good--only {{ 101 - percentile_current_value }}% of {{ product.biblio.year }} {{ product.biblio.genre }}
               have that many.
      </p>
      {% endif %}

      <p>
         It marks your {{ nth_profile_product_this_good }} product to get this many {{ this_metric.display_name }} on {{ this_metric.provider }}. Nice work!
      </p>
   </div>

   <div class="footer">
      <strong>{{ product.biblio.genre }}</strong> milestone
   </div>
</div>

{% endif %}
