

{#  this profile is getting a First Metric milestone #}
{#  ########################################### #}
{% if card.milestone_awarded == 1 %}
<div class="card milestone first-metric profile">
   <div class="header">
      <h3>
         Welcome to the {{ card.exemplar_metric.display_provider }} {{ card.exemplar_metric.display_interaction }} club!
      </h3>
      <h4>
         on <a href="https://impactstory.org/{{ card.url_slug }}">https://impactstory.org/{{ card.url_slug }}</a>
      </h4>
   </div>

   <div class="body">
      <p>
         Congratulations, you just got your first {{ card.exemplar_metric.display_provider }} {{ card.exemplar_metric.display_interaction }}!
      </p>

   </div>

   <div class="footer">
      <strong>profile</strong> milestone
   </div>
</div>



{#  this profile is hitting a milestone other than First Metric #}
{#  ##################################################### #}
{% elif card.milestone_awarded > 1 %}
<div class="card milestone profile">
   <div class="header">
      <h3>
         <span class="value">{{ card.milestone_awarded }}+</span> profile {{ card.exemplar_metric.display_provider }} {{ card.exemplar_metric.display_interaction }}
      </h3>
      <h4>
         on <a href="https://impactstory.org/{{ card.url_slug }}">https://impactstory.org/{{ card.url_slug }}</a>
      </h4>
   </div>
   <div class="body">
      <p>
         You've now got a total of {{ card.current_value }} {{ card.exemplar_metric.display_provider }} {{ card.exemplar_metric.display_interaction }} on your profile, thanks to {{ card.diff_value }}
         new {{ card.exemplar_metric.display_provider }} {{ card.exemplar_metric.display_interaction }} this week!
      </p>
      <p>
         Congrats on passing the {{ card.milestone_awarded }} mark!
      </p>
   </div>

   <div class="footer">
      <strong>profile</strong> milestone
   </div>
</div>

{% endif %}


