{% extends "login-base.html" %}
{% set page_title = "Change Password" %}

{% block login %}
<h2>Choose a new ImpactStory password:</h2>

<form class="form-horizontal change-password" id="change-pw">
   <div class="control-group input ready enter-new-pw">
      <label class="control-label" for="new-pw">New password</label>
      <div class="controls ">
         <input type="password" name="enter_new_pw" id="new-pw" placeholder="New password">
      </div>
   </div>

   <div class="control-group input ready confirm-new-pw">
      <label class="control-label" for="confirm-new-pw">Confirm</label>
      <div class="controls">
         <input type="password" name="current_pw" id="confirm-new-pw" placeholder="Confirm new password">
         <span class="help-inline error">Passwords don't match</span>
      </div>
   </div>

   <div class="control-group button feedback ready">
      <div class="controls button">
         <button class="btn btn-large btn-success submit ready" type="submit">Change password</button>
         <span class="working help-block"><img src="{{ url_for('static', filename='img/ajax-loader.gif') }}" /></span>
         <span class="help-block error">Whoops, the two passwords you typed don't match...</span>
         <span class="pw-changed help-block success">Password changed.</span>
      </div>
   </div>
</form>

{% endblock %}