{% extends "login-base.html" %}
{% set page_title = "Change Password" %}

{% block login %}
<h2>Choose a new ImpactStory password:</h2>

<form class="form-horizontal change-password" id="change-pw" method="POST">
   {% if error == "expired-token" %}
      <div class="alert alert-error expired-token">
         <button type="button" class="close" data-dismiss="alert">&times;</button>
         Sorry, this link is expired. You can <a href="/reset-password">get a new reset link here,</a> though.
      </div>
   {% elif error == "invalid-token" %}
      <div class="alert alert-error password invalid-token">
         <button type="button" class="close" data-dismiss="alert">&times;</button>
         Sorry, this link is invalid; you may have pasted it in wrong. You can try again, or <a href="/reset-password">get a new reset link.</a>
      </div>
   {% endif %}

   {% if error %}
      {% set disabled = 'disabled="disabled"' %}
   {% endif %}



   <div class="control-group input ready enter-new-pw">
      <label class="control-label" for="new-pw">New password</label>
      <div class="controls ">
         <input type="password" name="confirm_new_pw" id="new-pw" placeholder="New password" autofocus="autofocus" {{ disabled }}>
      </div>
   </div>

   <div class="control-group input ready confirm-new-pw">
      <label class="control-label" for="confirm-new-pw">Confirm</label>
      <div class="controls">
         <input  type="password" name="confirm_new_pw" id="confirm-new-pw" placeholder="Confirm new password" {{ disabled }}>
         <span class="help-inline error">Passwords don't match</span>
      </div>
   </div>

   <div class="control-group button feedback ready">
      <div class="controls button">
         <button class="btn btn-large btn-success submit ready" type="submit" {{ disabled }}>
            Change password
         </button>
         <span class="help-block error">Whoops, the two passwords you typed don't match...</span>
      </div>
   </div>
</form>

{% endblock %}