{% extends "base.html" %}

{% block content %}

    <div class="main" id="report">
        <!-- START report-meta -->
        <div class="wrapper">
            <div id="report-meta">
                <div id="share">
                    <script src="//platform.twitter.com/widgets.js" type="text/javascript"></script>
                    <!-- based on code here: https://dev.twitter.com/docs/tweet-button -->
                    <span class="tweet-this">
                        <a href="https://twitter.com/share" class="twitter-share-button"
                           data-url={{ request.url }}
                           data-via="mytotalImpact"
                           data-text="Check out the total-Impact of {{ collection.title }}: {{ request.url }}"
                           data-count="horizontal">Tweet</a>
                    </span>
                </div>
                <div id="report-button">
                    <span class="report-button"><a class="report-button-full" id="update-report-button" name="{{ collection.id }}" href="#">update</a></span>
                    <span class="report-button">
                        <a class="report-button-left" href="http://localhost:5001/items/{{ collection.item_tiids|join(',')}}">json</a>
                        <a class="report-button-right" href="http://localhost:5001/items/{{ collection.item_tiids|join(',')}}.csv">csv</a>
                    </span>
                </div>
                
            </div>
        </div>
        <div id="metrics">
            <script type="text/javascript">var tiids = ["{{ collection.item_tiids|join('","')|safe }}"]</script>
            <div class="genre article">
                <h3><span>articles</span></h3>
                <ul id="items">
                </ul>
            </div>
            <div class="genre dataset">
                <h3><span>datasets</span></h3>
                <ul id="items">
                </ul>
            </div>
            <div class="genre software">
                <h3><span>software</span></h3>
                <ul id="items">
                </ul>
            </div>
            <div class="genre slides">
                <h3><span>slides</span></h3>
                <ul id="items">
                </ul>
            </div>
            <div class="genre webpage">
                <h3><span>webpages</span></h3>
                <ul id="items">
                </ul>
            </div>
            <div class="genre unknown">
                <h3><span>unknown</span></h3>
                <ul id="items">
                </ul>
            </div>
        </div>
        <p class="something-missing">More detail on <a href="../about#whichmetrics">available metrics</a>.  Missing some artifacts or metrics? See <a href="../about#limitations">current limitations.</a>  </p>
    </div>


{% endblock %}
