{% extends "base.html" %}

{% block content %}

    <div id="report">
        <!-- START report-meta -->
        <div class="wrapper">
            <div id="report-meta">
                <h2><span class="title">{{ collection.title }}</span></h2>
                <div id="report-button">
                    <a class="report-button" id="update-report-button" name="{{ collection.id }}" href="#">run update</a>
                    <a class="report-button" href="../call_api/items/{{ collection.item_tiids|join(',')}}">download data</a>
                </div>
                <div id="report-info">
                    <span class="badge artifacts-count"><span class="num">{{ collection.item_tiids|length }}</span> artifacts;</span>
                </div>

                <div id="share">
                    <span id="permalink"><span class="label"> Permalink: </span><a class="copyable", href="http://total-impact.org/collection/{{ collection.id }}">http://total-impact.org/collection/{{ collection.id }}</a></span>
                    <script src="//platform.twitter.com/widgets.js" type="text/javascript"></script>
                    <!-- based on code here: https://dev.twitter.com/docs/tweet-button -->
                    <span class="tweet-this">
                        <a href="https://twitter.com/share" class="twitter-share-button"
                           data-url="http://total-impact.org/collection/{{ collection.id }}"
                           data-via="mytotalImpact"
                           data-text="Check out the total-Impact of {{ collection.id }}: "
                           data-count="horizontal">Tweet</a>
                    </span>
                </div>
            </div>
        </div>
        <div id="metrics">
            <h2 class="updating"><img src="../static/img/ajax-loader-rev.gif" alt="spinning graphic" />We're getting your data...</h2>
            <script type="text/javascript">var tiids = ["{{ collection.item_tiids|join('","')|safe }}"]</script>
            <ul id="items">
            </ul>
        </div>
        <p class="something-missing">More detail on <a href="../about#whichmetrics">available metrics</a>.  Missing some artifacts or metrics? See <a href="../about#limitations">current limitations.</a>  </p>
    </div>
    {% raw %}
    <div id="templates">
        <!-- These templates are for rendering items with javascript using
        Mustache -->
        <script id="title" class="partial" type="text/html">
            <h5>
                {{#url}}
                    <a class="url title" href="{{ url }}">{{ title }}</a>
                {{/url}}
                {{^url}}
                    {{ title }}
                {{/url}}
            </h5>
        </script>

        <script id="biblio_dataset" type="text/html">
            {{#year}}
                <span class="year">{{ year }}</span>
            {{/year}}
            {{>title}}
            <span class="repo">{{ repository }}</span>
        </script>
        <script id="biblio_article" type="text/html">
            <span class="authors">{{ authors }}</span>
            {{#year}}
                <span class="year">{{ year }}</span>
            {{/year}}
            {{>title}}
            <span class="repo">{{ journal }}</span>
        </script>
        <script id="biblio_webpage" type="text/html">
            {{>title}}
        </script>
        <script id="biblio_slides" type="text/html">
            {{>title}}
            <span class="repo">Slideshare</span>
        </script>
        <script id="biblio_software" type="text/html">
            <span class="year">{{ year }}</span>
            {{>title}}
            <span class="descr">{{ description }}</span>
            <span class="repo">GitHub</span>
        </script>
        <script id="biblio_unknown" type="text/html">
            {{>title}}
        </script>

        <script id="item" type="text/html">
            <li class="item" id="{{ id }}">
                <div class="biblio"></div>
                <ul class="metrics">{{#metricsArr}}
                    <li>
                        <a href="{{provenance_url}}">
                            <span class="last-update">{{ ts }}</span>
                            <span class="metric-value">{{ value }}</span>
                            <span class="metric-name-img">
                                <img src="{{ static_meta.icon }}" width="16" height="16" border="0">
                                <span class="metric-name">{{ static_meta.provider }} {{ static_meta.display_name }}</span>
                            </span>
                        </a>
                    </li>
                {{/metricsArr}}</ul>
            </li>
        </script>
    </div>
    {% endraw %}

{% endblock %}
