{% extends "base.html" %}

{% block content %}

<script type="text/javascript">
    mixpanel.track("View:create collection");
</script>

<!-- START input -->
<div class="main" id="input">
    <div class="wrapper">
        <form class="importers">
            <h3><span class="step-number">1:</span> Add articles</h3>
            <div class="control-group orcid ready username" id="orcid_toggler_contents">
                <label class="control-label" for="input_github">
                    <span class="ready import">Import from</span>
                    <span class="working"><img src="{{ url_for('static', filename='img/ajax-loader.gif') }}" />Importing from</span>
                    <span class="success">Added <span class="value">0</span></span>
                    <span class="provider-name">ORCID</span>
                    <span class="failure">failure: ID not found.</span>
                    <span class="success item-type">articles.</span>
                    <a class="help ready" id="orcid-help-link" href="#">(help)</a>
                </label>
                <div class="controls">
                    <input id="input_orcid" name="orcid_profile" type="text" size="20" placeholder="ORCID Identifier" />
                </div>
            </div>

            <div class="fileupload fileupload-new ready control-group" data-provides="fileupload"  id="bibtex_toggler_contents">
                <label class="control-label" for="input_bibtex" class="prompt">
                    <span class="import ready">Import from</span>
                    <span class="import working">Processing</span>
                    <span class="import success">Imported <span class="value"></span></span>
                    <span class="provider-name">Google Scholar</span>
                    <span class="working">data: <span class="value">0</span><span class="percent">%</span></span>
                    <span class="success">articles.</span>
                    <span class="failure"> error: couldn't read file.</span>
                    <a class="help ready" id="google-scholar-help-link" href="#">(help)</a>
                </label>

                <div class="input-append">
                    <div class="uneditable-input span3"></div>
                  <span class="btn btn-file">
                      <span class="fileupload-new">Select BibTeX file</span>
                      <span class="fileupload-exists">Change</span>
                      <input type="file"id="input_bibtex"  />
                  </span>
                </div>
            </div>


            <div class="control-group ready">
                <label for="paste_input" class="control-label ids">
                    <span class="desc">Article IDs</span>
                    <span class="limit">Paste DOIs or PubMed IDs (limit 100)</span>
                </label>
                <div class="controls">
                    <textarea
                            rows="4"
                            cols="40"
                            id="paste_input"
                            class="no-input-yet ids"
                            data-placeholder="10.1038.171737a0
13054692" ></textarea>
                </div>
            </div>

        </form>
        <form class="importers other-products">
            <h3><span class="step-number">2:</span> Add other products</h3>

            <div class="control-group github username ready">
                <label class="control-label" for="input_github">
                    <span class="ready">Import from</span>
                    <span class="working"><img src="{{ url_for('static', filename='img/ajax-loader.gif') }}" />Importing from</span>
                    <span class="success">Added <span class="value">0</span></span>
                    <span class="provider-name">GitHub</span>
                    <span class="failure">failure: username not found.</span>
                    <span class="success item-type">repos.</span>
                </label>
                <div class="controls">
                    <input type="text" data-provider="github" id="input_github" placeholder="username">
                </div>
            </div>
            <div class="control-group slideshare username ready">
                <label class="control-label" for="input_github">
                    <span class="ready import">Import from</span>
                    <span class="working"><img src="{{ url_for('static', filename='img/ajax-loader.gif') }}" />Importing from</span>
                    <span class="success">Added <span class="value">0</span></span>
                    <span class="provider-name">Slideshare</span>
                    <span class="failure">failure: username not found.</span>
                    <span class="success item-type">decks.</span>
                </label>
                <div class="controls">
                    <input type="text" id="input_slideshare" placeholder="username">
                </div>
            </div>

            <div class="control-group product-ids ready">
                <label for="paste_dataset_dois" class="control-label ids">
                    <span class="desc">Other product IDs</span>
                    <span class="limit">Paste DOIs or URLs (limit 100)</span>
                </label>
                <div class="controls">
                    <textarea rows="4" cols="40"
                              id="paste_dataset_dois"
                              class="no-input-yet ids"
                              data-placeholder="10.5061/dryad.j1fd7
https://github.com/egonw/cdk
http://slideshare.net/jm/slides2"></textarea>
                </div>
            </div>
        </form>


        <form class="importers" id="make-collection">
            <h3><span class="step-number">3:</span> Make report</h3>
            <h4 class="prompt" >Register (optional)<span class="limit">lets you save and find your collection later.</span></h4>
            <div class="form-item control-group email register ready">
                <label class="control-label">
                    <span class="working"><img src="{{ url_for('static', filename='img/ajax-loader.gif') }}" />Checking</span>
                    <span class="main">Email</span>
                    <span class="working">availability...</span>
                    <span class="success">available.</span>
                    <span class="failure">already taken...</span>
                </label>
                <div class="controls">
                    <input class="username register email" type="text" placeholder="email" />
                </div>
            </div>

            <div class="form-item control-group register password ready">
                <label class="control-label">
                    <span class="main">Password</span>
                </label>
                <div class="controls">
                    <input type="password" placeholder="password"/>
                </div>
            </div>

            <div class="control-group ready" id="collection-name">
                <label class="control-label" for="name"><span class="main">Collection name:</span></label>
                <div class="controls">
                    <input type="text" name="name" class="no-input-yet" id="name" placeholder="My Collection"/>
                </div>
            </div>

            <div class="control-group create-button ready">
                <div class="controls">
                    <button name="run" type="submit" id="go-button" class="btn btn-large btn-primary">go!</button>
                </div>
            </div>
            <div class="indicator">
                <p id="artcounter">You've imported <span class="count">0</span> products.</p>
            </div>

        </form>

        <div class="clearfix">&nbsp;</div>
    </div>

</div><!-- END input -->

<div id="orcid-help" class="modal hide fade">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Import Articles from ORCID</h3>
    </div>
    <div class="modal-body">
        <p>Just enter your <a href="http://about.orcid.org/">ORCID ID</a> (for example, <em>0000-0001-5109-3700</em>).  We'll import the public <a href="http://support.orcid.org/knowledgebase/articles/118795">publication Works</a> associated with your ORCID record.</p>
        <p>If you don't have an ORCID ID yet, it only takes a few minutes to <a href="http://orcid.org/register">register for one</a> and automatically add your publications to it.</p>
        <p>ImpactStory only imports <strong>public</strong> publications.  If your Works are currently listed in your ORCID profile as "limited" or "private", you can change them to "public" on your <a href="http://orcid.org/works-update">ORCID Works update</a> page.</p>
        <p>We currently only import Works with dois — stay tuned, we'll support more work types soon!</p>
    </div>
</div>

<div id="google-scholar-help" class="modal hide fade">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Import Articles from Google Scholar Profile</h3>
    </div>
    <div class="modal-body">
        <ol>
            <li>Visit your Google Scholar Citations <a href="http://scholar.google.com/citations?hl=en">author profile</a>.  If you don't have one yet, <a href="http://scholar.google.com/intl/en/scholar/citations.html">make one</a>.</li>
            <li>In the green header above your articles you will see a white drop down box that says <strong>Actions</strong>.  Change this to <strong>Export</strong>. </li>
            <li>You will be redirected to the Export Articles page. Click <strong>Export all my articles</strong> (leave the file format as "BibTeX"). Save the file.</li>
            <li>Return to ImpactStory.  On the create collections page, click <strong>Select BibTeX file</strong> and upload the previously saved file.  Once the file is 100% loaded, name your collection and click the <strong>go!</strong> button.</li>
        </ol>

    </div>
</div>

<div id="bibtex-fail-help" class="modal hide fade error">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Well, this is embarrassing.</h3>
    </div>
    <div class="modal-body">
        <p>Looks like we couldn't correctly process your file. This probably means it has characters or formatting we've never seen before; we've logged the error and will start fixing it right away.</p>
        <p>If you take a second to fill out a support ticket, we'll email you a link to your finished report just as soon as we fix the bug.</p>
        <p>Thanks for your patience; as an early user of our beta release, you're helping us make ImpactStory better!</p>
    </div>
    <div class="modal-footer">
        <a class="btn">Dismiss</a>
        <a class="btn btn-danger uservoice">Submit a support ticket</a>

    </div>
</div>


{% endblock %}
