{% extends "base.html" %}

{% block content %}


<!-- START input -->
<div class="main" id="input">
   <div class="wrapper">
      <ul class="pullers bibtex">
         <li id="bibtex-import">
            <div class="toggler_contents fileupload fileupload-new" data-provides="fileupload" id="bibtex_toggler_contents">
               <legend for="input_bibtex" class="prompt" title="Upload a BibTeX file">Articles from Google Scholar Profiles<span class="limit"><a id="google-scholar-help-link" href="#">(Click here for help)</a></span></legend>
               <span class="btn btn-large btn-file">
                  <span class="fileupload-new">Select file</span>
                  <input type="file" id="input_bibtex" onchange="upload_bibtex(this.files)" />
               </span>
               <div class="progressbar"></div>
            </div>
         </li>
      </ul>
      <ul id="manual-add">
         <li id="paste-ids">
            <legend for="paste_input" class="prompt" title="Paste DOIs or URLS for items you want to look up." >Article IDs<span class="limit">Paste DOIs or PubMed IDs</legend>
            <textarea rows="4" cols="40" id="paste_input" class="artifactList no-input-yet" ></textarea>
         </li>
         <li id="paste-webpages">
            <legend for="paste_webpages" class="prompt" >Webpage URLs<span class="limit">(No articles; they go above)</span></legend>
            <textarea rows="4" cols="40" id="paste_webpages" class="artifactList no-input-yet" ></textarea>
         </li>
      </ul>
      <ul class="pullers">
         <li>
            <div class="toggler_contents" id="slideshare_toggler_contents">
               <legend for="slideshare_profile_input" class="prompt">Slideshare username</legend>
               <input id="slideshare_profile_input" name="slideshare_profile" type="text" size="20" />
            </div>
         </li>
         <li>
            <div class="toggler_contents" id="github_users_toggler_contents">
               <legend for="github_users_input" class="prompt">GitHub username</legend>
               <input id="github_users_input" name="github_user" type="text" size="20" />
            </div>
         </li>
         <li>
            <div class="toggler_contents" id="dryad_toggler_contents">
               <legend for="dryad_author_input" class="prompt" title="Fill in the dc:contributor.author value in <em>Show Full Metadata</em> to retrieve a list of datasets">Dryad author name</legend>
               <input id="dryad_author_input" name="dryad_author" type="text" size="20" />
            </div>
         </li>
      </ul>
      <form id="inline-register">
         <legend for="inline-user-signup" class="prompt" >Register<span class="limit">Optional; lets you save and find your collection later.</span></legend>
         <fieldset id="inline-user-creds">
            <div class="form-item control-group">
               <legend for="inline-register-email">email</legend>
               <span class="help-inline"></span>
               <input id="inline-register-email" class="username register" type="text" />
            </div>
            <div class="form-item">
               <legend for="inline-register-pw">password</legend>
               <input id="inline-register-pw" type="password" />
            </div>
         </fieldset>
      </form>
      <div id="create-button" class="inputcol">
         <form name="id_form" action="./fetch/" id="id-form">
            <legend for="name">Collection name:</legend>
            <input name="name" class="no-input-yet" id="name" title="Add a meaningful title to this collection" />
            <input name="list" id="artifacts-list" type="hidden" value="" />
            <p id="artcounter">You've got <span class="count">0</span> items in your collection.</p>
            <button name="run" type="submit" id="go-button" class="btn btn-large btn-primary">go!</button>
         </form>
         <div class="clearfix">&nbsp;</div>
      </div>
   </div>

</div><!-- END input -->

<div id="google-scholar-help" class="modal hide fade">
   <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h3>Import Articles from Google Scholar Profiles</h3>
   </div>
   <div class="modal-body">
      <ol>
         <li>Visit your Google Scholar Citations <a href="http://scholar.google.com/citations?hl=en">author profile</a>.  If you don't have one yet, <a href="http://scholar.google.com/intl/en/scholar/citations.html">make one</a>.</li>
         <li>In the green header above your articles you will see a white drop down box that says <strong>Actions</strong>.  Change this to <strong>Export</strong>. </li>
         <li>You will be redirected to the Export Articles page. Click <strong>Export all my articles</strong> (leave the file format as "BibTex"). Save the file.</li>
         <li>Return to ImpactStory.  On the create collections page, click <strong>Select File</strong> and upload the previously saved file.  Once the file is 100% loaded, name your collection and click the <strong>go!</strong> button.</li>
      </ol>

   </div>
</div>

<div id="bibtex-fail-help" class="modal hide fade">
   <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h3>Well, this is embarrassing.</h3>
   </div>
   <div class="modal-body">
      <p>We weren't able to process your file. This happens sometimes when the import files have characters or formatting we've never seen before. We're improving ImpactStory's ability to process these files all the time; as part of that effort, we've logged this error and will get right on fixing it.</p>
      <p>If you take a second to <a id="uservoice" href="javascript:UserVoice.showPopupWidget();" title="Open feedback & support dialog (powered by UserVoice)">fill out a support ticket</a>, we'll email you a link to your finished report just as soon as we fix the bug. Sorry about the mistake, and thanks for being patient; as an early user of our beta release, you're helping us make ImpactStory better!</p>
   </div>
</div>


{% endblock %}
