<!DOCTYPE html>
<html>
<head>
   <title>Your Impactstory profile is new and improved--but it disappears in 2 days</title>
   <style type="text/css">
      {{ css }}
   </style>

   <link rel="stylesheet" href="https://impactstory.org/static/less.emails/css/drip.css"/>
</head>
<body>
   <div class="email-contents">

      <p>Hi {{ profile.given_name }}!</p>

      <p>We have some good news, and some bad news.</p>

      <p>The bad news is, your 30-day Impactstory trial ends in 2 days. </p>

      <p>The good news is that your profile has gotten a lot more valuable recently, thanks to some amazing new features we just launched in the last few weeks!  <a href="https://impactstory.org/settings/subscription">Subscribing</a> will let you benefit from these great new features (<a href="https://impactstory.org/{{ profile.url_slug }}">visit your profile</a> to see them for yourself): </p>
        
      <ul>
         <li>A streamlined front page that showcases the Selected Works and Key Metrics that you select and arrange.</li>
         <li>Your publications are directly embedded on the site; we automatically embed free online versions, and uploading everything else only takes a few clicks.</li>
         <li>Your profile is a snap to keep current: when you publish something new, just zoom an email to publications@impactstory.org and it’ll appear in your profile, just like that.</li>
         <li>Your papers now include Twitter Impressions — the number of times your publication has been mentioned in someone’s twitter timeline.  Many of our users have been telling us they’re delighted to discover how much reach they have.</li>
      </ul>

      <p>Those are just the beginning... check out your profile to see the rest.  When you do, we think you’ll agree with Cambridge biochem postdoc Pietro Gatti Lafranconi:</p>

      <blockquote class="testimonial">
         “Updated @Impactstory profile looks great + works beautifully.  The new standard for scientific CVs” 
      
         <div class="attribution">
            - <a href="https://twitter.com/p_gl/status/512533810656063489">@p_gl</a> 
         </div>
      </blockquote>
       
      <p>There’s no more powerful way for you to discover and share the full impact of your scholarship.  We hope you’ll join us: <a href="https://impactstory.org/settings/subscription">subscribe now</a>!</p>
       
      <p>Best,</p>
      <p>Jason, Heather, and Stacy</p>
       
      <p>PS: If you’ve got ideas for even more features, we’d love to hear them! Check out our <a href="http://feedback.impactstory.org/forums/166950-general">feedback forum</a>.</p>

   </div>

</body>
</html>