<!DOCTYPE html>
<html>
<head>
   <title>Your Impactstory profile is new and improved--but it disappears in 2 days</title>
   <style type="text/css">
      {{ css }}
   </style>

   <link rel="stylesheet" href="https://impactstory.org/static/less.emails/css/drip.css"/>
</head>
<body>
   <div class="email-contents">

      <p>Hi {{ profile.given_name }}!</p>

      <p>Your 30-day Impactstory trial ends in 2 days.</p>

      <p>We hope you've a chance to check out a brand new feature (one of our favorites):
         your impact map, where you can learn where in the world people are reading, tweeting, and bookmarking your work.
      </p>

      <p>If you haven't already, you might want to also: 
      <ul>
         <li>star some of your research products to show them off on your overview page,</li>
         <li>upload open access versions of your work to share them with the world, and</li>
         <li>share your profile with a friend to give them a new view of your research impacts.</li>
      </ul>

      <p>We think once you do,  you'll agree with Cambridge biochem postdoc Pietro Gatti Lafranconi:
      </p>

      <blockquote class="testimonial">
         “Updated @Impactstory profile looks great + works beautifully.  The new standard for scientific CVs” 
      
         <div class="attribution">
            - <a href="https://twitter.com/p_gl/status/512533810656063489">@p_gl</a> 
         </div>
      </blockquote>
       
      <p>
         A subscription to Impactstory is an investment in your professional reputation.
         If you ever feel you're not getting a good deal, just let us know, and we'll gladly refund
         your subscription cost, no questions asked. We're that confident you'll love it.
      </p>

         We hope you’ll join us: <a href="https://impactstory.org/settings/subscription">subscribe now</a>!</p>
       
      <p>Best,</p>
      <p>Jason, Heather, and Stacy</p>
       
      <p>PS: If you’ve got any questions, we'd love to talk with you. Drop us an email at
         <a href="mailto:team@impactstory.org">team@impactstory.org</a>.</p>

   </div>

</body>
</html>