{% extends "base.html" %}
{% set page_title = "Make API keys" %}


{% block content %}

<script type="text/javascript" src="/static/js/ti-generate-api.js"></script>

<!-- START input -->
<div class="main" id="input">
   <div class="wrapper">
         <form name="api_form" id="api-form" class="form-horizontal">
            <div class="control-group">
               <legend for="password" class="control-label">admin password:</legend>
               <div class="controls">
                  <input name="password" id="password" type="text" placeholder="G_Y"/>
               </div>
            </div>

            <div class="control-group">
               <legend for="prefix" class="control-label">api key PREFIX:</legend>
               <div class="controls">
                  <input name="prefix" id="prefix" type="text"/>
               </div>
            </div>

            <div class="control-group">
               <legend for="api-key-owner" class="control-label">api owner's name:</legend>
               <div class="controls">
                  <input name="api-key-owner" id="api-key-owner" type="text"/>
               </div>
            </div>

            <div class="control-group">
               <legend for="organization" class="control-label">organization:</legend>
               <div class="controls">
                  <input name="organization" id="organization" type="text" value="individual"/>
               </div>
            </div>

            <div class="control-group">
               <legend for="email" class="control-label">email:</legend>
               <div class="controls">
                  <input name="email" id="email" type="email"/>
               </div>
            </div>

            <div class="control-group">
               <legend for="max-registered-items" class="control-label">max registrations:</legend>
               <div class="controls">
                  <input name="max-registered-items" id="max-registered-items" type="number" value=1000 />
               </div>
            </div>

            <div class="control-group">
               <legend for="planned-use" class="control-label">planned use</legend>
               <div class="controls">
                  <select name="planned-use" id="planned-use"/>
                     <option>individual CV</option>
                     <option>lab or department website</option>
                     <option>journal</option>
                     <option>IR</option>
                     <option>data repository</option>
                     <option>altmetrics research dataset</option>
                     <option>other</option>
                     <option>unknown</option>
                  </select>
               </div>
            </div>

            <div class="control-group">
               <legend for="example-url" class="control-label">example usage url</legend>
               <div class="controls">
                  <input name="example-url" id="example-url"/>
               </div>
            </div>

            <div class="control-group">
               <legend for="notes" class="control-label">notes</legend>
               <div class="controls">
                  <textarea name="notes" id="notes" rows="3"></textarea>
               </div>
            </div>

            <div class="control-group">
               <div class="controls">
                  <button name="run" type="submit" id="get-api-button" class="btn btn-large btn-primary">get an api key!</button>
               </div>
            </div>
         </form>
      </div>
   </div>

</div><!-- END input -->


{% endblock %}
