<div class="category-heading genre-{{ genre }}" id="{{ anchor }}">

   <div class="category-heading-main">
      <h2>
         <span class="genre-and-icons">
            <a class="genre-anchor" href="{{ profile.url_slug }}#{{ anchor }}">
               <span class="text">permalink</span>
               <i class="icon-link"></i>
            </a>
            <i class="{{ icon }} {{ genre }} genre"></i>
            <span class="genre">{{ genre }}</span>
         </span>
      </h2>
      <div class="clearfix"></div>
   </div>

</div>