<div class="category-heading {{ product.headingDimension }}" id="{{ product.headingValue }}">

   <div class="category-heading-main">
      <h2>
         <span class="genre-and-icons">
            <a class="genre-anchor" href="http://google.com">
               <span class="text">permalink</span>
               <i class="icon-link"></i>
            </a>
{#            <i class="{{ genreIcon(product.genre) }} {{ product.genre }} genre"></i>#}
            <span class="genre">{{ product.genre }}</span>
         </span>
         {% if product.account %}

            {% if product.account_url %}
               <a class="account" href="http://google.com">
                  {{ product.account }}
                  <i class="icon-external-link-sign"></i>
               </a>
            {% else %}
               <span class="account">{{ product.account }}</span>
            {% endif %}

         {% endif %}
      </h2>
      <div class="clearfix"></div>

{#      <div class="category-metrics">#}
{#         <ul class="account-metrics">#}
{#            <li class="category-metric"#}
{#                ng-repeat="metric in product.metrics">#}
{##}
{#               <a href="{{ metric.provenance_url }}"#}
{#                  target="_blank"#}
{#                  tooltip="Visit {{ metric.static_meta.provider }} for more information"#}
{#                  tooltip-placement="bottom"#}
{#                  class="value">#}
{#                  {{ metric.values.raw }}#}
{#               </a>#}
{#               <span class="metric-descr"#}
{#                     tooltip-placement="bottom"#}
{#                     tooltip="{{ metric.static_meta.description }}">#}
{#                  {{ metric.static_meta.display_name }}#}
{#               </span>#}
{#             </li>#}
{#         </ul>#}
{#         <ul class="summary-metrics"><!-- fill this later--></ul>#}
{#      </div>#}

   </div>

</div>