<div class="import-products">
<form class="importers">
   <h3><span class="step-number">1:</span> Add articles</h3>
   <div class="control-group orcid ready username" id="orcid_toggler_contents">
      <label class="control-label" for="input_orcid">
         <span class="ready import">Import from</span>
         <span class="working"><img src="{{ url_for('static', filename='img/ajax-loader.gif') }}" />Importing from</span>
         <span class="success">Added <span class="value">0</span></span>
         <span class="provider-name">ORCID</span>
         <span class="failure">import failure: no DOIs found.</span>
         <span class="success item-type">articles.</span>
         <a class="help ready" id="orcid-help-link" href="#">(help)</a>
      </label>
      <div class="controls">
         <input id="input_orcid" name="orcid_profile" type="text" size="20" placeholder="ORCID Identifier" />
      </div>
   </div>

   <div class="fileupload fileupload-new ready control-group" data-provides="fileupload"  id="bibtex_toggler_contents">
      <label class="control-label" for="input_bibtex" class="prompt">
         <span class="import ready">Import from</span>
         <span class="import working">Processing</span>
         <span class="import success">Imported <span class="value"></span></span>
         <span class="provider-name">Google Scholar</span>
         <span class="working">data: <span class="value">0</span><span class="percent">%</span></span>
         <span class="success">articles.</span>
         <span class="failure"> error: couldn't read file.</span>
         <a class="help ready" id="google-scholar-help-link" href="#">(help)</a>
      </label>

      <div class="input-append">
         <div class="uneditable-input span3"></div>
                  <span class="btn btn-file">
                      <span class="fileupload-new">Select BibTeX file</span>
                      <span class="fileupload-exists">Change</span>
                      <input type="file"id="input_bibtex"  />
                  </span>
      </div>
   </div>


   <div class="control-group ready">
      <label for="paste_input" class="control-label ids">
         <span class="desc">Article IDs</span>
         <span class="limit">Paste DOIs or PubMed IDs (limit 100)</span>
      </label>
      <div class="controls">
         <textarea
                 rows="4"
                 cols="40"
                 id="paste_input"
                 class="no-input-yet ids"
                 data-placeholder="10.1038.171737a0
13054692" ></textarea>
      </div>
   </div>

</form>

<form class="importers other-products">
   <h3><span class="step-number">2:</span> Add other products</h3>

   <div class="control-group github username ready">
      <label class="control-label" for="input_github">
         <span class="ready">Import from</span>
         <span class="working"><img src="{{ url_for('static', filename='img/ajax-loader.gif') }}" />Importing from</span>
         <span class="success">Added <span class="value">0</span></span>
         <span class="provider-name">GitHub</span>
         <span class="failure">failure: username not found.</span>
         <span class="success item-type">repos.</span>
      </label>
      <div class="controls">
         <input type="text" data-provider="github" id="input_github" placeholder="username">
      </div>
   </div>
   <div class="control-group slideshare username ready">
      <label class="control-label" for="input_github">
         <span class="ready import">Import from</span>
         <span class="working"><img src="{{ url_for('static', filename='img/ajax-loader.gif') }}" />Importing from</span>
         <span class="success">Added <span class="value">0</span></span>
         <span class="provider-name">Slideshare</span>
         <span class="failure">failure: username not found.</span>
         <span class="success item-type">decks.</span>
      </label>
      <div class="controls">
         <input type="text" id="input_slideshare" placeholder="username">
      </div>
   </div>

   <div class="control-group product-ids ready">
      <label for="paste_dataset_dois" class="control-label ids">
         <span class="desc">Other product IDs</span>
         <span class="limit">Paste DOIs or URLs (limit 100)</span>
      </label>
      <div class="controls">
         <textarea rows="4" cols="40"
                   id="paste_dataset_dois"
                   class="no-input-yet ids"
                   data-placeholder="10.5061/dryad.j1fd7
https://github.com/egonw/cdk
http://slideshare.net/jm/slides2"></textarea>
      </div>
   </div>
</form>
</div>