{% extends "base.html" %}

{% block content %}

<div id="tagline">
    <div class="wrapper">
        <div class="text">
            <h2>Uncover the invisible impacts of your research.</h2>
            <p class="explanation"><p>Today's researcher creates papers, software, datasets, and more; <br/>today's funder wants to see their impact beyond traditional citation. <p>total-impact answers both needs by aggregating <a href="http://altmetrics.org/manifesto">altmetrics</a>: <br/>evidence of diverse impact from diverse products.</p>
            <div id="call-to-action">
                <a href="collection/create" id="create-collection">Make my impact report</a>
                <ul class="alternate-actions">
                    <li><a href="/collection/ins7ii" id="view-sample-collection">show me a sample collection</a></li>
                    <li><a href="./" id="mailing-list-add">add me to the mailing list</a></li>
                </ul>
            </div>
        </div>
        <img src="{{ url_for('static', filename='img/monitor.png') }}" width="80"/>
    </div>
</div>
<div id="selling-points">
    <ul class="wrapper" >
        <li>
            <h3>view metrics in seconds</h3>
            <p>Point us to your research products in Slideshare, GitHub, and Dryad.  Import items your Google Scholar profile or a BibTex file. 
            <p>In a few seconds, you'll have a metrics report you can view and share. </p>
        </li>
        <li>
            <h3>embed them anywhere</h3>
            <p>Use total-impact's full-featured API to add metrics to your own projects--we handle the data infrastructure, so you can focus on building awesome applications with it. Or just drop our embeddable Javascript widget into your publishing platform's HTML (coming soon). </p>
        </li>
        <li>
            <h3>it's on us.</h3>
            <p>Our metrics data (like our source code) is completely open and free of charge. <p>As a philonthropically-funded not-for-profit, we're in this because we believe open altmetrics are key for building the coming era of Web-native science.</p>
        </li>
    </ul>
</div>



{% endblock %}
