{% extends "base.html" %}

{% block content %}

<div id="tagline">
    <div class="wrapper">
        <div class="text">
            <div id="tagline-and-subtagline">
                <h2>Uncover the invisible impacts of your research.</h2>
                <p class="subtagline">total-impact aggregates <a href="http://altmetrics.org/manifesto">altmetrics</a>: diverse impacts from your articles, datasets, blog posts, and more.</p>
            </div>
            <div id="call-to-action">
                <span class="container"><a href="/create" id="create-collection">Make my impact report</a></span>
                <p id="example-collection">or, show me a <a href="/collection/bfjjpe" id="view-sample-collection">sample collection</a></p>
                <!--                    <li><form action="http://total-impact.us5.list-manage.com/subscribe/post?u=cfbcc6b11d7df3689b7b7aada&amp;id=9ae02ceb91" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
                                            span id="mailing-list-add">add me to the mailing list </span
                                            <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
                                            <input type="submit" value="Subscribe to mailing list" name="subscribe" id="mc-embedded-subscribe" class="button"></form>
                                    </li>-->
            </div>

        </div>


        <img src="{{ url_for('static', filename='img/monitor.png') }}" width="80"/>
    </div>
</div>
<div id="selling-points">
    <ul class="wrapper" >
        <li>
            <h3 id="metrics-in-seconds">view metrics in seconds</h3>
            <p>Point us to your research products in Slideshare, GitHub, and Dryad.  Import items from your Google Scholar profile or a BibTex file. 
            <p>In a few seconds, you'll have a metrics report you can view and share. </p>
        </li>
        <li>
            <h3 id="embed-metrics-anywhere">embed them anywhere</h3>
            <p>Use total-impact's full-featured API to add metrics to your own projects. Or drop our embeddable Javascript widget into your publishing platform's HTML. </p>
        </li>
        <li>
            <h3 id="its-on-us">it's on us.</h3>
            <p>Our metrics data (like our source code) is completely open and free of charge. <p>As a philanthropically-funded not-for-profit, we're in this because we believe open altmetrics are key for building the coming era of Web-native science.</p>
        </li>
    </ul>
</div>



{% endblock %}
