{% extends "base.html" %}

{% block content %}

<script type="text/javascript">
   mixpanel.track("View:docs", {"Doc Type": "home page"});
</script>

<div id="tagline">
    <div id="img-bar">
        <div class="wrapper">
           <div id="myCarousel" class="carousel slide">
              <!-- Carousel items -->
              <div class="carousel-inner">
                 <div class="item active">
                    <img src="{{ url_for('static', filename='img/carousel-badges.png') }}">
                    <div class="carousel-caption">
                       <h4>See your impact at a glance</h4>
                       <p>See which audiences are engaging with your work, and how.</p>
                    </div>
                 </div>
                 <div class="item">
                    <img src="{{ url_for('static', filename='img/carousel-ranges.png') }}">
                    <div class="carousel-caption">
                       <h4>Dive in for the full story</h4>
                       <p>Percentile scores put your performance in context.</p>
                    </div>
                 </div>
                 <div class="item">
                    <img src="{{ url_for('static', filename='img/carousel-create.png') }}">
                    <div class="carousel-caption">
                       <h4>Import with ease</h4>
                       <p>from Google Scholar Profiles, by PMID or DOI, and more.</p>
                    </div>
                 </div>
              </div>
              <!-- Carousel nav -->
              <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
              <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
           </div>
        </div>
    </div>

    <div id="text-bar">
        <div class="wrapper">
            <div id="tagline-and-subtagline">
                <h2>Tell the full story of your research impact.</h2>
                <p class="subtagline">ImpactStory aggregates <a href="http://altmetrics.org/manifesto">altmetrics</a>: diverse impacts from your articles, datasets, blog posts, and more.</p>
            </div>
        </div>
    </div>

    <div id="button-bar">
        <div class="wrapper">

            <div id="call-to-action">
                <span class="container"><a href="/create" class="btn btn-large btn-primary" id="create-collection">Make my impact report</a></span>
                <p id="example-collection">or, show me a <a href="/collection/kn5auf" id="view-sample-collection">sample report</a></p>
            </div>
        </div>
    </div>
</div>
<div id="sources">
   <div class="wrapper">
      <h2>We track impact across the Web: </h2>
      <ul id="source-logos">
         <li><img src="{{ url_for('static', filename='img/logos/citeulike.png') }}" /></li>
         <li><img src="{{ url_for('static', filename='img/logos/crossref.jpg') }}" /></li>
         <li><img src="{{ url_for('static', filename='img/logos/delicious.jpg') }}" /></li>
         <li><img src="{{ url_for('static', filename='img/logos/dryad.png') }}" /></li>
         <li><img src="{{ url_for('static', filename='img/logos/f1000.png') }}" /></li>
         <li><img src="{{ url_for('static', filename='img/logos/facebook.png') }}" /></li>
         <li><img src="{{ url_for('static', filename='img/logos/figshare.png') }}" /></li>
         <li><img src="{{ url_for('static', filename='img/logos/github.png') }}" /></li>
         <li><img src="{{ url_for('static', filename='img/logos/mendeley.png') }}" /></li>
         <li><img src="{{ url_for('static', filename='img/logos/orcid.png') }}" /></li>
         <li><img src="{{ url_for('static', filename='img/logos/plos.png') }}" /></li>
         <li><img src="{{ url_for('static', filename='img/logos/pmc.gif') }}" /></li>
         <li><img src="{{ url_for('static', filename='img/logos/pubmed.png') }}" /></li>
         <li><img src="{{ url_for('static', filename='img/logos/scienceseeker.png') }}" /></li>
         <li><img src="{{ url_for('static', filename='img/logos/scopus.jpg') }}" /></li>
         <li><img src="{{ url_for('static', filename='img/logos/slideshare.png') }}" /></li>
         <li><img src="{{ url_for('static', filename='img/logos/twitter.png') }}" /></li>
         <li><img src="{{ url_for('static', filename='img/logos/wikipedia.png') }}" /></li>
      </ul>
   </div>
</div>
<div id="selling-points">
    <ul class="wrapper" >
        <li>
            <h3 id="metrics-in-seconds">view metrics in seconds</h3>
            <p>Point us to your research products in Slideshare, GitHub, and Dryad.  Import items from your Google Scholar profile or a BibTex file. 
            <p>In a few seconds, you'll have a metrics report you can view and share. </p>
        </li>
        <li>
            <h3 id="embed-metrics-anywhere">embed them anywhere</h3>
            <p>Use ImpactStory's full-featured API to add metrics to your own projects. Or drop our embeddable Javascript widget into your publishing platform's HTML. </p>
        </li>
        <li>
            <h3 id="its-open">Open data, open source.</h3>
            <p>Our data (like our source code) is wide open.  As a non-profit organization, we are in this because we believe open altmetrics are key for building the coming era of Web-native science.</p>
        </li>
    </ul>
</div>



{% endblock %}
