<ul class="ti-badges">
{% raw %}
   {{#big}}
   <li><span href="#"
             class="label ti-badge big-badge {{audience}} {{engagementType}}"
             rel="tooltip"
             title="{{topMetric.actualCount}} {{topMetric.environment}}
             {{topMetric.interaction}} puts this item in the top {{topMetric.topPercent}}%
              of articles the Web of Science indexed in {{topMetric.referenceSetYear}},
              suggesting it&apos;s highly {{engagementType}} by {{displayAudience}}"
           >
         <span class="modifier">highly</span>
         <span class="engagement-type">{{engagementType}}</span>
         <span class="audience">by {{audience}}</span>
      </span></li>
   {{/big}}

   {{#any}}
   <li><span href="#" class="label ti-badge lil-badge {{audience}} {{engagementType}}" rel="tooltip"  title="Has been {{engagementType}} by {{audience}}">
         <span class="engagement-type">{{engagementType}}</span>
         <span class="audience">by {{audience}}</span>
      </span></li>
   {{/any}}
{% endraw %}
</ul>