<ul class="ti-badges">
{% raw %}
   {{#big}}
   <li><span href="#"
             class="label ti-badge big-badge {{audience}} {{engagementType}}"
             rel="tooltip"
             title="{{topMetric.actualCount}} {{topMetric.environment}}
             {{topMetric.displayInteraction}} puts this in the top
             {{topMetric.topPercent}}% of articles
             indexed by Web of Science in {{topMetric.referenceSetYear}},
             indicating it&apos;s highly
             {{engagementType}} by {{displayAudience}}. Click to learn more."
           >
         <span class="modifier">highly</span>
         <span class="engagement-type">{{engagementType}}</span>
         <span class="audience">by {{audience}}</span>
      </span></li>
   {{/big}}

   {{#any}}
   <li><span href="#"
             class="label ti-badge lil-badge {{audience}} {{engagementType}}"
             rel="tooltip"
             title="{{topMetric.actualCount}} {{topMetric.environment}}
             {{topMetric.displayInteraction}} indicates
             this item is {{engagementType}} by {{displayAudience}}.
             Click to learn more."
           >
         <span class="engagement-type">{{engagementType}}</span>
         <span class="audience">by {{audience}}</span>
      </span></li>
   {{/any}}
{% endraw %}
</ul>