<ul class="ti-badges">
{% raw %}
   {{#big}}
   <li><span href="#" class="label ti-badge big-badge {{audience}}" rel="tooltip" title='75th percentile (n&ge;{{minForAward}}) in {{engagementTypeNoun}} by {{audience}}'>
         <span class="modifier">highly</span>
         <span class="engagement-type">{{engagementType}}</span>
      </span></li>
   {{/big}}

   {{#any}}
   <li><span href="#" class="label ti-badge lil-badge {{audience}}" rel="tooltip"  title='Has been {{engagementType}} by {{audience}}'>
         <span class="engagement-type">{{engagementType}}</span>
      </span></li>
   {{/any}}
{% endraw %}
</ul>