{% extends "base.html" %}

{% block content %}

<script type="text/javascript" xmlns="http://www.w3.org/1999/html">
   analytics.track("View:docs", {"Doc Type": "api docs"});
</script>

<div class="main" id="docs" xmlns="http://www.w3.org/1999/html">
   <div class="wrapper">
      <p>We charge to collect metrics; the data is free and open once it’s been collected.
      You let us know to start collecting metrics on something when you <em>register</em> it with us.</p>

      <p>The first 1000 items you register are free. Registering more than 1000
         items will have an annual fee to provide sustainability for our nonprofit
         service (waivers available in some cases); the fee will depend on how many
         items you'd like to register.<p>

      <p>Pricing levels are in the works: <a href="mailto:team@impactstory.org">talk to us</a> for details!</p>

   </div>
</div>

{% endblock %}
