<div class="product">

   <div class="biblio">
      <h5 class="title">
         <!-- if embedded, open product page in a new tab -->
         <a class="title-text target-blank"

            {% if request.args.get('embedded') in ['true', 'True', 1] %}
            target="_blank"
            {% endif %}

            href="{{ request.url_root }}{{ url_slug }}/product/{{ product._id }}">

            {{product.biblio.title}}
         </a>


         {% if product.biblio.url %}
         <a class="linkout url title" target="_blank" href="{{ product.biblio.url }}">
            <i class="icon-external-link-sign"></i>
         </a>
         {% endif %}
      </h5>
      <div class="optional-biblio">
         {% if product.biblio.year %}
         <span class="year">({{ product.biblio.year }})</span>
         {% endif %}

         {% if product.biblio.authors and not product.biblio.embed %}
         <span class="authors">{{ product.biblio.authors }}.</span>
         {% endif %}


         {% if product.biblio.repository and not product.biblio.embed %}
         <span class="repository">{{ product.biblio.repository }}.</span>
         {% endif %}


         {% if product.biblio.journal %}
         <span class="journal">{{ product.biblio.journal }}</span>
         {% endif %}

         {% if product.biblio.description %}
         <span ng-if="product.biblio.description" class="description">{{ product.biblio.description }}</span>
         {% endif %}


         {% if product.biblio.embed %}
         <!-- this is a temp method for embedding tweets -->
         <span ng-if="product.biblio.embed" class="embed" ng-bind-html-unsafe="product.biblio.embed"></span>
         {% endif %}
      </div>
   </div>

   <div class="awards">
      <ul class="awards-list">
         {% for award in product.awards | sort(reverse=True, attribute='display_order') %}
            <li class="award">
               {% if award.is_highly %}
               
               <a href="{{ request.url_root }}{{ url_slug }}/product/{{ product._id }}"
                     class="ti-badge is-highly {{award.audience}} {{award.engagement_type}}"
                     data-original-title="Highly {{award.engagement_type}} by <span class='{{award.display_audience}}'>{{award.display_audience}}</span>"
                     data-content="This item has {{award.top_metric.actual_count}} {{award.top_metric.environment}}
                     {{award.top_metric.display_interaction}}. That's better than
                     {{award.top_metric.percentiles.CI95_lower}}% of items
                     {{award.top_metric.refset_storage_verb}} {{award.top_metric.refset}} in {{award.top_metric.refset_year}},
                     suggesting it's highly {{award.engagement_type}} by {{award.display_audience }}.
                     Click to learn more.">
         
                  <span class="modifier">highly</span>
                  <span class="engagement-type">{{award.engagement_type}}</span>
                  <span class="audience">by {{award.audience}}</span>
               </a>            
                     
               {% else %}
                  
               <a href="{{ request.url_root }}{{ url_slug }}/product/{{ product._id }}"
                  class="ti-badge is-not-highly {{award.audience}} {{award.engagement_type}}"
                  data-original-title="{{award.engagement_type}} by <span class='{{award.display_audience}}'>{{award.display_audience}}</span>"
                  data-content="This item has {{award.top_metric.actual_count}} {{award.top_metric.environment}}
                  {{award.top_metric.display_interaction}}, suggesting it's been
                  {{award.engagement_type}} by {{award.display_audience}}.
                  Click to learn more.">
                  <span class="engagement-type">{{award.engagement_type}}</span>
                  <span class="audience">by {{award.audience}}</span>
               </a>                  
            
               {% endif %}

            </li>
         {% endfor %}
      </ul>



   </div>



</div>
