<div class="product">

   {% include 'biblio.html' %}

   <div class="awards">
      <ul class="awards-list">
         {% for award in product.awards | sort(reverse=True, attribute='display_order') %}
            <li class="award">
               {% if award.is_highly %}
               
               <a href="{{ request.url_root }}{{ g.profile_slug }}/product/{{ product._id }}"
                     class="ti-badge is-highly {{award.audience}} {{award.engagement_type}}"
                     data-original-title="Highly {{award.engagement_type}} by <span class='{{award.display_audience}}'>{{award.display_audience}}</span>"
                     data-content="This item has {{award.top_metric.actual_count}} {{award.top_metric.environment}}
                     {{award.top_metric.display_interaction}}. That's better than
                     {{award.top_metric.percentiles.CI95_lower}}% of items
                     {{award.top_metric.refset_storage_verb}} {{award.top_metric.refset}} in {{award.top_metric.refset_year}},
                     suggesting it's highly {{award.engagement_type}} by {{award.display_audience }}.
                     Click to learn more.">
         
                  <span class="modifier">highly</span>
                  <span class="engagement-type">{{award.engagement_type}}</span>
                  <span class="audience">by {{award.audience}}</span>
               </a>            
                     
               {% else %}
                  
               <a href="{{ request.url_root }}{{ g.profile_slug }}/product/{{ product._id }}"
                  class="ti-badge is-not-highly {{award.audience}} {{award.engagement_type}}"
                  data-original-title="{{award.engagement_type}} by <span class='{{award.display_audience}}'>{{award.display_audience}}</span>"
                  data-content="This item has {{award.top_metric.actual_count}} {{award.top_metric.environment}}
                  {{award.top_metric.display_interaction}}, suggesting it's been
                  {{award.engagement_type}} by {{award.display_audience}}.
                  Click to learn more.">
                  <span class="engagement-type">{{award.engagement_type}}</span>
                  <span class="audience">by {{award.audience}}</span>
               </a>                  
            
               {% endif %}

            </li>
         {% endfor %}
      </ul>



   </div>



</div>
