<ul class="metric-details-list">
   {% for metric in product.metrics.values() | sort(reverse=True, attribute="award.display_order") | rejectattr("award.dont_display") %}

   <li class="metric-detail">
      <span class="badge-container">
         {% if metric.award.is_highly %}
         <span
               class="ti-badge is-highly {{metric.award.audience}} {{metric.award.engagement_type}}"
               data-original-title="Highly {{metric.award.engagement_type}} by {{metric.award.display_audience}}"
               data-content="This item has {{metric.actual_count}} {{metric.environment}}
               {{metric.display_interaction}}. That's better than
               {{metric.percentiles.CI95_lower}}% of items
               {{metric.refset_storage_verb}} {{metric.refSet}} in {{metric.refset_year}},
               suggesting it's highly {{metric.award.engagement_type}} by {{metric.award.display_audience }}.">
            <span class="modifier">highly</span>
            <span class="engagement-type">{{metric.award.engagement_type}}</span>
            <span class="audience">by {{metric.award.audience}}</span>
         </span>
         {% else %}
         <span
               class="ti-badge is-not-highly {{metric.award.audience}} {{metric.award.engagement_type}}"
               ng-show="!metric.award.isHighly"
               data-original-title="{{metric.award.engagement_type}} by {{metric.award.display_audience}}"
               data-content="This item has {{metric.actual_count}} {{metric.environment}}
               {{metric.display_interaction}}, suggesting it's been
               {{metric.award.engagement_type}} by {{metric.award.display_audience}}.">
            <span class="engagement-type">{{metric.award.engagement_type}}</span>
            <span class="audience">by {{metric.award.audience}}</span>
          </span>
         {% endif %}

      </span>
      <span class="text">
         <a class="value-and-name"
            href="{{ metric.provenance_url }}"
            target="_blank"
            data-content="{{ metric.static_meta.description }}. Click to see more details on {{ metric.environment }}.">
            <img src="/static/img/favicons/{{ metric.name | replace(':','_') }}.ico" >
            <span class="raw-value">{{ metric.actual_count }}</span>
            <span class="environment">{{ metric.environment | replace("Altmetric.com", '') }}</span>
            <span class="interaction">{{ metric.display_interaction }}</span>
            <i class="icon-external-link-sign"></i>
         </a>

         {% if metric.percentiles %}
         <span class="percentile">
            <span class="values">
               <span class="lower">{{ metric.percentiles.CI95_lower }}</span>
               <span class="dash">-</span>
               <span class="upper">{{ metric.percentiles.CI95_upper }}</span>
               <span class="unit">percentile</span>

{#                  @todo make the details model open when you click the info icon... #}

               <i class="icon-info-sign"></i>
            </span>
            <span class="descr">of {{ product.biblio.genre }}s published in {{ product.biblio.year }}</span>
         </span>
         {% endif %}

      </span>

   </li>

   {% endfor %}
</ul>
