<div class="biblio">
   <h5 class="title">
      <!-- if embedded, open product page in a new tab -->
      <a class="title-text target-blank"

{#         {% if request.args.get('embedded') in ['true', 'True', 1] %}#}
{#         target="_blank"#}
{#         {% endif %}#}

         title="Click to view impact details"
         data-toggle='tooltip'

         href="/{{ url_slug }}/product/{{ id }}">

         {{biblio.title}}
      </a>


      {% if biblio.url %}
      <a class="linkout url title"
         target="_blank"
         title="Click to view on publisher site"
         data-toggle='tooltip'
         href="{{ url }}">
         <i class="icon-external-link-sign"></i>
      </a>
      {% endif %}

      {% if free_fulltext_url %}
      <a class="linkout free-fulltext-url"
         target="_blank"
         title="Free fulltext available!"
         data-toggle='tooltip'
         href="{{ free_fulltext_url }}">
         <i class="icon-unlock-alt"></i>
      </a>
      {% endif %}
   </h5>

   <div class="optional-biblio">
      {% if biblio.year %}
      <span class="year">({{ biblio.year }})</span>
      {% endif %}

      {% if biblio.authors and not biblio.embed %}
      <span class="authors">{{ biblio.authors }}.</span>
      {% endif %}


      {% if biblio.repository and not biblio.embed and not biblio.journal %}
      <span class="repository">{{ biblio.repository }}.</span>
      {% endif %}


      {% if biblio.journal %}
      <span class="journal">{{ biblio.journal }}</span>
      {% endif %}

      {% if biblio.description %}
      <span class="description">{{ biblio.description }}</span>
      {% endif %}


      {% if biblio.embed %}
      <!-- this is a temp method for embedding tweets -->
      <span class="embed">{{ biblio.embed | safe}}</span>
      {% endif %}
   </div>

</div>




{##}
{##}
{#<div class="awards">#}
{#   <ul class="awards-list">#}
{#      {% for award in awards | sort(reverse=True, attribute='display_order') %}#}
{#         <li class="award">#}
{#            <a href="{{ request.url_root }}{{ g.profile_slug }}/product/{{ id }}"#}
{#               class="ti-badge"#}
{##}
{#               data-original-title="{{ award.highly_string }} {{award.engagement_type}} by <span class='{{award.display_audience}}'>{{award.display_audience}}</span>"#}
{##}
{#               data-content="This item has {{award.top_metric.actual_count}} {{award.top_metric.environment}}#}
{#               {{award.top_metric.display_interaction}}{% if award.is_highly %}.#}
{#               That's better than {{award.top_metric.percentiles.CI95_lower}}%#}
{#               of items {{award.top_metric.refset_storage_verb}} {{award.top_metric.refset}} in#}
{#               {{award.top_metric.refset_year}}{% endif %},#}
{#               suggesting it's highly {{award.engagement_type}} by {{award.display_audience }}. Click for details.#}
{#               {% if award.top_metric.historical_values.diff.raw > 0 %}#}
{#               <ul class='new-metrics'>#}
{#                  {% for metric in award.metrics %}#}
{#                     <li>#}
{#                        <img src='/static/img/favicons/{{ metric.name | replace(':','_') }}.ico' class='icon' >#}
{#                        <span class='text'>#}
{#                           <span class='count'>{{ metric.historical_values.diff.raw }}</span> new#}
{#                           {% if metric.environment != 'Altmetric.com' %}#}
{#                              {{ metric.environment }}#}
{#                           {% endif %}#}
{#                           {{ metric.display_interaction }} in the last 7days.#}
{#                        </span>#}
{#                     </li>#}
{#                  {% endfor %}#}
{#                  {% endif %}#}
{#               </ul>">  {# ok, now we're finally done with the opening <a> tag... #}
{##}
{##}
{##}
{#               <span class="text badge-part new-metrics-{{ (award.top_metric.historical_values.diff.raw > 0) | string() | lower() }} {{ award.is_highly_classname }} {{award.audience}} {{award.engagement_type}}">#}
{#                  {% if award.is_highly %}<span class="modifier">highly</span>{% endif %}#}
{#                  <span class="engagement-type">{{award.engagement_type}}</span>#}
{#                  <span class="audience">by {{award.audience}}</span>#}
{#               </span>#}
{#               <span class="new-this-week badge-part new-metrics-{{ (award.top_metric.historical_values.diff.raw > 0) | string() | lower() }} {{ award.is_highly_classname }} {{award.audience}} {{award.engagement_type}}">#}
{#                  <span class="plus-sign">+</span>{{ award.top_metric.historical_values.diff.raw }}#}
{#               </span>#}
{#            </a> {# ending <a> tag. #}
{#         </li>#}
{#      {% endfor %}#}
{#   </ul>#}
{#</div>#}
{##}
{##}
{##}
{##}
{##}







