{% extends "login-base.html" %}
{% set page_title = "Reset Password" %}

{% block login %}
<h2>Reset your ImpactStory password:</h2>



<form class="form-horizontal reset-password" action='login' method="POST">
   <div class="alert alert-error email">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <strong>Whoops!</strong> We don't have that email registered. Would you like to <a href="/create">create an account,</a> instead?
   </div>
   <fieldset>
      <div class="control-group ready input">
         <!-- email -->
         <label class="control-label" for="email">Your email</label>
         <div class="controls">
            <input type="text" id="email" name="email" placeholder="Your email" class="input-xlarge">
         </div>
      </div>
      <div class="control-group ready button feedback">
         <div class="controls button">
            <button type="submit" class="btn btn-success btn-large ready">Reset your password</button>
            <span class="working help-block">
               <img src="{{ url_for('static', filename='img/ajax-loader.gif') }}" />
               Sending you a password reset link...
            </span>
            <span class="help-block success">
               Done! We've sent you an email with a link to reset your password.
            </span>
         </div>
      </div>


   </fieldset>
</form>
{% endblock %}