{% extends "login-base.html" %}
{% set page_title = "Reset Password" %}

{% block login %}
<h2>Reset your ImpactStory password:</h2>

<form class="form-horizontal reset-password" action='login' method="POST">
   <fieldset>
      <div class="control-group ready input">
         <!-- email -->
         <label class="control-label" for="email">Your email</label>
         <div class="controls">
            <input type="text" id="email" name="email" placeholder="Your email" class="input-xlarge">
         </div>
      </div>
      <div class="control-group ready button feedback">
         <div class="controls button">
            <button type="submit" class="btn btn-success btn-large ready">Reset your password</button>
            <span class="working help-block">
               <img src="{{ url_for('static', filename='img/ajax-loader.gif') }}" />
               Making your password reset link...
            </span>
            <span class="help-block success">
               Done! We've sent you an email with a link to reset your password.
            </span>
            <span class="help-block error">
               Sorry, we don't have that email address. You can try a different one, or
               <a href="/create">create a new profile.</a>
            </span>
         </div>
      </div>


   </fieldset>
</form>
{% endblock %}