{% extends "base.html" %}
{% set page_title = profile.given_name ~ "'s preferences" %}

{# we only serve this page to logged-in users #}
{% set edit_status = "can-edit" %}




{% block content %}
<script type="text/javascript">
   var impactstoryUserId = {{ profile.id }}
</script>
<div class="main" id="report">
   <div class="wrapper">
      <div class="pref-category profile-url">
         <h3>Profile URL</h3>
         <span class="url">
            <span class="base">http://impactstory.org/</span>
            <span class="slug editable">{{ profile.url_slug }}</span>
         </span>
      </div>
      <div class="pref-category">
         <h3>Password</h3>
         <div class="profile-item"></div>
      </div>
   </div>
</div>

{% endblock %}
