{% extends "base.html" %}
{% set page_title = profile.given_name ~ " " ~ profile.surname %}

{% if g.user.id == profile.id %}
   {% set edit_status = "can-edit" %}
{% else %}
   {% set edit_status = "can-not-edit" %}
{% endif %}

{% block content %}


{% if g.user.id == profile.id %}
   <script type="text/javascript">
      var MILLISECONDS_IN_ONE_DAY = 1000 * 60 * 60 * 24
      // dates in database are stored in UTC with no timezone information
      // append "+0" so parsed in utc
      var date_created =  new Date("{{ g.user.created }}+0")  // so parsed in utc
      var date_last_viewed_profile =  new Date("{{ g.user.last_viewed_profile }}+0")

      var days_since_created = (new Date() - date_created)/MILLISECONDS_IN_ONE_DAY
      var days_since_last_viewed = (new Date() - date_last_viewed_profile)/MILLISECONDS_IN_ONE_DAY

      analytics.track('Loaded own profile', {
         "days_since_created": days_since_created,
         "days_since_last_viewed": days_since_last_viewed
         })
   </script>
{% endif %}


<div class="profile-header">
   <div class="wrapper">
      <div class="my-picture">
         <a href="http://www.gravatar.com" >
            <img class="gravatar" src="http://www.gravatar.com/avatar/{{ email_hash }}?s=110&d=mm" data-toggle="tooltip" class="gravatar" rel="tooltip" title="Modify your icon at Gravatar.com" />
         </a>
      </div>
      <div class="my-vitals">
         <h2 class='page-title editable-name'>
            <span class="given-name editable" data-name="given_name">{{ profile.given_name }}</span>
            <span class="surname editable" data-name="surname">{{ profile.surname }}</span>
            <span class="instr">&nbsp;<span>click name to edit</span></span>
         </h2>

         <div id="num-items" class="control-group working">
            <span class="working"><img src="{{ url_for('static', filename='img/ajax-loader.gif') }}" /><span class="text">Loading...</span></span>
            <span class="ready"><span class="value"></span> products <a href="#">expand all</a></span>
            <span class="error"><span class="value"></span> products <span class="error-message">(though failed to load all metrics)</span><a href="#">expand all</a></span>
         </div>



      </div>
      <div class="my-metrics"></div>
   </div>
   <div class="clearfloat"></div>
</div>



<div class="main" id="report" xmlns="http://www.w3.org/1999/html"
     xmlns="http://www.w3.org/1999/html">

   {% include 'snippets/ie-fail.html' %}

   <!-- START report-meta -->
   <div class="wrapper">
      <div id="report-meta">
         <!-- remove "tweet this" code for now because platform.twitter loading very slowly -->

         <button class="btn btn-small btn-primary" id="import-products-button" name="{{ report_id }}" href="#"><i class="icon-upload-alt"></i>add products</button>
         <div id="report-button">
            <div class="btn-group update">
               <button class="btn btn-small" id="update-report-button" name="{{ report_id }}" href="#"><i class="icon-refresh"></i>refresh metrics</button>
               <a class="btn btn-small dropdown-toggle" data-toggle="dropdown" href="#">
                  <i class="icon-download-alt"></i>
                  download
                  <span class="caret"></span>
               </a>
               <ul class="dropdown-menu">
                  <li><a class="" id="json-report-button" href="http://{{ g.roots.api_pretty }}/v1/{{ api_query }}?key=samplekey">json</a></li>
                  <li><a class="" id="csv-report-button" href="http://{{ g.roots.api_pretty }}/v1/{{ api_query }}.csv?key=samplekey">csv</a></li>
               </ul>
            </div>
         </div>


      </div>
   </div>

   <div id="context" class="modal hide fade">
      <div class="modal-header">
         <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
         <h3>What do these numbers mean?</h3>
      </div>
      <div class="modal-body">
         <p>ImpactStory classifies metrics along two dimensions: <strong>audience</strong> (<em>scholars</em> or the <em>public</em>) and <strong>type of engagement</strong> with research (<em>view</em>, <em>discuss</em>, <em>save</em>, <em>cite</em>, and <em>recommend</em>).</p>

         <p>For each metric, the coloured bar shows its percentile relative to all articles indexed in the Web of Science that year.  The bars show a range, representing the 95% confidence interval around your percentile (and also accounting for ties).  Along with ranges, we show “Highly” badges for metrics above the 75th percentile that exceed a minimum frequency.</p>

         <p>Each metric's raw count is shown to the left of its name.  Click the raw count to visit that metric source's external page for the item; there, you can explore the engagement in more detail.</p>

         <p>For more information, see these blog posts:</p>

         <ul>
            <li><a href="http://total-impact.tumblr.com/post/31256247948/what-do-we-expect">What do we expect?</a></li>
            <li><a href="http://total-impact.tumblr.com/post/31524247207/a-new-framework-for-altmetrics">Our framework for classifying altmetrics</a></li>
            <li>Reference sets: <a href="http://total-impact.tumblr.com/post/31461657926/choosing-reference-sets-good-compared-to-what">Motivation</a>; Choosing Web of Science (TBA)</li>
            <li>Percentiles: <a href="http://total-impact.tumblr.com/post/31342582590/percentiles">Part 1</a>, <a href="http://total-impact.tumblr.com/post/31408899657/percentiles-the-tricky-bits">Part 2</a>, and <a href="http://total-impact.tumblr.com/post/31411187588/pe">Part 3</a></li>
            <li>Sampling and 95% confidence (TBA)</li>
         </ul>
      </div>

   </div>

   <div id="metrics">
      <script type="text/javascript">
         var reportId = "{{ report_id | safe }}";
         var reportIdNamespace = "{{ report_id_namespace }}";
      </script>
      <div class="wrapper">
      </div>
      <p class="something-missing">More detail on <a href="http://{{ g.roots.webapp_pretty }}/faq#whichmetrics">available metrics</a>.  Missing some products or metrics? See <a href="http://{{ g.roots.webapp_pretty }}/faq#limitations">current limitations.</a>  </p>
   </div>
</div>








<!------------------------------------------------------------------------------
Modals
HTML for modal windows that bootstrap will pop up
------------------------------------------------------------------------------->

<!-- you have to own collections to edit them -->
<div id="edit-not-owner" class="modal hide fade error">
   <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h3>Whoops!</h3>
   </div>
   <div class="modal-body">
      <p>Sorry, you can only make changes to your own profile.</p>
   </div>
</div>


<!-- you have to be registered to edit collections -->
<div id="edit-not-logged-in" class="modal hide fade error">
   <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h3>Whoops!</h3>
   </div>
   <div class="modal-body">
         <p>Sorry, you have to be logged in to make changes to your profile.</p>
   </div>
   <div class="modal-footer">
      <a class="btn btn-primary" href="/login">Log in now</a>

   </div>
</div>

<div id="import-products-modal" class="modal hide fade">
   <div class="modal-header import-products">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <div class="control-group submit ready" id="collection-name">
         <div class="controls">
            <button name="run" type="submit" id="go-button" class="ready btn btn-primary update">Add Products</button>
            <div class="working"><img src="{{ url_for('static', filename='img/ajax-loader-transparent.gif') }}" /></div>
         </div>
      </div>
      <div class="indicator">
         <p id="artcounter"><span class="count">0</span> new products</p>
      </div>
      <h3>Import products</h3>
   </div>
   <div class="modal-body">
      {% include 'import-products.html' %}
   </div>
</div>




{% endblock %}

