{% extends "base.html" %}
{% set page_title = profile.given_name ~ "'s preferences" %}

{# we only serve this page to logged-in users #}
{% set edit_status = "can-edit" %}




{% block content %}
<script type="text/javascript">
   var impactstoryUserId = {{ profile.id }}
</script>
<div class="main" id="report">
   <div class="wrapper">
      <div class="pref-category profile-url">
         <h3>Profile URL</h3>
         <span class="url">
            <span class="url-component base">http://impactstory.org/</span>
            <span class="url-component slug editable">{{ profile.url_slug }}</span>
         </span>
      </div>
      <div class="pref-category change-pw">
         <h3>Change password</h3>
         <form class="form-horizontal" id="change-pw">
            <div class="control-group ready">
               <label class="control-label" for="input-old-pw">Current</label>
               <div class="controls">
                  <input type="password" name="current_pw" id="input-old-pw" placeholder="Current password">
                  <span class="help-inline failure error">Sorry, that's not your current password.</span>
               </div>
            </div>
            <div class="control-group ready">
               <label class="control-label" for="input-new-pw">New</label>
               <div class="controls">
                  <div class="input-append">
                     <input type="password" name="current_pw" id="input-new-pw" placeholder="New password">
                     <button class="btn submit ready" type="submit">Submit</button>
                     <span class="working"><img src="{{ url_for('static', filename='img/ajax-loader.gif') }}" />Importing from</span>
                  </div>
               </div>
            </div>
         </form>
      </div>
   </div>
</div>

{% endblock %}
