<div class="product-list-page genre-page">

   <div class="header">
      <div class="header-content">

         <h2>
            <span class="count">
               {{ profileService.productsByGenre(myGenreConfig.name).length }}
            </span>
            <span class="text">
               {{ myGenreConfig.plural_name }}
            </span>
         </h2>
         <div class="genre-summary">
            <div class="genre-summary-top">
               <ul class="genre-cards-best">

                  <li class="genre-card"
                      ng-repeat="card in profileService.genreCards(myGenreConfig.name, 3).reverse()">

                  <span class="data"
                        tooltip-placement="bottom"
                        tooltip-html-unsafe="{{ card.tooltip }}">
                     <span class="img-and-value">
                        <img ng-src='/static/img/favicons/{{ card.img_filename }}' class='icon' >
                        <span class="value">{{ nFormat(card.current_value) }}</span>
                     </span>

                        <span class="key">
                           <span class="interaction">{{ card.display_things_we_are_counting }}</span>
                        </span>
                     </span>

                     <span class="feature-controls" ng-show="security.isLoggedIn(page.getUrlSlug())">

                        <a ng-click="KeyMetrics.pin(card)"
                           ng-if="!KeyMetrics.isPinned(card)"
                           tooltip="Feature this metric on your profile front page"
                           tooltip-placement="bottom"
                           class="feature-this">
                           <i class="icon-star-empty"></i>
                        </a>

                        <a ng-click="KeyMetrics.unpin(card)"
                           ng-if="KeyMetrics.isPinned(card)"
                           tooltip="Feature this metric on your profile front page"
                           tooltip-placement="bottom"
                           class="unfeature-this">
                           <i class="icon-star"></i>
                        </a>

                     </span>

                  </li>
               </ul>
               <div class="clearfix"></div>
            </div>
            <div class="genre-summary-more">

            </div>
         </div>
      </div>
   </div>

   <div class="product-list-container" ng-include="'product-list-page/product-list-section.tpl.html'"></div>

</div>
