<li class="pin metric-pin" ng-repeat="pinId in pinboardService.cols.two">
   <div class="pin-header">
      <a class="delete-pin" ng-click="pinboardService.unPin(pinId)">
         <i class="icon-remove"></i>
      </a>
   </div>
   <div class="pin-body genre-card-pin-body">
      <i class="{{ profileService.getFromPinId(pinId).icon }}"></i>
      <span class="data"
            tooltip-placement="bottom"
            tooltip="{{ profileService.getFromPinId(pinId).tooltip }}">
         <span class="img-and-value">
            <img ng-src='/static/img/favicons/{{ profileService.getFromPinId(pinId).img_filename }}' class='icon' >
            <span class="value">{{ nFormat(profileService.getFromPinId(pinId).current_value) }}</span>
         </span>

         <span class="key">
            <span class="interaction">{{ profileService.getFromPinId(pinId).display_things_we_are_counting }}</span>
            <span class="context">on <span class="val">{{ profileService.getFromPinId(pinId).num_products }}</span>
               {{ profileService.getFromPinId(pinId).plural_name }}</span>
         </span>
      </span>
   </div>
</li>