<div class="profile-content animated fadeIn" ng-if="profileAboutService.data.full_name">

   <div class="profile-header">

      <div class="profile-header-loaded">

         <div class="my-vitals">
            <div class="my-picture">
               <a href="http://www.gravatar.com">
                  <img class="gravatar" ng-src="//www.gravatar.com/avatar/{{ profileAboutService.data.email_hash }}?s=110&d=mm"
                       class="gravatar"
                       tooltip-placement="bottom"
                       tooltip="Modify your icon at Gravatar.com" />
               </a>
            </div>
            <div class="my-metrics">
               <!-- advisor badge -->
               <div class="advisor" ng-show="profileAboutService.data.is_advisor">
                  <img src="/static/img/advisor-badge.png">
               </div>


               <ul class="profile-award-list" ng-include="'profile-award/profile-award.tpl.html'">
               </ul>
            </div>


            <div class="bio-container">
               <span class="bio" ng-show="security.isLoggedIn(url_slug)">
                  <span class="value"
                     tooltip="click to edit your bio"
                     tooltip-placement="bottom"
                     editable-textarea="profileAboutService.data.bio"
                     onaftersave="profileAboutService.upload()">
                     {{ trustHtml(profileAboutService.data.bio) || 'click to enter your bio'}}
                  </span>
                  <i class="fa fa-pencil"></i>
               </span>
               <span class="bio" ng-show="!security.isLoggedIn(url_slug)">
                  <span class="value">
                     {{ trustHtml(profileAboutService.data.bio) }}
                  </span>
               </span>
            </div>

            <div class="field-and-school">
               <span class="institution can-edit" ng-show="security.isLoggedIn(url_slug)">
                  <span class="val"
                     editable-text="profileAboutService.data.institution"
                     tooltip="Click to edit your institution"
                     onaftersave="profileAboutService.upload()"
                     e-typeahead="uni for uni in getUnis($viewValue)">
                      {{ profileAboutService.data.institution || 'Click to enter your institution' }}
                  </span>
                  <i class="fa fa-pencil"></i>
               </span>
               <span class="institution cannot-edit" ng-show="!security.isLoggedIn(url_slug)">
                  <span class="val">{{ profileAboutService.data.institution  }}</span>
               </span>
            </div>

            <div class="connected-accounts">
               <ul>
                  <li ng-repeat="linkedAccount in filteredLinkedAccounts = (profileAboutService.data.linked_accounts | filter: {profile_url: '!!'})">
                     <a href="{{ linkedAccount.profile_url }}" target="_blank">
                        <img ng-src="/static/img/favicons/{{ linkedAccount.service }}.ico">
                     </a>
                  </li>
               </ul>

               <div class="add-connected-account" ng-show="security.isLoggedIn(url_slug)">
                  <a href="/{{ profileAboutService.data.url_slug }}/accounts" class="btn btn-xs btn-info">
                     <i class="icon-link left"></i>
                     <span ng-show="filteredLinkedAccounts.length==0" class="first">Import from accounts</span>
                     <span ng-show="filteredLinkedAccounts.length>0" class="more">Connect more accounts</span>
                  </a>
               </div>
            </div>
         </div>


      </div>
   </div>



   <div id="pinboard">
      <div class="pinboard-col col-one">
         <h3 class="pinboard-col-heading">Selected works</h3>
         <div class="instr" ng-show="security.isLoggedIn(url_slug)">Drag to change order</div>
         <div class="loading" ng-if="loading.is('KeyProducts')">
            <i class="fa fa-refresh fa-spin left"></i>
            <span class="text">Loading...</span>
         </div>


         <!-- LOGGED IN version -->
         <ul class="col-one pinboard-list logged-in"
             ui-sortable="sortableOptions"
             ng-if="security.isLoggedIn(url_slug)"
             ng-model="KeyProducts.data.list">
            <li class="pin product-pin" ng-repeat="product in KeyProducts.data.list">
               <div class="pin-header">
                  <a class="delete-pin" ng-click="KeyProducts.unpin(product)">
                     <i class="icon-remove"></i>
                  </a>
               </div>
               <div class="pin-body product-pin">
                  <i tooltip-placement="left"
                     tooltip="{{ product.genre }}"
                     class="genre-icon {{ product.genre_icon }}"></i>
                  <div class="product-container" ng-bind-html="trustHtml(product.markup)"></div>
               </div>
            </li>
         </ul>


         <!-- LOGGED OUT version -->
         <ul class="col-one pinboard-list logged-out"
             ng-if="!security.isLoggedIn(url_slug)">
            <li class="pin product-pin" ng-repeat="product in KeyProducts.data.list">
               <div class="pin-header">
               </div>
               <div class="pin-body product-pin">
                  <i tooltip-placement="left"
                     tooltip="{{ product.genre }}"
                     class="genre-icon {{ product.genre_icon }}"></i>
                  <div class="product-container" ng-bind-html="trustHtml(product.markup)"></div>
               </div>
            </li>
         </ul>
      </div>




      <div class="pinboard-col col-two">
         <div class="col-header">
            <h3 class="pinboard-col-heading">Key profile metrics</h3>
            <div class="instr" ng-show="security.isLoggedIn(url_slug)">Drag to change order</div>
            <div class="loading" ng-if="loading.is('KeyMetrics')">
               <i class="fa fa-refresh fa-spin left"></i>
               <span class="text">Loading...</span>
            </div>
         </div>

         <!-- LOGGED-IN version -->
         <ul class="col-two pinboard-list logged-in"
             ng-if="security.isLoggedIn(url_slug)"
             ui-sortable="sortableOptions"
             ng-model="KeyMetrics.data.list">
            <li class="pin metric-pin" ng-repeat="keyMetric in KeyMetrics.data.list" ng-if="keyMetric.current_value">
               <div class="pin-header">
                  <a class="delete-pin" ng-click="KeyMetrics.unpin(keyMetric)">
                     <i class="icon-remove"></i>
                  </a>
               </div>

               <div class="pin-body genre-card-pin-body">
                  <span class="main val">{{ nFormat(keyMetric.current_value) }}</span>
                  <span class="interaction" tooltip-html-unsafe="{{ keyMetric.tooltip }}">
                     <img ng-src='/static/img/favicons/{{ keyMetric.img_filename }}' class='icon' >
                     <span class="my-label">
                        <span class="things-we-are-counting">
                           {{ keyMetric.display_things_we_are_counting }}
                        </span>
                         on
                     </span>
                  </span>
                  <span class="genre">
                     <a href="{{ url_slug }}/products/{{ GenreConfigs.get(keyMetric.genre, 'url_representation') }}"
                        tooltip-placement="bottom"
                        tooltip="Click to see all {{ keyMetric.num_products }} {{ GenreConfigs.get(keyMetric.genre, 'plural_name') }}">
                        <i class="icon {{ GenreConfigs.get(keyMetric.genre, 'icon') }}"></i>
                        <span class="val">{{ keyMetric.num_products }}</span>
                        {{ GenreConfigs.get(keyMetric.genre, "plural_name") }}
                     </a>
                  </span>
               </div>
            </li>
         </ul>


         <!-- LOGGED-OUT version -->
         <ul class="col-two pinboard-list logged-out"
             ng-if="!security.isLoggedIn(url_slug)">
            <li class="pin metric-pin" ng-repeat="keyMetric in KeyMetrics.data.list" ng-if="keyMetric.current_value">
               <div class="pin-header">
               </div>

               <div class="pin-body genre-card-pin-body">
                  <span class="main val">{{ nFormat(keyMetric.current_value) }}</span>
                  <span class="interaction" tooltip-html-unsafe="{{ keyMetric.tooltip }}">
                     <img ng-src='/static/img/favicons/{{ keyMetric.img_filename }}' class='icon' >
                     <span class="my-label">
                        <span class="things-we-are-counting">
                           {{ keyMetric.display_things_we_are_counting }}
                        </span>
                         on
                     </span>
                  </span>
                  <span class="genre">
                     <a href="{{ url_slug }}/products/{{ GenreConfigs.get(keyMetric.genre, 'url_representation') }}"
                        tooltip-placement="bottom"
                        tooltip="Click to see all {{ keyMetric.num_products }} {{ GenreConfigs.get(keyMetric.genre, 'plural_name') }}">
                        <i class="icon {{ GenreConfigs.get(keyMetric.genre, 'icon') }}"></i>
                        <span class="val">{{ keyMetric.num_products }}</span>
                        {{ GenreConfigs.get(keyMetric.genre, "plural_name") }}
                     </a>
                  </span>
               </div>
            </li>
         </ul>
      </div>


   </div>
</div>

<div class="profile-footer">
   <span class="download">
      Download profile as
      <a href="/profile/{{ profileAboutService.data.url_slug }}/products.csv" target="_self">csv</a>
      or
      <a href="/profile/{{ profileAboutService.data.url_slug }}?hide=markup,awards" target="_blank">json</a>
   </span>
</div>



<div class="user-does-not-exist no-page" ng-show="profileAboutService.data.is404">
   <h2>Whoops!</h2>
   <p>We don't have a user account for <span class="slug">'{{ url_slug }}.'</span><br> Would you like to <a href="/signup">make one?</a></p>

</div>

<div class="signup-banner animated fadeOutDown"
     ng-show="userExists && !isAuthenticated()"
     ng-if="!hideSignupBanner">

   <span class="msg">Join {{ profileAboutService.data.given_name }} and thousands of other scientists:</span>
   <a class="signup-button btn btn-primary btn-sm" ng-click="clickSignupLink()" href="/signup">Try Impactstory for free</a>
   <a class="close-link" ng-click="hideSignupBannerNow()">&times;</a>
</div>

<a class="refresh" ng-click="refresh()"></a>

