<div class="loading" ng-show="!profileService.data.about">
   <div class="working"><i class="icon-refresh icon-spin"></i><span class="text">Loading profile info...</span></div>
</div>

<div class="profile-content animated fadeIn" ng-if="profileService.data.about" >

   <div class="profile-header" ng-show="userExists">


      <div class="profile-header-loaded">

         <div class="my-vitals">
            <div class="my-picture">
               <a href="http://www.gravatar.com">
                  <img class="gravatar" ng-src="//www.gravatar.com/avatar/{{ profileAboutService.data.email_hash }}?s=110&d=mm"
                       class="gravatar"
                       tooltip-placement="bottom"
                       tooltip="Modify your icon at Gravatar.com" />
               </a>
            </div>
            <div class="my-metrics">
               <!-- advisor badge -->
               <div class="advisor" ng-show="profileAboutService.data.is_advisor">
                  <img src="/static/img/advisor-badge.png">
               </div>
               <ul class="profile-award-list">
                  <li class="profile-award-container level-{{ profileAward.level }}"
                      ng-include="'profile-award/profile-award.tpl.html'"
                      ng-repeat="profileAward in profile.awards">
                  </li>
               </ul>
            </div>
            <div class="bio">
               Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </div>

            <div class="connected-accounts">
               <ul>
                  <li ng-repeat="linkedAccount in filteredLinkedAccounts = (profileAboutService.data.linked_accounts | filter: {profile_url: '!!'})">
                     <a href="{{ linkedAccount.profile_url }}" target="_blank">
                        <img ng-src="/static/img/favicons/{{ linkedAccount.service }}.ico">
                     </a>
                  </li>
               </ul>

               <!--
               <div class="add-connected-account" ng-show="security.isLoggedIn(url_slug)">
                  <a href="/{{ profileAboutService.data.url_slug }}/accounts" class="btn btn-xs btn-info">
                     <i class="icon-link left"></i>
                     <span ng-show="filteredLinkedAccounts.length==0" class="first">Import from accounts</span>
                     <span ng-show="filteredLinkedAccounts.length>0" class="more">Connect more accounts</span>
                  </a>
               </div>
               -->
            </div>
         </div>


      </div>
   </div>



   <div id="pinboard">
      <div class="pinboard-col col-one">
         <h3>Featured products</h3>
         <div class="instr" ng-show="security.isLoggedIn(url_slug)">Drag to change order</div>
         <ul class="col-one pinboard-list"
             ui-sortable="sortableOptions"
             ng-model="pinboardService.cols.one">
            <li class="pin product-pin" ng-repeat="pinId in pinboardService.cols.one">
               <div class="pin-header">
                  <a class="delete-pin" ng-click="pinboardService.unPin(pinId)">
                     <i class="icon-remove"></i>
                  </a>
               </div>
               <div class="pin-body product-pin">
                  <i tooltip-placement="left"
                     tooltip="{{ profileService.productByTiid(pinId[1]).genre }}"
                     class="genre-icon {{ profileService.productByTiid(pinId[1]).genre_icon }}"></i>
                  <div class="product-container" ng-bind-html="trustHtml(profileService.productByTiid(pinId[1]).markup)"></div>
               </div>
            </li>
         </ul>
      </div>

      <div class="pinboard-col col-two">
         <div class="col-header">
            <h3>Key profile metrics</h3>
            <div class="instr" ng-show="security.isLoggedIn(url_slug)">Drag to change order</div>
         </div>
         <ul class="col-two pinboard-list"
             ui-sortable="sortableOptions"
             ng-model="pinboardService.cols.two">
            <li class="pin metric-pin" ng-repeat="pinId in pinboardService.cols.two">
               <div class="pin-header">
                  <a class="delete-pin" ng-click="pinboardService.unPin(pinId)">
                     <i class="icon-remove"></i>
                  </a>
               </div>

               <div class="pin-body genre-card-pin-body">
                  <span class="main val">{{ nFormat(profileService.getFromPinId(pinId).current_value) }}</span>
                  <span class="interaction" tooltip="{{ profileService.getFromPinId(pinId).tooltip }}">
                     <img ng-src='/static/img/favicons/{{ profileService.getFromPinId(pinId).img_filename }}' class='icon' >
                     <span class="my-label">
                        <span class="things-we-are-counting">
                           {{ profileService.getFromPinId(pinId).display_things_we_are_counting }}
                        </span>
                         on
                     </span>
                  </span>
                  <span class="genre">
                     <a href="{{ url_slug }}/products/{{ profileService.getFromPinId(pinId).genre_url_representation }}"
                        tooltip-placement="bottom"
                        tooltip="Click to see all {{ profileService.getFromPinId(pinId).genre_num_products }} {{ profileService.getFromPinId(pinId).genre_plural_name }}">
                        <i class="icon {{ profileService.getFromPinId(pinId).genre_icon }}"></i>
                        <span class="val">{{ profileService.getFromPinId(pinId).genre_num_products }}</span>
                        {{ profileService.getFromPinId(pinId).genre_plural_name }}
                     </a>
                  </span>



               </div>
            </li>
         </ul>
      </div>


   </div>
</div>

<div class="profile-footer">
   <span class="download">
      Download profile as
      <a href="/profile/{{ profile.about.url_slug }}/products.csv" target="_self">csv</a>
      or
      <a href="/profile/{{ profile.about.url_slug }}?hide=markup,awards" target="_blank">json</a>
   </span>
</div>



<div class="user-does-not-exist no-page" ng-show="!userExists">
   <h2>Whoops!</h2>
   <p>We don't have a user account for <span class="slug">'{{ profile.about.url_slug }}.'</span><br> Would you like to <a href="/signup">make one?</a></p>

</div>

<div class="signup-banner animated fadeOutDown"
     ng-show="userExists && !isAuthenticated()"
     ng-if="!hideSignupBanner">

   <span class="msg">Join {{ profile.about.given_name }} and thousands of other scientists:</span>
   <a class="signup-button btn btn-primary btn-sm" ng-click="clickSignupLink()" href="/signup">Try Impactstory for free</a>
   <a class="close-link" ng-click="hideSignupBannerNow()">&times;</a>
</div>

<a class="refresh" ng-click="refresh()"></a>

