<div class="profile-header" ng-show="userExists">
   <div class="wrapper">
      <div class="loading" ng-show="!doneLoading">
         <div class="working"><i class="icon-refresh icon-spin"></i><span class="text">Loading profile info...</span></div>
      </div>

      <div class="profile-header-loaded" ng-show="doneLoading">
         <div class="my-picture" ng-show="profile.id">
            <a href="http://www.gravatar.com" >
               <img class="gravatar" ng-src="//www.gravatar.com/avatar/{{ profile.email_hash }}?s=110&d=mm" data-toggle="tooltip" class="gravatar" rel="tooltip" title="Modify your icon at Gravatar.com" />
            </a>
         </div>

         <div class="my-vitals">
            <h2 class='page-title editable-name' id="profile-owner-name">
               <span class="given-name editable" data-name="given_name">{{ profile.given_name }}</span>
               <span class="surname editable" data-name="surname">{{ profile.surname }}</span>
            </h2>
            <div class="connected-accounts">
               <ul>
                  <li ng-repeat="linkedAccount in filteredLinkedAccounts = (profile.linked_accounts | filter: {profile_url: '!!'})">
                     <a href="{{ linkedAccount.profile_url }}" target="_blank">
                        <img ng-src="/static/img/favicons/{{ linkedAccount.service }}.ico">
                        <span class="service">{{ linkedAccount.display_service }}</span>
                     </a>
                  </li>
               </ul>

               <div class="add-connected-account" ng-show="security.isLoggedIn(url_slug)">
                  <a href="/{{ profile.url_slug }}/accounts" class="btn btn-xs btn-info">
                     <i class="icon-link left"></i>
                     <span ng-show="filteredLinkedAccounts.length==0" class="first">Import from accounts</span>
                     <span ng-show="filteredLinkedAccounts.length>0" class="more">Connect more accounts</span>
                  </a>
               </div>
            </div>
         </div>
         <div class="my-metrics">
            <!-- advisor badge -->
            <div class="advisor" ng-show="profile.is_advisor">
               <img src="/static/img/advisor-badge.png">
            </div>
            <ul class="profile-award-list">
               <li class="profile-award-container level-{{ profileAward.level }}"
                   ng-include="'profile-award/profile-award.tpl.html'"
                   ng-repeat="profileAward in profileAwards">
               </li>
            </ul>
         </div>
      </div>

   </div>
</div>

<div class="product-controls" ng-show="userExists && doneLoading">
   <div class="wrapper">
      <div class="view-controls">
         <!--<a><i class="icon-refresh"></i>Refresh metrics</a>-->
         <div class="admin-controls" ng-show="security.isLoggedIn(url_slug) && !page.isEmbedded()">
            <a href="/{{ profile.url_slug }}/products/add">
               <i class="icon-upload"></i>Import individual products
            </a>
            <!--<a ng-click="dedup()">
               <i class="icon-copy"></i>dedup
            </a>-->
         </div>
         <div class="everyone-controls">
            <a ng-click="openProfileEmbedModal()" ng-show="!page.isEmbedded()">
               <i class="icon-suitcase"></i>
               Embed
            </a>
            <span class="dropdown download">
               <a id="adminmenu" role="button" class="dropdown-toggle"><i class="icon-download"></i>Download</a>
               <ul class="dropdown-menu" role="menu" aria-labelledby="adminmenu">
                  <li><a tabindex="-1" href="/profile/{{ profile.url_slug }}/products.csv" target="_self"><i class="icon-table"></i>csv</a></li>
                  <li><a tabindex="-1" href="/profile/{{ profile.url_slug }}?hide=markup,awards" target="_blank"><i class="json">{&hellip;}</i>json</a></li>
               </ul>
            </span>
         </div>
      </div>
   </div>
</div>

<div class="genres">
   <div class="wrapper">
      <ul class="genre-list">
         <li ng-repeat="genre in genres" class="genre genre-{{ genre.plural_name }}">
            <div class="genre-header">
               <h3 class="genre-name">
                  {{ genre.plural_name }}
               </h3>
               <div class="genre-vitals">
                  <span class="num-products">
                     <span class="value">{{ genre.num_products }}</span>
                     <span class="key">products</span>
                  </span>
                  <span class="num-products-with-new-metrics"
                        ng-show="genre.num_products_with_new_metrics">
                     <span class="value">{{ genre.num_products_with_new_metrics }}</span>
                     <span class="key">with new metrics</span>
                  </span>
               </div>
            </div>
            <div class="genre-body">
               <ul class="genre-cards-best">
                  <li class="genre-card" ng-repeat="card in sliceSortedCards(genre.cards, 0, 3)">
                     <img ng-src='/static/img/favicons/{{ card.provider }}_{{ card.interaction }}.ico' class='icon' >
                     <span class="card-accumulation" ng-show="card.card_type=='GenreAccumulationCard'">
                        <span class="value">{{ nFormat(card.current_value) }}</span>
                        <span class="key">
                           <span class="provider">{{ card.provider }}</span>
                           <span class="interaction">{{ card.interaction }}</span>
                        </span>
                     </span>

                     <span class="card-products-with-more-than-this" ng-show="card.card_type=='GenreProductsWithMoreThanCard'">
                        <span class="value">{{ card.number_products_this_good }}</span>
                        <span class="key">
                           <span class="genre-name">
                              {{ genre.plural_name }}
                           </span>
                           <span class="more-than">
                              with more than
                           </span>
                           <span class="threshold">
                              <span class="threshold-value">
                                 {{ nFormat(card.metric_threshold_value) }}
                              </span>
                              <span class="provider">{{ card.provider }}</span>
                              <span class="interaction">{{ card.interaction }}</span>
                           </span>
                        </span>
                     </span>

                  </li>
               </ul>

               <ul class="genre-cards-second-best">
                  <li class="genre-card" ng-repeat="card in sliceSortedCards(genre.cards, 3, 6)">

                     <!-- all this is copy/pasted from above -->
                     <img ng-src='/static/img/favicons/{{ card.provider }}_{{ card.interaction }}.ico' class='icon' >
                     <span class="card-accumulation" ng-show="card.card_type=='GenreAccumulationCard'">
                        <span class="value">{{ nFormat(card.current_value) }}</span>
                        <span class="key">
                           <span class="provider">{{ card.provider }}</span>
                           <span class="interaction">{{ card.interaction }}</span>
                        </span>
                     </span>

                     <span class="card-accumulation" ng-show="card.card_type=='GenreProductsWithMoreThanCard'">
                        <span class="value">{{ card.number_products_this_good }}</span>
                        <span class="key">
                           <span class="explanation">
                              {{ genre.plural_name }} with more than
                              <span class="threshold-value">
                                 {{ nFormat(card.metric_threshold_value) }}
                              </span>
                           </span>
                           <span class="provider">{{ card.provider }}</span>
                           <span class="interaction">{{ card.interaction }}</span>
                        </span>
                     </span>

                  </li>
               </ul>
            </div>
         </li>
      </ul>
   </div>
</div>



<div class="user-does-not-exist no-page" ng-show="!userExists">
   <h2>Whoops!</h2>
   <p>We don't have a user account for <span class="slug">'{{ url_slug }}.'</span><br> Would you like to <a href="/signup">make one?</a></p>

</div>

<div class="signup-banner animated fadeOutDown"
     ng-show="userExists && !isAuthenticated()"
     ng-if="!hideSignupBanner"

   <span class="msg">Join {{ profile.given_name }} and thousands of other scientists:</span>
   <a class="signup-button btn btn-primary btn-sm" ng-click="clickSignupLink()" href="/signup">Try Impactstory for free</a>
   <a class="close-link" ng-click="hideSignupBannerNow()">&times;</a>
</div>

<a class="refresh" ng-click="refresh()"></a>

