<div class="modal-header">
   <h4>Welcome to your Impactstory profile!</h4>
   <a class="dismiss" ng-click="$close()">&times;</a>
</div>
<div class="modal-body tour-start">
   <p>
      We've filled in your name and set your custom profile URL to make it
      easy to share your impact data.
   </p>

   <p>
     First, though, you'll want to import some of your research products;
     that'll take you less than two minutes.
   </p>

   <a class="btn btn-primary" ng-click="$close()">
      Let's find that impact!
   </a>

</div>

