

<div class="importer-tile"
     ng-click="showImporterWindow()"
     ng-class="{'has-run': importerHasRun, 'not-run': !importerHasRun}">

   <div class="importer-name"><img ng-src="{{ importer.logoPath }}"></div>
   <div class="imported-products-count">
      <span class="count">{{ products.length }}</span>
      <span class="descr">products imported</span>
   </div>

</div>

<div class="overlay"
     ng-click="hideImportWindow()"
     ng-if="importWindowOpen"
     ng-animate="{enter: 'animated fadeIn', leave: 'animated fadeOut'}"></div>

<div class="import-window"
     ng-if="importWindowOpen"
     ng-animate="{enter: 'animated slideInRight', leave: 'animated slideOutRight'}">
   <div class="content">
      <h2 class="importer-name" ng-show="!importer.url"><img ng-src="{{ importer.logoPath }}" /> </h2>
      <h2 class="importer-name" ng-show="importer.url">
         <a class="logo" href="{{ importer.url }}" target="_blank"><img ng-src="{{ importer.logoPath }}" /></a>
         <a class="visit" href="{{ importer.url }}" target="_blank">Visit<i class="icon-chevron-right"></i></a>
      </h2>

      <div class="descr">{{ importer.descr }}</div>

      <form name="{{ importer.name }}ImporterForm" novalidate class="form" ng-submit="onImport()">

         <div class="form-group">
            <label class="control-label">
               {{ importer.displayName }} {{ importer.inputNeeded }}
               <i class="icon-question-sign" ng-show="importer.help" tooltip-html-unsafe="{{ importer.help }}"></i>
               <span class="one-per-line" ng-show="importer.inputType=='idList'">(one per line)</span>
            </label>
            <div class="importer-input" ng-switch on="importer.inputType">
               <input class="form-control input-lg" ng-model="importer.input" type="text" ng-switch-when="username" placeholder="{{ importer.placeholder }}">
               <textarea placeholder="{{ importer.placeholder }}" class="form-control" ng-model="importer.input" ng-switch-when="idList"></textarea>
               <!-- todo: add file upload, see https://github.com/danialfarid/angular-file-upload -->
            </div>
         </div>


         <save-buttons action="Import"></save-buttons>


      </form>

      <div class="extra" ng-show="importer.extra" ng-bind-html-unsafe="importer.extra"></div>


   </div>
</div>





