<div class="signup-input url" ng-controller="signupUrlCtrl">
   <div class="intro"><br>Okay, {{ profileAbout.givenName }}, your next step is to pick your profile's custom URL. (Don't worry, you can change this later, too):</div>
   
   <div class="form-group custom-url"
        ng-model="profileAbout.url_slug"
        ng-class="{ 'has-error':  signupForm.url_slug.$invalid && signupForm.url_slug.$dirty && !loading.is(),
                    'has-success': signupForm.url_slug.$valid && !loading.is()}">

      <div class="controls input-group">
         <span class="input-group-addon">http://impactstory.org/</span>
         <input ng-model="profileAbout.url_slug"
                name="url_slug"
                class="form-control"
                required
                data-require-unique
                data-check-initial-value="true"
                ng-pattern="/^\w+$/"
                 />

      </div>
      <div class="help-info">
         <spinner msg="Checking"></spinner>

         <div class="help-block error"
              ng-show="signupForm.url_slug.$error.pattern
               && signupForm.url_slug.$dirty
               && !loading.is()">
            Sorry, this URL has invalid characters.<br> You can only use numbers or Latin letters (without diacritics).
         </div>

         <div class="help-block error"
              ng-show="signupForm.url_slug.$error.requireUnique
               && signupForm.url_slug.$dirty
               && !loading.is()">
            Sorry, someone else is using that URL.<br>Try changing it to make it more unique.
         </div>
         <div class="help-block success"
              ng-show="signupForm.url_slug.$valid
               && signupForm.url_slug.$dirty
               && !loading.is()">
            This URL looks good!
         </div>
      </div>


   </div>
</div>