<div class="signup-page">

   <div class="signup-sidebar">
      <div class="testimonials-container">
         <div class="testimonial">
            <img src="/static/img/people/luo.png"/>
            <q class="text">I don't need my CV now, Impactstory tells my story!</q>
            <cite>
               <span class="name">Ruibang Luo,</span>
               <span class="inst">Hong Kong University</span>
            </cite>
         </div>
      </div>
   </div>



   <div class="signup-main-page">
      <div class="form-container">
         <h1>Try us free for 30 days.</h1>
         <span class="more">Then pay just $60/year. There's no credit card required, and no strings attached--if you
         don't fall in love with Impactstory, your account will cancel after 30 days.</span>
         <h2 class="cta">Start discovering your full scholarly impact in under 60 seconds.</h2>
         <form novalidate
               name="signupForm"
               ng-controller="signupFormCtrl"
               ng-submit="signup()"
               id="main-signup-form"
               class="form-horizontal signup-form">

            <div class="inputs">
               <div class="form-group">
                  <label class="sr-only" for="signup-given-name">First name</label>
                  <input ng-model="newUser.givenName"
                         placeholder="First name"
                         type="text"
                         id="signup-given-name"
                         class="form-control input-lg"
                         autofocus="autofocus"
                         required />
               </div>

               <div class="form-group">
                  <label class="sr-only" for="signup-surname">Last name</label>
                  <input ng-model="newUser.surname"
                         placeholder="Last name"
                         id="signup-surname"
                         type="text"
                         class="form-control input-lg"
                         required />
               </div>


               <div class="form-group" ng-class="{'has-error': emailTaken()}">
                  <label class="sr-only" for="signup-email">Email</label>
                  <input ng-model="newUser.email"
                         placeholder="Email"
                         id="signup-email"
                         type="email"
                         class="form-control input-lg"
                         required />
                  <div class="help-block" ng-show="emailTaken()">Sorry, that email is taken.</div>
               </div>

               <div class="form-group">
                  <label class="sr-only" for="signup-password">Password</label>
                  <input ng-model="newUser.password"
                         placeholder="Password"
                         id="signup-password"
                         type="password"
                         class="form-control input-lg"
                         required />
               </div>
            </div>

            <div class="submit-button">
               <button ng-disabled="signupForm.$invalid"
                       ng-hide="loading.is('signup')"
                       class="btn btn-primary btn-xlarge">
                  Create my profile<i class="icon-arrow-right"></i>
               </button>
               <div class="working" ng-show="loading.is('signup')">
                  <i class="icon-refresh icon-spin"></i>
                  <span class="text">Creating your profile...</span>
               </div>

            </div>
         </form>

      </div>
   </div>





</div>


