<div class="signup-header">
   <h1><a class="brand" href="/"><img src="/static/dist/img/impactstory-logo-white.png" alt="ImpactStory" /></a>
      <span class="text">signup</span>
   </h1>
   <ol class="signup-steps">
      <li ng-repeat="stepName in signupSteps"
          class="{{ stepName }}"
          ng-class="{current: isStepCurrent(stepName), completed: isStepCompleted(stepName)}">
         {{ stepName }}
      </li>
   </ol>
</div>

<form class="signup name form-horizontal" name="signupForm">

   <div ng-include="include"></div>

   <button type="submit"
           class="next-button"
           ng-click="goToNextStep()"
           ng-class="{'next-button': true, enabled: signupForm.$valid || signupForm.pristineOk}"
           ng-disabled="signupForm.$invalid || signupForm.pristineOk">
      <span class="text">Next</span>
      <i class="icon-arrow-right"></i>
   </button>

</form>