<div class="signup-input email-and-password">
   <div class="intro"><br>Last step! Enter your email (which we never share) and pick a password:</div>

   <div class="form-group email"
        ng-class="{ 'has-error':  signupForm.email.$invalid && signupForm.email.$dirty && !loading.is(),
                 'has-success': signupForm.email.$valid && signupForm.email.$dirty && !loading.is()}">

      <div class="controls input-group">
         <span class="input-group-addon"><i class="icon-envelope"></i></span>
         <input ng-model="profileAbout.email"
                placeholder="email"
                name="email"
                class="form-control"
                required
                data-require-unique
                 />

      </div>
      <div class="help-info">

         <spinner msg="Checking"></spinner>

         <div class="help-block error tall"
              ng-show="signupForm.email.$error.requireUnique
            && signupForm.email.$dirty
            && !loading.is()">
            That email address is already in use.
         </div>
         <div class="help-block success"
              ng-show="signupForm.email.$valid
            && signupForm.email.$dirty
            && !loading.is()">
            Looks good!
         </div>
      </div>
   </div>

   <div class="form-group password"
         ng-class="{'has-success': signupForm.password.$valid && !loading.is()}">



      <div class="controls input-group">
         <span class="input-group-addon"><i class="icon-key"></i></span>

         <input ng-model="profileAbout.password"
                name="password"
                type="password"
                placeholder="password"
                ng-show="!showPassword"
                class="form-control"
                required>

         <input ng-model="profileAbout.password"
                name="password"
                type="text"
                placeholder="password"
                ng-show="showPassword"
                class="form-control"
                required>
      </div>
      <pretty-checkbox value="showPassword" text="Show"></pretty-checkbox>

   </div>

</div>
