<div class="signup-page">
   <div class="signup-main-page">
      <div class="form-container">
         <h1>Reveal your full scholarly impact.</h1>
         <h2>Signup for your <strong>free</strong> Impactstory profile:</h2>
         <form novalidate
               name="signupForm"
               ng-controller="signupFormCtrl"
               ng-submit="signup()"
               id="main-signup-form"
               class="form-horizontal signup-form">

            <div class="inputs">
               <div class="form-group">
                  <input ng-model="newUser.given_name" type="text" placeholder="First name" class="form-control input-lg" />
               </div>

               <div class="form-group">
                  <input ng-model="newUser.surname" type="text" placeholder="Last name" class="form-control input-lg" />
               </div>

               <div class="form-group">
                  <input ng-model="newUser.email" type="text" placeholder="Email" class="form-control input-lg" />
               </div>

               <div class="form-group">
                  <input ng-model="newUser.password" type="password" placeholder="Password" class="form-control input-lg" />
               </div>
            </div>

            <button class="btn btn-primary btn-xlarge">Uncover my impact<i class="icon-arrow-right"></i></button>
         </form>

      </div>
   </div>


   <div class="signup-sidebar">
      <div class="testimonials-container">
         <div class="testimonial">
            <img src="/static/img/people/luo.png"/>
            <q class="text">I don't need my CV now, Impactstory tells my story!</q>
            <cite>
               <span class="name">Ruibang Luo,</span>
               <span class="inst">Hong Kong University</span>
            </cite>
         </div>


      </div>



   </div>



</div>


