<div class="signup-input url">
   <div class="intro">Let's get started making your account! It'll take less than five minutes. And don't worry; you can always edit or change anything in your account later. First things first: what's your name?</div>

   <div class="form-group">
      <input required class="form-control" type="text" ng-model="user.firstname" placeholder="First name">
   </div>
   <div class="form-group">
      <input required class="input-large form-control" type="text" ng-model="user.surname" placeholder="Last name">
   </div>
</div>
