<div class="signup-input importers" ng-controller="signupProductsCtrl">

   <div class="importer"
        ng-repeat="importer in importers"
        ng-controller="importerCtrl">

      <div class="importer-widget" ng-click="showImporterWindow()">
         <div class="importer-name"><img ng-src="{{ importer.logoPath }}"></div>
      </div>
      <div class="overlay"
         ng-click="hideImportWindow()"
         ng-if="importWindowOpen"
         ng-animate="{enter: 'animated fadeIn', leave: 'animated fadeOut'}"></div>

      <div class="import-window"
         ng-include="importer.templatePath"
         ng-if="importWindowOpen"
         ng-animate="{enter: 'animated slideInRight', leave: 'animated slideOutRight'}"></div>

   </div>








</div>