<div class="our-sort-controls">

    <div class="dropdown btn-group sort-select-group" dropdown on-toggle="toggled(open)">
       <span class="sort-by-label">
         Sorting by
      </span>

      <a href class="dropdown-toggle" dropdown-toggle>
         {{ OurSortService.current.name }}
         <span class="caret"></span>
      </a>

      <ul class="dropdown-menu">
         <li class="sort-by-option" ng-repeat="sortChoice in OurSortService.choices">
            <a href ng-click="setSortKey($index)"> {{ sortChoice.name }}</a>
         </li>
      </ul>
    </div>

</div>
